1.запуск-DctsZTk00BmznYwQ.json
{"createdAt":"2025-06-16T17:15:28.445Z","updatedAt":"2025-06-26T19:49:55.186Z","id":"DctsZTk00BmznYwQ","name":"1.запуск","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1380,-880],"id":"2d1b6ac2-9117-434e-bfa7-5d3c26b3f5a6","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot7620895311:AAEBz4aAtdHGWMbwo1KKm2Sd34KGEA0K-W8/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1400,-1180],"id":"e09e310b-0cda-4dc6-8f6f-addf2b08a0b3","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": {{ $json.message.chat.id }},\n  \"username\": \"{{ $json.message.from.username }}\",\n  \"command\": \"{{ $json.message.text }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,-880],"id":"b2cea817-bf56-4e57-8197-d3ac1e1d1e51","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.command }} {{ $json.username }} {{ $json.chat_id }}","options":{"systemMessage":"=# 🛰 TelegramRouterAgent – AI Command Router\n\n---\n\n## 🎯 Роль и Задача\n\nВы — TelegramRouterAgent на платформе n8n, построенный на GPT-4.1.\nВаша задача — распознавать Telegram-команды и загруженные изображения, а затем направлять их в соответствующий инструмент (tool).\nВы не ассистент и не отвечаете на сообщения — вы только маршрутизируете команды.\n\n---\n\n## 🔁 Основной Процесс\n\n1. Прочитайте входящие данные из переменных:\n\n   * {{ $json.chat_id }}\n   * {{ $json.username }}\n   * {{ $json.command }}\n2. Определите тип ввода:\n\n   * Если это команда (начинается с /), проверьте соответствие таблице ниже.\n   * Если это фото (поле photo присутствует), вызовите photo.\n3. Вызовите один соответствующий инструмент, передав в него объект input:\n\n      {\n     \"chat_id\": 123456789,\n     \"username\": \"LanaFABIER\",\n     \"command\": \"/greetings\"\n   }\n   \n4. Если ввод не соответствует ни одной команде, ответьте строго:\n\n   > Извините, я не понял запрос. Пожалуйста, выберите допустимый вариант.\n\n---\n\n## ✅ Поддерживаемые Команды и Инструменты\n\n| Команда или Ввод    | Инструмент (tool) |\n| ------------------- | ------------------- |\n| /greetings        | greetings             |\n| /unsubscribe      | unsubscribe       |\n| /support          | support           |\n| /subscription     | subscription      |\n| Фото (image upload) | photo             |\n\n> ⚠️ Названия инструментов должны быть точными (латиница, без пробелов, чувствительны к регистру).\n\n---\n\n## 📥 Формат Входа\n\nКаждое сообщение передаётся в таком виде:\n\n{\n  \"chat_id\": 1147618121,\n  \"username\": \"LanaFABIER\",\n  \"command\": \"/greetings\"\n}\n\n*Если изображение — вместо command в объекте присутствует поле photo.*\n\n---\n\n## 📤 Что вы должны вернуть\n\nВызов инструмента должен выглядеть так:\n\n{\n  \"tool\": \"start\",\n  \"input\": {\n    \"command\": \"/greetings\",\n    \"chat_id\": 123456789,\n    \"username\": \"LanaFABIER\"\n  }\n}\n\n> 🔁 Вызывается только один инструмент.\n> ⛔️ Нельзя обрабатывать или анализировать данные.\n> ✅ Просто передайте input как есть.\n\n---\n\n## 🗣 Стиль общения\n\n* Без приветствий, объяснений или размышлений.\n* Только сухая маршрутизация.\n* Если команда неизвестна — выведите точно:\n\n  \n  Извините, я не понял запрос. Пожалуйста, выберите допустимый вариант.\n  \n* Всё должно быть на русском языке.\n\n---\n\n## 🔒 Напоминание\n\n* Вы — системный агент маршрутизации, не ассистент.\n* Никакой генерации текста, пояснений или догадок.\n* Ваш единственный функционал — match → route."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-580,-880],"id":"e42caeec-0e08-4ea7-84ed-140c6a359093","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-840,-560],"id":"91199d14-69b4-4b0b-b804-bbbeac057dc4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"description":"Call this tool to perform actions /subscription","workflowId":{"__rl":true,"value":"fb37qdR5lhRGoyfw","mode":"list","cachedResultName":"subscription"},"workflowInputs":{"mappingMode":"defineBelow","value":{"ОПЛАТА":"={{ $json.command }}"},"matchingColumns":["ОПЛАТА"],"schema":[{"id":"ОПЛАТА","displayName":"ОПЛАТА","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-60,-540],"id":"6385135b-c4e3-4d9a-bafc-885c0f62d233","name":"subscription"},{"parameters":{"description":"Call this tool to perform actions /support","workflowId":{"__rl":true,"value":"EmtsyPFZSfIWodiR","mode":"list","cachedResultName":"support"},"workflowInputs":{"mappingMode":"defineBelow","value":{"ПОДДЕРЖКА":"={{ $json.command }}"},"matchingColumns":["ПОДДЕРЖКА"],"schema":[{"id":"ПОДДЕРЖКА","displayName":"ПОДДЕРЖКА","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[120,-540],"id":"655f507c-6c5e-4599-b345-9c0b0724dc70","name":"support"},{"parameters":{"description":"Call this tool to perform actions photo","workflowId":{"__rl":true,"value":"pB6Mi8g6Z5wz472U","mode":"list","cachedResultName":"photo"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["СТАРТ"],"schema":[{"id":"СТАРТ","displayName":"СТАРТ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-640,-540],"id":"cba50469-62ef-4815-a638-0939ea45ef85","name":"photo"},{"parameters":{"description":"=Call this tool to perform actions /unsubscribe","workflowId":{"__rl":true,"value":"2C8w5DqE9HYtrRpr","mode":"list","cachedResultName":"unsubscribe"},"workflowInputs":{"mappingMode":"defineBelow","value":{"unsubscribe":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('unsubscribe', ``, 'string') }}"},"matchingColumns":["ОПЛАТА"],"schema":[{"id":"unsubscribe","displayName":"unsubscribe","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-40,-300],"id":"8774a362-d357-48cb-a2dc-07a5a0bf320a","name":"unsubscribe1","disabled":true},{"parameters":{"name":"unsubscribe","description":"Call this tool to take actions /unsubscribe","workflowId":{"__rl":true,"value":"2C8w5DqE9HYtrRpr","mode":"list","cachedResultName":"unsubscribe"},"specifyInputSchema":true,"jsonSchemaExample":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"chat_id\": { \"type\": \"integer\" },\n    \"username\": { \"type\": \"string\" },\n    \"command\": { \"type\": \"string\" }\n  },\n  \"required\": [\"chat_id\", \"username\", \"command\"]\n}\n"},"id":"bd461acd-00ec-4021-bf88-db6e6298ae6e","name":"unsubscribe","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-260,-540]},{"parameters":{"description":"Call this tool to perform actions /greetings","workflowId":{"__rl":true,"value":"FPELAiWh5akxAhbG","mode":"list","cachedResultName":"greetings"},"workflowInputs":{"mappingMode":"defineBelow","value":{"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start', ``, 'string') }}"},"matchingColumns":["start"],"schema":[{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-440,-540],"id":"cbfd54cd-eae9-4fcc-875a-c0440b8ceef5","name":"greetings"}],"connections":{"Telegram Trigger":{"main":[[{"node":"HTTP typing...","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"subscription":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"support":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"photo":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"unsubscribe1":{"ai_tool":[[]]},"unsubscribe":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"greetings":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1cdf83d-eef5-4931-ad74-67eb830afc44","triggerCount":0,"tags":[]}