1.приветствие-FPELAiWh5akxAhbG.json
{"createdAt":"2025-06-18T14:08:19.761Z","updatedAt":"2025-07-02T16:33:00.885Z","id":"FPELAiWh5akxAhbG","name":"1.приветствие","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ffe4700-9916-46a7-9c5d-416f7f56210c","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee1b7e43-af95-4d35-997a-40d007fd6164","leftValue":"={{ $json.callback_query.data }}","rightValue":"continue","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"продолжить"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-10080,1280],"id":"91cc42e4-baf5-4d71-9fc6-fc3605f6f65e","name":"Switch"},{"parameters":{"content":"# /start  И СОЗДАНИЕ ПРОФИЛЯ\n\n\n\n","height":372,"width":858,"color":7},"id":"d6971356-67c7-4d57-b63a-d4101f2a0925","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-9880,1120],"typeVersion":1},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chat_id }}","file":"https://i.postimg.cc/RFprRLhq/image.jpg","additionalFields":{"caption":"=*Привет {{ $json.user_name }}!* 👋  \n\n🫶 Я *Карина* — твой бьюти-блогер и проводник в мир идеального ухода.  \n\n🤖 С помощью _AI-косметолога_ помогу тебе подобрать уход по фото 📷 — точно, умно и без рекламы. Только твой тип кожи и бюджет 💸.  \n\n🧠 Подбор сохраняется в профиле — можешь вернуться в любой момент и задать вопросы _AI-косметологу_.  \n\n_Что тебе надо сделать:_  \n✅ Подпишись на мой канал [@beauty_s_karinoy] - это *обязательное* условие, чтоб продолжить дальше.  \n\n📸 Отправь фото без макияжа (в сжатом виде), и _AI-косметолог_ определит тип кожи и подберёт лучшие косметические средства.  \n\n📝 Не хочешь отправлять фото?  \nТогда напиши вручную:  \nПример: /v жирная с акне  \n\n*Ну что, начнём?* 👇\n"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9100,1300],"id":"6af836be-c6c6-4378-aabe-5159fad1baaa","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd664b4-20b3-4d51-8000-20892b93782d","leftValue":"={{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9600,1260],"id":"8196a97e-de34-4591-b2ab-a977cd417aef","name":"IF NO"},{"parameters":{"content":"## [основной триггер]\n\n","height":272,"width":298},"id":"103d8804-bfcb-41b6-8c51-b43b78dbf5e8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-10540,1200],"typeVersion":1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.message.chat.id }}","message_id":"={{ $json.message.message_id }}","user_name":"={{ $json.message.from.username }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-9800,1260],"id":"8c470d76-15b5-45e8-a6aa-1c91d6c73a00","name":"GET profile","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-9400,1200],"id":"0fc18f25-b3df-4b6b-8a02-0c95e060bba1","name":"запись нового пользователя","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19602ee4-5a4a-4cc9-bd0e-b144c2b29d6b","leftValue":"={{ $json.result.status }}","rightValue":"member","operator":{"type":"string","operation":"equals"}},{"id":"1cfe0888-44e6-40a4-917e-fa2d3ac02443","leftValue":"={{ $json.result.status }}","rightValue":"administrator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"16a6c0b3-f658-426f-99e6-facda42cc643","leftValue":"={{ $json.result.status }}","rightValue":"creator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9540,1880],"id":"f91c889b-2009-44d5-a043-3ebe8597b3bc","name":"Подписался ли человек?"},{"parameters":{"chatId":"={{ $('IF NO').item.json.chat_id }}","text":"✨Если ты еще не в клубе K.Loo, то сейчас самре время присоединиться!  \n1.Перейди по ссылке @beauty_s_karinoy \n2.Нажми «Подписаться» И вернись за подборкой! Жду тебя💖","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9320,1980],"id":"f1dbb0b4-dc26-4ebe-bd20-fb88886afb6d","name":"Просим подписаться, так как это не было сделано","webhookId":"69e420ef-2eb2-45c9-a990-5b0748adeeeb","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"url":"https://api.telegram.org/bot7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/getChatMember","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"@beauty_s_karinoy"},{"name":"user_id","value":"={{ $json.callback_query.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9760,1880],"id":"079c2563-c24f-49ac-a154-d6f5e6aa670a","name":"Проверяем подписался ли человек"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03064e87-87f6-4278-aec2-8a55e2e0407e","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9080,1980],"id":"d3bffc4a-6062-44da-ae75-3279b8461c4c","name":"Нажатие кнопки1"},{"parameters":{"content":"## подписка","height":620,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[-9940,1660],"typeVersion":1,"id":"ececf6e5-feb2-4257-8d7b-b481ff0ad151","name":"Sticky Note"},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-10440,1280],"id":"1d91ad5a-67d6-46c7-9933-c9bc55c3937c","name":"Start","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-10860,1740],"id":"9efeee79-44f1-4380-aa81-283dd01ea2c8","name":"Подписка","webhookId":"cd7f3ee6-310e-4006-95f5-ffa3fb6a31ec","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"chatId":"={{ $json.result.user.id }}","text":"💟Супер! Жду твоё фото📷","replyMarkup":"forceReply","forceReply":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9320,1760],"id":"e0ee273a-7839-49d1-8825-684cd52a7860","name":"Продолжаем","webhookId":"1881e3aa-997a-4bd3-8c67-4a331f81a917","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.result.chat.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-10620,1760],"id":"2dee1efe-6c81-436c-9748-08e2b39eca26","name":"Send a text message","webhookId":"5b2c6ae8-392a-4cc0-bb7d-6fcf679fa45a","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.result.chat.id }}\",\n  \"text\": \"✅ Подпишись! Всё готово для начала. После подписки нажми кнопку ниже, чтобы продолжить 👇\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\n          \"text\": \"👉 Продолжить\",\n          \"callback_data\": \"continue\"\n        }\n      ]\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8880,1300],"id":"7e3a4c89-1e8d-401d-bb68-ef580bf64a9e","name":"Edit Fields"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"👉 Продолжить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-8660,1300],"id":"16e2884e-4a7b-47a6-b072-78af45198c8f","name":"start1","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bo7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/setWebhook?url=https://primary-production-e7406.up.railway.app/webhook/hello","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8660,1760],"id":"373044c7-46b8-4af5-97c6-89e089dc9089","name":"HTTP Request","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"pB6Mi8g6Z5wz472U","mode":"list","cachedResultName":"2.Ai K.Loo Beauty"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ String($json.result.chat.id) }}\n"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-8380,1560],"id":"c79d31ee-0372-46ac-b176-78f70b9c1297","name":"Execute Workflow","disabled":true}],"connections":{"Switch":{"main":[[{"node":"GET profile","type":"main","index":0}],[],[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"IF NO":{"main":[[{"node":"запись нового пользователя","type":"main","index":0}],[{"node":"start","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"IF NO","type":"main","index":0}]]},"запись нового пользователя":{"main":[[{"node":"start","type":"main","index":0}]]},"Подписался ли человек?":{"main":[[{"node":"Продолжаем","type":"main","index":0}],[{"node":"Просим подписаться, так как это не было сделано","type":"main","index":0}]]},"Проверяем подписался ли человек":{"main":[[{"node":"Подписался ли человек?","type":"main","index":0}]]},"Просим подписаться, так как это не было сделано":{"main":[[{"node":"Нажатие кнопки1","type":"main","index":0}]]},"Нажатие кнопки1":{"main":[[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Start":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Подписка":{"main":[[]]},"start":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"Edit Fields":{"main":[[{"node":"start1","type":"main","index":0}]]},"start1":{"main":[[]]},"Продолжаем":{"main":[[]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"DctsZTk00BmznYwQ"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aac4564f-8e6e-442b-9e0b-8538f097a05c","triggerCount":1,"tags":[{"createdAt":"2025-06-19T14:58:31.452Z","updatedAt":"2025-06-19T14:58:31.452Z","id":"eAGMDxfHytHCIGKz","name":"ИИздец"}]}