1.приветствие-FPELAiWh5akxAhbG.json
{"createdAt":"2025-06-18T14:08:19.761Z","updatedAt":"2025-07-05T17:17:46.033Z","id":"FPELAiWh5akxAhbG","name":"1.приветствие","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ffe4700-9916-46a7-9c5d-416f7f56210c","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee1b7e43-af95-4d35-997a-40d007fd6164","leftValue":"={{ $json.callback_query.data }}","rightValue":"continue","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"продолжить"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-10080,1280],"id":"91cc42e4-baf5-4d71-9fc6-fc3605f6f65e","name":"Switch"},{"parameters":{"content":"# /start  И СОЗДАНИЕ ПРОФИЛЯ\n\n\n\n","height":372,"width":858,"color":7},"id":"d6971356-67c7-4d57-b63a-d4101f2a0925","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-9880,1120],"typeVersion":1},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chat_id }}","file":"https://i.postimg.cc/RFprRLhq/image.jpg","additionalFields":{"caption":"=*Привет {{ $json.user_name }}!* 👋  \n\n🫶 Я *Карина* — твой бьюти-блогер и проводник в мир идеального ухода.  \n\n🤖 С помощью _AI-косметолога_ помогу тебе подобрать уход по фото 📷 — точно, умно и без рекламы. Только твой тип кожи и бюджет 💸.  \n\n🧠 Подбор сохраняется в профиле — можешь вернуться в любой момент и задать вопросы _AI-косметологу_.  \n\n_Что тебе надо сделать:_  \n✅ Подпишись на мой канал [@beauty_s_karinoy] - это *обязательное* условие, чтоб продолжить дальше.  \n\n📸 Отправь фото без макияжа (в сжатом виде), и _AI-косметолог_ определит тип кожи и подберёт лучшие косметические средства.  \n\n📝 Не хочешь отправлять фото?  \nТогда напиши вручную:  \nПример: /v жирная с акне  \n\n*Ну что, начнём?* 👇\n"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9100,1300],"id":"6af836be-c6c6-4378-aabe-5159fad1baaa","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd664b4-20b3-4d51-8000-20892b93782d","leftValue":"={{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9600,1260],"id":"8196a97e-de34-4591-b2ab-a977cd417aef","name":"IF NO"},{"parameters":{"content":"## [основной триггер]\n\n","height":272,"width":298},"id":"103d8804-bfcb-41b6-8c51-b43b78dbf5e8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-10940,1960],"typeVersion":1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.message.chat.id }}","message_id":"={{ $json.message.message_id }}","user_name":"={{ $json.message.from.username }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-9800,1260],"id":"8c470d76-15b5-45e8-a6aa-1c91d6c73a00","name":"GET profile","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-9400,1200],"id":"0fc18f25-b3df-4b6b-8a02-0c95e060bba1","name":"запись нового пользователя","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19602ee4-5a4a-4cc9-bd0e-b144c2b29d6b","leftValue":"={{ $json.result.status }}","rightValue":"member","operator":{"type":"string","operation":"equals"}},{"id":"1cfe0888-44e6-40a4-917e-fa2d3ac02443","leftValue":"={{ $json.result.status }}","rightValue":"administrator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"16a6c0b3-f658-426f-99e6-facda42cc643","leftValue":"={{ $json.result.status }}","rightValue":"creator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9540,1880],"id":"f91c889b-2009-44d5-a043-3ebe8597b3bc","name":"Подписался ли человек?"},{"parameters":{"chatId":"={{ $('IF NO').item.json.chat_id }}","text":"✨Если ты еще не в клубе K.Loo, то сейчас самре время присоединиться!  \n1.Перейди по ссылке @beauty_s_karinoy \n2.Нажми «Подписаться» И вернись за подборкой! Жду тебя💖","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9320,1980],"id":"f1dbb0b4-dc26-4ebe-bd20-fb88886afb6d","name":"Просим подписаться, так как это не было сделано","webhookId":"69e420ef-2eb2-45c9-a990-5b0748adeeeb","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"url":"https://api.telegram.org/bot7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/getChatMember","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"@beauty_s_karinoy"},{"name":"user_id","value":"={{ $json.callback_query.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9760,1880],"id":"079c2563-c24f-49ac-a154-d6f5e6aa670a","name":"Проверяем подписался ли человек"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03064e87-87f6-4278-aec2-8a55e2e0407e","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9080,1980],"id":"d3bffc4a-6062-44da-ae75-3279b8461c4c","name":"Нажатие кнопки1"},{"parameters":{"content":"## подписка","height":620,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[-9940,1660],"typeVersion":1,"id":"ececf6e5-feb2-4257-8d7b-b481ff0ad151","name":"Sticky Note"},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-10840,2040],"id":"1d91ad5a-67d6-46c7-9933-c9bc55c3937c","name":"Start","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-11700,1220],"id":"9efeee79-44f1-4380-aa81-283dd01ea2c8","name":"Подписка","webhookId":"cd7f3ee6-310e-4006-95f5-ffa3fb6a31ec","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"chatId":"={{ $json.result.user.id }}","text":"💟Супер! Жду твоё фото📷","replyMarkup":"forceReply","forceReply":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9320,1760],"id":"e0ee273a-7839-49d1-8825-684cd52a7860","name":"Продолжаем","webhookId":"1881e3aa-997a-4bd3-8c67-4a331f81a917","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.result.chat.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-11600,1240],"id":"2dee1efe-6c81-436c-9748-08e2b39eca26","name":"Send a text message","webhookId":"5b2c6ae8-392a-4cc0-bb7d-6fcf679fa45a","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.result.chat.id }}\",\n  \"text\": \"✅ Подпишись! Всё готово для начала. После подписки нажми кнопку ниже, чтобы продолжить 👇\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\n          \"text\": \"👉 Продолжить\",\n          \"callback_data\": \"continue\"\n        }\n      ]\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8840,1300],"id":"7e3a4c89-1e8d-401d-bb68-ef580bf64a9e","name":"Edit Fields"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"👉 Продолжить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-8600,1300],"id":"16e2884e-4a7b-47a6-b072-78af45198c8f","name":"start1","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"resource":"file","fileId":"={{ $json.photo_file_id }}"},"id":"f7653c96-9bb7-4df3-8a9f-79b70593cab1","name":"Get Image1","type":"n8n-nodes-base.telegram","position":[-9840,2640],"typeVersion":1.2,"webhookId":"8b210039-e135-420d-a5f1-53fc3ca1e836","retryOnFail":false,"maxTries":2,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Get ready1').item.json.photo_file_id }}"}},"id":"bcabd5fa-f41d-4b0b-8063-0fd58f35c954","name":"Convert1","type":"n8n-nodes-base.convertToFile","position":[-9440,2640],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"07282534-971f-4430-8d45-5f3e15d3c167","name":"photo_file_id","value":"={{ $json.message.photo[0].file_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10020,2640],"id":"7ed8aed1-7c0f-40ee-ac5a-022b2989aef9","name":"Get ready1"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"8b8e4c6e-6164-49cd-83f4-29cd51f9c59b","name":"Extract1","type":"n8n-nodes-base.extractFromFile","position":[-9640,2640],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=You are a certified dermatologist.\n\nInput: A photo of a client’s face.\n\nYour task:\n\nAnalyze the skin in the image.\n\nDetermine the likely skin type: жирная / сухая / комбинированная / нормальная.\n\nIndicate your confidence level as a percentage between 0 and 100.\n\nIf the face is not visible or analysis is not possible — return an empty list.\n\nRespond strictly in JSON format. No explanations, no comments, no text outside the JSON.\n\n\nExample:\n{\n  \"candidates\": [\n    { \"Type skin\": \"жирная\", }\n  ]\n}\n","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-9180,2640],"id":"e04039e3-4678-480e-ad74-047d42445855","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"functionCode":"const visionRaw = $json?.skin_type || \"\";\nlet visionParsed = {};\nlet detectedSkinType = null;\nlet confidence = null;\n\nconst msgId = $json?.message_id || \"000\";\nconst chatId = $json?.chat_id?.toString() || null;\n\ntry {\n  const cleaned = visionRaw.trim().replace(/^```json/, '').replace(/```$/, '').trim();\n  visionParsed = JSON.parse(cleaned);\n\n  const candidate = visionParsed?.candidates?.[0] || {};\n  detectedSkinType = (\n    candidate[\"Type skin\"] ||\n    candidate[\"type_skin\"] ||\n    candidate[\"Тип кожи\"]\n  )?.toLowerCase() || null;\n\n  confidence = candidate.Confidence || candidate.confidence || null;\n\n  console.log(\"✅ Определён тип кожи:\", detectedSkinType);\n} catch (error) {\n  console.log(\"❌ Ошибка при JSON.parse:\", error.message);\n}\n\nconst cbYes = `Type_skin_yes_${msgId}`;\nconst cbManual = `Type_skin_manual_${msgId}`;\nconst cbOily = `skin_select_oily_${msgId}`;\nconst cbDry = `skin_select_dry_${msgId}`;\nconst cbCombo = `skin_select_combo_${msgId}`;\nconst cbNormal = `skin_select_normal_${msgId}`;\n\n// Возвращаем значение skin_detected для использования в SWITCH\nif (detectedSkinType) {\n  return [{\n    json: {\n      skin_detected: true,\n      step: \"confirm_skin_type_from_photo\",\n      route: \"skin_type_confirmed\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: detectedSkinType,\n      confidence,\n      cb_yes: cbYes,\n      cb_no: cbManual,\n      text: `🌸👸 Я проанализировала фото и предполагаю, что у тебя *${detectedSkinType}* кожа. Это верно?`,\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"✅ Верно\", callback_data: cbYes },\n            { text: \"✏️ Изменить\", callback_data: cbManual }\n          ]\n        ]\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      skin_detected: false,\n      step: \"skin_manual_buttons\",\n      route: \"skin_type_not_detected\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: null,\n      text: \"🤔 Не удалось определить тип кожи по фото.\\n👇 Пожалуйста, выбери свой тип кожи:\",\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"Жирная\", callback_data: cbOily },\n            { text: \"Сухая\", callback_data: cbDry }\n          ],\n          [\n            { text: \"Комбинированная\", callback_data: cbCombo },\n            { text: \"Нормальная\", callback_data: cbNormal }\n          ]\n        ]\n      },\n      skin_options: {\n        oily: cbOily,\n        dry: cbDry,\n        combo: cbCombo,\n        normal: cbNormal\n      }\n    }\n  }];\n}\n"},"id":"9c67afd1-9b67-4753-bb60-d4804bfddab2","name":"Parse Vision","type":"n8n-nodes-base.function","typeVersion":1,"position":[-8760,2640]},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Верно","additionalFields":{"callback_data":"={{ $json.type_skin }}"}},{"text":"=✏️ Изменить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"id":"519c79a7-2cd3-470f-a0f6-3e7d6b269068","name":"тип кожи определен","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-8020,2200],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{},{"row":{"buttons":[{"text":"🩸Сухая","additionalFields":{"callback_data":"={{ $json.skin_options.dry }}"}}]}},{"row":{"buttons":[{"text":"☯️ Комби","additionalFields":{"callback_data":"={{ $json.skin_options.combo }}"}}]}},{"row":{"buttons":[{"text":"💧Жирная","additionalFields":{"callback_data":"={{ $json.skin_options.oily }}"}}]}},{"row":{"buttons":[{"text":"✅ Норм","additionalFields":{"callback_data":"={{ $json.skin_options.normal }}"}}]}}]},"additionalFields":{}},"id":"7c76993f-aa0b-4126-aae3-38362104a11c","name":"Тип кожи НЕ отпределен","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-8020,2680],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type_skin }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"8b762386-e3e9-4395-a391-05e13b21e6b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Определен"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e67210d2-8ddc-4e22-bfdd-52a2753c970b","leftValue":"={{ $json.type_skin }}","rightValue":"skin_type_not_detected","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"не определен"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-8520,2640],"id":"c39c538d-bfbd-4bf9-b148-05f7f48c8603","name":"Switch3"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Switch1').item.json.message.chat.id }}","message_id":"={{ $('Switch1').item.json.message.from.id }}","user_name":"={{ $('Switch1').item.json.message.forward_origin.sender_user.username }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-8980,2640],"id":"72d312ff-14ac-45cf-8f82-a2fa1bdf5d29","name":"Append or update row in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[1] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0feea5a-3500-4a03-a5c0-e921e8c33886","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Старт"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"693ec302-36ee-4cf0-8cc1-a8724c424deb","leftValue":"","rightValue":"/v","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ввод типа кожи в ручную"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-10400,2040],"id":"6ea668e6-e925-4bdf-ad4e-ebb30efa17f1","name":"Switch1"},{"parameters":{"method":"POST","url":"https://primary-production-e7406.up.railway.app/webhook-test/f05ea045-9937-47a4-b27f-d281de7243e3","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"chat_id\": \"123456789\",\n  \"message_id\": \"987\",\n  \"skin_type\": \"dry\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7380,2200],"id":"893a55f3-cb54-441e-9685-84b5f04f3454","name":"передача в вебхук"},{"parameters":{"functionCode":"return [\n  {\n    json: {\n      chat_id: \"123456789\",\n      message_id: \"987\",\n      skin_type: \"dry\"\n    }\n  }\n];"},"id":"9a4a4c05-fc6f-4c1d-8391-ac13936f6f81","name":"фильтр данных","type":"n8n-nodes-base.function","typeVersion":1,"position":[-7720,2200]},{"parameters":{"method":"POST","url":"https://primary-production-e7406.up.railway.app/webhook-test/f05ea045-9937-47a4-b27f-d281de7243e3","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"Send To Webhook\",\n  \"type\": \"n8n-nodes-base.httpRequest\",\n  \"typeVersion\": 4,\n  \"position\": [680, 400],\n  \"parameters\": {\n    \"url\": \"https://primary-production-e7406.up.railway.app/webhook-test/f05ea045-9937-47a4-b27f-d281de7243e3\",\n    \"method\": \"POST\",\n    \"responseFormat\": \"json\",\n    \"jsonParameters\": true,\n    \"options\": {},\n    \"bodyParameters\": {\n      \"chat_id\": \"{{ $json.chat_id }}\",\n      \"message_id\": \"{{ $json.message_id }}\",\n      \"skin_type\": \"{{ $json.skin_type }}\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7380,2680],"id":"ecf4b227-5d7a-4633-aa84-49982a9ad45d","name":"передача в вебхук1"},{"parameters":{"functionCode":"// Извлекаем данные из $json.result\nconst chatId = $json.result.chat.id;\nconst messageId = $json.result.message_id;\n\n// Допустим, skin_type передан как callback_data или в другом месте, подставь нужное значение:\nconst skinType = 'dry'; // <-- можешь извлечь, если оно есть в другом месте входного JSON\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,\n      message_id: messageId,\n      skin_type: skinType\n    }\n  }\n];\n"},"id":"449b55d4-c04b-4041-af66-0ae8e48bb60c","name":"фильтр данных1","type":"n8n-nodes-base.function","typeVersion":1,"position":[-7680,2680]},{"parameters":{"content":"## ВВЕДЕНИЕ ТИПА КОЖИ В РУЧНУЮ","height":320,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-9940,3200],"typeVersion":1,"id":"02c3ca09-44fb-4628-8214-f99efe897f0b","name":"Sticky Note4"},{"parameters":{"jsCode":"const text = $json.message.text.replace(/^\\/v\\s+/i, '');\nreturn [{ json: { chat_id: $json.message.chat.id, raw: text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9880,3300],"id":"2bbea7df-c99f-4967-aa91-77596e3ba104","name":"extract","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9180,3300],"id":"501cba30-c92f-43c7-816c-f1876e5e05ae","name":"Кнопки выбор бюджета1","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet3\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9400,3300],"id":"e35661c8-c853-455e-9236-de6cb3d884a5","name":"Бюджет1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","skin_type":"={{ $json.raw }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-9640,3300],"id":"42b0e228-49ea-48fc-a4f2-81f33078a363","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data.startsWith('Type_skin_manual_') }}","operation":"notEqual","value2":"manual_skin_"}]},"combineOperation":"any"},"id":"1a05dbc8-f358-4442-87b5-8babd9650b6c","name":"Callback: Manual Skin","type":"n8n-nodes-base.if","typeVersion":1,"position":[-10140,3320]}],"connections":{"Switch":{"main":[[{"node":"GET profile","type":"main","index":0}],[],[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"IF NO":{"main":[[{"node":"запись нового пользователя","type":"main","index":0}],[{"node":"start","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"IF NO","type":"main","index":0}]]},"запись нового пользователя":{"main":[[{"node":"start","type":"main","index":0}]]},"Подписался ли человек?":{"main":[[{"node":"Продолжаем","type":"main","index":0}],[{"node":"Просим подписаться, так как это не было сделано","type":"main","index":0}]]},"Проверяем подписался ли человек":{"main":[[{"node":"Подписался ли человек?","type":"main","index":0}]]},"Просим подписаться, так как это не было сделано":{"main":[[{"node":"Нажатие кнопки1","type":"main","index":0}]]},"Нажатие кнопки1":{"main":[[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Start":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Подписка":{"main":[[]]},"start":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"Edit Fields":{"main":[[{"node":"start1","type":"main","index":0}]]},"start1":{"main":[[]]},"Продолжаем":{"main":[[]]},"Get Image1":{"main":[[{"node":"Extract1","type":"main","index":0}]]},"Convert1":{"main":[[{"node":"VISION","type":"main","index":0}]]},"Get ready1":{"main":[[{"node":"Get Image1","type":"main","index":0}]]},"Extract1":{"main":[[{"node":"Convert1","type":"main","index":0}]]},"VISION":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"тип кожи определен":{"main":[[{"node":"фильтр данных","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"тип кожи определен","type":"main","index":0}],[{"node":"Тип кожи НЕ отпределен","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Get ready1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}],[{"node":"Callback: Manual Skin","type":"main","index":0}]]},"Тип кожи НЕ отпределен":{"main":[[{"node":"фильтр данных1","type":"main","index":0}]]},"фильтр данных":{"main":[[{"node":"передача в вебхук","type":"main","index":0}]]},"фильтр данных1":{"main":[[{"node":"передача в вебхук1","type":"main","index":0}]]},"extract":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"Бюджет1":{"main":[[{"node":"Кнопки выбор бюджета1","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Бюджет1","type":"main","index":0}]]},"Callback: Manual Skin":{"main":[[{"node":"extract","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"FPELAiWh5akxAhbG"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fbb7fe6f-62bc-478e-83ab-1dce176c53d6","triggerCount":1,"tags":[{"createdAt":"2025-06-19T14:58:31.452Z","updatedAt":"2025-06-19T14:58:31.452Z","id":"eAGMDxfHytHCIGKz","name":"ИИздец"}]}