2.ai-k.loo-beauty-pB6Mi8g6Z5wz472U.json
{"createdAt":"2025-06-20T23:15:29.503Z","updatedAt":"2025-07-04T11:38:05.323Z","id":"pB6Mi8g6Z5wz472U","name":"2.Ai K.Loo Beauty","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $json.photo_file_id }}"},"id":"c95e317b-95df-4e9b-911e-cd24cd63a588","name":"Get Image1","type":"n8n-nodes-base.telegram","position":[340,380],"typeVersion":1.2,"webhookId":"8b210039-e135-420d-a5f1-53fc3ca1e836","retryOnFail":false,"maxTries":2,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Get ready1').item.json.photo_file_id }}"}},"id":"aa21ff8d-b49c-4c93-a854-94450cd5e73c","name":"Convert1","type":"n8n-nodes-base.convertToFile","position":[740,380],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"07282534-971f-4430-8d45-5f3e15d3c167","name":"photo_file_id","value":"={{ $json.message.photo[0].file_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,380],"id":"f3879969-a016-44cf-96b6-5009a0b3d8ec","name":"Get ready1"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"3a9d0dd2-e983-4f6a-a010-46529a6bfcba","name":"Extract1","type":"n8n-nodes-base.extractFromFile","position":[540,380],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=You are a certified dermatologist.\n\nInput: A photo of a client’s face.\n\nYour task:\n\nAnalyze the skin in the image.\n\nDetermine the likely skin type: жирная / сухая / комбинированная / нормальная.\n\nIndicate your confidence level as a percentage between 0 and 100.\n\nIf the face is not visible or analysis is not possible — return an empty list.\n\nRespond strictly in JSON format. No explanations, no comments, no text outside the JSON.\n\n\nExample:\n{\n  \"candidates\": [\n    { \"Type skin\": \"жирная\", }\n  ]\n}\n","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[980,380],"id":"06f850e4-a9f0-49f6-85df-c5e82c0f60d3","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"functionCode":"const visionRaw = $json?.skin_type || \"\"; // Используем поле из таблицы\nlet visionParsed = {};\nlet detectedSkinType = null;\nlet confidence = null;\nconst msgId = $json?.message_id || \"000\";\nconst chatId = $json?.chat_id?.toString() || null;\n\ntry {\n  console.log(\"RAW JSON для разбора:\", visionRaw);\n\n  const cleaned = visionRaw\n    .trim()\n    .replace(/^```json/, '')\n    .replace(/```$/, '')\n    .trim();\n\n  console.log(\"Чистый JSON для парсинга:\", cleaned);\n\n  visionParsed = JSON.parse(cleaned);\n\n  const candidate = visionParsed?.candidates?.[0] || {};\n\n  detectedSkinType = (\n    candidate[\"Type skin\"] ||\n    candidate[\"type_skin\"] ||\n    candidate[\"Тип кожи\"]\n  )?.toLowerCase() || null;\n\n  confidence = candidate.Confidence || candidate.confidence || null;\n\n  console.log(\"✅ Определён тип кожи:\", detectedSkinType);\n  console.log(\"📈 Уверенность:\", confidence);\n} catch (error) {\n  console.log(\"❌ Ошибка при JSON.parse:\", error.message);\n}\n\n// ✅ Если удалось определить тип кожи\nif (detectedSkinType) {\n  const cbYes = `Type_skin_yes_${msgId}`;\n  const cbManual = `Type_skin_manual_${msgId}`;\n\n  return [{\n    json: {\n      step: \"confirm_skin_type_from_photo\",\n      route: \"skin_type_confirmed\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: detectedSkinType,\n      confidence,\n      cb_yes: cbYes,\n      cb_no: cbManual,\n      text: `🌸👸 Я проанализировала фото и предполагаю, что у тебя *${detectedSkinType}* кожа. Это верно?`,\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"✅ Верно\", callback_data: cbYes },\n            { text: \"✏️ Изменить\", callback_data: cbManual }\n          ]\n        ]\n      }\n    }\n  }];\n}\n\n// ❌ Тип кожи не определён — fallback кнопки\nconst cbOily = `skin_select_oily_${msgId}`;\nconst cbDry = `skin_select_dry_${msgId}`;\nconst cbCombo = `skin_select_combo_${msgId}`;\nconst cbNormal = `skin_select_normal_${msgId}`;\n\nreturn [{\n  json: {\n    step: \"skin_manual_buttons\",\n    route: \"skin_type_not_detected\",\n    type_skin: null,\n    message_id: msgId,\n    chat_id: chatId,\n    text: \"🤔 Не удалось определить тип кожи по фото.\\n👇 Пожалуйста, выбери свой тип кожи:\",\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"Жирная\", callback_data: cbOily },\n          { text: \"Сухая\", callback_data: cbDry }\n        ],\n        [\n          { text: \"Комбинированная\", callback_data: cbCombo },\n          { text: \"Нормальная\", callback_data: cbNormal }\n        ]\n      ]\n    },\n    skin_options: {\n      oily: cbOily,\n      dry: cbDry,\n      combo: cbCombo,\n      normal: cbNormal\n    }\n  }\n}];\n"},"id":"aea1b963-a3ad-40e5-9acb-ac3157c42d87","name":"Parse Vision","type":"n8n-nodes-base.function","typeVersion":1,"position":[1400,380]},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-660,980],"id":"afb9d234-b151-47a7-99d6-10109a5228db","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[1] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3bf500e-57d1-4572-b54f-8f3fa95a34e4","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"pay_sub","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"получить полный список"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3fd2c52-f967-4920-b2ff-9fb2b19c21cb","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[1][0].callback_data }}","rightValue":"later","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":" Хочу позже"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b02cf08-4548-47c8-878a-3071c61ef96d","leftValue":"={{ $json.callback_query.data }}","rightValue":"ready_for_offer","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"выбор подписки"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0d8f7b2-e021-443a-bd62-ef744adae66d","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][1].callback_data }}","rightValue":"stop_conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Завершить"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0feea5a-3500-4a03-a5c0-e921e8c33886","leftValue":"={{ $json.message.text }}","rightValue":"/v","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"свой ответ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"589befe2-5c74-4532-a0ce-d0139422a1bd","leftValue":"={{ $json.message.text }}","rightValue":"=/support","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"support"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"53366f54-cccf-4f80-b790-da01506cfcf9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-260,400],"id":"733082f5-db03-412a-af1f-a0cb1eb00dbb","name":"Switch"},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet6\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,980],"id":"d4dd29e0-b846-49ed-a5b2-97bf078e79e8","name":"Бюджет"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[740,980],"id":"85df2a26-c347-487c-817b-644a9330a4ef","name":"Кнопки выбор бюджета","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"# БЮДЖЕТ","height":360,"width":960,"color":3},"type":"n8n-nodes-base.stickyNote","position":[60,860],"typeVersion":1,"id":"a1c06031-4c24-4579-86cb-80016d28703c","name":"Sticky Note","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.budget }} {{ $json.skin_type }}","hasOutputParser":true,"options":{"systemMessage":"=You are a beauty consultant with artificial intelligence, an expert in cosmetology and dermatology. Communicate with users in a friendly tone — like with a friend who understands skin care.\n\nYour task:\nChoose ** one ** facial toner that matches the user's skin type \"{{$json.skin_type }}\" and ** matches a realistic price range** — from **75% to 100%** of the budget determined by the user `_BOS_{ $json.budget}}` (in Russian rubles).\n\nExample: If the user's budget is 2000 rubles, find an item priced from **1,500 to 2,000 rubles**. Do not offer products cheaper than 75% of the budget.\n\n, Use the services of the online store only https://goldapple.ru/  \nFind the ** real product** and provide a valid ** link to the product page** from the website.\n\n🧴 You should only offer ** toners**.  \nDO NOT offer other skin care products (for example, other cleansers, creams, masks, SPF products, etc.).\n\nYour response must include the following:\n- Only **1 product**\n\n- In the following format:\nHere is a selection of the best face care products suitable for your skin type and budget.:\n\n✨Вот чт о я тебе подобрала из лучших средств по уходу за лицом, подходящих для вашего типа кожи и бюджета:\n\n🌟 *Product Name*  \n, _The brief description_  \n💸 *Price*  \n🔗 Product link (real)\n\nDo not add additional recommendations or alternative options. Strictly adhere to the assignment.  \n* ** Always answer in Russian — this is mandatory.**  \nAlways add ** emojis ** to make the message clear and easy to read."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[800,1460],"id":"aafd01c5-a5ce-486c-99eb-234b7350fc72","name":"Search Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,1720],"id":"c546aad8-64ba-457e-a834-f9dd47f094bb","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Верно","additionalFields":{"callback_data":"={{ $json.type_skin }}"}},{"text":"=✏️ Изменить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"id":"250760f5-8476-4cb9-8e36-b915755addca","name":"тип кожи определен","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1920,220],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"=💧Жирная","additionalFields":{"callback_data":"={{ $json.skin_options.oily }}"}},{"text":"🩸Сухая","additionalFields":{"callback_data":"={{ $json.skin_options.dry }}"}},{"text":"➕➖Комби","additionalFields":{"callback_data":"={{ $json.skin_options.combo }}"}},{"text":"✔️Норм","additionalFields":{"callback_data":"={{ $json.skin_options.normal }}"}}]}}]},"additionalFields":{}},"id":"1a15bb1f-f3e5-4d76-b113-1d5c746bec4b","name":"Тип кожи НЕ отпределен","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1920,520],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"## РЕЗУЛЬТАТ","height":540,"width":2120},"type":"n8n-nodes-base.stickyNote","position":[40,1300],"typeVersion":1,"id":"b172ba9f-6e19-4321-a06f-5e21e7ad53bd","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true},"id":"8b762386-e3e9-4395-a391-05e13b21e6b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Определен"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e67210d2-8ddc-4e22-bfdd-52a2753c970b","leftValue":"={{ $json.type_skin }}","rightValue":"skin_type_not_detected","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"не определен"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1640,380],"id":"1dc7a23b-1d74-49ad-9d3b-725b521f3f79","name":"Switch3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const sheetData = $json || {};\n\nconst chatId = sheetData.chat_id || 0;\nconst messageId = sheetData.message_id || 0;\nconst typeSkin = sheetData.skin_type || \"жирная\";\nconst budget = sheetData.budget || \"не указан\";\nconst raw = sheetData.Recomendation || \"\";\n\n// Ищем первую markdown-ссылку\nconst linkMatch = raw.match(/\\[.*?\\]\\((.*?)\\)/);\nconst link = linkMatch ? linkMatch[1] : \"\";\n\n// Удаляем markdown, но оставляем текст\nlet cleanText = raw.replace(/\\[([^\\]]+)\\]\\((.*?)\\)/g, '$1').trim();\n\n// Делаем первую строку жирной (до первого переноса строки)\ncleanText = cleanText.replace(/^(.+?)\\n/, '**$1**\\n');\n\n// Формируем сообщение\nlet text = cleanText.substring(0, 500);\n\nif (link) {\n  text += `\\n\\n🔗 [Перейти к товару](${link})`;\n}\n\ntext += `\\n\\n💬 Хочешь весь список и индивидуальные советы?`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text.substring(0, 4000),\n    parse_mode: \"Markdown\", // добавили Markdown для форматирования\n    disable_web_page_preview: false,\n    reply_markup: {     inline_keyboard: [       [{ text: \"💖 Получить весь список\", callback_data: \"pay_sub\" }],       [{ text: \"🔁 Хочу позже\", callback_data: \"later\" }]     ]   }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,1460],"id":"784360d3-669a-4950-b287-c2ea878fe674","name":"Code3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || 0;\n\nconst text = \n`✨ *ТЫ - НА ШАГ БЛИЖЕ К КОЖЕ МЕЧТЫ.*\n\nХватит тратить часы на обзоры, деньги на «вдруг подойдёт» и силы на догадки.  \nС _AI-косметологом_ ты экономишь и время, и бюджет - и точно подберёшь, что работает *именно для тебя* 💖\n\n🎁 *Что ты получаешь с подпиской:*\n\n💄 *6-8 уходовых средств* — подобранных под твой тип кожи и бюджету  \n🛍️ *Ссылки на проверенные товары* — бери и заказывай  \n🔥 *Актуальные скидки и акции*  \n🆕 *Только новинки и тренды*  \n🤖 *Поддержка AI-косметолога 24/7* — задавай любые вопросы  \n🧖‍♀️ *План ухода без путаницы и перегруза*  \n🎉 *Доступ в закрытый канал* — с розыгрышами, конкурсами и персональными акциями\n\n✨ *Присоединяйся к «Beauty Club K.Loo» — красота начинается с правильно подобранного ухода!*  \n\n👉 Готова попробовать? Просто нажми на кнопку — и всё остальное сделает AI косметолог.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"MarkdownV2\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"✅ Готова\", callback_data: \"ready_for_offer\" }\n        ],\n        [\n          { text: \"🚫 Завершить разговор\", callback_data: \"stop_conversation\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,2040],"id":"2403683d-7658-4b88-ae67-0ffee91a3c71","name":"Code4"},{"parameters":{"content":"## РАСПОЗНАНИЕ ТИПА КОЖИ ПО ФОТО","height":580,"width":2420,"color":7},"type":"n8n-nodes-base.stickyNote","position":[40,140],"typeVersion":1,"id":"9ca9ef94-6fdb-4171-932a-56640acc8901","name":"Sticky Note2"},{"parameters":{"content":"## ПРЕДЛОЖЕНИЕ НА ПОДПИСКУ","height":360,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","position":[40,1940],"typeVersion":1,"id":"c66775e7-dc8c-4fb8-848a-1eb72827d689","name":"Sticky Note3"},{"parameters":{"content":"## ВВЕДЕНИЕ ТИПА КОЖИ В РУЧНУЮ","height":320,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-1020,1360],"typeVersion":1,"id":"2b33adb7-c12f-4162-9b5c-5835b0b42319","name":"Sticky Note4"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || $json.message?.chat?.id || 0;\n\nconst text = \n`💫 *Выбери свою подписку и начни умный уход уже сегодня:*\n\n💗 *1. Старт — 1 месяц*  \nПодходит, если хочешь попробовать и оценить результат.  \n_Все функции доступны уже с первой минуты._\n\n💪 *2. Уверенный старт — 2 месяца по супер цене🎁*  \nИдеально, если готова инвестировать в стабильный уход.  \n_Получаешь больше, платишь меньше._\n\n👑 *3. Beauty PRO — 1 год*  \nДля тех, кто хочет взять уход под полный контроль и сэкономить.  \n_Самая выгодная подписка: платишь раз в год — заботишься каждый день._\n\n💬 *Выбирай формат, который тебе подходит* – и уже сегодня AI-косметолог подберёт для тебя полный уход 📜 с учётом бюджета💸 и целей.  \n\n🫶 *Чем раньше начнёшь – тем быстрее увидишь результат!* ⬇️`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"Markdown\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"💗 199₽ — 1 месяц\", callback_data: \"sub_month\" },\n          { text: \"💪 299₽ — 2 месяца\", callback_data: \"sub_2months\" }\n        ],\n        [\n          { text: \"👑 1599₽ — Год\", callback_data: \"sub_year\" },\n          { text: \"❌ Завершить\", callback_data: \"sub_cancel\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,2480],"id":"854fd323-a24a-4ea8-b5e9-92ec8906892b","name":"Code"},{"parameters":{"content":"## ВЫБОР ПОДПИСКИ ","height":360,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","position":[40,2360],"typeVersion":1,"id":"dcf3ad08-3740-48db-a567-9161e1fb4180","name":"Sticky Note5"},{"parameters":{"jsCode":"const text = $json.message.text.replace(/^\\/v\\s+/i, '');\nreturn [{ json: { chat_id: $json.message.chat.id, raw: text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,1460],"id":"601eba76-8b06-4862-980b-07a36938c5c0","name":"extract","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-260,1460],"id":"66efab6c-7315-4695-89b0-c188eed9fdfc","name":"Кнопки выбор бюджета1","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet3\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,1460],"id":"daa979fe-e00e-4578-b277-d9eb5b91bbf7","name":"Бюджет1"},{"parameters":{"toolDescription":"Use this tool to search the https://goldapple.ru/ ","method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-4a429c6f884e4b9a9eae1e7c8fdeaaac"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://goldapple.ru/\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[980,1720],"id":"61ab72b8-ae19-40b2-917e-432bceca5cc0","name":"Firecrawl Search","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,820],"id":"00beeab9-7c0d-4f3a-b424-46fa0495f129","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💧 Сухая","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🛢️ Жирная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🔀 Комбинированная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[2][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"😊 Нормальная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[3][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-880,240],"id":"c47d3c42-c507-40a3-aa10-e740bd5ea4d3","name":"Send a text message2","webhookId":"ee5b5aad-7ff6-4dcd-a826-5988f8f2b427","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.callback_query.message.chat.id }}\",\n  \"text\": \"✍️ Выбери свой тип кожи, чтобы я могла подобрать тебе идеальный уход\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [{ \"text\": \"💧 Сухая\", \"callback_data\": \"skin_dry\" }],\n      [{ \"text\": \"🛢️ Жирная\", \"callback_data\": \"skin_oily\" }],\n      [{ \"text\": \"🔀 Комбинированная\", \"callback_data\": \"skin_combo\" }],\n      [{ \"text\": \"😊 Нормальная\", \"callback_data\": \"skin_normal\" }]\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,240],"id":"833511aa-2a57-470e-b464-f4789ab80890","name":"Edit Fields"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-520,-160],"id":"2ef66236-259a-4c1f-8da3-2302d62f465f","name":"Кнопки выбор бюджета2","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-760,-160],"id":"b164865c-1ebe-42a6-8c10-4816877a4f4b","name":"Бюджет2","disabled":true},{"parameters":{"content":"#ИЗМЕНИТЬ ТИП КОЖИ","height":320,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1420,160],"typeVersion":1,"id":"1944152c-57e6-4cc7-9119-102b1b329d26","name":"Sticky Note7"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chat_id }}","file":"https://i.postimg.cc/RFprRLhq/image.jpg","additionalFields":{"caption":"=*Привет {{ $json.user_name }}!* 👋  \n\n🫶 Я *Карина* — твой бьюти-блогер и проводник в мир идеального ухода.  \n\n🤖 С помощью _AI-косметолога_ помогу тебе подобрать уход по фото 📷 — точно, умно и без рекламы. Только твой тип кожи и бюджет 💸.  \n\n🧠 Подбор сохраняется в профиле — можешь вернуться в любой момент и задать вопросы _AI-косметологу_.  \n\n_Что тебе надо сделать:_  \n✅ Подпишись на мой канал @beauty_s_karinoy - это *обязательное* условие, чтоб продолжить дальше.  \n\n📸 Отправь фото без макияжа (в сжатом виде), и _AI-косметолог_ определит тип кожи и подберёт лучшие косметические средства.  \n\n📝 Не хочешь отправлять фото?  \nТогда напиши вручную:  \nПример: /v жирная с акне  \n\n*Ну что, начнём?* 👇\n"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-880],"id":"bfd58daf-d4da-40c5-a22f-5c6e09c57f92","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd664b4-20b3-4d51-8000-20892b93782d","leftValue":"={{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,-920],"id":"0c721b9f-38ad-4a61-9816-0a730c7747f0","name":"IF NO"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.message.chat.id }}","user_name":"={{ $json.message.chat.username }}","message_id":"={{ $json.message.message_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[180,-920],"id":"9120d7ae-7ce1-4a8f-a131-961147ba07db","name":"GET profile","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"{{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","user_name":"{{ $json.message.chat.username }}","message_id":"{{ $json.message.message_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[580,-980],"id":"23307731-a403-4c69-b2f5-3e03933d92e7","name":"запись нового пользователя","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19602ee4-5a4a-4cc9-bd0e-b144c2b29d6b","leftValue":"={{ $json.result.status }}","rightValue":"member","operator":{"type":"string","operation":"equals"}},{"id":"1cfe0888-44e6-40a4-917e-fa2d3ac02443","leftValue":"={{ $json.result.status }}","rightValue":"administrator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"16a6c0b3-f658-426f-99e6-facda42cc643","leftValue":"={{ $json.result.status }}","rightValue":"creator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,-300],"id":"0d789d1f-d986-46d8-92c3-a541c8564517","name":"Подписался ли человек?"},{"parameters":{"chatId":"={{ $('IF NO').item.json.chat_id }}","text":"✨Если ты еще не в клубе K.Loo, то сейчас самре время присоединиться!  \n1.Перейди по ссылке @beauty_s_karinoy \n2.Нажми «Подписаться» И вернись за подборкой! Жду тебя💖","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-200],"id":"e44d0cda-7edb-47de-b2c7-c38536154232","name":"Просим подписаться, так как это не было сделано","webhookId":"69e420ef-2eb2-45c9-a990-5b0748adeeeb","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"url":"https://api.telegram.org/bot7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/getChatMember","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"@beauty_s_karinoy"},{"name":"user_id","value":"={{ $json.callback_query.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,-300],"id":"528ecd21-0ded-4ba3-990f-9e2d5347f5b5","name":"Проверяем подписался ли человек"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03064e87-87f6-4278-aec2-8a55e2e0407e","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,-200],"id":"55a214b8-2d07-416c-b1f2-89368b49cf7f","name":"Нажатие кнопки1"},{"parameters":{"chatId":"={{ $json.result.user.id }}","text":"💟Супер! Жду твоё фото📷","replyMarkup":"forceReply","forceReply":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-420],"id":"6590f2f5-fe9c-4ff4-9c4d-c0d6ec8c6d6c","name":"Продолжаем","webhookId":"1881e3aa-997a-4bd3-8c67-4a331f81a917","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1700,-880],"id":"db282c4a-0960-4d0d-9846-85f350e46b33","name":"start1","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"method":"POST","url":"https://primary-production-e7406.up.railway.app/webhook-test/6b9d00ff-1a08-4e5d-a9b8-80d8ab40cd5c","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,-480],"id":"4511dd1e-9665-43c1-8e4a-01aaf5cffcf4","name":"HTTP Request","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ffe4700-9916-46a7-9c5d-416f7f56210c","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-100,-900],"id":"3687f22c-6541-4601-a338-9425e0c3ecc6","name":"Switch1"},{"parameters":{"content":"# /start  И СОЗДАНИЕ ПРОФИЛЯ\n\n\n\n","height":372,"width":858,"color":7},"id":"e0a6b17c-52a9-46a7-beb4-73d19abd4e58","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[100,-1060],"typeVersion":1},{"parameters":{"content":"## подписка","height":620,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[40,-520],"typeVersion":1,"id":"62a8676f-2047-4fdb-b58b-350d7cf8496a","name":"Sticky Note8"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.result.chat.id }}\",\n  \"text\": \"✅ Подпишись! Всё готово для начала. После подписки высылай фото📷, чтобы продолжить 👇\",\n  \"parse_mode\": \"Markdown\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,-880],"id":"feb3a125-59fd-4667-8769-bb6b6698b3a1","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.callback_query.message.message_id }}","chat_id":"={{ $json.callback_query.message.chat.id }}","user_name":"={{ $json.callback_query.message.chat.username }}","budget":"={{ $json.callback_query.data }}"},"matchingColumns":["user_name"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[320,1460],"id":"4eb7eaed-5b53-48b0-952e-a1b011c2325d","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"chat_id","lookupValue":"={{ $json.chat_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[520,1460],"id":"fcacf1c8-5546-4b5f-8425-bf4b60f6300d","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Recomendation":"={{ $json.output }}","chat_id":"={{ $('Get row(s) in sheet').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1280,1460],"id":"8b5569c9-0ac8-4340-b3f8-4c9a06798a39","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","skin_type":"={{ $json.raw }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-720,1460],"id":"3e379ee7-e9bc-4154-b0e0-5417c6d2a0b6","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}","user_name":"={{ $('Telegram Trigger').item.json.message.chat.username }}","skin_type":"={{ $json.choices[0].message.content }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1180,380],"id":"2de934d4-9068-4de3-9baa-6bbc2830b832","name":"Append or update row in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"attributes":{"attributes":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-2480,200],"id":"54fbf55f-8670-475a-889d-a96f909d7144","name":"Information Extractor","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2540,800],"id":"4317347f-f70b-46c1-aa67-904c0a74cedc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"skin_type":"={{ $json.callback_query.data }}","chat_id":"={{ $json.callback_query.message.chat.id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[360,980],"id":"d8175cae-90e5-4784-a974-a673bfac1f3e","name":"Append or update row in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=👋 Привет {{ $json.message.chat.username }}!  \n\n👩‍🦳Я личный помощник Карины, меня зовут Настя, как я могу тебе помочь! 💖 ","replyMarkup":"replyKeyboard","replyKeyboardOptions":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1880,980],"id":"bcf8a8a4-ff3a-4157-974f-f7134c0bd48e","name":"Настя помощник","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💖 Получить весь список","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🔁 Хочу позже","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Результат поиска","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1840,1460],"id":"8a8bacaa-1a0a-4c21-8f99-ec75949487f6","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Готова","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"🚫 Завершить разговор","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,2040],"id":"117b8217-cd14-45b1-a0da-f546f95da1d2","name":"Предлоджение на подписку","webhookId":"7b6e7ef6-f7ee-4106-955f-6aadae8e0781","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💗 199₽ - 1 месяц","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[0][1].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][1].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,2480],"id":"e60ca2ec-f6e3-44ba-bd9d-4cdf811cd66d","name":"Выбор подписки","webhookId":"7b6e7ef6-f7ee-4106-955f-6aadae8e0781","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","message_id":"={{ $json.callback_query.message.message_id }}","user_name":"={{ $json.callback_query.from.username }}","end_subscription":"={{ $now.plus({ days: 31 }).toFormat('dd/LL/yyyy') }}\n"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4460,640],"id":"5d5f9bff-7f43-4a05-bb85-9250a51fe979","name":"Новый подписчик /1 мес","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","message_id":"=","user_name":"=","end_subscription":"{{ $now.plus({ days: 62 }).toFormat('dd/LL/yyyy') }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4460,840],"id":"ae9a2fbe-2c6a-43fb-b823-5380e5e57003","name":"Новый подписчик /2 мес","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","message_id":"=","user_name":"=","end_subscription":"{{ $now.plus({ days: 365 }).toFormat('dd/LL/yyyy') }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4460,1040],"id":"9c1f6971-b67f-4e32-96a6-82250184b5af","name":"Новый подписчик /1 год","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4660,640],"id":"6a10ab67-a32f-4e74-b0b9-1a41b5a49a97","name":"Ю касса 199","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"299.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"299.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4660,840],"id":"fd48aba8-8a43-41d7-8165-8a817fd8a595","name":"Ю касса 299","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"1599.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"1599.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4660,1040],"id":"9402b2f1-6f34-492e-a408-39af2f0687bf","name":"Ю касса год","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"path":"66506406-16c9-4944-86cd-21492668510d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3820,20],"id":"1d9ce134-5a83-4cd5-a461-27c83efdfae1","name":"Webhook1","webhookId":"66506406-16c9-4944-86cd-21492668510d","disabled":true},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4500,20],"id":"949a0d06-b640-415f-b479-32f8746afbb8","name":"Send a text message","webhookId":"c364a25d-ed37-4ea5-835b-8d339bf694c4","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"Оплата не прошла, попробуйте еще раз!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4280,260],"id":"b0278ede-f79c-4517-b1ce-40b2e1db095d","name":"ошибка оплаты","webhookId":"c364a25d-ed37-4ea5-835b-8d339bf694c4","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","end_subscription":"={{ $json.body.object.metadata.work_until.toDateTime(\"dd/MM/yyyy\").plus(30, \"days\").format(\"dd/MM/yyyy\") }}","recurent":"={{ $json.body.object.payment_method.id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4280,20],"id":"851f2e07-4f23-4a05-8ea5-61552f38d5df","name":"обновление даты","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4080,2220],"id":"967ab2d5-6283-4443-964f-cb874f091b26","name":"ПОЛУЧАЕМ ДАННЫЕ","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5320f29b-7e2e-439c-8161-f9f6ba35645e","leftValue":"={{ $json[\"Окончание подписки\"].toDateTime(\"dd/MM/yyyy\") }}  ","rightValue":"","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[4320,2220],"id":"bfe80339-9a1c-4b20-9762-2e52a4578028","name":"Filter","disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4560,2220],"id":"0a6ee8b3-5788-4b19-92b9-59020dccde64","name":"Ю касса ","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"684cd32d-0d68-4491-bb20-cc28698c4d55","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4760,2220],"id":"c46d6281-3eba-4769-a84b-23b2d9f06df0","name":"If","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","end_subscription":"={{ $json.body.object.metadata.work_until.toDateTime(\"dd/MM/yyyy\").plus(30, \"days\").format(\"dd/MM/yyyy\") }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[5040,2140],"id":"00739836-97ec-4c10-8db4-9be3dddd232f","name":"обновление даты1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5040,2380],"id":"8a88dcc5-5e02-4b5f-8c1d-f921d0532e75","name":"Ю касса 1","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"text":"✅ Подписка была продлена💖","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5300,2140],"id":"9688d501-ce52-4425-964e-e91401c2ef37","name":"Send a text message1","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai-косметолог готов начать подбирать тебе уход. Начнём?\n➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{"callback_data":""}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4880,640],"id":"24cf2ab6-d3eb-4a7b-9656-51ba7d40f5e1","name":"Send a text message3","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","recurent":"0"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4160,1600],"id":"d72e2712-dacb-4056-8d64-9783eb0fc59c","name":"рекурент","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"text":" 🥲Мне очень жаль с тобой расстоваться!  Подписка была отменена. Надеюсь увидеть тебя снова💖","replyMarkup":"inlineKeyboard","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4420,1600],"id":"e6b2b1dd-8bdd-48a0-b6f9-68848274efac","name":"Send a text message4","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/support","operator":{"type":"string","operation":"startsWith"},"id":"8870ad50-56b4-4197-8970-4f05f77e810a"}],"combinator":"and"},"renameOutput":true,"outputKey":"служба поддержки"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d8fea17-eb14-4725-b2ef-557a48a69e44","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4160,2960],"id":"6e4fa426-2d5e-4903-9604-ed156e48298f","name":"Switch2","disabled":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Привет, я Настя с службы поддержки💖 Чем  могу тебе помочь?","replyMarkup":"inlineKeyboard","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4420,2860],"id":"07565f8f-f2f2-4005-8eab-a4ab6933b91c","name":"Send a text message5","webhookId":"43caf74e-b62e-4dbf-b0c3-7d3a72b64e2e","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"sendTo":"lannadesign123@gmail.com","subject":"Новое сообщение в поддержку Ai K.Loo Beauty","emailType":"text","message":"={{ $json.message.text }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4420,3080],"id":"8153e1a0-80b5-4ef9-aa8b-b070e389b5c1","name":"Send a message","webhookId":"98f35e5b-0077-49a4-91d1-15b3a11ab274","credentials":{"gmailOAuth2":{"id":"hypi6KFjaHgyXCUX","name":"Gmail account"}},"disabled":true},{"parameters":{"text":"⛔Диалог завершён. Если захочешь начать снова — просто напиши /start 🤍","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5360,1580],"id":"29108786-fc17-44b9-b94b-0ac2ea506fa7","name":"Send a text message6","webhookId":"a52730f2-49f0-4000-98f1-568a37ba2de2","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[2800,-480],"id":"ef7ba192-1ea2-4acc-80c2-1b95932b5a68","name":"Оплата","webhookId":"d6b8fa84-f726-42ff-ac2f-90efdf836785","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[3880,2960],"id":"23762134-dede-4f4c-82cf-e90c97e2fdf6","name":"служба поддержки","webhookId":"d6b8fa84-f726-42ff-ac2f-90efdf836785","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai косметолог готов начать подбирать тебе уход. Начнём? ➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4880,840],"id":"143de31d-ed45-4dc7-a32f-18074e708c4e","name":"Send a text message7","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai косметолог готов начать подбирать тебе уход. Начнём? ➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4880,1040],"id":"a11657d1-7f21-4516-bf56-3335cc98a4b9","name":"Send a text message8","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"d23d7b8e-278b-4454-8e8a-11885f7ee0a3"}],"combinator":"and"},"renameOutput":true,"outputKey":"💗 199₽ - 1 месяц"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"275baa5e-3e12-4150-a6e6-b2bdd9c8b9ee","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"💪 299₽ - 2 месяц"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b56d21f-6b5d-4701-97d3-f375d82cd049","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"👑 1599₽ - 1 год"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38bda5e6-467a-4953-9219-28e4614f72b5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🔚 Завершить диалог"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02a3b5bc-6b89-4120-9654-182d82300404","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"выход"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3900,840],"id":"764fed44-f9b8-4039-8392-09324479f6c2","name":"Switch4","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"b54785d0-127e-4da5-acda-5bcb89f11f78"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4060,20],"id":"9491f08b-3692-4e2d-8599-78bf1f6d772a","name":"Switch5","disabled":true},{"parameters":{"content":"## статус оплаты","height":560,"width":1200},"type":"n8n-nodes-base.stickyNote","position":[3720,-100],"typeVersion":1,"id":"39fd501c-74ac-40e9-aa65-ad6f44347ac3","name":"Sticky Note9","disabled":true},{"parameters":{"content":"## ОПЛАТА ПОДПИСКИ ","height":740,"width":1400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3720,560],"typeVersion":1,"id":"b97166b3-5ade-4693-843c-f26fb27896b4","name":"Sticky Note10","disabled":true},{"parameters":{"content":"## ПРОДЛЕНИЕ ПОДПИСКИ","height":620,"width":1980},"type":"n8n-nodes-base.stickyNote","position":[3720,2020],"typeVersion":1,"id":"f3e8058c-418f-40cc-bc6b-94a56102bae8","name":"Sticky Note11","disabled":true},{"parameters":{"text":"🛑Не удалось автоматически продлить подписку, чтобы пользоваться Ai-косметологом дальше оплати подписку⬆️","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💸Оплатить","additionalFields":{"callback_data":""}},{"text":"⛔ Не продлеваю","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5300,2380],"id":"c8da4148-a42d-4a97-b640-67fc94c8759b","name":"Send a text message9","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"content":"## ОТПИСКА","height":600,"width":980},"type":"n8n-nodes-base.stickyNote","position":[3720,1340],"typeVersion":1,"id":"eabf59ae-3fe1-4528-802a-971bdd9f2748","name":"Sticky Note12","disabled":true},{"parameters":{"content":"## СЛУЖБА ПОДДЕРЖКИ","height":680,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[3720,2700],"typeVersion":1,"id":"fe5ad092-2fed-41e9-b432-6349730dba8d","name":"Sticky Note13","disabled":true},{"parameters":{"jsCode":"{\n  \"chat_id\": {{$json.callback_query.from.id}},\n  \"text\": \"Диалог завершён. Если захочешь начать снова — просто напиши /start 🤍\",\n  \"reply_markup\": {\n    \"remove_keyboard\": true\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5080,1580],"id":"597e5f93-c24b-4289-923c-aefc32f96550","name":"Code1","disabled":true},{"parameters":{"content":"## Завершение диалога","height":600,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[4820,1340],"typeVersion":1,"id":"713381b5-8de2-4dd6-aee2-f2da42b5f6a9","name":"Sticky Note14","disabled":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.callback_query.data.startsWith('Type_skin_yes_') }}"}]},"combineOperation":"any"},"id":"7ce58bec-345d-477c-8d89-8786f0a8be82","name":"Is Callback Query","type":"n8n-nodes-base.if","typeVersion":1,"position":[120,980]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.callback_query.data.startsWith('budget_') }}"}]}},"id":"335c8300-4f62-43c5-b46d-e0d8d2d74f42","name":"Is Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[80,1460]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data.startsWith('Type_skin_manual_') }}","operation":"notEqual","value2":"manual_skin_"}]},"combineOperation":"any"},"id":"b8d60d9c-b68d-4882-917a-a7369c42e95f","name":"Callback: Manual Skin","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1220,1480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}","operation":"startsWith","value2":"Type_skin_yes_"}]}},"id":"3aa65cf3-6353-4898-b674-2323de34863c","name":"Callback: Confirm Skin","type":"n8n-nodes-base.if","typeVersion":1,"position":[1280,1000],"disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,-880],"id":"7ebf2cab-c239-4c81-94ad-c09133b8fa5c","name":"Wait","webhookId":"01a3f518-2aa1-4cfc-a7f9-94733e33799a"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data.startsWith('manual_skin_') }}","operation":"notEqual"}]}},"id":"ec666095-eba9-420c-b77c-9e3842c2f444","name":"Callback: Manual Skin1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1340,260]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data }}","operation":"isEmpty"}]}},"id":"df8da606-1106-4b2a-a8d3-be719d72ffaf","name":"Message: Budget1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1760,1020],"disabled":true},{"parameters":{"content":"##support","height":440,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-2060,840],"typeVersion":1,"id":"d6129a53-843f-4530-ad6d-da9cf2322184","name":"Sticky Note15"},{"parameters":{"workflowId":{"__rl":true,"value":"mQCrDrsYNTdnDEM2","mode":"list","cachedResultName":"BACKUP_Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2460,220],"id":"ddf91587-64ac-41d9-a03c-a712b02de56b","name":"Execute Workflow"}],"connections":{"Get Image1":{"main":[[{"node":"Extract1","type":"main","index":0}]]},"Convert1":{"main":[[{"node":"VISION","type":"main","index":0}]]},"Get ready1":{"main":[[{"node":"Get Image1","type":"main","index":0}]]},"Extract1":{"main":[[{"node":"Convert1","type":"main","index":0}]]},"VISION":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"HTTP typing...","type":"main","index":0},{"node":"Switch1","type":"main","index":0},{"node":"Switch","type":"main","index":0},{"node":"Is Callback Query","type":"main","index":0},{"node":"Is Message","type":"main","index":0}]]},"Бюджет":{"main":[[{"node":"Кнопки выбор бюджета","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Search Agent","type":"ai_languageModel","index":0}]]},"Search Agent":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"тип кожи определен":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"тип кожи определен","type":"main","index":0}],[{"node":"Тип кожи НЕ отпределен","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get ready1","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}],[],[{"node":"Code","type":"main","index":0}],[],[],[{"node":"Настя помощник","type":"main","index":0}],[]]},"Кнопки выбор бюджета":{"main":[[]]},"Code3":{"main":[[{"node":"Результат поиска","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Предлоджение на подписку","type":"main","index":0}]]},"Code":{"main":[[{"node":"Выбор подписки","type":"main","index":0}]]},"extract":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"Бюджет1":{"main":[[{"node":"Кнопки выбор бюджета1","type":"main","index":0}]]},"Firecrawl Search":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"Тип кожи НЕ отпределен":{"main":[[]]},"Send a text message2":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Бюджет2":{"main":[[{"node":"Кнопки выбор бюджета2","type":"main","index":0}]]},"start":{"main":[[{"node":"Wait","type":"main","index":0}]]},"IF NO":{"main":[[{"node":"запись нового пользователя","type":"main","index":0}],[{"node":"start","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"IF NO","type":"main","index":0}]]},"запись нового пользователя":{"main":[[{"node":"start","type":"main","index":0}]]},"Подписался ли человек?":{"main":[[{"node":"Продолжаем","type":"main","index":0}],[{"node":"Просим подписаться, так как это не было сделано","type":"main","index":0}]]},"Просим подписаться, так как это не было сделано":{"main":[[{"node":"Нажатие кнопки1","type":"main","index":0}]]},"Проверяем подписался ли человек":{"main":[[{"node":"Подписался ли человек?","type":"main","index":0}]]},"Нажатие кнопки1":{"main":[[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Продолжаем":{"main":[[]]},"Switch1":{"main":[[{"node":"GET profile","type":"main","index":0}],[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"start1","type":"main","index":0}]]},"Append or update row in sheet1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Search Agent","type":"main","index":0}]]},"Append or update row in sheet2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Бюджет1","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Append or update row in sheet6":{"main":[[{"node":"Бюджет","type":"main","index":0}]]},"Результат поиска":{"main":[[]]},"Новый подписчик /1 мес":{"main":[[{"node":"Ю касса 199","type":"main","index":0}]]},"Новый подписчик /2 мес":{"main":[[{"node":"Ю касса 299","type":"main","index":0}]]},"Новый подписчик /1 год":{"main":[[{"node":"Ю касса год","type":"main","index":0}]]},"Ю касса 199":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Ю касса 299":{"main":[[{"node":"Send a text message7","type":"main","index":0}]]},"Ю касса год":{"main":[[{"node":"Send a text message8","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch5","type":"main","index":0}]]},"обновление даты":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"ПОЛУЧАЕМ ДАННЫЕ":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Ю касса ","type":"main","index":0}]]},"Ю касса ":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"обновление даты1","type":"main","index":0}],[{"node":"Ю касса 1","type":"main","index":0}]]},"обновление даты1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Ю касса 1":{"main":[[{"node":"Send a text message9","type":"main","index":0}]]},"рекурент":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Send a text message5","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Оплата":{"main":[[]]},"служба поддержки":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Новый подписчик /1 мес","type":"main","index":0}],[{"node":"Новый подписчик /2 мес","type":"main","index":0}],[{"node":"Новый подписчик /1 год","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}],[{"node":"рекурент","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"обновление даты","type":"main","index":0},{"node":"ошибка оплаты","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send a text message6","type":"main","index":0}]]},"Is Callback Query":{"main":[[{"node":"Append or update row in sheet6","type":"main","index":0}]]},"Is Message":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Callback: Manual Skin":{"main":[[{"node":"extract","type":"main","index":0}]]},"Callback: Confirm Skin":{"main":[[]]},"Wait":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Callback: Manual Skin1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Message: Budget1":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"pB6Mi8g6Z5wz472U"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef59e443-9849-420f-987d-f1b85c14f3e7","triggerCount":1,"tags":[]}