2.ai-k.loo-beauty-pB6Mi8g6Z5wz472U.json
{"createdAt":"2025-06-20T23:15:29.503Z","updatedAt":"2025-07-13T21:00:17.187Z","id":"pB6Mi8g6Z5wz472U","name":"2.Ai K.Loo Beauty","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $json.photo_file_id }}"},"id":"c95e317b-95df-4e9b-911e-cd24cd63a588","name":"Get Image1","type":"n8n-nodes-base.telegram","position":[340,380],"typeVersion":1.2,"webhookId":"8b210039-e135-420d-a5f1-53fc3ca1e836","retryOnFail":false,"maxTries":2,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Get ready1').item.json.photo_file_id }}"}},"id":"aa21ff8d-b49c-4c93-a854-94450cd5e73c","name":"Convert1","type":"n8n-nodes-base.convertToFile","position":[740,380],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"07282534-971f-4430-8d45-5f3e15d3c167","name":"photo_file_id","value":"={{ $json.message.photo[0].file_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,380],"id":"f3879969-a016-44cf-96b6-5009a0b3d8ec","name":"Get ready1"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"3a9d0dd2-e983-4f6a-a010-46529a6bfcba","name":"Extract1","type":"n8n-nodes-base.extractFromFile","position":[540,380],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=You are a certified dermatologist.\n\nInput: A photo of a client’s face.\n\nYour task:\n\nAnalyze the skin in the image.\n\nDetermine the likely skin type: жирная / сухая / комбинированная / нормальная.\n\nIndicate your confidence level as a percentage between 0 and 100.\n\nIf the face is not visible or analysis is not possible — return an empty list.\n\nRespond strictly in JSON format. No explanations, no comments, no text outside the JSON.\n\n\nExample:\n{\n  \"candidates\": [\n    { \"Type skin\": \"жирная\", }\n  ]\n}\n","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[980,380],"id":"06f850e4-a9f0-49f6-85df-c5e82c0f60d3","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"functionCode":"const visionRaw = $json?.skin_type || \"\";\nlet visionParsed = {};\nlet detectedSkinType = null;\nlet confidence = null;\n\nconst msgId = $json?.message_id || \"000\";\nconst chatId = $json?.chat_id?.toString() || null;\n\ntry {\n  const cleaned = visionRaw.trim().replace(/^```json/, '').replace(/```$/, '').trim();\n  visionParsed = JSON.parse(cleaned);\n\n  const candidate = visionParsed?.candidates?.[0] || {};\n  detectedSkinType = (\n    candidate[\"Type skin\"] ||\n    candidate[\"type_skin\"] ||\n    candidate[\"Тип кожи\"]\n  )?.toLowerCase() || null;\n\n  confidence = candidate.Confidence || candidate.confidence || null;\n\n  console.log(\"✅ Определён тип кожи:\", detectedSkinType);\n} catch (error) {\n  console.log(\"❌ Ошибка при JSON.parse:\", error.message);\n}\n\nconst cbYes = `Type_skin_yes_${msgId}`;\nconst cbManual = `Type_skin_manual_${msgId}`;\nconst cbOily = `skin_select_oily_${msgId}`;\nconst cbDry = `skin_select_dry_${msgId}`;\nconst cbCombo = `skin_select_combo_${msgId}`;\nconst cbNormal = `skin_select_normal_${msgId}`;\n\n// Возвращаем значение skin_detected для использования в SWITCH\nif (detectedSkinType) {\n  return [{\n    json: {\n      skin_detected: true,\n      step: \"confirm_skin_type_from_photo\",\n      route: \"skin_type_confirmed\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: detectedSkinType,\n      confidence,\n      cb_yes: cbYes,\n      cb_no: cbManual,\n      text: `🌸👸 Я проанализировала фото и предполагаю, что у тебя *${detectedSkinType}* кожа. Это верно?`,\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"✅ Верно\", callback_data: cbYes },\n            { text: \"✏️ Изменить\", callback_data: cbManual }\n          ]\n        ]\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      skin_detected: false,\n      step: \"skin_manual_buttons\",\n      route: \"skin_type_not_detected\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: null,\n      text: \"🤔 Не удалось определить тип кожи по фото.\\n👇 Пожалуйста, выбери свой тип кожи:\",\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"Жирная\", callback_data: cbOily },\n            { text: \"Сухая\", callback_data: cbDry }\n          ],\n          [\n            { text: \"Комбинированная\", callback_data: cbCombo },\n            { text: \"Нормальная\", callback_data: cbNormal }\n          ]\n        ]\n      },\n      skin_options: {\n        oily: cbOily,\n        dry: cbDry,\n        combo: cbCombo,\n        normal: cbNormal\n      }\n    }\n  }];\n}\n"},"id":"aea1b963-a3ad-40e5-9acb-ac3157c42d87","name":"Parse Vision","type":"n8n-nodes-base.function","typeVersion":1,"position":[1400,380]},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1020,1280],"id":"afb9d234-b151-47a7-99d6-10109a5228db","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfa3969a-c488-4515-b5ab-a4b0ea89b74b","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"старт"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[1] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a70a7c4e-ba89-44c0-b8f2-658566d46c90","leftValue":"={{ $json.callback_query.data }}","rightValue":"skin_select_normal_1068","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"normal_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d83d5cb3-826c-4cf0-b7ad-d789dca53ddb","leftValue":"={{ $json.callback_query.data }}","rightValue":"budget_budget_800","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"budget_800"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3bf500e-57d1-4572-b54f-8f3fa95a34e4","leftValue":"={{ $json.callback_query.data }}","rightValue":"pay_sub","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"получить список"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b02cf08-4548-47c8-878a-3071c61ef96d","leftValue":"={{ $json.callback_query.data }}","rightValue":"ready_for_offer","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"выбор подписки"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0feea5a-3500-4a03-a5c0-e921e8c33886","leftValue":"={{ $json.message.text }}","rightValue":"/v","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"свой ответ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"589befe2-5c74-4532-a0ce-d0139422a1bd","leftValue":"={{ $json.message.text }}","rightValue":"=/support","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"support"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fcfdfc94-aa7e-4bed-a582-1a8f69446248","leftValue":"={{ $json.callback_query.data }}","rightValue":"skin_select_","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"skin_select_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a4e1a778-873f-4ba8-a803-2a3459f255a7","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][1].callback_data }}","rightValue":"budget_1000","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"budget_1000"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97e1f856-31ae-448f-b04f-0d661cc66e5c","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[1][0].callback_data }}","rightValue":"budget_2000","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"budget_2000"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7431c3cd-bde0-4e60-8e04-c5520f22dbcb","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[1][1].callback_data }}","rightValue":"budget_unlimited","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"budget_unlimited"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72058a8f-1bdf-483a-bde7-f37d079336ab","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[2][0].callback_data }}","rightValue":"skin_select_oily_1068","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"oily_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc445d0c-46e0-47a8-a2a5-9ecb5ebdaa73","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[1][0].callback_data }}","rightValue":"skin_select_combo_1068","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"combo_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6412ef83-8067-4d06-ba04-d40716331222","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"skin_select_dry_1068","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"dry_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eae8440b-5dbb-4297-bb7d-df61c905786d","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"комбинированная","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"комбинированная"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"710a4408-626e-4bcf-a333-f4aec1921699","leftValue":"={{ $json.callback_query.message.repсухпяly_markup.inline_keyboard[0][0].callback_data }}","rightValue":"сухая","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"сухая"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4c1dfe6-ae59-495d-ac08-0e8a8bcdd894","leftValue":"={{ $json.callback_query.data }}","rightValue":"жирная","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"жирная"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98c134a9-d964-4258-b71b-71f996eee6a4","leftValue":"={{ $json.callback_query.data }}","rightValue":"нормальная","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"нормальная"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"efd64c0e-28cf-466e-ac16-86077a6e2483","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"skin_select_dry_1155","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🩸Сухая"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af232095-a5e0-4b5c-8949-367fb0b256c4","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[1][0].callback_data }}","rightValue":"skin_select_combo_1155","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"☯️ Комби"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4583b76-2d81-48c1-ac0c-719607173558","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[2][0].callback_data }}","rightValue":"skin_select_oily_1155","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"☯️ Комби"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75d12c34-acb1-4b0e-9b49-e64fdc9b48bf","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[3][0].callback_data }}","rightValue":"skin_select_normal_1155","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"✅ Норм"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04299fcf-ed58-4002-a582-fa2045f9da0e","leftValue":"={{ $json.callback_query.data }}","rightValue":"sub_2months","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2 месяца"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-760,860],"id":"733082f5-db03-412a-af1f-a0cb1eb00dbb","name":"Switch"},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet6\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,960],"id":"d4dd29e0-b846-49ed-a5b2-97bf078e79e8","name":"Бюджет"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,960],"id":"85df2a26-c347-487c-817b-644a9330a4ef","name":"Кнопки выбор бюджета","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"# тип кожи с кнопок выбора","height":360,"width":960,"color":3},"type":"n8n-nodes-base.stickyNote","position":[60,860],"typeVersion":1,"id":"a1c06031-4c24-4579-86cb-80016d28703c","name":"Sticky Note","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.chat_id }} {{ $json.budget }} {{ $json.skin_type }}","options":{"systemMessage":"=You are an expert cosmetologist in the field of facial skin care cosmetics.\n\nYour goal is to choose the best facial tonic that suits the client's skin type and specified budget.\n\nYou are given access to a Google spreadsheet with a database of products. The columns contain:\n\n- Product Name  \n- Product Name 2  \n- description  \n- Rating  \n- price  \n- sale  \n- Skin type  \n- Link  \n\n---\n\nWhen the user specifies their skin type and budget:\n\n1. Find the products for which the specified value is indicated in the \"Skin type\" column (for example, \"oily\", \"normal\", \"combination\", \"dry\").\n2. Filter them by price — only those that correspond from 75% to 100% of the budget.\n3. Among the search results, select one product with the most attractive or relevant description and composition suitable for the skin type specified by the user.\n4. If several options are equally good, choose the one that is more expensive.\n5. Take the product link from the \"Link\" column, for example: ( https://goldapple.ru/19000237261-heartleaf-77 ) and give it out along with the goods as written below.\n\n---\n\nSelect the product according to the skin type in the table.  \nIf the product is suitable for all skin types, then check the composition in the table and choose the optimal one for this skin type.  \nTake 500 characters from the description. If necessary, shorten it manually.\n\n---\n\nRules:\n- Use only the data from the spreadsheet.\n- Do not create or invent any products.\n- Specify only one product in the final message.\n- If no suitable product is found, please kindly inform us in Russian.\n\n---\n\n The response format is in Russian (only the data from the table).:\n\n Here's what I've selected from the best facial care products suitable for your skin type and budget.:*  \n\n *Brand:* Product name\n,*Name:* Product Name 2  \nDescription (up to 500 characters) \n Train safety: %\n*Rating:* ASSESSMENT  \n💸 *Price:* XX₽  \n✨ *DISCOUNT:* %\ngo to the product\nhttps://goldapple.ru/19000237261-heartleaf-77\n\n---\n\nIf you haven't eaten the right product, write *Unfortunately, I haven't found the right toners for your skin type and budget. Try to change the settings or ask another question.*\n\n---\n\nAlways answer in **Russian**.  \nUse the Markdown format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[740,2560],"id":"aafd01c5-a5ce-486c-99eb-234b7350fc72","name":"Search Agent","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"content":"## РЕЗУЛЬТАТ","height":600,"width":3100},"type":"n8n-nodes-base.stickyNote","position":[-380,2480],"typeVersion":1,"id":"b172ba9f-6e19-4321-a06f-5e21e7ad53bd","name":"Sticky Note1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\n\n// Извлекаем данные из вложенных структур\nconst chatId = data.result?.chat?.id || 0;\nconst messageId = data.result?.message_id || 0;\nconst typeSkin = data.skin_type || \"жирная\";\nconst budget = data.budget || \"не указан\";\nconst raw = data.Recomendation || \"\";\n\n// Ищем первую markdown-ссылку\nconst linkMatch = raw.match(/\\[.*?\\]\\((.*?)\\)/);\nconst link = linkMatch ? linkMatch[1] : \"\";\n\n// Удаляем markdown, но оставляем текст\nlet cleanText = raw.replace(/\\[([^\\]]+)\\]\\((.*?)\\)/g, '$1').trim();\n\n// Делаем первую строку жирной (до первого переноса строки)\ncleanText = cleanText.replace(/^(.+?)\\n/, '**$1**\\n');\n\n// Формируем сообщение\nlet text = cleanText.substring(0, 500);\n\nif (link) {\n  text += `\\n\\n🔗 [Перейти к товару](${link})`;\n}\n\ntext += `\\n\\n💬 Хочешь получить полный список ухода, скидки  и индивидуальные рекомендации?`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text.substring(0, 4000),\n    parse_mode: \"Markdown\",\n    disable_web_page_preview: false,\n    reply_markup: {\n      inline_keyboard: [\n        [{ text: \"💖 Получить весь список\", callback_data: \"pay_sub\" }],\n        [{ text: \"🔁 Хочу позже\", callback_data: \"later\" }]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,2540],"id":"784360d3-669a-4950-b287-c2ea878fe674","name":"Code3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || 0;\n\nconst text = \n`✨ *ТЫ - НА ШАГ БЛИЖЕ К КОЖЕ МЕЧТЫ*\n\nХватит тратить часы на обзоры, деньги на «вдруг подойдёт» и силы на догадки.  \nС _AI-косметологом_ ты экономишь *время* и *бюджет* — и точно подберёшь, что работает *именно для тебя* 💖\n\n🎁 *Что ты получаешь с подпиской:*\n\n💄 *6-8 уходовых средств* - персонально подобранных под твой тип кожи и бюджет  \n🛍️ *Ссылки на проверенные товары* - бери и заказывай  \n🔥 *Актуальные скидки и акции*  \n🆕 *Только новинки и тренды*  \n🤖 *Поддержка AI-косметолога 24/7* - задавай любые вопросы  \n🧖‍♀️ *План ухода без путаницы и перегруза*  \n🎉 *Доступ в закрытый канал* — с розыгрышами, конкурсами и персональными акциями  \n💯 *Интеллектуальный сканер микробиома кожи для глубокой диагностики + аналитика изменения состояния кожи*  \n\n✨ *Присоединяйся к «Beauty Club K.Loo» - красота начинается с правильно подобранного ухода!*  \n\n👉 Готова попробовать? Просто нажми на кнопку - и всё остальное сделает _AI-косметолог_.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"MarkdownV2\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"✅ Готова\", callback_data: \"ready_for_offer\" }\n        ],\n        [\n          { text: \"🚫 Завершить разговор\", callback_data: \"stop_conversation\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1520,2160],"id":"2403683d-7658-4b88-ae67-0ffee91a3c71","name":"Code4"},{"parameters":{"content":"## РАСПОЗНАНИЕ ТИПА КОЖИ ПО ФОТО","height":580,"width":2420,"color":7},"type":"n8n-nodes-base.stickyNote","position":[40,180],"typeVersion":1,"id":"9ca9ef94-6fdb-4171-932a-56640acc8901","name":"Sticky Note2"},{"parameters":{"content":"## ПРЕДЛОЖЕНИЕ НА ПОДПИСКУ","height":360,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1720,2020],"typeVersion":1,"id":"c66775e7-dc8c-4fb8-848a-1eb72827d689","name":"Sticky Note3"},{"parameters":{"content":"## ВВЕДЕНИЕ ТИПА КОЖИ В РУЧНУЮ","height":320,"width":1100,"color":3},"type":"n8n-nodes-base.stickyNote","position":[60,1660],"typeVersion":1,"id":"2b33adb7-c12f-4162-9b5c-5835b0b42319","name":"Sticky Note4"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || $json.message?.chat?.id || 0;\n\nconst text = \n`💫 *Выбери свою подписку и начни умный уход уже сегодня:*\n\n💗 *1. Старт — 1 месяц*  \nПодходит, если хочешь попробовать и оценить результат.  \n_Все функции доступны уже с первой минуты._\n\n💪 *2. Уверенный старт — 2 месяца по супер цене🎁*  \nИдеально, если готова инвестировать в стабильный уход.  \n_Получаешь больше, платишь меньше._\n\n👑 *3. Beauty PRO — 1 год*  \nДля тех, кто хочет взять уход под полный контроль и сэкономить.  \n_Самая выгодная подписка: платишь раз в год — заботишься каждый день._\n\n💬 *Выбирай формат, который тебе подходит* – и уже сегодня AI-косметолог подберёт для тебя полный уход 📜 с учётом бюджета💸 и целей.  \n\n🫶 *Чем раньше начнёшь – тем быстрее увидишь результат!* ⬇️`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"Markdown\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"💗 199₽ — 1 месяц\", callback_data: \"sub_month\" },\n          { text: \"💪 299₽ — 2 месяца\", callback_data: \"sub_2months\" }\n        ],\n        [\n          { text: \"👑 1599₽ — Год\", callback_data: \"sub_year\" },\n          { text: \"❌ Завершить\", callback_data: \"sub_cancel\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1000,2600],"id":"854fd323-a24a-4ea8-b5e9-92ec8906892b","name":"Code","disabled":true},{"parameters":{"content":"## ВЫБОР ПОДПИСКИ ","height":360,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1900,2460],"typeVersion":1,"id":"dcf3ad08-3740-48db-a567-9161e1fb4180","name":"Sticky Note5"},{"parameters":{"jsCode":"const text = $json.message.text || '';\nconst skinType = text.replace(/^\\/v\\s+/i, '').trim(); // Удаляет \"/v\" и пробелы\n\nreturn [\n  {\n    json: {\n      chat_id: $json.message.chat.id,\n      skin_type: skinType,\n      raw: text\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,1780],"id":"601eba76-8b06-4862-980b-07a36938c5c0","name":"extract","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,1780],"id":"66efab6c-7315-4695-89b0-c188eed9fdfc","name":"Кнопки выбор бюджета1","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet3\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,1780],"id":"daa979fe-e00e-4578-b277-d9eb5b91bbf7","name":"Бюджет1"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chat_id }}","file":"https://i.postimg.cc/RFprRLhq/image.jpg","additionalFields":{"caption":"=*Привет, {{ $json.user_name }}!* 👋  \n\nЯ - *Карина (K.Loo)*, твой персональный бьюти-гид и создатель AI-косметолога 💄🤖  \nВместе мы сделаем уход за кожей умным, эффективным и точно под тебя.\n\n📷 _AI-косметолог_ проанализирует твою кожу по `фото`:  \nопределит тип, подберёт уход, и всё это - без рекламы и навязанных брендов. Только результат.\n\n✨ А если ты хочешь максимальную точность - пройди `Smart Skin` - диагностику:  \nС помощью моего интеллектуального прибора ты получишь 100% точный анализ - по увлажнению, жирности и эластичности кожи и возрасту кожи.  \nТы будешь видеть прогресс, сравнивать результаты и получать подборку средств под каждое изменение.\n\n🧠 Все подборы сохраняются - можешь возвращаться и задавать вопросы _AI-косметолоуг_ в любое время.\n\n🔹 *Что нужно сделать сейчас:*  \n1. ✅ Подпишись на мой канал @beauty_s_karinoy - это *обязательное условие* для начала.  \n2. 📸 Отправь фото без макияжа (в сжатом виде).  \n3. Или напиши вручную, например:  \n/v _сухая_ \n\n*Готова? Тогда поехали!* 👇\n","parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,-880],"id":"bfd58daf-d4da-40c5-a22f-5c6e09c57f92","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd664b4-20b3-4d51-8000-20892b93782d","leftValue":"={{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[580,-920],"id":"0c721b9f-38ad-4a61-9816-0a730c7747f0","name":"IF NO"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.message.chat.id }}","user_name":"={{ $json.message.chat.username }}","message_id":"={{ $json.message.message_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[380,-920],"id":"9120d7ae-7ce1-4a8f-a131-961147ba07db","name":"GET profile","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"{{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","user_name":"{{ $json.message.chat.username }}","message_id":"{{ $json.message.message_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[780,-980],"id":"23307731-a403-4c69-b2f5-3e03933d92e7","name":"запись нового пользователя","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19602ee4-5a4a-4cc9-bd0e-b144c2b29d6b","leftValue":"={{ $json.result.status }}","rightValue":"member","operator":{"type":"string","operation":"equals"}},{"id":"1cfe0888-44e6-40a4-917e-fa2d3ac02443","leftValue":"={{ $json.result.status }}","rightValue":"administrator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"16a6c0b3-f658-426f-99e6-facda42cc643","leftValue":"={{ $json.result.status }}","rightValue":"creator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,-300],"id":"0d789d1f-d986-46d8-92c3-a541c8564517","name":"Подписался ли человек?"},{"parameters":{"chatId":"={{ $('IF NO').item.json.chat_id }}","text":"✨Если ты еще не в клубе K.Loo, то сейчас самре время присоединиться!  \n1.Перейди по ссылке @beauty_s_karinoy \n2.Нажми «Подписаться» И вернись за подборкой! Жду тебя💖","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-200],"id":"e44d0cda-7edb-47de-b2c7-c38536154232","name":"Просим подписаться, так как это не было сделано","webhookId":"69e420ef-2eb2-45c9-a990-5b0748adeeeb","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"url":"https://api.telegram.org/bot7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/getChatMember","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"@beauty_s_karinoy"},{"name":"user_id","value":"={{ $json.callback_query.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,-300],"id":"528ecd21-0ded-4ba3-990f-9e2d5347f5b5","name":"Проверяем подписался ли человек"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03064e87-87f6-4278-aec2-8a55e2e0407e","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,-200],"id":"55a214b8-2d07-416c-b1f2-89368b49cf7f","name":"Нажатие кнопки1"},{"parameters":{"chatId":"={{ $json.result.user.id }}","text":"💟Супер! Жду твоё фото📷","replyMarkup":"forceReply","forceReply":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-420],"id":"6590f2f5-fe9c-4ff4-9c4d-c0d6ec8c6d6c","name":"Продолжаем","webhookId":"1881e3aa-997a-4bd3-8c67-4a331f81a917","alwaysOutputData":true,"executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ffe4700-9916-46a7-9c5d-416f7f56210c","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[100,-900],"id":"3687f22c-6541-4601-a338-9425e0c3ecc6","name":"Switch1"},{"parameters":{"content":"# /start  И СОЗДАНИЕ ПРОФИЛЯ\n\n\n\n","height":372,"width":1918,"color":7},"id":"e0a6b17c-52a9-46a7-beb4-73d19abd4e58","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[20,-1040],"typeVersion":1},{"parameters":{"content":"## подписка","height":620,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[40,-520],"typeVersion":1,"id":"62a8676f-2047-4fdb-b58b-350d7cf8496a","name":"Sticky Note8"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.result.chat.id }}\",\n  \"text\": \"✅ Подпишись!\\n\\n📌 Всё готово для начала.\\n📷 После подписки высылай фото, чтобы продолжить.\\n👇 Жду тебя ниже!\",\n  \"parse_mode\": \"Markdown\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,-880],"id":"feb3a125-59fd-4667-8769-bb6b6698b3a1","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Recomendation":"={{ $json.output }}","chat_id":"={{ $('Code1').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1220,2540],"id":"8b5569c9-0ac8-4340-b3f8-4c9a06798a39","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","skin_type":"={{ $json.skin_type }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[440,1780],"id":"3e379ee7-e9bc-4154-b0e0-5417c6d2a0b6","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}","user_name":"={{ $('Telegram Trigger').item.json.message.chat.username }}","skin_type":"={{ $json.choices[0].message.content }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1180,380],"id":"2de934d4-9068-4de3-9baa-6bbc2830b832","name":"Append or update row in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"attributes":{"attributes":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-2480,200],"id":"54fbf55f-8670-475a-889d-a96f909d7144","name":"Information Extractor","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2540,800],"id":"4317347f-f70b-46c1-aa67-904c0a74cedc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"skin_type":"={{ $json.skin_type }}","chat_id":"={{ $json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[420,960],"id":"d8175cae-90e5-4784-a974-a673bfac1f3e","name":"Append or update row in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.Recomendation }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"name":"Результат поиска","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1460,2540],"id":"8a8bacaa-1a0a-4c21-8f99-ec75949487f6","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Готова","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"🚫 Завершить разговор","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1280,2160],"id":"117b8217-cd14-45b1-a0da-f546f95da1d2","name":"Предлоджение на подписку","webhookId":"7b6e7ef6-f7ee-4106-955f-6aadae8e0781","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":" 199₽ - 1 месяц","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[0][1].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][1].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"❌ Завершить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[2][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1520,2580],"id":"e60ca2ec-f6e3-44ba-bd9d-4cdf811cd66d","name":"Выбор подписки","webhookId":"7b6e7ef6-f7ee-4106-955f-6aadae8e0781","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,-880],"id":"7ebf2cab-c239-4c81-94ad-c09133b8fa5c","name":"Wait","webhookId":"01a3f518-2aa1-4cfc-a7f9-94733e33799a"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || $json.message?.chat?.id || 0;\n\nconst text = \n`✨ *Готова начать умный уход за кожей?*  \nВыбирай подписку и получи поддержку _AI-косметолога_ уже сегодня! 💄💬\n\n💗 *1. START - 1 месяц*  \nХочешь попробовать и увидеть эффект? Этот вариант для тебя!  \nЧто ты получаешь:\n🔹Полный подбор уходовых средств,  по оценке кожи по фото\n🔹Ссылки на проверенные товары - бери и заказывай \n🔹Актуальные скидки и акции  \n🔹Только новинки и тренды  \n🔹Поддержка AI-косметолога 24/7 - задавай любые вопросы\n🔹План ухода без путаницы и перегруза  \n🔹Доступ к *закрытому каналу* — розыгрыши, подарки и VIP-предложения 🎁\n\n💪 *2. Уверенный START - 2 месяца по супер цене🎁*  \n_Получаешь пакет START по выгодной цене_\n💰 Экономия + стабильный уход  \n📆 2 месяца заботы о коже без пауз\n\n👑 *3. Beauty PRO - 1 год*  \nУход в твоих руках на целый год!\n💸 Оплачиваешь один раз — наслаждаешься результатом круглый год.  \n🔐 Больше контента, больше подарков, больше эффективности.\n\n💎 *3. SMART skin - Получаешь сканер - интеллектуальный диагностики микробиомы кожи*  \n⚡️ Премиум-уход с первого дня с углублённым анализом кожи \n🔬 Получи в пакете *интеллектуальный сканер микробиома кожи* + Подписка на 1 месяц  \n📊 Аналитика прогресса состояния кожи и рекомендации\n\n\n💬 *Выбирай формат, который тебе подходит* - и уже сегодня AI-косметолог подберёт для тебя полный уход📜 с учётом бюджета💸 и целей.  \n\n🫶 *Чем раньше начнёшь - тем быстрее увидишь результат!* ⬇️`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"Markdown\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \" 199₽ - 1 месяц\", callback_data: \"sub_month\" },\n          { text: \" 299₽ - 2 месяца\", callback_data: \"sub_2months\" }\n        ],\n        [\n          { text: \" 1599₽ - Год\", callback_data: \"sub_year\" },\n          { text: \" 4990₽ - Сканер M.S + 1 месяц\", callback_data: \"sub_device_month\" }\n        ],\n        [\n          { text: \" Завершить\", callback_data: \"sub_cancel\" }\n        ]\n      ]\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1780,2580],"id":"92cd7dfc-d06f-44b3-aa68-f5f9ffb9c13f","name":"подписка с прибором"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Верно","additionalFields":{"callback_data":"={{ $json.type_skin }}"}},{"text":"=✏️ Изменить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"id":"1cb44baa-41ac-40eb-a46e-330ec527b0de","name":"тип кожи определен1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2100,280],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{},{"row":{"buttons":[{"text":"🩸Сухая","additionalFields":{"callback_data":"={{ $json.skin_options.dry }}"}}]}},{"row":{"buttons":[{"text":"☯️ Комби","additionalFields":{"callback_data":"={{ $json.skin_options.combo }}"}}]}},{"row":{"buttons":[{"text":"💧Жирная","additionalFields":{"callback_data":"={{ $json.skin_options.oily }}"}}]}},{"row":{"buttons":[{"text":"✅ Норм","additionalFields":{"callback_data":"={{ $json.skin_options.normal }}"}}]}}]},"additionalFields":{}},"id":"a66d0caf-c000-48e5-a86c-1e57936e422f","name":"Тип кожи НЕ отпределен1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2100,540],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type_skin }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"8b762386-e3e9-4395-a391-05e13b21e6b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Определен"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e67210d2-8ddc-4e22-bfdd-52a2753c970b","leftValue":"={{ $json.type_skin }}","rightValue":"skin_type_not_detected","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"не определен"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1680,380],"id":"377d9e49-47b5-4a65-90a1-57633068ebdd","name":"Switch6"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.callback_query.message.message_id }}","chat_id":"={{ $json.callback_query.message.chat.id }}","user_name":"={{ $json.callback_query.message.chat.username }}","budget":"={{ $json.callback_query.data }}"},"matchingColumns":["user_name"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-220,2560],"id":"4eb7eaed-5b53-48b0-952e-a1b011c2325d","name":"бюджет","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"chat_id","lookupValue":"={{ $json.result.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[280,2560],"id":"fcacf1c8-5546-4b5f-8425-bf4b60f6300d","name":"берет данные бюджет и тип кожи","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"⌛в процессе...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[20,2560],"id":"aa8a21d7-e0da-4a8d-a425-c6a06ad54ab1","name":"Send a text message","webhookId":"8e9b388c-75ce-421d-b710-1c1d3df1b15d","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"## ВЫБОР  ТИПА КОЖИ В РУЧНУЮ","height":320,"width":1100,"color":3},"type":"n8n-nodes-base.stickyNote","position":[60,2020],"typeVersion":1,"id":"e3158547-e60b-4bf7-b0bd-259328598413","name":"Sticky Note9"},{"parameters":{"jsCode":"const skinTypeRaw = $json.callback_query?.data || 'неизвестно';\nconst chatId = $json.callback_query?.from?.id || 0;\n\n// Маппинг для перевода на русский\nconst skinMap = {\n  oily: 'жирная',\n  dry: 'сухая',\n  combo: 'комбинированная',\n  normal: 'нормальная'\n};\n\n// Извлекаем английский код типа кожи\nconst code = skinTypeRaw.replace('skin_select_', '').replace(/_1046$/, '');\nconst skinType = skinMap[code] || 'Неизвестно';\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,\n      skin_type: skinType,\n      raw: skinTypeRaw\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,2140],"id":"ade823c6-7c92-49b6-9386-65cda3f46e8b","name":"extract1","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,2140],"id":"ea78bf10-7db1-4fb6-9c5a-d5bdb3720fa8","name":"Кнопки выбор бюджета2","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,2140],"id":"781baa11-c4af-4bb4-85c2-51f8a580a96b","name":"Бюджет2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","skin_type":"={{ $json.skin_type }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[440,2140],"id":"b29dfdb5-e414-4d92-ba0c-6c85be661b54","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const rawSkin = $json.callback_query?.data || '';\n\nconst map = {\n  skin_select_dry_1068: 'сухая',\n  skin_select_combo_1068: 'комбинированная',\n  skin_select_oily_1068: 'жирная',\n  skin_select_normal_1068: 'нормальная'\n};\n\nconst translatedSkin = map[rawSkin] || 'Неизвестно';\n\nreturn [\n  {\n    json: {\n      chat_id: $json.callback_query?.from?.id || 0,\n      skin_type: translatedSkin,\n      raw: rawSkin\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,960],"id":"f00596c3-2bd9-4830-b2a8-7dc202d13e9c","name":"Бюджет3"},{"parameters":{"content":"## тип кожи с кнопки верно","height":320,"width":1100,"color":3},"type":"n8n-nodes-base.stickyNote","position":[60,1300],"typeVersion":1,"id":"f5e6edf1-9620-4c12-9876-04415c0f8d7b","name":"Sticky Note10"},{"parameters":{"jsCode":"const rawSkin = $json.callback_query?.data || '';\n\nconst skinMap = {\n  skin_select_dry_1068: 'сухая',\n  skin_select_combo_1068: 'комбинированная',\n  skin_select_oily_1068: 'жирная',\n  skin_select_normal_1068: 'нормальная',\n  сухая: 'сухая',\n  комбинированная: 'комбинированная',\n  жирная: 'жирная',\n  нормальная: 'нормальная'\n};\n\nconst skinType = skinMap[rawSkin] || 'неизвестно';\n\nreturn [\n  {\n    json: {\n      skin_type: skinType\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,1420],"id":"3f638a7c-d948-42ad-876b-f4e5185b47a4","name":"extract3","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,1420],"id":"d4cff21b-a743-47e2-b25c-e0f8b76657a3","name":"Кнопки выбор бюджета3","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet4\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,1420],"id":"ea959c91-ec02-4978-8a32-d7ae84fb657e","name":"Бюджет4"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","skin_type":"={{ $json.skin_type }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[440,1420],"id":"6a8d20e2-ae44-4887-b45c-5f8899bd17b2","name":"Append or update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet7\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,960],"id":"b2950944-d30a-4db2-b62a-d31524b89b0c","name":"Бюджет5"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1880,960],"id":"44884c6d-6019-47db-ac4e-2e462f0eee97","name":"Кнопки выбор бюджета4","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"# тип кожи если не определен","height":360,"width":960,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1140,860],"typeVersion":1,"id":"578994ed-67ab-4803-a5e4-a6687a5c4a8a","name":"Sticky Note11","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"skin_type":"={{ $json.skin_type }}","chat_id":"={{ $json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1520,960],"id":"10a57644-0f87-4e95-8a16-ba57a3a1b0f4","name":"Append or update row in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const rawSkin = $json.callback_query?.data || '';\n\nconst map = {\n  skin_select_dry_1155: 'сухая',\n  skin_select_combo_1155: 'комбинированная',\n  skin_select_oily_1155: 'жирная',\n  skin_select_normal_1155: 'нормальная'\n};\n\nconst translatedSkin = map[rawSkin] || 'Неизвестно';\n\nreturn [\n  {\n    json: {\n      chat_id: $json.callback_query?.from?.id || 0,\n      skin_type: translatedSkin,\n      raw: rawSkin\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,960],"id":"ab736de4-de37-4418-9a3e-09326e8cddbd","name":"Бюджет6"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"Упс... Системная ошибка, загрузи фото заного ☺️","additionalFields":{"appendAttribution":false,"disable_notification":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1220,2700],"id":"322c88c5-01e0-479e-a7ed-a5dd15f40c69","name":"Send a text message2","webhookId":"f42543b8-ccba-4ae8-a2ab-086ca5fa941b","retryOnFail":false,"executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"// Node: Очистка и извлечение skin_type\nconst rawSkinType = $json.skin_type;\n\ntry {\n  // Убираем markdown-блок и парсим JSON\n  const cleaned = rawSkinType.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n\n  const type = parsed.candidates?.[0]?.[\"Type skin\"] || \"нормальная\";\n\n  return {\n    json: {\n      ...$json,\n      skin_type: type // теперь строка \"нормальная\" и т.п.\n    }\n  };\n\n} catch (error) {\n  return {\n    json: {\n      ...$json,\n      skin_type: \"нормальная\",\n      error: error.message\n    }\n  };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,2560],"id":"67789cc5-92f3-40a1-9857-6b581c09a7ad","name":"Code1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[300,3140],"id":"b8878dc0-35b5-42c9-b420-8bc797b2d25f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"const names = $json.name || [];\nconst descriptions = $json.description || [];\nconst links = $json.link || [];\nconst prices = $json.price || [];\n\nlet result = '✨ *Вот что я подобрала из лучших средств по уходу за лицом, подходящих для вашего типа кожи и бюджета:*\\n\\n';\n\nfor (let i = 0; i < names.length; i++) {\n  const name1 = names[i] || '—';\n  const name2 = names[i + 1] || '—'; // Доп. название\n  const description = descriptions[i] || '—';\n  const link = links[i] || '—';\n  const price = prices[i] || '—';\n\n  result += `🖼 *Photo*\\n\\n`; // Пока без фото — текстовая заглушка\n  result += `🌟 *${name1}*\\n\\n`;\n  result += `✅ _${name2}_\\n\\n`;\n  result += `✨*sale:*\\n\\n`;\n  result += `💸 *price: ${price}₽*\\n\\n`;\n  result += `🏅*Рейтинг*: (РЕЙТИНГ)\\n\\n`;\n  result += `🔗 [Перейти к товару](${link})\\n`;\n  result += `\\n------\\n\\n`;\n}\n\nreturn {\n  json: {\n    chat_id: $json.chat_id || 0,\n    text: result.trim().substring(0, 4000),\n    parse_mode: 'Markdown',\n    disable_web_page_preview: false\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1000,2840],"id":"c5cd7b72-b5d0-4206-a1f2-9f471686b32d","name":"Code2","disabled":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💖 Получить весь список","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🔁 Хочу позже","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Результат поиска1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2140,2540],"id":"baa4b7fc-30b7-4da4-858a-29f356f9aac2","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1680,2540],"id":"114a5d0f-d8ee-4fc2-a7ae-7088ec24cf8b","name":"Wait1","webhookId":"56b9100d-a89e-46db-83c4-ca5a965d3ff6"},{"parameters":{"workflowId":{"__rl":true,"value":"fb37qdR5lhRGoyfw","mode":"list","cachedResultName":"subscription"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1240,580],"id":"94d6381b-18b5-43a0-a673-5b887feea286","name":"Execute Workflow","disabled":true},{"parameters":{"jsCode":"{\n  \"chat_id\": {{$json.callback_query.from.id}},\n  \"message_id\": {{$json.callback_query.message.message_id}},\n  \"user_id\": {{$json.callback_query.from.id}},\n  \"username\": \"{{$json.callback_query.from.username}}\",\n  \"first_name\": \"{{$json.callback_query.from.first_name}}\",\n  \"subscription_type\": \"{{$json.callback_query.data}}\"\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,2600],"id":"63c17e41-83e1-4595-8466-97c874e14017","name":"Code5","disabled":true},{"parameters":{"mode":"raw","jsonOutput":"{{({\n  chat_id: $json.callback_query.from.id,\n  message_id: $json.callback_query.message.message_id,\n  user_id: $json.callback_query.from.id,\n  username: $json.callback_query.from.username,\n  first_name: $json.callback_query.from.first_name,\n  subscription_type: $json.callback_query.data\n})}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2060,1660],"id":"72f89ac3-c60b-4c0f-a494-f877034d3562","name":"Edit Fields2","disabled":true},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      chat_id: $json.callback_query.from.id,\n      message_id: $json.callback_query.message.message_id,\n      user_id: $json.callback_query.from.id,\n      username: $json.callback_query.from.username,\n      first_name: $json.callback_query.from.first_name,\n      subscription_type: $json.callback_query.data,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,1680],"id":"90d5e899-77ff-4987-bb56-05f8dd240b53","name":"Code6"},{"parameters":{"method":"POST","url":"https://primary-production-e7406.up.railway.app/webhook-test/5d204081-9cdb-4ab2-a61e-a5775a694f5b","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": \"{{$json.chat_id}}\",\n  \"message_id\": \"{{$json.message_id}}\",\n  \"subscription_type\": \"{{$json.subscription_type}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1080,1680],"id":"44e7b3d3-bcf2-4692-8c7d-6d5533c549e4","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1020,1000],"id":"2ca2d91d-8f55-454a-947e-c9d8679b4acf","name":"HTTP typing...1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo","mode":"list","cachedResultName":"goldapple ТОНЕР","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":474824266,"mode":"list","cachedResultName":"https://goldapple.ru/catalogsea","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit#gid=474824266"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[540,3140],"id":"d4a5b74e-297e-4955-b473-46a8c19feeae","name":"ТОНЕР","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU","mode":"list","cachedResultName":"крем для лица","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1836551119,"mode":"list","cachedResultName":"сухая кожа","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU/edit#gid=1836551119"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[980,3140],"id":"d23cd9fc-0e55-4c44-a4dc-8d7277a9f3e3","name":"КРЕМ ДЛЯ СУХОЙ КОЖИ","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo","mode":"list","cachedResultName":"goldapple ТОНЕР","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":474824266,"mode":"list","cachedResultName":"https://goldapple.ru/catalogsea","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit#gid=474824266"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[820,3400],"id":"0054f045-bfbf-48e4-86a7-221972e199a8","name":"SPF","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo","mode":"list","cachedResultName":"goldapple ТОНЕР","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":474824266,"mode":"list","cachedResultName":"https://goldapple.ru/catalogsea","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit#gid=474824266"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1180,3400],"id":"6f32ea1f-1fff-40e7-b2b2-f1bb26469b00","name":"КРЕМ ДЛЯ ЖИРНОЙ КОЖИ","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU","mode":"list","cachedResultName":"крем для лица","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":35436979,"mode":"list","cachedResultName":"нормальная кожа","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU/edit#gid=35436979"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[800,3140],"id":"1df981d3-b8f7-4c51-8540-69d2f96931d7","name":"КРЕМ ДЛЯ НОРМАЛЬНОЙ КОЖИ","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU","mode":"list","cachedResultName":"крем для лица","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1523024371,"mode":"list","cachedResultName":"комбинированная кожа","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CAx-BEdk0XJqYBIV1NqhH8IFnpZWx4hXl6MfX6Z9ncU/edit#gid=1523024371"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1160,3140],"id":"77189fae-5f18-4897-a9a8-e9e76393cbcb","name":"КРЕМ ДЛЯ КОМБИНИРОВАННОЙ КОЖИ","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}}],"connections":{"Get Image1":{"main":[[{"node":"Extract1","type":"main","index":0}]]},"Convert1":{"main":[[{"node":"VISION","type":"main","index":0}]]},"Get ready1":{"main":[[{"node":"Get Image1","type":"main","index":0}]]},"Extract1":{"main":[[{"node":"Convert1","type":"main","index":0}]]},"VISION":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"HTTP typing...1","type":"main","index":0}]]},"Бюджет":{"main":[[{"node":"Кнопки выбор бюджета","type":"main","index":0}]]},"Search Agent":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}],[{"node":"Send a text message2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Get ready1","type":"main","index":0}],[{"node":"Бюджет3","type":"main","index":0}],[{"node":"бюджет","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}],[{"node":"подписка с прибором","type":"main","index":0}],[{"node":"extract","type":"main","index":0}],[],[{"node":"extract1","type":"main","index":0}],[{"node":"бюджет","type":"main","index":0}],[{"node":"бюджет","type":"main","index":0}],[{"node":"бюджет","type":"main","index":0}],[{"node":"Бюджет3","type":"main","index":0}],[{"node":"Бюджет3","type":"main","index":0}],[{"node":"Бюджет3","type":"main","index":0}],[{"node":"extract3","type":"main","index":0}],[{"node":"extract3","type":"main","index":0}],[{"node":"extract3","type":"main","index":0}],[{"node":"extract3","type":"main","index":0}],[{"node":"Бюджет6","type":"main","index":0}],[{"node":"Бюджет6","type":"main","index":0}],[{"node":"Бюджет6","type":"main","index":0}],[{"node":"Бюджет6","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}]]},"Кнопки выбор бюджета":{"main":[[]]},"Code3":{"main":[[{"node":"Результат поиска1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Предлоджение на подписку","type":"main","index":0}]]},"Code":{"main":[[]]},"extract":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"Бюджет1":{"main":[[{"node":"Кнопки выбор бюджета1","type":"main","index":0}]]},"start":{"main":[[{"node":"Wait","type":"main","index":0}]]},"IF NO":{"main":[[{"node":"запись нового пользователя","type":"main","index":0}],[{"node":"start","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"IF NO","type":"main","index":0}]]},"запись нового пользователя":{"main":[[{"node":"start","type":"main","index":0}]]},"Подписался ли человек?":{"main":[[{"node":"Продолжаем","type":"main","index":0}],[{"node":"Просим подписаться, так как это не было сделано","type":"main","index":0}]]},"Просим подписаться, так как это не было сделано":{"main":[[{"node":"Нажатие кнопки1","type":"main","index":0}]]},"Проверяем подписался ли человек":{"main":[[{"node":"Подписался ли человек?","type":"main","index":0}]]},"Нажатие кнопки1":{"main":[[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Продолжаем":{"main":[[]]},"Switch1":{"main":[[{"node":"GET profile","type":"main","index":0}],[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Append or update row in sheet2":{"main":[[{"node":"Результат поиска","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Бюджет1","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Append or update row in sheet6":{"main":[[{"node":"Бюджет","type":"main","index":0}]]},"Результат поиска":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get ready1","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"тип кожи определен1","type":"main","index":0}],[{"node":"Тип кожи НЕ отпределен1","type":"main","index":0}]]},"бюджет":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"берет данные бюджет и тип кожи":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"берет данные бюджет и тип кожи","type":"main","index":0}]]},"подписка с прибором":{"main":[[{"node":"Выбор подписки","type":"main","index":0}]]},"extract1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Бюджет2":{"main":[[{"node":"Кнопки выбор бюджета2","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Бюджет2","type":"main","index":0}]]},"Бюджет3":{"main":[[{"node":"Append or update row in sheet6","type":"main","index":0}]]},"extract3":{"main":[[{"node":"Append or update row in sheet4","type":"main","index":0}]]},"Бюджет4":{"main":[[{"node":"Кнопки выбор бюджета3","type":"main","index":0}]]},"Append or update row in sheet4":{"main":[[{"node":"Бюджет4","type":"main","index":0}]]},"Бюджет5":{"main":[[{"node":"Кнопки выбор бюджета4","type":"main","index":0}]]},"Append or update row in sheet7":{"main":[[{"node":"Бюджет5","type":"main","index":0}]]},"Бюджет6":{"main":[[{"node":"Append or update row in sheet7","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Search Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Search Agent","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[]]},"Wait1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Execute Workflow":{"main":[[]]},"Edit Fields2":{"main":[[]]},"Code6":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"ТОНЕР":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"КРЕМ ДЛЯ СУХОЙ КОЖИ":{"ai_tool":[[]]},"SPF":{"ai_tool":[[]]},"КРЕМ ДЛЯ ЖИРНОЙ КОЖИ":{"ai_tool":[[]]},"КРЕМ ДЛЯ НОРМАЛЬНОЙ КОЖИ":{"ai_tool":[[]]},"КРЕМ ДЛЯ КОМБИНИРОВАННОЙ КОЖИ":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"pB6Mi8g6Z5wz472U"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"856a563c-71a1-47fb-9452-8951a29839de","triggerCount":1,"tags":[]}