2.ai-k.loo-beauty-copy-vMOojyl0aOEDZDGA.json
{"createdAt":"2025-07-04T02:54:45.573Z","updatedAt":"2025-07-04T04:36:45.956Z","id":"vMOojyl0aOEDZDGA","name":"2.Ai K.Loo Beauty copy","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $json['https://primary-production-e7406'] }}"},"id":"dd53f3b2-7552-48d0-9087-81fe1b175ad7","name":"Get Image1","type":"n8n-nodes-base.telegram","position":[360,380],"typeVersion":1.2,"webhookId":"407518c9-1bba-4c73-9c44-18c08b913d54","retryOnFail":false,"maxTries":2,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Get ready1').item.json.photo_file_id }}"}},"id":"6f5b9fa9-657b-4beb-a7bf-e697a3d68590","name":"Convert1","type":"n8n-nodes-base.convertToFile","position":[740,380],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"736825cf-f240-4f57-afb0-20e3f3b15a11","name":"={{ $json.webhookUrl }}","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,380],"id":"86c94016-eab7-4cca-b8d5-c420cee2b4ef","name":"Get ready1"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"7bb558c8-13aa-484c-ab3e-cd09dc777fa1","name":"Extract1","type":"n8n-nodes-base.extractFromFile","position":[540,380],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=You are a certified dermatologist.\n\nInput: A photo of a client’s face.\n\nYour task:\n\nAnalyze the skin in the image.\n\nDetermine the likely skin type: жирная / сухая / комбинированная / нормальная.\n\nIndicate your confidence level as a percentage between 0 and 100.\n\nIf the face is not visible or analysis is not possible — return an empty list.\n\nRespond strictly in JSON format. No explanations, no comments, no text outside the JSON.\n\n\nExample:\n{\n  \"candidates\": [\n    { \"Type skin\": \"жирная\", }\n  ]\n}\n","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[980,380],"id":"9b3be853-af84-483f-bd8f-939a862788ac","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"functionCode":"const visionRaw = $json?.skin_type || \"\"; // Используем поле из таблицы\nlet visionParsed = {};\nlet detectedSkinType = null;\nlet confidence = null;\nconst msgId = $json?.message_id || \"000\";\nconst chatId = $json?.chat_id?.toString() || null;\n\ntry {\n  console.log(\"RAW JSON для разбора:\", visionRaw);\n\n  const cleaned = visionRaw\n    .trim()\n    .replace(/^```json/, '')\n    .replace(/```$/, '')\n    .trim();\n\n  console.log(\"Чистый JSON для парсинга:\", cleaned);\n\n  visionParsed = JSON.parse(cleaned);\n\n  const candidate = visionParsed?.candidates?.[0] || {};\n\n  detectedSkinType = (\n    candidate[\"Type skin\"] ||\n    candidate[\"type_skin\"] ||\n    candidate[\"Тип кожи\"]\n  )?.toLowerCase() || null;\n\n  confidence = candidate.Confidence || candidate.confidence || null;\n\n  console.log(\"✅ Определён тип кожи:\", detectedSkinType);\n  console.log(\"📈 Уверенность:\", confidence);\n} catch (error) {\n  console.log(\"❌ Ошибка при JSON.parse:\", error.message);\n}\n\n// ✅ Если удалось определить тип кожи\nif (detectedSkinType) {\n  const cbYes = `Type_skin_yes_${msgId}`;\n  const cbManual = `Type_skin_manual_${msgId}`;\n\n  return [{\n    json: {\n      step: \"confirm_skin_type_from_photo\",\n      route: \"skin_type_confirmed\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: detectedSkinType,\n      confidence,\n      cb_yes: cbYes,\n      cb_no: cbManual,\n      text: `🌸👸 Я проанализировала фото и предполагаю, что у тебя *${detectedSkinType}* кожа. Это верно?`,\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"✅ Верно\", callback_data: cbYes },\n            { text: \"✏️ Изменить\", callback_data: cbManual }\n          ]\n        ]\n      }\n    }\n  }];\n}\n\n// ❌ Тип кожи не определён — fallback кнопки\nconst cbOily = `skin_select_oily_${msgId}`;\nconst cbDry = `skin_select_dry_${msgId}`;\nconst cbCombo = `skin_select_combo_${msgId}`;\nconst cbNormal = `skin_select_normal_${msgId}`;\n\nreturn [{\n  json: {\n    step: \"skin_manual_buttons\",\n    route: \"skin_type_not_detected\",\n    type_skin: null,\n    message_id: msgId,\n    chat_id: chatId,\n    text: \"🤔 Не удалось определить тип кожи по фото.\\n👇 Пожалуйста, выбери свой тип кожи:\",\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"Жирная\", callback_data: cbOily },\n          { text: \"Сухая\", callback_data: cbDry }\n        ],\n        [\n          { text: \"Комбинированная\", callback_data: cbCombo },\n          { text: \"Нормальная\", callback_data: cbNormal }\n        ]\n      ]\n    },\n    skin_options: {\n      oily: cbOily,\n      dry: cbDry,\n      combo: cbCombo,\n      normal: cbNormal\n    }\n  }\n}];\n"},"id":"83c861ae-72a9-41a5-889c-145d5d272eb5","name":"Parse Vision","type":"n8n-nodes-base.function","typeVersion":1,"position":[1400,380]},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1020,620],"id":"e7d2370d-06c9-4a89-a08b-6d74f2796209","name":"Telegram Trigger","webhookId":"f5051f26-8cbf-4d43-acde-f7da5af1a7ae","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"=","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3bf500e-57d1-4572-b54f-8f3fa95a34e4","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"pay_sub","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"получить полный список"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3fd2c52-f967-4920-b2ff-9fb2b19c21cb","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[1][0].callback_data }}","rightValue":"later","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":" Хочу позже"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b02cf08-4548-47c8-878a-3071c61ef96d","leftValue":"={{ $json.callback_query.data }}","rightValue":"ready_for_offer","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"выбор подписки"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0d8f7b2-e021-443a-bd62-ef744adae66d","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][1].callback_data }}","rightValue":"stop_conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Завершить"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0feea5a-3500-4a03-a5c0-e921e8c33886","leftValue":"={{ $json.message.text }}","rightValue":"/v","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"свой ответ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"589befe2-5c74-4532-a0ce-d0139422a1bd","leftValue":"={{ $json.message.text }}","rightValue":"=/support","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"support"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"53366f54-cccf-4f80-b790-da01506cfcf9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-280,760],"id":"edd0d281-b3e4-418c-935e-8a4235dbcbf9","name":"Switch"},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet6\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,980],"id":"82acb6bd-1675-4055-bc52-8f82578a1a88","name":"Бюджет"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[740,980],"id":"ab956b48-7e75-4248-9e8b-782bcd0d8d54","name":"Кнопки выбор бюджета","webhookId":"f515ee3e-b637-4ac7-a518-26fb7bbfd7c6","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"# БЮДЖЕТ","height":360,"width":960,"color":3},"type":"n8n-nodes-base.stickyNote","position":[60,860],"typeVersion":1,"id":"c881ebf3-0379-4331-835b-a8269d06dd1c","name":"Sticky Note","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.budget }} {{ $json.skin_type }}","hasOutputParser":true,"options":{"systemMessage":"=You are a beauty consultant with artificial intelligence, an expert in cosmetology and dermatology. Communicate with users in a friendly tone — like with a friend who understands skin care.\n\nYour task:\nChoose ** one ** facial toner that matches the user's skin type \"{{$json.skin_type }}\" and ** matches a realistic price range** — from **75% to 100%** of the budget determined by the user `_BOS_{ $json.budget}}` (in Russian rubles).\n\nExample: If the user's budget is 2000 rubles, find an item priced from **1,500 to 2,000 rubles**. Do not offer products cheaper than 75% of the budget.\n\n, Use the services of the online store only https://goldapple.ru/  \nFind the ** real product** and provide a valid ** link to the product page** from the website.\n\n🧴 You should only offer ** toners**.  \nDO NOT offer other skin care products (for example, other cleansers, creams, masks, SPF products, etc.).\n\nYour response must include the following:\n- Only **1 product**\n\n- In the following format:\nHere is a selection of the best face care products suitable for your skin type and budget.:\n\n✨Вот чт о я тебе подобрала из лучших средств по уходу за лицом, подходящих для вашего типа кожи и бюджета:\n\n🌟 *Product Name*  \n, _The brief description_  \n💸 *Price*  \n🔗 Product link (real)\n\nDo not add additional recommendations or alternative options. Strictly adhere to the assignment.  \n* ** Always answer in Russian — this is mandatory.**  \nAlways add ** emojis ** to make the message clear and easy to read."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[800,1460],"id":"88939fc1-8ccb-475d-9b6d-f174f252233d","name":"Search Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,1720],"id":"ebb0ef66-1168-4b55-addf-d2e300cee83b","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Верно","additionalFields":{"callback_data":"=/b37629412"}},{"text":"=✏️ Изменить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"id":"87957c33-6235-449c-af78-2182c71ae16a","name":"тип кожи определен","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1920,220],"webhookId":"1ba2cbe2-8b01-4d18-9fbd-57ea7ab1f90d","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"=💧Жирная","additionalFields":{"callback_data":"={{ $json.skin_options.oily }}"}},{"text":"🩸Сухая","additionalFields":{"callback_data":"={{ $json.skin_options.dry }}"}},{"text":"➕➖Комби","additionalFields":{"callback_data":"={{ $json.skin_options.combo }}"}},{"text":"✔️Норм","additionalFields":{"callback_data":"={{ $json.skin_options.normal }}"}}]}}]},"additionalFields":{}},"id":"36bce754-18de-4c92-9ebe-8cffc65a2bb7","name":"Тип кожи НЕ отпределен","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1920,520],"webhookId":"89c6cbc7-64dd-4e66-9d35-b562c7dbfcc2","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"## РЕЗУЛЬТАТ","height":540,"width":2120},"type":"n8n-nodes-base.stickyNote","position":[40,1300],"typeVersion":1,"id":"030b2b4d-e28f-4bb7-adc8-69e66f38ef9f","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true},"id":"8b762386-e3e9-4395-a391-05e13b21e6b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Определен"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e67210d2-8ddc-4e22-bfdd-52a2753c970b","leftValue":"={{ $json.type_skin }}","rightValue":"skin_type_not_detected","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"не определен"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1640,380],"id":"62d6a3e1-dbfa-48ea-8456-ba81bff39057","name":"Switch3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const sheetData = $json || {};\n\nconst chatId = sheetData.chat_id || 0;\nconst messageId = sheetData.message_id || 0;\nconst typeSkin = sheetData.skin_type || \"жирная\";\nconst budget = sheetData.budget || \"не указан\";\nconst raw = sheetData.Recomendation || \"\";\n\n// Ищем первую markdown-ссылку\nconst linkMatch = raw.match(/\\[.*?\\]\\((.*?)\\)/);\nconst link = linkMatch ? linkMatch[1] : \"\";\n\n// Удаляем markdown, но оставляем текст\nlet cleanText = raw.replace(/\\[([^\\]]+)\\]\\((.*?)\\)/g, '$1').trim();\n\n// Делаем первую строку жирной (до первого переноса строки)\ncleanText = cleanText.replace(/^(.+?)\\n/, '**$1**\\n');\n\n// Формируем сообщение\nlet text = cleanText.substring(0, 500);\n\nif (link) {\n  text += `\\n\\n🔗 [Перейти к товару](${link})`;\n}\n\ntext += `\\n\\n💬 Хочешь весь список и индивидуальные советы?`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text.substring(0, 4000),\n    parse_mode: \"Markdown\", // добавили Markdown для форматирования\n    disable_web_page_preview: false,\n    reply_markup: {     inline_keyboard: [       [{ text: \"💖 Получить весь список\", callback_data: \"pay_sub\" }],       [{ text: \"🔁 Хочу позже\", callback_data: \"later\" }]     ]   }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,1460],"id":"220f398b-b874-48fc-bd6d-de86fd568915","name":"Code3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || 0;\n\nconst text = \n`✨ *ТЫ - НА ШАГ БЛИЖЕ К КОЖЕ МЕЧТЫ.*\n\nХватит тратить часы на обзоры, деньги на «вдруг подойдёт» и силы на догадки.  \nС _AI-косметологом_ ты экономишь и время, и бюджет - и точно подберёшь, что работает *именно для тебя* 💖\n\n🎁 *Что ты получаешь с подпиской:*\n\n💄 *6-8 уходовых средств* — подобранных под твой тип кожи и бюджету  \n🛍️ *Ссылки на проверенные товары* — бери и заказывай  \n🔥 *Актуальные скидки и акции*  \n🆕 *Только новинки и тренды*  \n🤖 *Поддержка AI-косметолога 24/7* — задавай любые вопросы  \n🧖‍♀️ *План ухода без путаницы и перегруза*  \n🎉 *Доступ в закрытый канал* — с розыгрышами, конкурсами и персональными акциями\n\n✨ *Присоединяйся к «Beauty Club K.Loo» — красота начинается с правильно подобранного ухода!*  \n\n👉 Готова попробовать? Просто нажми на кнопку — и всё остальное сделает AI косметолог.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"MarkdownV2\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"✅ Готова\", callback_data: \"ready_for_offer\" }\n        ],\n        [\n          { text: \"🚫 Завершить разговор\", callback_data: \"stop_conversation\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,2040],"id":"4159d633-315f-4c08-a6e0-15a485cf1ff8","name":"Code4"},{"parameters":{"content":"## РАСПОЗНАНИЕ ТИПА КОЖИ ПО ФОТО","height":580,"width":2420,"color":7},"type":"n8n-nodes-base.stickyNote","position":[40,140],"typeVersion":1,"id":"de971849-c963-475b-b180-41a57d9a7ba0","name":"Sticky Note2"},{"parameters":{"content":"## ПРЕДЛОЖЕНИЕ НА ПОДПИСКУ","height":360,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","position":[40,1940],"typeVersion":1,"id":"e928b197-fa24-47e9-81b0-32de7e46387c","name":"Sticky Note3"},{"parameters":{"content":"## ВВЕДЕНИЕ ТИПА КОЖИ В РУЧНУЮ","height":320,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-1020,1360],"typeVersion":1,"id":"437adb7d-2f52-408b-bafa-0aa568c04159","name":"Sticky Note4"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || $json.message?.chat?.id || 0;\n\nconst text = \n`💫 *Выбери свою подписку и начни умный уход уже сегодня:*\n\n💗 *1. Старт — 1 месяц*  \nПодходит, если хочешь попробовать и оценить результат.  \n_Все функции доступны уже с первой минуты._\n\n💪 *2. Уверенный старт — 2 месяца по супер цене🎁*  \nИдеально, если готова инвестировать в стабильный уход.  \n_Получаешь больше, платишь меньше._\n\n👑 *3. Beauty PRO — 1 год*  \nДля тех, кто хочет взять уход под полный контроль и сэкономить.  \n_Самая выгодная подписка: платишь раз в год — заботишься каждый день._\n\n💬 *Выбирай формат, который тебе подходит* – и уже сегодня AI-косметолог подберёт для тебя полный уход 📜 с учётом бюджета💸 и целей.  \n\n🫶 *Чем раньше начнёшь – тем быстрее увидишь результат!* ⬇️`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"Markdown\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"💗 199₽ — 1 месяц\", callback_data: \"sub_month\" },\n          { text: \"💪 299₽ — 2 месяца\", callback_data: \"sub_2months\" }\n        ],\n        [\n          { text: \"👑 1599₽ — Год\", callback_data: \"sub_year\" },\n          { text: \"❌ Завершить\", callback_data: \"sub_cancel\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,2480],"id":"520fed25-8a8c-4eff-9a7f-c453493b98a1","name":"Code"},{"parameters":{"content":"## ВЫБОР ПОДПИСКИ ","height":360,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","position":[40,2360],"typeVersion":1,"id":"c175f225-c6c6-4be0-9d9f-d70b34c0696b","name":"Sticky Note5"},{"parameters":{"jsCode":"const text = $json.message.text.replace(/^\\/v\\s+/i, '');\nreturn [{ json: { chat_id: $json.message.chat.id, raw: text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,1460],"id":"1e806342-4b38-4c56-808b-c580dc997f92","name":"extract","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-260,1460],"id":"e74623ee-777b-46d0-abde-184ad57b83ff","name":"Кнопки выбор бюджета1","webhookId":"de518a92-c018-4ff1-8d78-a9a8e5ebea7b","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet3\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,1460],"id":"9e89d23f-9e5d-4b54-b4f9-ecdad6159c54","name":"Бюджет1"},{"parameters":{"toolDescription":"Use this tool to search the https://goldapple.ru/ ","method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-4a429c6f884e4b9a9eae1e7c8fdeaaac"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://goldapple.ru/\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[980,1720],"id":"0e2b78ae-c69e-4e5b-9dc6-cf015eefb835","name":"Firecrawl Search","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1360,480],"id":"2e97294a-1c43-4479-b410-b95a9cd08b95","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💧 Сухая","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🛢️ Жирная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🔀 Комбинированная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[2][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"😊 Нормальная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[3][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-880,240],"id":"8ea71a89-6143-4afd-9a04-d9fc62450f57","name":"Send a text message2","webhookId":"b6c5b7f5-6bda-49f7-88cc-7a474f9f365f","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.callback_query.message.chat.id }}\",\n  \"text\": \"✍️ Выбери свой тип кожи, чтобы я могла подобрать тебе идеальный уход\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [{ \"text\": \"💧 Сухая\", \"callback_data\": \"skin_dry\" }],\n      [{ \"text\": \"🛢️ Жирная\", \"callback_data\": \"skin_oily\" }],\n      [{ \"text\": \"🔀 Комбинированная\", \"callback_data\": \"skin_combo\" }],\n      [{ \"text\": \"😊 Нормальная\", \"callback_data\": \"skin_normal\" }]\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,240],"id":"cb8d2c75-6a14-4e33-b253-ff418ec4433b","name":"Edit Fields"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-520,-160],"id":"884f0606-f44c-4cd7-9591-877bdbbdc078","name":"Кнопки выбор бюджета2","webhookId":"91890f94-7707-459b-93bf-79fb5a6f2ef9","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-760,-160],"id":"50742a6d-17f7-4b0d-93ba-9a26ab829541","name":"Бюджет2","disabled":true},{"parameters":{"content":"#ИЗМЕНИТЬ ТИП КОЖИ","height":320,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1420,160],"typeVersion":1,"id":"c0f97a86-8ed6-4920-a608-7f7a4222347f","name":"Sticky Note7"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chat_id }}","file":"https://i.postimg.cc/RFprRLhq/image.jpg","additionalFields":{"caption":"=*Привет {{ $json.user_name }}!* 👋  \n\n🫶 Я *Карина* — твой бьюти-блогер и проводник в мир идеального ухода.  \n\n🤖 С помощью _AI-косметолога_ помогу тебе подобрать уход по фото 📷 — точно, умно и без рекламы. Только твой тип кожи и бюджет 💸.  \n\n🧠 Подбор сохраняется в профиле — можешь вернуться в любой момент и задать вопросы _AI-косметологу_.  \n\n_Что тебе надо сделать:_  \n✅ Подпишись на мой канал @beauty_s_karinoy - это *обязательное* условие, чтоб продолжить дальше.  \n\n📸 Отправь фото без макияжа (в сжатом виде), и _AI-косметолог_ определит тип кожи и подберёт лучшие косметические средства.  \n\n📝 Не хочешь отправлять фото?  \nТогда напиши вручную:  \nПример: /v жирная с акне  \n\n*Ну что, начнём?* 👇\n"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-880],"id":"5a0df68b-fbd9-41c5-935a-a396531c0685","name":"start","webhookId":"67f996bd-7b72-4def-a5ce-99e2d6d5d57a","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd664b4-20b3-4d51-8000-20892b93782d","leftValue":"={{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,-920],"id":"30cd9aac-f124-4522-81a9-54b3f9480443","name":"IF NO"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.body.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[180,-920],"id":"f93b7e91-f8af-4f9e-b9b2-3b0edd57380b","name":"GET profile","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"{{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","user_name":"{{ $json.message.chat.username }}","message_id":"{{ $json.message.message_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[580,-980],"id":"ec723163-7456-47a2-a8b7-a763ae7a1168","name":"запись нового пользователя","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19602ee4-5a4a-4cc9-bd0e-b144c2b29d6b","leftValue":"={{ $json.result.status }}","rightValue":"member","operator":{"type":"string","operation":"equals"}},{"id":"1cfe0888-44e6-40a4-917e-fa2d3ac02443","leftValue":"={{ $json.result.status }}","rightValue":"administrator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"16a6c0b3-f658-426f-99e6-facda42cc643","leftValue":"={{ $json.result.status }}","rightValue":"creator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,-300],"id":"64b3af54-d330-477a-9925-5538beaa5be5","name":"Подписался ли человек?"},{"parameters":{"chatId":"={{ $('IF NO').item.json.chat_id }}","text":"✨Если ты еще не в клубе K.Loo, то сейчас самре время присоединиться!  \n1.Перейди по ссылке @beauty_s_karinoy \n2.Нажми «Подписаться» И вернись за подборкой! Жду тебя💖","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-200],"id":"b2e616e3-7129-4ef2-b8bb-2916dc334c5e","name":"Просим подписаться, так как это не было сделано","webhookId":"accab46c-4f5d-40b7-b102-e6c1ccff9fa1","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"url":"https://api.telegram.org/bot7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/getChatMember","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"@beauty_s_karinoy"},{"name":"user_id","value":"={{ $json.callback_query.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,-300],"id":"3cdbf6ad-a4bd-4605-b5cf-6b0704ccce6b","name":"Проверяем подписался ли человек"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03064e87-87f6-4278-aec2-8a55e2e0407e","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,-200],"id":"fd954ddc-440d-4f29-bd29-c1b9396b6523","name":"Нажатие кнопки1"},{"parameters":{"chatId":"={{ $json.result.user.id }}","text":"💟Супер! Жду твоё фото📷","replyMarkup":"forceReply","forceReply":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-420],"id":"eb4067eb-b5ac-4421-98e8-5cc69a723f25","name":"Продолжаем","webhookId":"c171bd61-da23-4ab0-9b60-8a64c5a321ea","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1700,-880],"id":"b3f5b649-a65c-4fb9-be0d-e84255cb8c48","name":"start1","webhookId":"4c7b4669-43e4-42fe-a0d3-30043e5bb5ff","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"method":"POST","url":"https://primary-production-e7406.up.railway.app/webhook-test/6b9d00ff-1a08-4e5d-a9b8-80d8ab40cd5c","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,-480],"id":"5c61f1ee-2602-4b13-b544-263e6f6ca9f2","name":"HTTP Request","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.webhookUrl }}","rightValue":"https://primary-production-e7406.up.railway.app/webhook-test/da43b755-3ddd-41d4-a4ed-685c7eac4842","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ffe4700-9916-46a7-9c5d-416f7f56210c","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-100,-900],"id":"4728b0bc-5cb7-4fca-adb2-cb3a2ebfe8f5","name":"Switch1"},{"parameters":{"content":"# /start  И СОЗДАНИЕ ПРОФИЛЯ\n\n\n\n","height":372,"width":858,"color":7},"id":"591dd3d8-cbf5-453b-aa8f-580dbda6c023","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[100,-1060],"typeVersion":1},{"parameters":{"content":"## подписка","height":620,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[40,-520],"typeVersion":1,"id":"dd3774ad-fa50-4564-abb7-13f458746209","name":"Sticky Note8"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.result.chat.id }}\",\n  \"text\": \"✅ Подпишись! Всё готово для начала. После подписки высылай фото📷, чтобы продолжить 👇\",\n  \"parse_mode\": \"Markdown\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,-880],"id":"e99b9f25-24c5-4db5-8e6d-87c8c736ae72","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.callback_query.message.message_id }}","chat_id":"={{ $json.callback_query.message.chat.id }}","user_name":"={{ $json.callback_query.message.chat.username }}","budget":"={{ $json.callback_query.data }}"},"matchingColumns":["user_name"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[320,1460],"id":"a87fdcb7-b48c-4c50-a5a4-3556b5277909","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"chat_id","lookupValue":"={{ $json.chat_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[520,1460],"id":"cbbc351e-e96b-44ad-adf0-0198b7e235dc","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Recomendation":"={{ $json.output }}","chat_id":"={{ $('Get row(s) in sheet').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1280,1460],"id":"66fa49b6-bfc7-4f8b-9a01-58d95b12b10b","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","skin_type":"={{ $json.raw }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-720,1460],"id":"3f6088d0-d0a8-435c-b180-af02856f7eed","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}","user_name":"={{ $('Telegram Trigger').item.json.message.chat.username }}","skin_type":"={{ $json.choices[0].message.content }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1180,380],"id":"8f7224be-85c5-45c2-b81c-a998aebe58d4","name":"Append or update row in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"attributes":{"attributes":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-2480,200],"id":"2358a50b-f5a6-4501-ad64-fa988b8a4190","name":"Information Extractor","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2540,800],"id":"25664707-f181-47ae-8832-febbc8f633e0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"skin_type":"={{ $json.callback_query.data }}","chat_id":"={{ $json.callback_query.message.chat.id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[360,980],"id":"b91081eb-fa5c-405e-8fd9-19274f7f4078","name":"Append or update row in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=👋 Привет {{ $json.message.chat.username }}!  \n\n👩‍🦳Я личный помощник Карины, меня зовут Настя, как я могу тебе помочь! 💖 ","replyMarkup":"replyKeyboard","replyKeyboardOptions":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1880,980],"id":"34fa66e8-8565-41fb-8490-c8f56d80bf44","name":"Настя помощник","webhookId":"acf3f72d-2f75-4ebc-86ba-20aa93278954","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💖 Получить весь список","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🔁 Хочу позже","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Результат поиска","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1840,1460],"id":"2f66ce43-a75a-438b-b61c-fa9a9fbe20eb","webhookId":"1b29b919-da1c-4b2f-92fd-655a8e5fc59f","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Готова","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"🚫 Завершить разговор","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,2040],"id":"81d1146b-40b8-4c99-8c40-d5aa7195776a","name":"Предлоджение на подписку","webhookId":"d0e458d3-c005-4a5b-9906-c57f611814ba","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💗 199₽ - 1 месяц","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[0][1].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][1].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,2480],"id":"2feaf2c3-e259-41c9-9fc0-938f01c50a0d","name":"Выбор подписки","webhookId":"b0c6773b-09e0-4f7e-b75d-8bef45fd4354","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","message_id":"={{ $json.callback_query.message.message_id }}","user_name":"={{ $json.callback_query.from.username }}","end_subscription":"={{ $now.plus({ days: 31 }).toFormat('dd/LL/yyyy') }}\n"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4460,640],"id":"eebd2706-0b3d-4360-8948-a015770dcb05","name":"Новый подписчик /1 мес","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","message_id":"=","user_name":"=","end_subscription":"{{ $now.plus({ days: 62 }).toFormat('dd/LL/yyyy') }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4460,840],"id":"c35713ea-c19a-46a8-9f60-f0e19f35d0ee","name":"Новый подписчик /2 мес","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","message_id":"=","user_name":"=","end_subscription":"{{ $now.plus({ days: 365 }).toFormat('dd/LL/yyyy') }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4460,1040],"id":"7bb637c3-fb68-486b-900e-d3c86730b28d","name":"Новый подписчик /1 год","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4660,640],"id":"5e69cdca-c582-4494-a9d0-9139823772ec","name":"Ю касса 199","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"299.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"299.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4660,840],"id":"725a16cd-4828-4d92-861c-cf4ed4eacdbc","name":"Ю касса 299","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"1599.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"1599.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4660,1040],"id":"ff896e93-ce97-4bdf-9707-3d4fed9ef433","name":"Ю касса год","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"path":"8a279f78-c819-4bb1-a4c1-0ea4fbb8845f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3820,20],"id":"45fb6a21-5ae0-4786-bc6c-013ef537d597","name":"Webhook1","webhookId":"8a279f78-c819-4bb1-a4c1-0ea4fbb8845f","disabled":true},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4500,20],"id":"33ba54c2-ad19-4a73-b692-9d1a4a09685e","name":"Send a text message","webhookId":"1b25a2ac-db87-4cf7-80ab-df7356e86191","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"Оплата не прошла, попробуйте еще раз!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4280,260],"id":"c8a8f46c-5668-4b4d-a9e5-0f4a7e466b16","name":"ошибка оплаты","webhookId":"a4d53e75-22f8-4164-9c19-db337799cd7a","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","end_subscription":"={{ $json.body.object.metadata.work_until.toDateTime(\"dd/MM/yyyy\").plus(30, \"days\").format(\"dd/MM/yyyy\") }}","recurent":"={{ $json.body.object.payment_method.id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4280,20],"id":"62c4f4fa-6694-4d41-9bb6-4aec9450cafe","name":"обновление даты","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4080,2220],"id":"00c1e9d7-d71f-4769-807d-33c24b1081e5","name":"ПОЛУЧАЕМ ДАННЫЕ","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5320f29b-7e2e-439c-8161-f9f6ba35645e","leftValue":"={{ $json[\"Окончание подписки\"].toDateTime(\"dd/MM/yyyy\") }}  ","rightValue":"","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[4320,2220],"id":"1612dfc2-f546-4fb3-b4be-a59052eb62ce","name":"Filter","disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4560,2220],"id":"c37eedb7-0c72-4c65-833a-64888945aae5","name":"Ю касса ","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"684cd32d-0d68-4491-bb20-cc28698c4d55","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4760,2220],"id":"fec3c1fc-b298-46d7-beb4-259b4890c0c6","name":"If","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","end_subscription":"={{ $json.body.object.metadata.work_until.toDateTime(\"dd/MM/yyyy\").plus(30, \"days\").format(\"dd/MM/yyyy\") }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[5040,2140],"id":"53428e67-3c78-4244-9b5d-9b4eb259fab0","name":"обновление даты1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5040,2380],"id":"9f663afe-613b-443e-9a36-6f7c0a6de3e0","name":"Ю касса 1","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"text":"✅ Подписка была продлена💖","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5300,2140],"id":"b623c296-61fd-4e62-bcd7-9a37e50b885b","name":"Send a text message1","webhookId":"e51cc835-c2c6-491e-b3e8-f072fdb94803","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai-косметолог готов начать подбирать тебе уход. Начнём?\n➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{"callback_data":""}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4880,640],"id":"40907ca2-c103-4341-a3ae-9b4c01bb55d2","name":"Send a text message3","webhookId":"0952e217-dbdb-4bc3-8aba-a0c5a1e43f16","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","recurent":"0"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4160,1600],"id":"d27bbfe0-fe4c-4875-aaed-48816d0033f8","name":"рекурент","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"text":" 🥲Мне очень жаль с тобой расстоваться!  Подписка была отменена. Надеюсь увидеть тебя снова💖","replyMarkup":"inlineKeyboard","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4420,1600],"id":"a458b986-84dd-43ab-9e18-69df228b8523","name":"Send a text message4","webhookId":"10ecfdb5-1b5c-4a87-a6a6-67e83596b791","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/support","operator":{"type":"string","operation":"startsWith"},"id":"8870ad50-56b4-4197-8970-4f05f77e810a"}],"combinator":"and"},"renameOutput":true,"outputKey":"служба поддержки"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d8fea17-eb14-4725-b2ef-557a48a69e44","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4160,2960],"id":"6389b604-0d59-4900-b330-61d6147a046f","name":"Switch2","disabled":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Привет, я Настя с службы поддержки💖 Чем  могу тебе помочь?","replyMarkup":"inlineKeyboard","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4420,2860],"id":"32fa5ea0-2f2c-429b-85a1-3ab659ff48aa","name":"Send a text message5","webhookId":"95f57d4b-e716-4b17-96e3-7f8cfc5655e7","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"sendTo":"lannadesign123@gmail.com","subject":"Новое сообщение в поддержку Ai K.Loo Beauty","emailType":"text","message":"={{ $json.message.text }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4420,3080],"id":"1dc46ea1-2e1a-4065-866f-135cb03acd0e","name":"Send a message","webhookId":"a8e60dd7-d411-40db-8a12-96ab6ab452ee","credentials":{"gmailOAuth2":{"id":"hypi6KFjaHgyXCUX","name":"Gmail account"}},"disabled":true},{"parameters":{"text":"⛔Диалог завершён. Если захочешь начать снова — просто напиши /start 🤍","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5360,1580],"id":"c6c474b3-4dbd-4bdb-bd83-bc883f4c1e49","name":"Send a text message6","webhookId":"9cca5ad2-8f1d-40e6-85f7-e909ee5984e4","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[2800,-480],"id":"179c5ad3-10aa-4b5d-874f-e8540f20e9af","name":"Оплата","webhookId":"5b217cd5-ce68-4193-be07-f8b23db23075","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[3880,2960],"id":"a21597cf-b0fe-4a29-88ab-fa3cde39f092","name":"служба поддержки","webhookId":"f91fe86f-696d-4a9f-b961-2ccac18f1756","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3860,2220],"id":"1395a9b2-04b1-4c79-ba80-6d32c0b75911","name":"продление подписки","disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai косметолог готов начать подбирать тебе уход. Начнём? ➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4880,840],"id":"8f01263f-6794-41f6-bd5c-e5cb1c1bc159","name":"Send a text message7","webhookId":"217d61c1-a3ed-4fb4-88c9-242ae3029150","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai косметолог готов начать подбирать тебе уход. Начнём? ➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4880,1040],"id":"9f86e943-9bc5-4387-a557-0cad1686cecb","name":"Send a text message8","webhookId":"d2f7ae10-4ef8-416f-a23e-2eed5be7c7d9","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"d23d7b8e-278b-4454-8e8a-11885f7ee0a3"}],"combinator":"and"},"renameOutput":true,"outputKey":"💗 199₽ - 1 месяц"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"275baa5e-3e12-4150-a6e6-b2bdd9c8b9ee","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"💪 299₽ - 2 месяц"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b56d21f-6b5d-4701-97d3-f375d82cd049","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"👑 1599₽ - 1 год"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38bda5e6-467a-4953-9219-28e4614f72b5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🔚 Завершить диалог"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02a3b5bc-6b89-4120-9654-182d82300404","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"выход"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3900,840],"id":"6dfbbb9b-e9d4-4cc0-ad37-ccd0f28d6427","name":"Switch4","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"b54785d0-127e-4da5-acda-5bcb89f11f78"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4060,20],"id":"c5ca48b6-c4ed-4f41-a721-2a21915bcaa5","name":"Switch5","disabled":true},{"parameters":{"content":"## статус оплаты","height":560,"width":1200},"type":"n8n-nodes-base.stickyNote","position":[3720,-100],"typeVersion":1,"id":"d397c7c6-d21a-4776-ba78-e9cc8f65d9de","name":"Sticky Note9","disabled":true},{"parameters":{"content":"## ОПЛАТА ПОДПИСКИ ","height":740,"width":1400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3720,560],"typeVersion":1,"id":"29680211-5c9c-446e-8b35-234e450017cb","name":"Sticky Note10","disabled":true},{"parameters":{"content":"## ПРОДЛЕНИЕ ПОДПИСКИ","height":620,"width":1980},"type":"n8n-nodes-base.stickyNote","position":[3720,2020],"typeVersion":1,"id":"78524df2-30ac-44db-9ed4-83fb33ec5952","name":"Sticky Note11","disabled":true},{"parameters":{"text":"🛑Не удалось автоматически продлить подписку, чтобы пользоваться Ai-косметологом дальше оплати подписку⬆️","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💸Оплатить","additionalFields":{"callback_data":""}},{"text":"⛔ Не продлеваю","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5300,2380],"id":"1c713cfc-98c6-40e2-a33f-67f065b25b07","name":"Send a text message9","webhookId":"202f83a3-facf-4dc0-abfb-3c16aebd4b25","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"content":"## ОТПИСКА","height":600,"width":980},"type":"n8n-nodes-base.stickyNote","position":[3720,1340],"typeVersion":1,"id":"5ae1e798-3202-41ce-ad5e-a5f5cb2a0dd4","name":"Sticky Note12","disabled":true},{"parameters":{"content":"## СЛУЖБА ПОДДЕРЖКИ","height":680,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[3720,2700],"typeVersion":1,"id":"96cc812d-5af1-49a7-b7a1-785d56aa72d0","name":"Sticky Note13","disabled":true},{"parameters":{"jsCode":"{\n  \"chat_id\": {{$json.callback_query.from.id}},\n  \"text\": \"Диалог завершён. Если захочешь начать снова — просто напиши /start 🤍\",\n  \"reply_markup\": {\n    \"remove_keyboard\": true\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5080,1580],"id":"93fbf776-c2cc-4840-904e-aa4714469295","name":"Code1","disabled":true},{"parameters":{"content":"## Завершение диалога","height":600,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[4820,1340],"typeVersion":1,"id":"d0e6e167-1f4d-449d-9d8d-245ef29b2c17","name":"Sticky Note14","disabled":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.callback_query.data.startsWith('Type_skin_yes_') }}"}]},"combineOperation":"any"},"id":"4e959e78-d3ad-4e04-a948-ed7c9c363348","name":"Is Callback Query","type":"n8n-nodes-base.if","typeVersion":1,"position":[100,1000]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.callback_query.data.startsWith('budget_') }}"}]}},"id":"31c626a2-dcd5-473f-ac17-ec2a3bcd2ef7","name":"Is Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[80,1460]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data.startsWith('Type_skin_manual_') }}","operation":"notEqual","value2":"manual_skin_"}]},"combineOperation":"any"},"id":"be03e2c8-c6f9-4f24-b684-a95bfa6bf09c","name":"Callback: Manual Skin","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1220,1480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}","operation":"startsWith","value2":"Type_skin_yes_"}]}},"id":"c97bf2ed-3630-4cf8-abf1-ee5e828a1d94","name":"Callback: Confirm Skin","type":"n8n-nodes-base.if","typeVersion":1,"position":[1280,1000],"disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,-880],"id":"367f6c8c-86b1-4cae-b133-5372cc2521e3","name":"Wait","webhookId":"cafac0bc-9602-49c3-9b22-b0b8d804bcba"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data.startsWith('manual_skin_') }}","operation":"notEqual"}]}},"id":"3643a6d7-561a-4ea3-82e4-f5a184930e90","name":"Callback: Manual Skin1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1340,260]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data }}","operation":"isEmpty"}]}},"id":"141a5bdf-d3cd-479b-84d0-80e16751c0b9","name":"Message: Budget1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1760,1020],"disabled":true},{"parameters":{"content":"##support","height":440,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-2060,840],"typeVersion":1,"id":"a1e045eb-9f58-470f-a405-2618d359fe4e","name":"Sticky Note15"},{"parameters":{"httpMethod":"POST","path":"da43b755-3ddd-41d4-a4ed-685c7eac4842","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,860],"id":"6b2ce377-1972-4208-bfde-d3b3e9a8ec93","name":"Webhook3","webhookId":"da43b755-3ddd-41d4-a4ed-685c7eac4842","disabled":true},{"parameters":{"httpMethod":"POST","path":"da43b755-3ddd-41d4-a4ed-685c7eac4842","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-340,260],"id":"814150c8-0391-48c0-b550-515fbb50f853","name":"Приветствие","webhookId":"da43b755-3ddd-41d4-a4ed-685c7eac4842","disabled":true}],"connections":{"Get Image1":{"main":[[{"node":"Extract1","type":"main","index":0}]]},"Convert1":{"main":[[{"node":"VISION","type":"main","index":0}]]},"Get ready1":{"main":[[{"node":"Get Image1","type":"main","index":0}]]},"Extract1":{"main":[[{"node":"Convert1","type":"main","index":0}]]},"VISION":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Telegram Trigger":{"main":[[]]},"Бюджет":{"main":[[{"node":"Кнопки выбор бюджета","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Search Agent","type":"ai_languageModel","index":0}]]},"Search Agent":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"тип кожи определен":{"main":[[]]},"Switch3":{"main":[[{"node":"тип кожи определен","type":"main","index":0}],[{"node":"Тип кожи НЕ отпределен","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get ready1","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}],[],[{"node":"Code","type":"main","index":0}],[],[],[{"node":"Настя помощник","type":"main","index":0}],[]]},"Кнопки выбор бюджета":{"main":[[]]},"Code3":{"main":[[{"node":"Результат поиска","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Предлоджение на подписку","type":"main","index":0}]]},"Code":{"main":[[{"node":"Выбор подписки","type":"main","index":0}]]},"extract":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"Бюджет1":{"main":[[{"node":"Кнопки выбор бюджета1","type":"main","index":0}]]},"Firecrawl Search":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"Тип кожи НЕ отпределен":{"main":[[]]},"Send a text message2":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Бюджет2":{"main":[[{"node":"Кнопки выбор бюджета2","type":"main","index":0}]]},"start":{"main":[[{"node":"Wait","type":"main","index":0}]]},"IF NO":{"main":[[{"node":"запись нового пользователя","type":"main","index":0}],[{"node":"start","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"IF NO","type":"main","index":0}]]},"запись нового пользователя":{"main":[[{"node":"start","type":"main","index":0}]]},"Подписался ли человек?":{"main":[[{"node":"Продолжаем","type":"main","index":0}],[{"node":"Просим подписаться, так как это не было сделано","type":"main","index":0}]]},"Просим подписаться, так как это не было сделано":{"main":[[{"node":"Нажатие кнопки1","type":"main","index":0}]]},"Проверяем подписался ли человек":{"main":[[{"node":"Подписался ли человек?","type":"main","index":0}]]},"Нажатие кнопки1":{"main":[[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Продолжаем":{"main":[[]]},"Switch1":{"main":[[{"node":"GET profile","type":"main","index":0}],[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"start1","type":"main","index":0}]]},"Append or update row in sheet1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Search Agent","type":"main","index":0}]]},"Append or update row in sheet2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Бюджет1","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Append or update row in sheet6":{"main":[[{"node":"Бюджет","type":"main","index":0}]]},"Результат поиска":{"main":[[]]},"Новый подписчик /1 мес":{"main":[[{"node":"Ю касса 199","type":"main","index":0}]]},"Новый подписчик /2 мес":{"main":[[{"node":"Ю касса 299","type":"main","index":0}]]},"Новый подписчик /1 год":{"main":[[{"node":"Ю касса год","type":"main","index":0}]]},"Ю касса 199":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Ю касса 299":{"main":[[{"node":"Send a text message7","type":"main","index":0}]]},"Ю касса год":{"main":[[{"node":"Send a text message8","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch5","type":"main","index":0}]]},"обновление даты":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"ПОЛУЧАЕМ ДАННЫЕ":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Ю касса ","type":"main","index":0}]]},"Ю касса ":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"обновление даты1","type":"main","index":0}],[{"node":"Ю касса 1","type":"main","index":0}]]},"обновление даты1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Ю касса 1":{"main":[[{"node":"Send a text message9","type":"main","index":0}]]},"рекурент":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Send a text message5","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Оплата":{"main":[[]]},"служба поддержки":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"продление подписки":{"main":[[{"node":"ПОЛУЧАЕМ ДАННЫЕ","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Новый подписчик /1 мес","type":"main","index":0}],[{"node":"Новый подписчик /2 мес","type":"main","index":0}],[{"node":"Новый подписчик /1 год","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}],[{"node":"рекурент","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"обновление даты","type":"main","index":0},{"node":"ошибка оплаты","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send a text message6","type":"main","index":0}]]},"Is Callback Query":{"main":[[{"node":"Append or update row in sheet6","type":"main","index":0}]]},"Is Message":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Callback: Manual Skin":{"main":[[{"node":"extract","type":"main","index":0}]]},"Callback: Confirm Skin":{"main":[[]]},"Wait":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Callback: Manual Skin1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Message: Budget1":{"main":[[]]},"Webhook3":{"main":[[]]},"Приветствие":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"vMOojyl0aOEDZDGA"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"89285886-c834-4a57-a515-84f9bf63bba4","triggerCount":2,"tags":[]}