ai-cosmetologist-tmPp2YkS3VzZdAqQ.json
{"createdAt":"2025-06-06T14:00:17.892Z","updatedAt":"2025-07-02T16:34:37.705Z","id":"tmPp2YkS3VzZdAqQ","name":"Ai cosmetologist","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-300,420],"id":"20707aca-62d6-47c3-b0f4-67a8e22efb1b","name":"Telegram Trigger","webhookId":"ded44252-4d0e-433a-9c1c-9a852f9ed86d","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"tg Ai K.Loo cosmetologist"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8add6201-154f-48c0-a29a-d62636c8eeda","leftValue":"={{ $json.message.text }}","rightValue":"/cosmetics","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"подбор"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84ed176e-27ae-417d-86d4-d3d936357288","leftValue":"","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"свободное общение"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[40,420],"id":"83f55bea-295e-4602-9c8a-a883f5bb79b6","name":"Switch"},{"parameters":{"content":"# /start  ПОДБОРКА УХОДА /БЮДЖЕТ\n\n\n\n","height":372,"width":1638,"color":7},"id":"d7316c7e-8958-4622-ae4b-c2334af9f2df","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[240,240],"typeVersion":1},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Switch').item.json.message.from.id }}","file":"https://i.postimg.cc/htYTg7ZR/sdfg.jpg","additionalFields":{"caption":"=*{{ $json.message.from.username }}, я безумно рада тебя видеть!* 💌\n\n✨Если ты еще официально не состоишь в _Beauty Club K.Loo_, значит самое время вступить ➡️https://t.me/beauty_s_karinoy, ведь  теперь твой уход переходит на новый уровень! 💫 \n\n🧠 *AI-косметолог уже готов к работе:*\nОн будет рядом 24/7, чтобы подсказать, подобрать и объяснить всё о твоей коже и косметике.\n\n🎁 *Что теперь доступно тебе:*\n💎 _Персональные подборки уходовых средств_\n💬 _Поддержка AI-косметолога на каждом этапе ухода. Возможность задавать любые вопросы в любое время AI-косметологу._\n🌟 _Ты получишь скидки, акции и рекомендации по трендам_\n💸 _Розыгрыши косметики_\n\n\n💖 Уход за собой — не роскошь, а форма любви к себе. \nСейчас начинается именно такой путь.\n\n👉 Можешь сразу задать вопрос или нажать в меню /🧴Подбор косметики, чтобы получить свою первую рекомендацию.","parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[420,0],"id":"51d5f1dc-ad66-418d-940b-7706e8da3bff","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"tg Ai K.Loo cosmetologist"}}},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"user_name"},{"lookupColumn":"message_id"},{"lookupColumn":"chat_id"},{"lookupColumn":"skin_type"},{"lookupColumn":"budget"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1080,340],"id":"ef9db5f3-8825-4504-92b5-4908a930f751","name":"GET profile","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=✨ Твоя персональная подборка ухода готова!\n📦 Подобрана с учётом твоего типа кожи и бюджета.\n\n💬 Хочешь задать вопрос AI-косметологу?\nПросто напиши в чате или используй команду:\n/ (введи свой вопрос)","replyMarkup":"forceReply","forceReply":{},"additionalFields":{}},"name":"Send Products to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2360,320],"id":"99195b17-ebfd-48d2-a1a9-d9986271e478","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"tg Ai K.Loo cosmetologist"}}},{"parameters":{"promptType":"define","text":"=поиск косметики с сайта https://goldapple.ru/","hasOutputParser":true,"options":{"systemMessage":"=You are an AI beauty consultant, an expert in cosmetology and dermatology. Communicate with users in a friendly, youthful tone – like a friend who knows how to take care of her skin.\n\n🎯 Your task:\nPick 7 facial skincare products that suit the skin type {{ $json.skin_type }} and fit within the specified budget {{ $json.budget }} (in rubles).\n\n📋 Необходимые продукты:\n1. 🌟 Тонер  \n2. 💧 Сыворотка  \n3. ☀️ Дневной крем  \n4. 🌙 Ночной крем  \n5. 👁️ Крем для глаз  \n6. ☀️ SPF  \n7. ✨ Пилинг / скраб  \n\n🛍️ Use only the online store https://goldapple.ru/ — search for real products on the site. Copy the actual product links and include them in the answer.\n\n💰 Calculate the total cost of all 7 products and specify whether it fits within the budget.\n\n📦 The answer must contain **exactly 7 products** (one per category) in Telegram Markdown format:\n\n✨ Here is a selection of the best facial skin care products suitable for your skin type and budget:\n\n  🌟 *Product Name*  \n  📋 _Short description_  \n  💸 *Price*  \n  🔗 Product link\n\n\n\n🧾 *Total:* XX RUB  \n✅ Within budget: Yes/No\n\n⚠️ Do not give any additional tips or recommendations, strictly follow the task  \n⚠️ Always write in Russian  \n⚠️ Add emojis – they make the text more lively and understandable\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1340,320],"id":"344fa7e6-e3a3-40f1-8433-1e3ebe90b4a0","name":"Search Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1160,660],"id":"06eb6be5-8b51-4484-bb21-d1357cdb72ef","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const sheetData = $json || {};\n\nconst chatId = sheetData.chat_id || 0;\nconst messageId = sheetData.message_id || 0;\nconst typeSkin = sheetData.skin_type || \"жирная\";\nconst budget = sheetData.budget || \"не указан\";\nconst raw = sheetData.Recomendation || \"\";\n\n// Ищем первую markdown-ссылку\nconst linkMatch = raw.match(/\\[.*?\\]\\((.*?)\\)/);\nconst link = linkMatch ? linkMatch[1] : \"\";\n\n// Удаляем markdown, но оставляем текст\nlet cleanText = raw.replace(/\\[([^\\]]+)\\]\\((.*?)\\)/g, '$1').trim();\n\n// Делаем первую строку жирной (до первого переноса строки)\ncleanText = cleanText.replace(/^(.+?)\\n/, '**$1**\\n');\n\n// Формируем сообщение\nlet text = cleanText.substring(0, 500);\n\nif (link) {\n  text += `\\n\\n🔗 [Перейти к товару](${link})`;\n}\n\ntext += `\\n\\n💬 Хочешь весь список и индивидуальные советы?`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text.substring(0, 4000),\n    parse_mode: \"Markdown\", // добавили Markdown для форматирования\n    disable_web_page_preview: false,\n    reply_markup: {     inline_keyboard: [       [{ text: \"💖 Получить весь список\", callback_data: \"pay_sub\" }],       [{ text: \"🔁 Хочу позже\", callback_data: \"later\" }]     ]   }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,320],"id":"3bf760af-054a-4da1-aa82-2cd005eaa99f","name":"Code3"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Google Sheets4').item.json.chat_id }}","Recomendation":"={{ $json.output }}","budget":"={{ $('Google Sheets4').item.json.budget }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1800,320],"id":"374e0d23-02ee-4330-aeca-c903e8ba401a","name":"Google Sheets6","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"toolDescription":"Use this tool to search the https://aravia.ru/","method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-4a429c6f884e4b9a9eae1e7c8fdeaaac"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://goldapple.ru/\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1880,660],"id":"6c513dad-8b7b-42cb-b887-8bf328f1983e","name":"Firecrawl Search","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1480,660],"id":"338a7748-a4fa-4d65-a522-e0a828f57645","name":"Calculator"},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Google Sheets1\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,340],"id":"9b896ed3-ff1a-4614-b42a-14bff0df4adb","name":"Бюджет"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[860,340],"id":"afc994e7-4681-44e2-b0c5-3cdcef4119b8","name":"Кнопки выбор бюджета","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"tg Ai K.Loo cosmetologist"}}},{"parameters":{"content":"# КОНСУЛЬТАЦИЯ","height":620,"width":1760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[240,860],"typeVersion":1,"id":"7ef8c2c6-6db4-4750-9efc-dd02e9dbf3e3","name":"Sticky Note","disabled":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"forceReply","forceReply":{},"additionalFields":{}},"name":"Send Products to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1740,1040],"id":"1b67a72d-f8ed-47fc-b4e8-6a097e50416c","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"tg Ai K.Loo cosmetologist"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"user_name":"={{ $('Telegram Trigger').item.json.message.from.username }}","message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}","chat_id":"={{ $('Telegram Trigger').item.json.message.chat.id }}","Recomendation":"={{ $json.output }}"},"matchingColumns":["user_name"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1080,1040],"id":"e25b237c-8ca0-4fcb-add3-82edda595e8e","name":"GET profile1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"\"skin_type\", \"user_preferences\""},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[640,1320],"id":"190537e2-d827-4eeb-94fd-7a700efe7b5c","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[460,1300],"id":"2257ab64-d354-4ccf-8eb4-446d9568e862","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=***You are a professional and friendly AI-powered skincare consultant. You help users with skincare routine questions, beauty product recommendations, ingredient explanations, and solutions for common skin concerns like acne, dryness, oiliness, and pigmentation.\n\n***Your tone should always be warm, supportive, and clear — speak like a caring expert, not a medical textbook. Use simple language.\n\n🔹 You only talk about skincare and beauty:\n- Skincare (skin types, acne, hydration, sensitivity, etc.)\n- Skincare tips, hacks, ingredient lists, and common mistakes.\n\n***Don't recommend cosmetics to the user, only advice and life hacks\n\n***If you mention ingredients (like niacinamide or salicylic acid), briefly explain what they do.\n\n***Always recommend products by type (e.g. cleanser, toner, serum, moisturizer) rather than brand names, and offer key ingredients that match the user's concerns.\n\n***⚠️ Important:\nAll responses must be written in **Russian**, regardless of the language in which the data is entered.\n\n***If a user's message is **not related to skincare or beauty**, politely inform them that you only answer questions on these topics.\n\n\n***Here are some examples of user questions you may receive:\n– I have acne, what should I do?\n– Which cream is best for dry skin?\n– I'm 40, how can I even out my skin tone?\n– Which is better, niacinamide or retinol?\n\nHere is an example of a message displayed to the user:\n(🧴 Что может помочь при акне:\nОчищение (2 раза в день):\nИспользуй мягкий гель с салициловой кислотой или цинком.\nПример: гель для умывания с салициловой кислотой 1–2%.\n\nТоник или эссенция:\nБез спирта! Идеально подойдёт с ниацинамидом или центеллой — успокаивает кожу и регулирует жирность.\n\nСыворотка/Актив:\n▫️ Ниацинамид (5–10%) — снимает воспаление\n▫️ Азелаиновая кислота — осветляет пост-акне и борется с бактериями\n▫️ Салициловая кислота — очищает поры\n\nУвлажнение:\nНе пропускай! Лёгкий гель-крем без масел поможет сохранить барьер кожи.\n\nSPF (утром):\nДаже при акне нужен солнцезащитный крем — выбирай без масел, с матирующим эффектом.)\n\n***⚠️At the end of the answer, do not ask the user questions\n***⚠️ Always reply in **Russian**\n***⚠️ Always use **emoji** to make the text more vivid and understandable."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[560,1040],"id":"d399dcd1-f8d1-4de7-b845-ea9b5e8bd93b","name":"Ai cosmetologist"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1320,660],"id":"9693d07d-6f66-46ad-ab57-0cecc2cecfd6","name":"Simple Memory1"},{"parameters":{"documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"chat_id","lookupValue":"={{ $json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[460,340],"id":"90fde4c4-c88c-49b5-8f68-174582d45597","name":"GET profile2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const sheetData = $json || {};\n\nconst chatId = sheetData.chat_id || 0;\nconst messageId = sheetData.message_id || 0;\nconst typeSkin = sheetData.skin_type || \"жирная\";\nconst budget = sheetData.budget || \"не указан\";\nconst raw = sheetData.Recomendation || \"\";\n\n// Удаляем markdown-ссылки, оставляя только видимый текст\nlet cleanText = raw.replace(/\\[([^\\]]+)\\]\\((.*?)\\)/g, '$1').trim();\n\n// Делаем первую строку жирной\ncleanText = cleanText.replace(/^(.+?)\\n/, '✨ *$1*\\n');\n\n// Добавляем эмодзи по категориям (если присутствуют ключевые слова)\ncleanText = cleanText\n  .replace(/(?<=^|\\n)(Тонер|Пенка)/gi, '🧴 $1')\n  .replace(/(?<=^|\\n)(Сыворотка)/gi, '💧 $1')\n  .replace(/(?<=^|\\n)(Крем)/gi, '☀️ $1')\n  .replace(/(?<=^|\\n)(Ночной крем)/gi, '🌙 $1')\n  .replace(/(?<=^|\\n)(Крем для глаз)/gi, '👁️ $1')\n  .replace(/(?<=^|\\n)(SPF|Солнцезащитный крем)/gi, '🛡️ $1')\n  .replace(/(?<=^|\\n)(Пилинг|Скраб)/gi, '✨ $1')\n  .replace(/(?<=^|\\n)(Очищение|Клинзер)/gi, '🧼 $1')\n  .replace(/(?<=^|\\n)(Увлажнение|Увлажняющий крем)/gi, '💦 $1')\n  .replace(/(?<=^|\\n)(Состав|Ингредиенты)/gi, '🧪 $1')\n  .replace(/(?<=^|\\n)(Итоговая сумма)/gi, '🧾 $1')\n  .replace(/(?<=^|\\n)(Укладывается в бюджет)/gi, '✅ $1');\n\n\n// Усечение до лимита Telegram (4000 символов)\nconst text = cleanText.substring(0, 4000);\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text,\n    parse_mode: \"Markdown\",\n    disable_web_page_preview: false\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1460,1040],"id":"0aa55322-de44-4371-b18f-6c3b9ee3396c","name":"Code"},{"parameters":{"method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1640,660],"id":"4b54b67c-d050-4ebd-9456-378071b3cf2d","name":"HTTP Request1"}],"connections":{"Switch":{"main":[[{"node":"start","type":"main","index":0}],[{"node":"GET profile2","type":"main","index":0}],[{"node":"Ai cosmetologist","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"Search Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Search Agent":{"main":[[{"node":"Google Sheets6","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Search Agent","type":"ai_languageModel","index":0}]]},"Code3":{"main":[[{"node":"Send Products to Telegram","type":"main","index":0}]]},"Google Sheets6":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Firecrawl Search":{"ai_tool":[[]]},"Calculator":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"Бюджет":{"main":[[{"node":"Кнопки выбор бюджета","type":"main","index":0}]]},"start":{"main":[[]]},"Кнопки выбор бюджета":{"main":[[{"node":"GET profile","type":"main","index":0}]]},"GET profile1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Ai cosmetologist","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Ai cosmetologist","type":"ai_languageModel","index":0}]]},"Ai cosmetologist":{"main":[[{"node":"GET profile1","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Search Agent","type":"ai_memory","index":0}]]},"GET profile2":{"main":[[{"node":"Бюджет","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send Products to Telegram1","type":"main","index":0}]]},"HTTP Request1":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bd58e112-b871-4194-9bf4-1db62b14a18f","triggerCount":0,"tags":[]}