ai-cosmetologist-tmPp2YkS3VzZdAqQ.json
{"createdAt":"2025-06-06T14:00:17.892Z","updatedAt":"2025-07-09T21:33:47.786Z","id":"tmPp2YkS3VzZdAqQ","name":"Ai cosmetologist","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-660,440],"id":"20707aca-62d6-47c3-b0f4-67a8e22efb1b","name":"Telegram Trigger","webhookId":"ded44252-4d0e-433a-9c1c-9a852f9ed86d","credentials":{"telegramApi":{"id":"3eWTvussnWeUqUM3","name":"Ai_K_Loo_cosmetologist"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8add6201-154f-48c0-a29a-d62636c8eeda","leftValue":"={{ $json.message.text }}","rightValue":"/cosmetics","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"подбор"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"823c4d74-f52d-44d9-bfde-302a6b09df50","leftValue":"={{ $json.callback_query.data }}","rightValue":"budget_1000","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"budget_1000"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c3c7124-6705-49fd-97ec-a59998a2c007","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"голос"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a2a8887-235d-4d0f-a853-ed6ba2843944","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"пишет"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,420],"id":"83f55bea-295e-4602-9c8a-a883f5bb79b6","name":"Switch"},{"parameters":{"content":"# /start  ПОДБОРКА УХОДА /БЮДЖЕТ\n\n\n\n","height":592,"width":1118,"color":7},"id":"d7316c7e-8958-4622-ae4b-c2334af9f2df","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[240,240],"typeVersion":1},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Switch').item.json.message.from.id }}","file":"https://i.postimg.cc/htYTg7ZR/sdfg.jpg","additionalFields":{"caption":"=*{{ $json.message.from.username }}, я безумно рада тебя видеть!* 💌\n\n✨Если ты еще официально не состоишь в _Beauty Club K.Loo_, значит самое время вступить ➡️https://t.me/beauty_s_karinoy, ведь  теперь твой уход переходит на новый уровень! 💫 \n\n🧠 *AI-косметолог уже готов к работе:*\nОн будет рядом 24/7, чтобы подсказать, подобрать и объяснить всё о твоей коже и косметике.\n\n🎁 *Что теперь доступно тебе:*\n💎 _Персональные подборки уходовых средств_\n💬 _Поддержка AI-косметолога на каждом этапе ухода. Возможность задавать любые вопросы в любое время AI-косметологу._\n🌟 _Ты получишь скидки, акции и рекомендации по трендам_\n💸 _Розыгрыши косметики_\n\n\n💖 Уход за собой — не роскошь, а форма любви к себе. \nСейчас начинается именно такой путь.\n\n👉 Можешь сразу задать вопрос или нажать в меню /🧴Подбор косметики, чтобы получить свою первую рекомендацию.","parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[460,0],"id":"51d5f1dc-ad66-418d-940b-7706e8da3bff","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"3eWTvussnWeUqUM3","name":"Ai_K_Loo_cosmetologist"}}},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"chat_id","lookupValue":"={{ $('Бюджет').item.json.chat_id }}"},{"lookupColumn":"skin_type","lookupValue":"={{ $('Бюджет').item.json.type_skin }}"},{"lookupColumn":"budget"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[680,580],"id":"ef9db5f3-8825-4504-92b5-4908a930f751","name":"GET profile","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=✨ Твоя персональная подборка ухода готова!\n📦 Подобрана с учётом твоего типа кожи и бюджета.\n\n💬 Хочешь задать вопрос AI-косметологу?\nПросто напиши в чате или используй команду:\n/ (введи свой вопрос)","replyMarkup":"forceReply","forceReply":{},"additionalFields":{}},"name":"Send Products to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2820,280],"id":"99195b17-ebfd-48d2-a1a9-d9986271e478","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"3eWTvussnWeUqUM3","name":"Ai_K_Loo_cosmetologist"}}},{"parameters":{"promptType":"define","text":"=","options":{"systemMessage":"=You are an AI beauty consultant, an expert in cosmetology and dermatology. Communicate with users in a friendly, youthful tone – like a friend who knows how to take care of her skin.\n\n🎯 Your task:\nPick 7 facial skincare products that suit the skin type {{ $json.skin_type }} and fit within the specified budget {{ $json.budget }} (in rubles).\n\n📋 Необходимые продукты:\n1. 🌟 Тонер  \n2. 💧 Сыворотка  \n3. ☀️ Дневной крем  \n4. 🌙 Ночной крем  \n5. 👁️ Крем для глаз  \n6. ☀️ SPF  \n7. ✨ Пилинг / скраб  \n\n🛍️ Use only the online store https://goldapple.ru/ — search for real products on the site. Copy the actual product links and include them in the answer.\n\n💰 Calculate the total cost of all 7 products and specify whether it fits within the budget.\n\n📦 The answer must contain **exactly 7 products** (one per category) in Telegram Markdown format:\n\n✨ Here is a selection of the best facial skin care products suitable for your skin type and budget:\n\n  🌟 *Product Name*  \n  📋 _Short description_  \n  💸 *Price*  \n  🔗 Product link\n\n\n\n🧾 *Total:* XX RUB  \n✅ Within budget: Yes/No\n\n⚠️ Do not give any additional tips or recommendations, strictly follow the task  \n⚠️ Always write in Russian  \n⚠️ Add emojis – they make the text more lively and understandable\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1800,280],"id":"344fa7e6-e3a3-40f1-8433-1e3ebe90b4a0","name":"Search Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1580,600],"id":"06eb6be5-8b51-4484-bb21-d1357cdb72ef","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const sheetData = $json || {};\n\nconst chatId = sheetData.chat_id || 0;\nconst messageId = sheetData.message_id || 0;\nconst typeSkin = sheetData.skin_type || \"жирная\";\nconst budget = sheetData.budget || \"не указан\";\nconst raw = sheetData.Recomendation || \"\";\n\n// Ищем первую markdown-ссылку\nconst linkMatch = raw.match(/\\[.*?\\]\\((.*?)\\)/);\nconst link = linkMatch ? linkMatch[1] : \"\";\n\n// Удаляем markdown, но оставляем текст\nlet cleanText = raw.replace(/\\[([^\\]]+)\\]\\((.*?)\\)/g, '$1').trim();\n\n// Делаем первую строку жирной (до первого переноса строки)\ncleanText = cleanText.replace(/^(.+?)\\n/, '**$1**\\n');\n\n// Формируем сообщение\nlet text = cleanText.substring(0, 500);\n\nif (link) {\n  text += `\\n\\n🔗 [Перейти к товару](${link})`;\n}\n\ntext += `\\n\\n💬 Хочешь весь список и индивидуальные советы?`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text.substring(0, 4000),\n    parse_mode: \"Markdown\", // добавили Markdown для форматирования\n    disable_web_page_preview: false,\n    reply_markup: {     inline_keyboard: [       [{ text: \"💖 Получить весь список\", callback_data: \"pay_sub\" }],       [{ text: \"🔁 Хочу позже\", callback_data: \"later\" }]     ]   }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2540,280],"id":"3bf760af-054a-4da1-aa82-2cd005eaa99f","name":"Code3"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Google Sheets4').item.json.chat_id }}","Recomendation":"={{ $json.output }}","budget":"={{ $('Google Sheets4').item.json.budget }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2260,280],"id":"374e0d23-02ee-4330-aeca-c903e8ba401a","name":"Google Sheets6","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1960,620],"id":"338a7748-a4fa-4d65-a522-e0a828f57645","name":"Calculator"},{"parameters":{"jsCode":"const sheetData = $items(\"GET profile2\")[0].json;\n\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\nconst chatId = sheetData[\"chat_id\"];\n\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,360],"id":"9b896ed3-ff1a-4614-b42a-14bff0df4adb","name":"Бюджет"},{"parameters":{"chatId":"={{ $('GET profile2').item.json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[860,360],"id":"afc994e7-4681-44e2-b0c5-3cdcef4119b8","name":"Кнопки выбор бюджета","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"3eWTvussnWeUqUM3","name":"Ai_K_Loo_cosmetologist"}}},{"parameters":{"content":"# КОНСУЛЬТАЦИЯ голос + текст","height":680,"width":1620,"color":3},"type":"n8n-nodes-base.stickyNote","position":[240,860],"typeVersion":1,"id":"7ef8c2c6-6db4-4750-9efc-dd02e9dbf3e3","name":"Sticky Note","disabled":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"forceReply","forceReply":{},"additionalFields":{}},"name":"Send Products to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1500,1060],"id":"1b67a72d-f8ed-47fc-b4e8-6a097e50416c","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"3eWTvussnWeUqUM3","name":"Ai_K_Loo_cosmetologist"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"user_name":"={{ $('Telegram Trigger').item.json.message.from.username }}","message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}","chat_id":"={{ $('Telegram Trigger').item.json.message.chat.id }}","Recomendation":"={{ $json.output }}"},"matchingColumns":["user_name"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1040,1060],"id":"e25b237c-8ca0-4fcb-add3-82edda595e8e","name":"GET profile1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.type_skin }} {{ $json.chat_id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[660,1380],"id":"190537e2-d827-4eeb-94fd-7a700efe7b5c","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[460,1380],"id":"2257ab64-d354-4ccf-8eb4-446d9568e862","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a professional and friendly AI-powered skincare consultant.\nYou help users with everyday skincare concerns, explain ingredients, and solve common issues like acne, dryness, sensitivity, aging, pigmentation, and dehydration.\nYou also help sell skincare products.\n\n💬 Your tone is always warm, supportive, and clear — like a caring expert. Use simple, friendly language.\nYou only discuss skincare and beauty:\n\nSkin types, acne, hydration, sensitivity, etc.\n\nTips, ingredient uses, and common mistakes.\n\n🔒 Rules:\n\nIn the first reply, do not mention brand names or links. Give only general skincare tips and ingredient suggestions.\n\nIf the user continues chatting and shows interest, clearly ask if they want product suggestions with links.\n\nExample: “Если хочешь, могу порекомендовать конкретные средства с ссылками — просто скажи.”\n\nOnly send product links after the user confirms they want them.\n\nUse links from the “Link” column (format like https://goldapple.ru/19000237261-heartleaf-77).\n\nRecommend no more than 2 products of the same type.\n\nDon’t repeat the same product twice.\n\n🔬 When you mention ingredients (e.g. ниацинамид, салициловая кислота), briefly explain what they do.\n\n🧴 Recommend products by type only (e.g. тоник, сыворотка, крем), and match the ingredients to user needs.\nNever suggest by brand name unless user agrees to get links.\n\n📦 Response format (in Russian):\n\n🌟 Бренд: *Название товара*  \n✅ Название: Название 2  \n🖋️ _описание_  \n🧪 Безопасность: %  \n🏅 Рейтинг: ⭐️⭐️⭐️⭐️⭐️  \n💸 Цена: ХХ₽  \n✨ СКИДКА: %  \n🔗 [Перейти к товару](https://...)  \n\n\n⚠️ Important:\n\nAlways respond in Russian\n\nUse emojis to make the text clear and friendly.\n\nIf the question is not about skincare, politely say you only talk about skincare and beauty.\n\nDo not ask any questions at the end of the message.\n\n📌 Example user questions:\n\nУ меня акне, что делать?\n\nКакой крем подойдёт для сухой кожи?\n\nМне 40 лет, как выровнять тон кожи?\n\nЧто лучше — ниацинамид или ретинол?\n\n📌 Example reply:\n\n✨ Что может помочь при акне:\nОчищение (2 раза в день):\nИспользуй мягкий гель с салициловой кислотой или цинком.\nТоник: без спирта, с ниацинамидом или центеллой.\nСыворотка: ниацинамид (5–10%), азелаиновая или салициловая кислота.\nУвлажнение: лёгкий крем-гель без масел.\nSPF утром — обязательно!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,1060],"id":"d399dcd1-f8d1-4de7-b845-ea9b5e8bd93b","name":"Ai cosmetologist"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1780,620],"id":"9693d07d-6f66-46ad-ab57-0cecc2cecfd6","name":"Simple Memory1"},{"parameters":{"documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"chat_id","lookupValue":"={{ $json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[460,360],"id":"90fde4c4-c88c-49b5-8f68-174582d45597","name":"GET profile2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const sheetData = $json || {};\n\nconst chatId = sheetData.chat_id || 0;\nconst messageId = sheetData.message_id || 0;\nconst typeSkin = sheetData.skin_type || \"жирная\";\nconst budget = sheetData.budget || \"не указан\";\nconst raw = sheetData.Recomendation || \"\";\n\n// Сохраняем Markdown-ссылки (не удаляем их)\nlet cleanText = raw.trim();\n\n// Делаем первую строку жирной\ncleanText = cleanText.replace(/^(.+?)\\n/, '✨ *$1*\\n');\n\n// Добавляем эмодзи по категориям\ncleanText = cleanText\n  .replace(/(?<=^|\\n)(Тонер|Пенка)/gi, '🧴 $1')\n  .replace(/(?<=^|\\n)(Сыворотка)/gi, '💧 $1')\n  .replace(/(?<=^|\\n)(Крем)/gi, '☀️ $1')\n  .replace(/(?<=^|\\n)(Ночной крем)/gi, '🌙 $1')\n  .replace(/(?<=^|\\n)(Крем для глаз)/gi, '👁️ $1')\n  .replace(/(?<=^|\\n)(SPF|Солнцезащитный крем)/gi, '🛡️ $1')\n  .replace(/(?<=^|\\n)(Пилинг|Скраб)/gi, '✨ $1')\n  .replace(/(?<=^|\\n)(Очищение|Клинзер)/gi, '🧼 $1')\n  .replace(/(?<=^|\\n)(Увлажнение|Увлажняющий крем)/gi, '💦 $1')\n  .replace(/(?<=^|\\n)(Состав|Ингредиенты)/gi, '🧪 $1')\n  .replace(/(?<=^|\\n)(Итоговая сумма)/gi, '🧾 $1')\n  .replace(/(?<=^|\\n)(Укладывается в бюджет)/gi, '✅ $1');\n\n// Усечение до лимита Telegram (4000 символов)\nconst text = cleanText.substring(0, 4000);\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text,\n    parse_mode: \"Markdown\",\n    disable_web_page_preview: false\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,1060],"id":"0aa55322-de44-4371-b18f-6c3b9ee3396c","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo","mode":"list","cachedResultName":"goldapple ТОНЕР","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":474824266,"mode":"list","cachedResultName":"https://goldapple.ru/catalogsea","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit#gid=474824266"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[2140,620],"id":"def24d16-eeda-4664-b420-cb8ebd49fbc3","name":"Google Spreadsheet","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo","mode":"list","cachedResultName":"goldapple ТОНЕР","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":474824266,"mode":"list","cachedResultName":"https://goldapple.ru/catalogsea","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pwKWWWkJ6QbtfzYmL-einrtebOyk0KWIQoDdz6rKhpo/edit#gid=474824266"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[860,1380],"id":"1a14eb02-6475-41d4-8677-befc8f06ad08","name":"Google Spreadsheet1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,1120],"id":"e04d85f3-41a2-4b9a-8a16-e4c02de545ef","name":"Telegram","webhookId":"c66673cf-72f0-4233-82d8-70fe313d8765","credentials":{"telegramApi":{"id":"3eWTvussnWeUqUM3","name":"Ai_K_Loo_cosmetologist"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[60,1120],"id":"2738aa19-7e71-4a24-979b-74f040b5e522","name":"OpenAI","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-720,1020],"id":"f7ed2496-ce32-49eb-81d1-4eb06758e932","name":"Telegram2","webhookId":"8cd99b7a-3eca-4fd9-9b9a-168ea002f4b1","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"11328fcf-9d3a-485a-aa8b-79b435e0825c"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,1020],"id":"7d2a60f7-1b95-42fe-bde7-f005a5e44fcb","name":"Switch1"},{"parameters":{"content":"# /start  ПОДБОРКА УХОДА /БЮДЖЕТ\n\n\n\n","height":592,"width":1598,"color":4},"id":"9cb96a39-a5c9-45c4-b3b0-ca39d42639c0","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1500,200],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7522414086:AAESkzuuCidqCR-NIwyYOintJIXywDuaN6s/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,100],"id":"56893b9c-a366-4d46-b89e-903dc5d3d1e6","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,860],"id":"5c7d5400-130c-4301-a27f-f49188bac2e1","name":"Edit Fields"}],"connections":{"Switch":{"main":[[{"node":"start","type":"main","index":0}],[{"node":"GET profile2","type":"main","index":0}],[{"node":"GET profile","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[{"node":"Ai cosmetologist","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"Search Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"HTTP typing...","type":"main","index":0}]]},"Search Agent":{"main":[[{"node":"Google Sheets6","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Search Agent","type":"ai_languageModel","index":0}]]},"Code3":{"main":[[{"node":"Send Products to Telegram","type":"main","index":0}]]},"Google Sheets6":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"Бюджет":{"main":[[{"node":"Кнопки выбор бюджета","type":"main","index":0}]]},"start":{"main":[[]]},"Кнопки выбор бюджета":{"main":[[]]},"GET profile1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Ai cosmetologist","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Ai cosmetologist","type":"ai_languageModel","index":0}]]},"Ai cosmetologist":{"main":[[{"node":"GET profile1","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Search Agent","type":"ai_memory","index":0}]]},"GET profile2":{"main":[[{"node":"Бюджет","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send Products to Telegram1","type":"main","index":0}]]},"Google Spreadsheet":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"Google Spreadsheet1":{"ai_tool":[[{"node":"Ai cosmetologist","type":"ai_tool","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Ai cosmetologist","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Ai cosmetologist","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ece6517-e731-4b3f-af54-7b32db891429","triggerCount":0,"tags":[]}