backup_github-mQCrDrsYNTdnDEM2.json
{"createdAt":"2025-06-07T07:24:09.706Z","updatedAt":"2025-06-07T09:21:57.668Z","id":"mQCrDrsYNTdnDEM2","name":"BACKUP_Github","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"6b8984a3-f55a-4057-be72-deb7e1c229a0","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5860,-1100]},{"parameters":{"options":{}},"id":"7446352e-fe9e-4f60-a0b4-d5f9f3d4b231","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-5660,-1100]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"5d37ef4a-74ca-4a4b-b204-4dce9242b1d7","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-5460,-1100]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"acf05e82-6555-40cc-89cf-69d4c3018238","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-5260,-1100]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lannadesign123/n8n-Karin/blob/main/example.json","mode":"url"},"repository":{"__rl":true,"value":"n8n-Karin","mode":"list","cachedResultName":"n8n-Karin","cachedResultUrl":"https://github.com/lannadesign123/n8n-Karin"},"filePath":"="},"id":"a558ac65-3d4e-42f3-8001-9513adbbf5f1","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-5060,-1100],"alwaysOutputData":true,"webhookId":"b85cd45b-02c5-4b54-80f9-4fee0208eb72","credentials":{"githubOAuth2Api":{"id":"yn6AW4kIRgzP5nCZ","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"d455063d-1629-4fbd-9521-51fd3b63940f","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-4860,-1100]},{"parameters":{"filters":{},"requestOptions":{}},"id":"27b59d77-b272-4bef-a614-7243f6982a15","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-4660,-1100],"credentials":{"n8nApi":{"id":"8wFVGT33sTtrwf2o","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"42473efe-dadc-47b4-ae1c-223cd5db25bf","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-4460,-1100]},{"parameters":{"batchSize":1,"options":{}},"id":"a000aa84-f8ff-4d42-91af-d557c4f672c9","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-4220,-1100]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0ca7af00-3be1-41aa-a47c-7024d293ce81","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-3980,-1180]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lannadesign123/n8n-Karin/blob/main/example.json","mode":"url"},"repository":{"__rl":true,"value":"n8n-Karin","mode":"list","cachedResultName":"n8n-Karin","cachedResultUrl":"https://github.com/lannadesign123/n8n-Karin"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"c49fea11-5ee4-494b-a5f7-0b8cf034204d","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3760,-1380],"webhookId":"de1bc040-c7b7-4ed3-b82f-acbe11914537","credentials":{"githubOAuth2Api":{"id":"yn6AW4kIRgzP5nCZ","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/lannadesign123/n8n-Karin/blob/main/example.json","mode":"url"},"repository":{"__rl":true,"value":"n8n-Karin","mode":"list","cachedResultName":"n8n-Karin","cachedResultUrl":"https://github.com/lannadesign123/n8n-Karin"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"4e1591a0-11b8-426e-b61b-eb2d2f47a6a3","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3760,-980],"webhookId":"5e3f0539-4613-4014-aa71-a45737066761","credentials":{"githubOAuth2Api":{"id":"yn6AW4kIRgzP5nCZ","name":"GitHub account"}}},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-10960,200],"typeVersion":1,"id":"03037dfa-78ab-47c9-b519-76c21ddd6c19","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f844efd3-9c86-4964-aaf8-b98ba57bef7f","triggerCount":0,"tags":[]}