beauty-agent-tmPp2YkS3VzZdAqQ.json
{"createdAt":"2025-06-06T14:00:17.892Z","updatedAt":"2025-06-06T14:24:40.685Z","id":"tmPp2YkS3VzZdAqQ","name":"BEAUTY AGENT","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# нажал ДА = ВЫБЕРИ БЮДЖЕТ","height":292,"width":1718,"color":4},"id":"d5862b85-54bd-4a39-8409-93c04a10c36b","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[0,440],"typeVersion":1},{"parameters":{"content":"# нажал НЕТ + ЕЩЕ 2 варианта","height":292,"width":1178,"color":3},"id":"a99d8b64-40b4-4902-a062-e9debaa5d588","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[0,760],"typeVersion":1},{"parameters":{"content":"","height":292,"width":1178,"color":3},"id":"0d709876-83a1-4f7a-bd67-565b86df1c70","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[0,1080],"typeVersion":1},{"parameters":{"content":"# РЕЗУЛЬТАТ\n\n","height":392,"width":1758,"color":4},"id":"41f8698f-a615-4d50-b34a-73d6ffe04d7d","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[0,1400],"typeVersion":1},{"parameters":{"resource":"file","fileId":"={{ $json.photo_file_id }}"},"id":"5401ade9-f8c6-484d-a636-572fe8f47fe2","name":"Get Image1","type":"n8n-nodes-base.telegram","position":[260,120],"typeVersion":1.2,"webhookId":"8b210039-e135-420d-a5f1-53fc3ca1e836","retryOnFail":false,"maxTries":2,"credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Get ready1').item.json.photo_file_id }}"}},"id":"6f49db35-4189-48b4-a8ec-a375020aa882","name":"Convert1","type":"n8n-nodes-base.convertToFile","position":[620,120],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"bd8a8c20-939e-49b0-93d0-bb58b8719ebb","name":"chat_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"},{"id":"f89d0646-9f73-4067-bbf7-af9913b5f688","name":"message_id","value":"={{ $('Telegram Trigger').item.json.message.message_id }}","type":"string"},{"id":"07282534-971f-4430-8d45-5f3e15d3c167","name":"photo_file_id","value":"={{$json.message.photo[$json.message.photo.length - 1].file_id}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,120],"id":"e9cc45f2-2fd0-48d3-b0ea-c0fb7ae7d8b5","name":"Get ready1"},{"parameters":{"content":"# ФОТО КОЖИ = 1 ВАРИАНТ","height":412,"width":1698,"color":6},"id":"27326e64-53ed-4446-8862-bc558db35e8b","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"e32e39ac-d091-4f7e-8663-97175b1b9501","name":"Extract1","type":"n8n-nodes-base.extractFromFile","position":[440,120],"typeVersion":1},{"parameters":{"workflowId":{"__rl":true,"value":"SC7neCsKXHJ9tKk7","mode":"list","cachedResultName":"text_beauty"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[100,2300],"id":"7ebc1c80-1cae-4595-86b7-95bbb3f46641","name":"tg_text1"},{"parameters":{"content":"# НЕ СОХРАНЯТЬ\n","height":312,"width":958,"color":7},"id":"f0131a76-9c96-4e82-b59e-dac677b1e1de","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[0,1860],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=Ты — дипломированный врач-дерматолог.\n\nНа входе — фотография лица клиента.\n\nТвоя задача:\n1. Проанализировать кожу на изображении.\n2. Определить предполагаемый тип кожи: жирная / сухая / комбинированная / нормальная.\n3. Указать уровень уверенности в диапазоне от 0 до 100%.\n\nЕсли лицо не видно или анализ невозможен — верни пустой список.\n\nОтвет строго в формате JSON. Никаких комментариев, без ``` и текста вне JSON.\n\nПример:\n{\n  \"candidates\": [\n    { \"Type skin\": \"жирная\", \"confidence\": Вероятность 91% }\n  ]\n}\n","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[800,120],"id":"e9790444-30a9-4cfa-ad74-3d39e9c487d3","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"functionCode":"\nconst visionRaw = $json?.choices?.[0]?.message?.content || \"\";\nlet visionParsed = {};\nlet detectedSkinType = null;\nlet confidence = null;\nconst msgId = $json?.message?.message_id || \"000\";\n\ntry {\n  visionParsed = JSON.parse(visionRaw.trim());\n  detectedSkinType = visionParsed?.candidates?.[0]?.[\"Type skin\"]?.toLowerCase() || null;\n  confidence = visionParsed?.candidates?.[0]?.confidence || null;\n} catch (error) {\n  console.log(\"Ошибка при разборе JSON Vision:\", error);\n}\n\nif (detectedSkinType) {\n  return [{\n    json: {\n      step: \"confirm_skin_type_from_photo\",\n      type_skin: detectedSkinType,\n      confidence,\n      message_id: msgId,\n      text: `🌸👸 Я проанализировала фото и предполагаю, что у тебя *${detectedSkinType}* кожа. Это верно?`,\n      route: \"to_main_switch\",\n      inline_keyboard: [\n        [\n          { text: \"✅ Верно\", callback_data: `Type_skin_yes_${msgId}` },\n          { text: \"✏️ Изменить\", callback_data: `Type_skin_manual_${msgId}` }\n        ]\n      ]\n    }\n  }];\n}\n\n// fallback — пользователь вводит вручную\nreturn [{\n  json: {\n    step: \"skin_manual_input\",\n    message_id: msgId,\n    response_json: \"*Не удалось определить тип кожи по фото* 🤔\",\n    text: \"✏️ Пожалуйста, напиши вручную свой тип кожи: жирная / сухая / комбинированная / нормальная\",\n    route: \"to_manual_skin_input\"\n  }\n}];"},"id":"228f9cb2-e17a-4186-aa3d-c3bde13fb5dd","name":"Parse Vision","type":"n8n-nodes-base.function","typeVersion":1,"position":[1020,120]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.route }}","additionalFields":{}},"id":"647b49ed-c7d7-4912-88d2-0568057e650b","name":"Ask Manual Skin Type1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1320,220],"webhookId":"87b89064-e0a3-4a98-bc41-ef0ea5e1adee","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{$json.text}}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Верно","additionalFields":{"callback_data":"={{ $json.inline_keyboard[0][0].callback_data }}"}},{"text":"✏️ Изменить","additionalFields":{"callback_data":"={{ $json.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"id":"04bb8af5-e21d-46d0-8520-c99eb5fc95f5","name":"Send Confirmation Buttons","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1320,20],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"tableId":"skin_analysis","fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ new Date($('Send Confirmation Buttons').item.json.result.date * 1000).toISOString() }}\n"},{"fieldId":"chat_id","fieldValue":"={{ $('Get ready1').item.json.chat_id }}"},{"fieldId":"message_id","fieldValue":"={{ $('Get ready1').item.json.message_id }}"},{"fieldId":"skin_type","fieldValue":"={{ $('Parse Vision').item.json.type_skin }}"}]}},"id":"a0cd8331-deaf-45e5-9d51-e1909d8e05ed","name":"Save to Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1800,20],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-620,1120],"id":"b1ea9569-d06a-4bba-b182-c60767226669","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot7620895311:AAEBz4aAtdHGWMbwo1KKm2Sd34KGEA0K-W8/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,580],"id":"69d67f1b-2d4c-4bfb-9896-1d2a53d7e14a","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger2').item.json.message.chat.id }}","text":"💄 Хочешь, я порекомендую тебе декоративную косметику? (тени, помады, кисти и т.д.)","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💄 Да","additionalFields":{"callback_data":"makeup_yes"}},{"text":"🚫 Нет","additionalFields":{"callback_data":"makeup_no"}}]}}]},"additionalFields":{}},"name":"Ask Makeup","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[60,900],"id":"f1be7199-36c0-4d88-bab7-0ed3937bffa6","webhookId":"makeup_buttons_webhook","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52493568-0b68-46b8-b18a-894cf77bcac1","leftValue":"= {{ $json.message.text }}","rightValue":"manual_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"manual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f1495ad-2eb2-4729-af5a-23c949adce8c","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][1].text }}","rightValue":"Type skin_no_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Type skin_no"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bcf1e75-3e73-465b-8bbb-2665b845e7e9","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"budget_","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"skin_yes_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90573faf-164a-418f-a4a8-b69d3e7aaf3d","leftValue":"={{$json.callback_query.data}}","rightValue":"cancel_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6166763a-38e9-494a-aea0-20bdc9626314","leftValue":"{{ $json.message.text }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text_cmd"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-380,980],"id":"cdbfb017-9a69-4d6a-8221-e6374ed59557","name":"Switch"},{"parameters":{"operation":"get","tableId":"skin_analysis","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{ $('DEL dish_yes').item.json.result.chat.id }}"},{"keyName":"message_id","keyValue":"={{ $('DEL dish_yes').item.json.result.message_id }}"},{"keyName":"budget","keyValue":"=const budget = $json.callback_query.data.replace(\"budget_\", \"\");"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,560],"id":"6ca56159-8ba7-466f-a718-0143771410fc","name":"GET 1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 500₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":" до 3000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"до 5000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[260,560],"id":"1aa0230f-83db-4107-ad27-2683a8bba421","name":"DEL dish_yes","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"jsCode":"const data = $json.callback_query.data;\nconst type = data.replace(\"skin_yes_\", \"\");\nconst msgId = $json.callback_query.message.message_id;\n\nreturn [{\n  json: {\n    step: \"ask_budget\",\n    message_id: msgId,\n    type_skin: type,\n    text: `Какой у тебя бюджет на уход? 💰`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 500₽\", callback_data: \"budget_500\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 3000₽\", callback_data: \"budget_3000\" },\n          { text: \"до 5000₽\", callback_data: \"budget_5000\" }\n        ],\n        [\n          { text: \"выше 5000₽\", callback_data: \"budget_10000\" }\n        ]\n      ]\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,560],"id":"b5667de2-0a0e-49a9-9575-3589f5b87c0c","name":"Бюджет"},{"parameters":{"url":"https://www.nivea.ru/","responseFormat":"string","options":{},"headerParametersUi":{"parameter":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36"}]}},"name":"GoldApple Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[840,560],"id":"6aaeecce-32c2-44b0-b683-d11f83be6b16"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Отлично","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].text }}"}},{"text":"Изменить товар","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Send Products to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1420,560],"id":"5eb7dc8b-b634-49cc-b308-f9344f9ecbef","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"functionCode":"const type = $json.type_skin || \"неизвестный\";\nconst budget = $json.budget || \"не указан\";\nlet links = $json.all_links || [];\n\n// Приведение к формату [{ url, title }]\nif (Array.isArray(links) && typeof links[0] === 'object' && links[0].href) {\n  links = links.map((l, i) => ({\n    url: l.href,\n    title: l.title || `Продукт #${i + 1}`\n  }));\n} else if (typeof links[0] === 'string') {\n  links = links.map((url, i) => ({\n    url,\n    title: `Продукт #${i + 1}`\n  }));\n}\n\n// Категории ухода\nconst categories = [\n  \"Тонер\",\n  \"Сыворотка\",\n  \"Крем дневной\",\n  \"Крем ночной\",\n  \"Крем для глаз\",\n  \"Защита от солнца (SPF)\",\n  \"Пилинг\",\n  \"Крем для рук\"\n];\n\n// Удаление дубликатов по URL и ограничение 8\nconst unique = [...new Map(links.map(i => [i.url, i])).values()].slice(0, categories.length);\n\n// Формируем карточки товаров\nconst products = unique.map((item, index) => {\n  const category = categories[index] || `Продукт ${index + 1}`;\n  const title = item.title || `${category} — средство`;\n  const price = `${500 + index * 300}₽`;\n  const url = item.url.startsWith(\"http\") ? item.url : `https://www.nivea.ru/${item.url.replace(/^\\/+/, '')}`;\n\n  return `${index + 1}. *${category}* — ${title} для кожи типа \"${type}\"\\nЦена: ${price}\\n[Открыть товар](${url})`;\n});\n\n// Ответ пользователю\nreturn [{\n  json: {\n    text: `✨ Подборка ухода для кожи *${type}* (бюджет: *${budget}*):\\n\\n${products.join('\\n\\n')}\\n\\nВас всё устраивает?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"✅ Да\", callback_data: \"products_yes\" },\n          { text: \"🔁 Заменить\", callback_data: \"products_change\" }\n        ]\n      ]\n    }\n  }\n}];\n"},"name":"Сформировать список ухода","type":"n8n-nodes-base.function","typeVersion":1,"position":[1220,560],"id":"8648bee4-9f7d-4c88-a895-4b8cb1c07e37"},{"parameters":{"assignments":{"assignments":[{"id":"ba5d13df-ab80-40d1-9835-d6874f8d5c19","name":"text","value":"={\n  \"name\": \"Save to Supabase\",\n  \"type\": \"n8n-nodes-base.supabase\",\n  \"typeVersion\": 1,\n  \"position\": [420, 240],\n  \"parameters\": {\n    \"operation\": \"update\",\n    \"tableId\": \"skin_analysis\",\n    \"filters\": {\n      \"conditions\": [\n        {\n          \"keyName\": \"message_id\",\n          \"keyValue\": \"={{ $('Get ready1').item.json.message_id }}\"\n        }\n      ]\n  },\n  \"credentials\": {\n    \"supabaseApi\": {\n      \"id\": \"your-credential-id\",\n      \"name\": \"Supabase account\"\n    }\n  }\n}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,20],"id":"b68d3b46-cddb-446c-9ab3-61f96cd7e964","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"ba5d13df-ab80-40d1-9835-d6874f8d5c19","name":"text","value":"=const raw = $json.callback_query.data;\n\nconst budgetMap = {\n  \"budget_500\": \"до 500₽\",\n  \"budget_1000\": \"до 1000₽\",\n  \"budget_3000\": \"до 3000₽\",\n  \"budget_5000\": \"до 5000₽\",\n  \"budget_10000\": \"выше 5000₽\"\n};\n\nreturn [{\n  json: {\n    budget: budgetMap[raw] || \"не указан\",\n    message_id: $json.callback_query.message.message_id,\n    chat_id: $json.callback_query.from.id\n  }\n}];\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,560],"id":"8e91bd16-c835-407c-a4c4-4c480bd21eb8","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"ba5d13df-ab80-40d1-9835-d6874f8d5c19","name":"text","value":"={\n  \"type_skin\": \"жирная\",\n  \"budget\": \"до 3000₽\",\n  \"all_links\": [\n    \"/product1\", \"/product2\", \"/product3\", \"/product4\", \"/product5\", \"/product6\", \"/product7\", \"/product8\"\n  ]\n}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,560],"id":"b8d56250-3dda-45ef-b53e-3c603cae4c4c","name":"Edit Fields2"},{"parameters":{"promptType":"define","text":"={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}","options":{"systemMessage":"=Ты — виртуальный skin-care консультант.\n\nНа входе тебе передаются:\n- Тип кожи клиента (например: \"жирная\", \"сухая\", \"комбинированная\", \"нормальная\")\n- Бюджет: до 500₽, до 1000₽, до 3000₽, до 5000₽ или выше\n- Массив товаров в JSON-формате, где у каждого товара есть:\n  - title — название,\n  - href — ссылка\n\nТвоя задача:\n1. Учитывая тип кожи и бюджет, подобрать до 8 подходящих продуктов из массива.\n2. Категории строго в таком порядке:\n   - Тонер\n   - Сыворотка\n   - Крем дневной\n   - Крем ночной\n   - Крем для глаз\n   - Защита от солнца (SPF)\n   - Пилинг\n   - Крем для рук\n3. Для каждого продукта:\n   - Название (если есть)\n   - Цена (например: \"Цена: 1500₽\")\n   - Ссылка (Markdown формат `[Открыть товар](ссылка)`)\n\n4. Вывод должен быть:\n- Текстом с подборкой\n- В конце добавить: `Вас всё устраивает?`\n- И вернуть JSON с `reply_markup.inline_keyboard` — 2 кнопки:\n   - ✅ Отлично → callback_data: `products_yes`\n   - 🔁 Заменить товар → callback_data: `products_change`\n\n---\n\nФормат вывода:\n```json\n{\n  \"text\": \"✨ Вот что я подобрала тебе для твоей кожи лица *жирная* (бюджет: *до 3000₽*):\\n\\n1. *Тонер* — Название\\nЦена: 500₽\\n[Открыть товар](ссылка)\\n...\\n\\nВас всё устраивает?\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        { \"text\": \"✅ Отлично\", \"callback_data\": \"products_yes\" },\n        { \"text\": \"🔁 Заменить товар\", \"callback_data\": \"products_change\" }\n      ]\n    ]\n  }\n}\n\n\n{\n  \"type_skin\": \"жирная\",\n  \"budget\": \"до 3000₽\",\n  \"products\": [\n    { \"title\": \"Освежающий тоник Nivea\", \"href\": \"https://www.nivea.ru/product1\" },\n    { \"title\": \"Сыворотка с витамином C\", \"href\": \"https://www.nivea.ru/product2\" },\n    { \"title\": \"Дневной крем для лица\", \"href\": \"https://www.nivea.ru/product3\" },\n    { \"title\": \"Ночной крем с гиалуронкой\", \"href\": \"https://www.nivea.ru/product4\" },\n    { \"title\": \"Крем для глаз Anti-Age\", \"href\": \"https://www.nivea.ru/product5\" },\n    { \"title\": \"SPF 50 Легкий флюид\", \"href\": \"https://www.nivea.ru/product6\" },\n    { \"title\": \"Пилинг-скатка\", \"href\": \"https://www.nivea.ru/product7\" },\n    { \"title\": \"Крем для рук с маслом ши\", \"href\": \"https://www.nivea.ru/product8\" }\n  ]\n}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2200,1160],"id":"822b79d3-54e7-430f-8603-fd5d3cba7a52","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2180,1400],"id":"f54de267-d0ad-4199-a345-1f9416802c18","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"operation":"get","tableId":"skin_analysis","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{ $('DEL dish_yes').item.json.result.chat.id }}"},{"keyName":"message_id","keyValue":"={{ $('DEL dish_yes').item.json.result.message_id }}"},{"keyName":"budget","keyValue":"=const budget = $json.callback_query.data.replace(\"budget_\", \"\");"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,0],"id":"e52cd962-23a8-4774-8ab4-ecc51315c3fd","name":"GET ","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{$json.text}}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Отлично","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].text }}"}},{"text":"Изменить товар","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Send Products to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2660,1200],"id":"35032c52-0e61-4d7b-8000-9a34b4409874","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"jsCode":"const type = $json.type_skin || \"неизвестный\";\nconst budget = $json.budget || \"не указан\";\nlet links = $json.all_links || [];\n\n// Приведение к формату [{ url, title }]\nif (Array.isArray(links) && typeof links[0] === 'object' && links[0].href) {\n  links = links.map((l, i) => ({\n    url: l.href,\n    title: l.title || `Продукт #${i + 1}`\n  }));\n} else if (typeof links[0] === 'string') {\n  links = links.map((url, i) => ({\n    url,\n    title: `Продукт #${i + 1}`\n  }));\n}\n\n// Категории ухода\nconst categories = [\n  \"Тонер\",\n  \"Сыворотка\",\n  \"Крем дневной\",\n  \"Крем ночной\",\n  \"Крем для глаз\",\n  \"Защита от солнца (SPF)\",\n  \"Пилинг\",\n  \"Крем для рук\"\n];\n\n// Удаление дубликатов по URL и ограничение 8\nconst unique = [...new Map(links.map(i => [i.url, i])).values()].slice(0, categories.length);\n\n// Формируем карточки товаров\nconst products = unique.map((item, index) => {\n  const category = categories[index] || `Продукт ${index + 1}`;\n  const title = item.title || `${category} — средство`;\n  const price = `${500 + index * 300}₽`;\n  const url = item.url.startsWith(\"http\") ? item.url : `https://www.nivea.ru/${item.url.replace(/^\\/+/, '')}`;\n\n  return `${index + 1}. *${category}* — ${title} для кожи типа \"${type}\"\\nЦена: ${price}\\n[Открыть товар](${url})`;\n});\n\n// Ответ пользователю\nreturn [{\n  json: {\n    text: `✨ Подборка ухода для кожи *${type}* (бюджет: *${budget}*):\\n\\n${products.join('\\n\\n')}\\n\\nВас всё устраивает?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"✅ Отлично\", callback_data: \"products_yes\" },\n          { text: \"🔁 Заменить\", callback_data: \"products_change\" }\n        ]\n      ]\n    }\n  }\n}];\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[2420,1420],"id":"95a1ca07-1872-4bee-b5a2-b39ca8bb4ddc","name":"Code Tool"}],"connections":{"Get Image1":{"main":[[{"node":"Extract1","type":"main","index":0}]]},"Convert1":{"main":[[{"node":"VISION","type":"main","index":0}]]},"Get ready1":{"main":[[{"node":"Get Image1","type":"main","index":0}]]},"Extract1":{"main":[[{"node":"Convert1","type":"main","index":0}]]},"VISION":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"Send Confirmation Buttons","type":"main","index":0},{"node":"Ask Manual Skin Type1","type":"main","index":0}]]},"Send Confirmation Buttons":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"HTTP typing...","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Get ready1","type":"main","index":0}],[],[{"node":"Бюджет","type":"main","index":0}]]},"Бюджет":{"main":[[{"node":"DEL dish_yes","type":"main","index":0}]]},"DEL dish_yes":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"GET 1":{"main":[[{"node":"GoldApple Request","type":"main","index":0}]]},"GoldApple Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Сформировать список ухода":{"main":[[{"node":"Send Products to Telegram1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"GET 1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Сформировать список ухода","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send Products to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"65dd217a-c858-44cc-86cd-bd56e5338ba1","triggerCount":0,"tags":[{"createdAt":"2025-06-05T12:56:17.657Z","updatedAt":"2025-06-05T12:56:17.657Z","id":"44131z8z1lm9Bb8Q","name":"ИИздец"}]}