my-workflow-3-hcgG1dIFM34Dbc55.json
{"createdAt":"2025-07-08T14:05:42.898Z","updatedAt":"2025-07-10T14:44:18.424Z","id":"hcgG1dIFM34Dbc55","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"2ff92fc9-e1b6-4f00-98e7-5c59935404f2","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1060,460]},{"parameters":{"name":"Calendar_Agent","description":"Call this tool to take actions within Calendar","workflowId":{"__rl":true,"value":"krNvxEZk4v6jFS7F","mode":"list","cachedResultName":"Отдел Календарь Гугл"}},"id":"9be04e1c-fa63-4b6d-a4c0-8962f7f753d1","name":"🤖Calendar_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-1360,1000]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"03e4a141-35f0-4121-9662-132d903ea1d4","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[340,60],"webhookId":"cd45388a-451a-42a0-b4aa-94857c5cc9f2"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"39754369-a194-46ed-b2f5-cafd8d492c75","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2600,400],"webhookId":"2194a6b2-2302-4406-9c8c-207161b7eb22","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=<Agentinstructions>\n    <Role>\n        <Name>Personal Assistant</Name>\n        <Description>Персональный AI-ассистент, предназначенный для управления контактами, электронной почтой, событиями календаря и проектами. Он помогает пользователю эффективно организовывать рабочие процессы.</Description>\n        <currentDate>{{$now}}</currentDate>\n    </Role>\n    <Goal>\n        <Primary>Обеспечить эффективное управление контактами, электронной почтой, календарем и проектами, используя доступные инструменты для выполнения запросов пользователя.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>Для поиска информации о контакте (например, электронной почты) используй инструмент \"Contacts Data\" перед отправкой письма или получением писем. \n     </Instruction>\n     <Instructions>\n   КОгда тебе дают задание найти свежие новости по какой-то теме и на основе этих новостей создать контент, то ты используй инструмент \"AI Новостник Копирайтер\" и ты должен передать в него свои входные данные.\n        </Instruction>\n        <Instruction>Для работы с электронной почтой (отправка сообщений, настройка ответов, пересылка) используй инструмент \"Email Agent\".</Instruction>\n\n        <Instruction>Для планирования, обновления или управления событиями в календаре используй инструмент \"Calendar Agent\". </Instruction>\n\n        <Instruction>Для отправки сообщений в Slack используй инструмент \"Send Slack Message\". Уточняй у пользователя, кому и какое сообщение отправить.</Instruction>\n\n        <Instruction>Для работы с проектами используй инструмент \"Projects_Agent\". Запрашивай или обновляй информацию по проектам в зависимости от запроса пользователя.</Instruction>\n\n        <Instruction>При выполнении задач анализируй, какой инструмент наиболее подходящий, передавай необходимые детали и выполняй действия для завершения запроса.</Instruction>\n\n<Instruction>\nЕсли у тебя спрашивают цены на наши услуги обращайся в Knowledge_Base для поиска инструкций. </Instruction>\n\n\n        <Instruction>Будь проактивным, точным и организованным, чтобы обеспечивать комфортное и эффективное взаимодействие с пользователем.</Instruction>\n    </Instructions>\n</Agentinstructions>"}},"id":"e650bbfe-cb62-45bb-9960-4a97bc6eeac7","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-740,260],"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,240],"id":"125fdb97-6a08-404e-8c65-3093fc196719","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1860,500],"id":"4df17597-bda7-426c-8945-62f2bc50ecd3","name":"Telegram","webhookId":"c66673cf-72f0-4233-82d8-70fe313d8765","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1660,500],"id":"6e36e32a-dc0a-4105-8765-898a81215e73","name":"OpenAI","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"11328fcf-9d3a-485a-aa8b-79b435e0825c"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2140,400],"id":"1bdb426f-5e38-4888-8860-0796434c84c1","name":"Switch"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-900,460],"id":"2adf30d2-0f87-412c-a164-6651362dcb0f","name":"Window Buffer Memory"},{"parameters":{"name":"Calendar_Instagram","description":"Call this tool to take actions within Calendar","workflowId":{"__rl":true,"value":"krNvxEZk4v6jFS7F","mode":"list","cachedResultName":"Отдел Календарь Гугл"}},"id":"febe3a03-03b7-4074-93d5-67857acc48a5","name":"🤖YouTube_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-700,1000],"disabled":true},{"parameters":{"name":"Calendar_Instagram","description":"Call this tool to take actions within Calendar","workflowId":{"__rl":true,"value":"krNvxEZk4v6jFS7F","mode":"list","cachedResultName":"Отдел Календарь Гугл"}},"id":"5aaece1f-96ad-4363-bdb2-ddd123bb980d","name":"🤖Instagram_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-1040,1000],"disabled":true},{"parameters":{"name":"Calendar_Instagram","description":"Call this tool to take actions within Calendar","workflowId":{"__rl":true,"value":"krNvxEZk4v6jFS7F","mode":"list","cachedResultName":"Отдел Календарь Гугл"}},"id":"7967fbee-4bcf-4fc8-9905-b9293e87de1f","name":"🤖Threads_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-820,1000],"disabled":true},{"parameters":{"name":"Calendar_Instagram","description":"Call this tool to take actions within Calendar","workflowId":{"__rl":true,"value":"krNvxEZk4v6jFS7F","mode":"list","cachedResultName":"Отдел Календарь Гугл"}},"id":"ff004975-eb63-4daa-8808-2b0e36583fee","name":"🤖TikTok_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-560,1000],"disabled":true},{"parameters":{"name":"Calendar_Instagram","description":"Call this tool to take actions within Calendar","workflowId":{"__rl":true,"value":"krNvxEZk4v6jFS7F","mode":"list","cachedResultName":"Отдел Календарь Гугл"}},"id":"7802634c-ccda-4f40-b77c-0a69733c8339","name":"🤖Kontent_Agent1","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-380,1000],"disabled":true},{"parameters":{"name":"Calendar_Instagram","description":"Call this tool to take actions within Calendar","workflowId":{"__rl":true,"value":"krNvxEZk4v6jFS7F","mode":"list","cachedResultName":"Отдел Календарь Гугл"}},"id":"e97f7ae0-ad28-4725-957b-715a5d2255f9","name":"🤖Voice_Agent","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-200,1020],"disabled":true},{"parameters":{"pineconeIndex":{"__rl":true,"value":"my-knowledge-base","mode":"list","cachedResultName":"my-knowledge-base"},"options":{"pineconeNamespace":"Test"}},"id":"05825d45-c694-42b5-b743-39066fa699e1","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[180,880]},{"parameters":{"model":"gpt-4o","options":{}},"id":"00195c5c-e231-4a89-bf85-84a257656f94","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[540,820]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"72b9393e-0c35-4963-9e02-b30a1e8581f1","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[240,1040]},{"parameters":{"name":"Knowledge_Base","description":"Call this tool to get information about the company."},"id":"c738b899-887a-4d08-9635-7b2b923dd02f","name":"Knowledge Base","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[180,720]},{"parameters":{"name":"AI_news_content","description":"Call this tool to perform actions in create content based on news","workflowId":{"__rl":true,"value":"3nmBSBTEDq3WcbQI","mode":"list","cachedResultName":"AI Agent Копирайтер Новостник (в системе)"},"specifyInputSchema":true,"jsonSchemaExample":"{\n  \"query\": \"{{ $json.query }}\",\n  \"message\": \"{{ $json.message }}\"\n}\n"},"id":"09401b12-dc76-4af8-9187-966aa4bf2f2a","name":"🤖AI_news_content","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-1200,1000]},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2360,400],"id":"85622ced-f93b-4c80-9eea-d034bd365b07","name":"Telegram2","webhookId":"8cd99b7a-3eca-4fd9-9b9a-168ea002f4b1","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"content":"## СТАРТ И ЗАПУСК\n**Работа с текстом и голосом**","height":560,"width":1380},"type":"n8n-nodes-base.stickyNote","position":[-2660,180],"typeVersion":1,"id":"8473fa24-c8e3-485b-b2bc-177ad7b2de25","name":"Sticky Note"},{"parameters":{"content":"## AI АССИСТЕНТ\n**Главный ИИ помощник**","height":500,"width":840,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1100,200],"typeVersion":1,"id":"3e4b98a2-9418-4828-afa7-511c9d3417a4","name":"Sticky Note1"},{"parameters":{"content":"## ИИ ПОМОЩНИКИ \n**Отделы для выполнения задач (узконаправленный специалисты)**","height":300,"width":1460,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1460,900],"typeVersion":1,"id":"d2e20fbf-dd8d-4e15-ab20-55b2970bb780","name":"Sticky Note2"},{"parameters":{"content":"## БАЗА ЗНАНИЙ\n**База знаний и регламентов","height":620,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","position":[140,600],"typeVersion":1,"id":"8f754ea3-7344-4696-b3e4-5df8e0f242f8","name":"Sticky Note3"},{"parameters":{"content":"## ВЫХОД\n**Ответы, выход и сохранения**","height":240,"width":580},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"8325cbf9-f997-4aa8-8fe7-98b07c49b711","name":"Sticky Note4"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"🤖Calendar_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Personal Assistant":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Personal Assistant","type":"ai_memory","index":0}]]},"🤖Instagram_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"🤖Threads_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"🤖YouTube_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"🤖TikTok_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"🤖Kontent_Agent1":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"🤖Voice_Agent":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Knowledge Base","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Knowledge Base","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"🤖AI_news_content":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Telegram2":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7bf7e4be-117e-4812-a553-9ee3208b393a","triggerCount":0,"tags":[{"createdAt":"2025-06-11T00:09:15.937Z","updatedAt":"2025-06-11T00:09:15.937Z","id":"DFTYNuycXnS0BOmm","name":"video"}]}