my-workflow-wmQrZwmpIasGRMWV.json
{"createdAt":"2025-06-05T13:18:22.963Z","updatedAt":"2025-06-06T13:59:49.982Z","id":"wmQrZwmpIasGRMWV","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"# нажал ДА = ВЫБЕРИ БЮДЖЕТ","height":292,"width":1718,"color":4},"id":"1794eea2-d400-442c-a952-97e58c6fac6a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-1700,-480],"typeVersion":1},{"parameters":{"content":"# нажал НЕТ + ЕЩЕ 2 варианта","height":292,"width":1178,"color":3},"id":"d64bf92c-ffe0-4d9f-a8d5-61eb5f03c728","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1700,-160],"typeVersion":1},{"parameters":{"content":"","height":292,"width":1178,"color":3},"id":"a0767217-5533-4172-b6c8-29932d601a79","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-1700,160],"typeVersion":1},{"parameters":{"content":"# РЕЗУЛЬТАТ\n\n","height":392,"width":1758,"color":4},"id":"edac5fa9-c673-48e9-9b85-525af1746466","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-1700,480],"typeVersion":1},{"parameters":{"resource":"file","fileId":"={{ $json.photo_file_id }}"},"id":"3422ed87-3fb0-414c-b1f1-3172aff22c23","name":"Get Image1","type":"n8n-nodes-base.telegram","position":[-1440,-800],"typeVersion":1.2,"webhookId":"8b210039-e135-420d-a5f1-53fc3ca1e836","retryOnFail":false,"maxTries":2,"credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Get ready1').item.json.photo_file_id }}"}},"id":"6a5ef0d2-c8bd-4b50-ba28-921f2a4e0661","name":"Convert1","type":"n8n-nodes-base.convertToFile","position":[-1080,-800],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"bd8a8c20-939e-49b0-93d0-bb58b8719ebb","name":"chat_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"},{"id":"f89d0646-9f73-4067-bbf7-af9913b5f688","name":"message_id","value":"={{ $('Telegram Trigger').item.json.message.message_id }}","type":"string"},{"id":"07282534-971f-4430-8d45-5f3e15d3c167","name":"photo_file_id","value":"={{$json.message.photo[$json.message.photo.length - 1].file_id}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1640,-800],"id":"8fc244d5-fc6f-45b9-9d28-d961ee2b85f3","name":"Get ready1"},{"parameters":{"content":"# ФОТО КОЖИ = 1 ВАРИАНТ","height":412,"width":1698,"color":6},"id":"b75c73d9-ba40-4fde-9f4c-cd7eaf4e6e39","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-1700,-920],"typeVersion":1},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"ceea2d5e-abad-4127-8bb0-0db76a22514b","name":"Extract1","type":"n8n-nodes-base.extractFromFile","position":[-1260,-800],"typeVersion":1},{"parameters":{"workflowId":{"__rl":true,"value":"SC7neCsKXHJ9tKk7","mode":"list","cachedResultName":"text_beauty"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1600,1380],"id":"07d10a64-c377-4ef4-b4b1-dcf177dc9e1a","name":"tg_text1"},{"parameters":{"content":"# НЕ СОХРАНЯТЬ\n","height":312,"width":958,"color":7},"id":"097a07dd-068f-4a91-80e1-29c525aac767","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-1700,940],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=Ты — дипломированный врач-дерматолог.\n\nНа входе — фотография лица клиента.\n\nТвоя задача:\n1. Проанализировать кожу на изображении.\n2. Определить предполагаемый тип кожи: жирная / сухая / комбинированная / нормальная.\n3. Указать уровень уверенности в диапазоне от 0 до 100%.\n\nЕсли лицо не видно или анализ невозможен — верни пустой список.\n\nОтвет строго в формате JSON. Никаких комментариев, без ``` и текста вне JSON.\n\nПример:\n{\n  \"candidates\": [\n    { \"Type skin\": \"жирная\", \"confidence\": Вероятность 91% }\n  ]\n}\n","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-900,-800],"id":"ce1dbc29-9c7a-49ea-b279-7b98517d6c51","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"functionCode":"\nconst visionRaw = $json?.choices?.[0]?.message?.content || \"\";\nlet visionParsed = {};\nlet detectedSkinType = null;\nlet confidence = null;\nconst msgId = $json?.message?.message_id || \"000\";\n\ntry {\n  visionParsed = JSON.parse(visionRaw.trim());\n  detectedSkinType = visionParsed?.candidates?.[0]?.[\"Type skin\"]?.toLowerCase() || null;\n  confidence = visionParsed?.candidates?.[0]?.confidence || null;\n} catch (error) {\n  console.log(\"Ошибка при разборе JSON Vision:\", error);\n}\n\nif (detectedSkinType) {\n  return [{\n    json: {\n      step: \"confirm_skin_type_from_photo\",\n      type_skin: detectedSkinType,\n      confidence,\n      message_id: msgId,\n      text: `🌸👸 Я проанализировала фото и предполагаю, что у тебя *${detectedSkinType}* кожа. Это верно?`,\n      route: \"to_main_switch\",\n      inline_keyboard: [\n        [\n          { text: \"✅ Верно\", callback_data: `Type_skin_yes_${msgId}` },\n          { text: \"✏️ Изменить\", callback_data: `Type_skin_manual_${msgId}` }\n        ]\n      ]\n    }\n  }];\n}\n\n// fallback — пользователь вводит вручную\nreturn [{\n  json: {\n    step: \"skin_manual_input\",\n    message_id: msgId,\n    response_json: \"*Не удалось определить тип кожи по фото* 🤔\",\n    text: \"✏️ Пожалуйста, напиши вручную свой тип кожи: жирная / сухая / комбинированная / нормальная\",\n    route: \"to_manual_skin_input\"\n  }\n}];"},"id":"f3414a4b-ef07-4274-8305-35e4117211b7","name":"Parse Vision","type":"n8n-nodes-base.function","typeVersion":1,"position":[-680,-800]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.route }}","additionalFields":{}},"id":"eb16e6c5-ab75-4f60-94b6-873d6272b7df","name":"Ask Manual Skin Type1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-380,-700],"webhookId":"87b89064-e0a3-4a98-bc41-ef0ea5e1adee","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{$json.text}}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Верно","additionalFields":{"callback_data":"={{ $json.inline_keyboard[0][0].callback_data }}"}},{"text":"✏️ Изменить","additionalFields":{"callback_data":"={{ $json.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"id":"3bc51b6d-16f6-4204-ba06-83fe7a3a6c35","name":"Send Confirmation Buttons","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-380,-900],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"tableId":"skin_analysis","fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ new Date($('Send Confirmation Buttons').item.json.result.date * 1000).toISOString() }}\n"},{"fieldId":"chat_id","fieldValue":"={{ $('Get ready1').item.json.chat_id }}"},{"fieldId":"message_id","fieldValue":"={{ $('Get ready1').item.json.message_id }}"},{"fieldId":"skin_type","fieldValue":"={{ $('Parse Vision').item.json.type_skin }}"}]}},"id":"38bfd75a-7907-4f82-841a-64d4c097b87b","name":"Save to Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[100,-900],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2320,200],"id":"8f899048-4672-40ce-8a57-e3d0e8932260","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot7620895311:AAEBz4aAtdHGWMbwo1KKm2Sd34KGEA0K-W8/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2080,-340],"id":"795737d4-63e5-4575-a1df-cd269a8e1c35","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger2').item.json.message.chat.id }}","text":"💄 Хочешь, я порекомендую тебе декоративную косметику? (тени, помады, кисти и т.д.)","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💄 Да","additionalFields":{"callback_data":"makeup_yes"}},{"text":"🚫 Нет","additionalFields":{"callback_data":"makeup_no"}}]}}]},"additionalFields":{}},"name":"Ask Makeup","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-1640,-20],"id":"34510038-7944-49e2-b294-3749c97ff196","webhookId":"makeup_buttons_webhook","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52493568-0b68-46b8-b18a-894cf77bcac1","leftValue":"= {{ $json.message.text }}","rightValue":"manual_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"manual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f1495ad-2eb2-4729-af5a-23c949adce8c","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][1].text }}","rightValue":"Type skin_no_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Type skin_no"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bcf1e75-3e73-465b-8bbb-2665b845e7e9","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"budget_","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"skin_yes_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90573faf-164a-418f-a4a8-b69d3e7aaf3d","leftValue":"={{$json.callback_query.data}}","rightValue":"cancel_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6166763a-38e9-494a-aea0-20bdc9626314","leftValue":"{{ $json.message.text }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text_cmd"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2080,60],"id":"94f7a0b9-f3cc-46bd-ae3d-36a225e1d857","name":"Switch"},{"parameters":{"operation":"get","tableId":"skin_analysis","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{ $('DEL dish_yes').item.json.result.chat.id }}"},{"keyName":"message_id","keyValue":"={{ $('DEL dish_yes').item.json.result.message_id }}"},{"keyName":"budget","keyValue":"=const budget = $json.callback_query.data.replace(\"budget_\", \"\");"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1060,-360],"id":"d357a0ce-1aa4-4b3a-9357-f684aff9710e","name":"GET 1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 500₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":" до 3000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"до 5000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1440,-360],"id":"be34ceba-3bbf-43d1-858c-700dbf71f689","name":"DEL dish_yes","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"jsCode":"const data = $json.callback_query.data;\nconst type = data.replace(\"skin_yes_\", \"\");\nconst msgId = $json.callback_query.message.message_id;\n\nreturn [{\n  json: {\n    step: \"ask_budget\",\n    message_id: msgId,\n    type_skin: type,\n    text: `Какой у тебя бюджет на уход? 💰`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 500₽\", callback_data: \"budget_500\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 3000₽\", callback_data: \"budget_3000\" },\n          { text: \"до 5000₽\", callback_data: \"budget_5000\" }\n        ],\n        [\n          { text: \"выше 5000₽\", callback_data: \"budget_10000\" }\n        ]\n      ]\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,-360],"id":"a053d2dd-2ce7-49c3-a7ed-1cc8b734dbdc","name":"Бюджет"},{"parameters":{"url":"https://www.nivea.ru/","responseFormat":"string","options":{},"headerParametersUi":{"parameter":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36"}]}},"name":"GoldApple Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-860,-360],"id":"55fd6d02-298b-49b3-a0bd-a4b95c367011"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Отлично","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].text }}"}},{"text":"Изменить товар","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Send Products to Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-280,-360],"id":"605dd827-3dd2-4d4e-ac15-645527c81446","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"functionCode":"const type = $json.type_skin || \"неизвестный\";\nconst budget = $json.budget || \"не указан\";\nlet links = $json.all_links || [];\n\n// Приведение к формату [{ url, title }]\nif (Array.isArray(links) && typeof links[0] === 'object' && links[0].href) {\n  links = links.map((l, i) => ({\n    url: l.href,\n    title: l.title || `Продукт #${i + 1}`\n  }));\n} else if (typeof links[0] === 'string') {\n  links = links.map((url, i) => ({\n    url,\n    title: `Продукт #${i + 1}`\n  }));\n}\n\n// Категории ухода\nconst categories = [\n  \"Тонер\",\n  \"Сыворотка\",\n  \"Крем дневной\",\n  \"Крем ночной\",\n  \"Крем для глаз\",\n  \"Защита от солнца (SPF)\",\n  \"Пилинг\",\n  \"Крем для рук\"\n];\n\n// Удаление дубликатов по URL и ограничение 8\nconst unique = [...new Map(links.map(i => [i.url, i])).values()].slice(0, categories.length);\n\n// Формируем карточки товаров\nconst products = unique.map((item, index) => {\n  const category = categories[index] || `Продукт ${index + 1}`;\n  const title = item.title || `${category} — средство`;\n  const price = `${500 + index * 300}₽`;\n  const url = item.url.startsWith(\"http\") ? item.url : `https://www.nivea.ru/${item.url.replace(/^\\/+/, '')}`;\n\n  return `${index + 1}. *${category}* — ${title} для кожи типа \"${type}\"\\nЦена: ${price}\\n[Открыть товар](${url})`;\n});\n\n// Ответ пользователю\nreturn [{\n  json: {\n    text: `✨ Подборка ухода для кожи *${type}* (бюджет: *${budget}*):\\n\\n${products.join('\\n\\n')}\\n\\nВас всё устраивает?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"✅ Да\", callback_data: \"products_yes\" },\n          { text: \"🔁 Заменить\", callback_data: \"products_change\" }\n        ]\n      ]\n    }\n  }\n}];\n"},"name":"Сформировать список ухода","type":"n8n-nodes-base.function","typeVersion":1,"position":[-480,-360],"id":"40fa89c5-e7d9-4c26-a51f-b9c4b61fe147"},{"parameters":{"assignments":{"assignments":[{"id":"ba5d13df-ab80-40d1-9835-d6874f8d5c19","name":"text","value":"={\n  \"name\": \"Save to Supabase\",\n  \"type\": \"n8n-nodes-base.supabase\",\n  \"typeVersion\": 1,\n  \"position\": [420, 240],\n  \"parameters\": {\n    \"operation\": \"update\",\n    \"tableId\": \"skin_analysis\",\n    \"filters\": {\n      \"conditions\": [\n        {\n          \"keyName\": \"message_id\",\n          \"keyValue\": \"={{ $('Get ready1').item.json.message_id }}\"\n        }\n      ]\n  },\n  \"credentials\": {\n    \"supabaseApi\": {\n      \"id\": \"your-credential-id\",\n      \"name\": \"Supabase account\"\n    }\n  }\n}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,-900],"id":"2e306d2b-a74a-49b1-aa9f-7944f8316e77","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"ba5d13df-ab80-40d1-9835-d6874f8d5c19","name":"text","value":"=const raw = $json.callback_query.data;\n\nconst budgetMap = {\n  \"budget_500\": \"до 500₽\",\n  \"budget_1000\": \"до 1000₽\",\n  \"budget_3000\": \"до 3000₽\",\n  \"budget_5000\": \"до 5000₽\",\n  \"budget_10000\": \"выше 5000₽\"\n};\n\nreturn [{\n  json: {\n    budget: budgetMap[raw] || \"не указан\",\n    message_id: $json.callback_query.message.message_id,\n    chat_id: $json.callback_query.from.id\n  }\n}];\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1240,-360],"id":"daf5040b-d70a-4230-87e1-ece07afd369d","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"ba5d13df-ab80-40d1-9835-d6874f8d5c19","name":"text","value":"={\n  \"type_skin\": \"жирная\",\n  \"budget\": \"до 3000₽\",\n  \"all_links\": [\n    \"/product1\", \"/product2\", \"/product3\", \"/product4\", \"/product5\", \"/product6\", \"/product7\", \"/product8\"\n  ]\n}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-680,-360],"id":"df10f39a-9753-4cb9-a9b4-568296bd9ec5","name":"Edit Fields2"}],"connections":{"Get Image1":{"main":[[{"node":"Extract1","type":"main","index":0}]]},"Convert1":{"main":[[{"node":"VISION","type":"main","index":0}]]},"Get ready1":{"main":[[{"node":"Get Image1","type":"main","index":0}]]},"Extract1":{"main":[[{"node":"Convert1","type":"main","index":0}]]},"VISION":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"Send Confirmation Buttons","type":"main","index":0},{"node":"Ask Manual Skin Type1","type":"main","index":0}]]},"Send Confirmation Buttons":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"HTTP typing...","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Get ready1","type":"main","index":0}],[],[{"node":"Бюджет","type":"main","index":0}],[],[]]},"Бюджет":{"main":[[{"node":"DEL dish_yes","type":"main","index":0}]]},"DEL dish_yes":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"GET 1":{"main":[[{"node":"GoldApple Request","type":"main","index":0}]]},"GoldApple Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Сформировать список ухода":{"main":[[{"node":"Send Products to Telegram1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"GET 1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Сформировать список ухода","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b59140e7-900a-4938-98ff-9498bdff0599","triggerCount":0,"tags":[]}