my-workflow-3-MBHInrMK8fBYdm2w.json
{"createdAt":"2025-06-05T16:05:14.821Z","updatedAt":"2025-06-05T16:19:21.402Z","id":"MBHInrMK8fBYdm2w","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# нажал ДА = ВЫБЕРИ ВЕС","height":292,"width":1178,"color":4},"id":"8e5dd320-a0a6-4596-9dc1-88eafb0a0c00","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[80,520],"typeVersion":1},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-560,1220],"id":"074bb5f2-595a-4691-8ea4-dbf7afc3a375","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52493568-0b68-46b8-b18a-894cf77bcac1","leftValue":"={{$json.callback_query.data}}","rightValue":"manual_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"manual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f1495ad-2eb2-4729-af5a-23c949adce8c","leftValue":"={{$json.callback_query.data}}","rightValue":"dish_yes_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"dish_yes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json.callback_query.data}}","rightValue":"dish_no_","operator":{"type":"string","operation":"startsWith"},"id":"c9ead52e-1b81-453a-bd9b-1d18dcbd82bb"}],"combinator":"and"},"renameOutput":true,"outputKey":"dish_no"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"646db5d3-3518-4edf-9374-cef371fa7ba9","leftValue":"={{$json.callback_query.data}}","rightValue":"alt_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"alt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bcf1e75-3e73-465b-8bbb-2665b845e7e9","leftValue":"={{$json.callback_query.data}}","rightValue":"weight_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"weight"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90573faf-164a-418f-a4a8-b69d3e7aaf3d","leftValue":"={{$json.callback_query.data}}","rightValue":"cancel_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6166763a-38e9-494a-aea0-20bdc9626314","leftValue":"={{ $json.message.text }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text_cmd"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-360,1120],"id":"38b45eab-d82d-4723-a3f7-b918910d78d0","name":"Switch"},{"parameters":{"jsCode":"// alt_0_7  →  parts = ['alt','0','7']\nconst [, idx, id] = $json.callback_query.data.split('_');\n\nreturn [{\n  json: {\n    chat_id    : $json.callback_query.message.chat.id,   // ID чата, где лежит сообщение-клавиатура\n    draft_id   : Number(id),                             // 7\n    alt_idx    : Number(idx),                            // 0 / 1 / 2\n    del_msg_id : $json.callback_query.message.message_id // ID сообщения, которое надо удалить\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,1240],"id":"e1ac926c-741c-4136-a882-feaa323a035c","name":"Parse alt"},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"await_alt"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[520,1240],"id":"b1a0f5a5-a97b-4e58-9fa8-3c4f449cd431","name":"GET 3","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"},{"keyName":"message_id","condition":"eq","keyValue":"={{$json.draft_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"chosen_name","fieldValue":"={{$json.dish_ru}}"},{"fieldId":"grams_pred","fieldValue":"={{$json.grams_est}}"},{"fieldId":"status","fieldValue":"await_weight"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[840,1260],"id":"4dbfbbf5-f25a-4f63-bcd6-b0063d901ae2","name":"UPDATE 3","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"content":"# нажал НЕТ + ЕЩЕ 2 варианта","height":292,"width":1178,"color":3},"id":"3cb8d6aa-8e40-4bd1-995f-b941c452d423","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[80,840],"typeVersion":1},{"parameters":{"content":"# нажал на 1/2 = ВЫБЕРИ ВЕС","height":292,"width":1178,"color":3},"id":"aeefbeb7-9481-4ee2-ac5a-3561f865ff29","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[80,1160],"typeVersion":1},{"parameters":{"content":"# РЕЗУЛЬТАТ\n\n","height":392,"width":1758,"color":4},"id":"569d9610-c825-4f36-af85-095572d0f887","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[80,1480],"typeVersion":1},{"parameters":{"operation":"update","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"},{"keyName":"message_id","condition":"eq","keyValue":"={{$json.draft_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"grams_pred","fieldValue":"={{$json.grams}}"},{"fieldId":"status","fieldValue":"done"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1460,1700],"id":"ecef88d8-3930-4b79-b507-61d22193773c","name":"UPDATE  4"},{"parameters":{"chatId":"={{$json.chat_id}}","text":"=*{{ $json.dish }} – {{ $json.grams }} г*\n\n*Калорий:* {{ $json.kcal }}\n*Б:* {{ $json.prot }} *Ж:* {{ $json.fat }} *У:* {{ $json.carb }}\n\n✔️ _сохранил в память_","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🚫 не сохранять","additionalFields":{"callback_data":"=cancel_{{ $json.id }}"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1640,1520],"id":"063020d3-8cc9-4e5a-a587-515f39d159b8","name":"DONE","webhookId":"54ba5fcc-0866-4f93-aa38-bad03e1710e6"},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"await_dish"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[520,920],"id":"7669d9ba-ef4e-497c-9e78-79ad3267ca76","name":"GET 2","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"},{"keyName":"message_id","condition":"eq","keyValue":"={{$json.draft_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"await_alt"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[840,940],"id":"50692951-08c0-4919-8d4e-cc76dc5e2e87","name":"UPDATE 2","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"},{"keyName":"message_id","condition":"eq","keyValue":"={{$json.draft_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"chosen_name","fieldValue":"={{$json.dish_ru}}"},{"fieldId":"status","fieldValue":"await_weight"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[840,620],"id":"1ed28c0a-5cb5-41ee-a1bf-139199faa2af","name":"UPDATE 1","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"await_dish"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[520,600],"id":"1d12de04-4844-4ac6-97a4-a924d9ce4a8d","name":"GET 1","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"chatId":"={{$json.chat_id}}","text":"Выбери массу порции:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{$json.buttons[0].text}}","additionalFields":{"callback_data":"={{$json.buttons[0].data}}"}},{"text":"={{$json.buttons[1].text}}","additionalFields":{"callback_data":"={{$json.buttons[1].data}}"}},{"text":"={{$json.buttons[2].text}}","additionalFields":{"callback_data":"={{$json.buttons[2].data}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,1240],"id":"516780c3-a382-4745-8f34-39035520b9fe","name":"await_weight 3","webhookId":"d3d32e66-ff1c-42d9-9bfe-cf7f223f745b","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"Выбери массу порции:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.buttons[0].text }}","additionalFields":{"callback_data":"={{ $json.buttons[0].data }}"}},{"text":"={{ $json.buttons[1].text }}","additionalFields":{"callback_data":"={{ $json.buttons[1].data }}"}},{"text":"={{ $json.buttons[2].text }}","additionalFields":{"callback_data":"={{ $json.buttons[2].data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,600],"id":"f406e765-0701-420e-8de3-f740a341ca9e","name":"await_weight 1","webhookId":"d3d32e66-ff1c-42d9-9bfe-cf7f223f745b","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"chatId":"={{$json.chat_id}}","text":"=*Выберите альтернативу:*\n\n{{ $json.alt_lines.join('\\n') }}\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{$json.buttons[0].text}}","additionalFields":{"callback_data":"={{$json.buttons[0].data}}"}},{"text":"={{$json.buttons[1].text}}","additionalFields":{"callback_data":"={{$json.buttons[1].data}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,920],"id":"03d39a1d-545b-4fb4-9f79-ee0a9c243121","name":"await_alt","webhookId":"d3d32e66-ff1c-42d9-9bfe-cf7f223f745b","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"jsCode":"// weight_200_7  →  parts = ['weight','200','7']\nconst [, grams, id] = $json.callback_query.data.split('_');\n\nreturn [{\n  json: {\n    chat_id    : $json.callback_query.message.chat.id,   // тот же chat_id\n    draft_id   : Number(id),                             // 7\n    grams      : Number(grams),                          // 200\n    del_msg_id : $json.callback_query.message.message_id // ID клавиатуры веса\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,1580],"id":"9909b7f9-3062-4d24-868d-d9bdbcf66961","name":"Split weight"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.del_msg_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[340,1700],"id":"8355335c-509c-49ac-b1d2-89ce8ee21987","name":"DEL await_weight","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.del_msg_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,1260],"id":"8260a682-1e8c-4f1f-865a-6fd2542f9f65","name":"DEL await_alt","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.del_msg_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,940],"id":"9534feff-d2ad-4450-afc3-ea3227e02eb5","name":"DEL dish_no","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.del_msg_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,620],"id":"0181dca7-4191-4f1d-8ebf-93891a56a83c","name":"DEL dish_yes","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"jsCode":"/**\n * INPUT ожидает:\n *   • items[0].json  — строка-row из Supabase (`draft`)\n *   • $json.alt_idx  — 0 / 1 / 2  (пришло из «alt_0_<id>»)\n *\n * Правка: alt_idx указывает на элемент candidates[1…3],\n * поэтому делаем сдвиг +1.\n */\n\n// 0. Достаём draft: бывает либо объектом, либо массивом с одним элементом\nconst draft = Array.isArray(items[0].json)\n  ? items[0].json[0]\n  : items[0].json;\n\n// 1. candidates: если это строка — парсим\nconst candidates = typeof draft.candidates === 'string'\n  ? JSON.parse(draft.candidates)\n  : draft.candidates || [];\n\n// 2. выбираем нужную альтернативу (alt_idx + 1)\nconst offs = ($json.alt_idx ?? 0) + 1;\nconst cand = candidates[offs] || {\n  dish  : '(не найдено)',\n  grams : draft.grams_pred || 200,\n};\n\n// 3. считаем три варианта массы\nconst g    = Number(cand.grams) || 200;\nconst step = g < 120 ? 20 : 50;\nconst btns = [g - step, g, g + step].filter(x => x > 0);\n\nreturn [{\n  json: {\n    chat_id   : draft.chat_id,\n    draft_id  : draft.message_id,           // пригодится для UPDATE\n    dish_ru   : cand.dish,\n    grams_est : g,\n    buttons   : btns.map(x => ({\n      text : `${x} г`,\n      data : `weight_${x}_${draft.message_id}`,\n    })),\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,1240],"id":"0962abbd-7ac8-4fde-b7b9-923ada69723f","name":"WEIGHT 3"},{"parameters":{"jsCode":"/** INPUT ожидает:\n *  • items[0].json  ← строка из Supabase (`draft`)\n *  • $json.alt_idx  ← 0 / 1 / 2  (пришло из «alt_0_id»)\n */\n\n/* 0. draft может лежать либо прямо в .json, либо в .json[0]\n      (зависит от Always Output Data) */\nconst draft = Array.isArray(items[0].json)\n  ? items[0].json[0]\n  : items[0].json;\n\n/* 1. candidates: если строка → JSON.parse */\nconst candidates = typeof draft.candidates === 'string'\n  ? JSON.parse(draft.candidates)\n  : draft.candidates || [];\n\n/* 2. индекс альтернативы */\nconst idx = $json.alt_idx ?? 0;\nconst cand = candidates[idx] || { dish:'(не найдено)', grams: draft.grams_pred || 200 };\n\n/* 3. считаем кнопки веса */\nconst g    = cand.grams;\nconst step = g < 120 ? 20 : 50;\nconst btns = [g-step, g, g+step].filter(x=>x>0);\n\nreturn [{\n  json:{\n    chat_id   : draft.chat_id,\n    draft_id  : draft.message_id,        // пригодится для UPDATE\n    dish_ru   : cand.dish,\n    grams_est : g,\n    buttons   : btns.map(x=>({\n                  text : `${x} г`,\n                  data : `weight_${x}_${draft.message_id}`\n               }))\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,600],"id":"231456fa-08e2-4361-8173-61e6d94a9dc2","name":"WEIGHT 1","alwaysOutputData":true},{"parameters":{"jsCode":"/**\n *  Упрощаем: код лишь формирует данные,\n *  а финальный текст собираем прямо в Telegram-узле.\n */\n\n// 0. Достаём draft (учёт Always-Output Data)\nconst raw = items[0].json[0] ?? items[0].json;\n\n// 1. Парсим candidates, если пришла строкой\nconst candidates = typeof raw.candidates === 'string'\n  ? JSON.parse(raw.candidates)\n  : raw.candidates || [];\n\n// 2. Берём альтернативы (макс. 3) — без первого\nconst alts = candidates.slice(1, 4);\n\n// 3. Подготовим «красивые» строки для списка\nconst altLines = alts.map((c, i) => `${i + 1}. ${c.dish}`);\n\n// 4. Кнопки 1-2-3\nconst buttons = alts.map((_, i) => ({\n  text : String(i + 1),\n  data : `alt_${i}_${raw.message_id}`,\n}));\n\nreturn [{\n  json: {\n    chat_id   : raw.chat_id,\n    draft_id  : raw.message_id,\n\n    // для Telegram-узла\n    alt_lines : altLines,   // массив ['1. …', '2. …', …]\n    buttons,                // inline-кнопки\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,920],"id":"a1370eb5-a33e-4604-8661-06b93415457d","name":"MORE","alwaysOutputData":true},{"parameters":{"tableId":"meals","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{$json.chat_id}}"},{"fieldId":"dish","fieldValue":"={{ $json.dish }}"},{"fieldId":"grams","fieldValue":"={{ $json.grams }}"},{"fieldId":"eaten_at","fieldValue":"={{ $json.eaten_at }}"},{"fieldId":"kcal","fieldValue":"={{ $json.kcal }}"},{"fieldId":"fat","fieldValue":"={{ $json.fat }}"},{"fieldId":"carb","fieldValue":"={{ $json.carb }}"},{"fieldId":"prot","fieldValue":"={{ $json.prot }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1460,1520],"id":"20fc59a2-caef-4c8d-9a84-140070898045","name":"CREATE meals"},{"parameters":{"jsCode":"// Пример callback_data:  dish_yes_7\nconst parts   = $json.callback_query.data.split('_');\nconst draftId = parts.pop();                        // '7'\n\n// ID сообщения с кнопками «Да / Нет»,\n// которое нужно удалить после обработки\nconst delMsgId = $json.callback_query.message.message_id;\n\nreturn [{\n  json: {\n    draft_id   : Number(draftId),                 // 7\n    chat_id    : $json.callback_query.from.id,    // 7758…\n    del_msg_id : delMsgId                         // для Delete-узла\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,600],"id":"1cb3b515-624e-4df2-8ce2-1e5f2cedca93","name":"Parse dish_YES"},{"parameters":{"jsCode":"// Пример callback_data:  dish_yes_7\nconst parts   = $json.callback_query.data.split('_');\nconst draftId = parts.pop();                        // '7'\n\n// ID сообщения с кнопками «Да / Нет»,\n// которое нужно удалить после обработки\nconst delMsgId = $json.callback_query.message.message_id;\n\nreturn [{\n  json: {\n    draft_id   : Number(draftId),                 // 7\n    chat_id    : $json.callback_query.from.id,    // 7758…\n    del_msg_id : delMsgId                         // для Delete-узла\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,920],"id":"ba594114-98a1-4465-ba71-3460c80069d7","name":"Parse dish_NO"},{"parameters":{"jsCode":"// Parse macros  (замена текущего кода)\nconst sw = $items('Split weight')[0].json;   // chat_id, grams, draft_id …\n\n// assistant.content уже объект: dish, kcal, prot, …\nconst gpt = $json.message?.content ?? $json; // на случай, если jsonOutput=false\n\nconst toMsk = () => {\n  const msk = new Date(new Date().toLocaleString('en-US',{timeZone:'Europe/Moscow'}));\n  const p = n => String(n).padStart(2,'0');\n  return `${msk.getFullYear()}-${p(msk.getMonth()+1)}-${p(msk.getDate())}` +\n         `T${p(msk.getHours())}:${p(msk.getMinutes())}:00+03:00`;\n};\n\nreturn [{\n  json: {\n    ...sw,          // chat_id, grams …\n    ...gpt,         // dish, kcal, prot …\n    eaten_at: toMsk()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1240,1600],"id":"c88d2d9a-46af-44be-a54b-ade6f756f083","name":"Parse macros"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[740,1600],"id":"70d8dd3a-900c-4be8-a89a-36d7c9774113","name":"Merge"},{"parameters":{"resource":"file","fileId":"={{ $json.photo_file_id }}"},"id":"24421a29-ce31-446c-bafa-62201aa4a71b","name":"Get Image","type":"n8n-nodes-base.telegram","position":[300,200],"typeVersion":1.2,"webhookId":"8b210039-e135-420d-a5f1-53fc3ca1e836","retryOnFail":false,"maxTries":2,"credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $json.result.file_path }}"}},"id":"4833cbb0-ca23-4034-9a46-955100034906","name":"Convert","type":"n8n-nodes-base.convertToFile","position":[700,200],"typeVersion":1.1},{"parameters":{"jsCode":"/**\n * Берём исходный update из триггера\n */\nconst upd = $items(\"Telegram Trigger\")[0].json.message;\nconst chatId  = upd.chat.id;\nconst msgId   = upd.message_id;\nconst photoId = upd.photo[upd.photo.length - 1].file_id;\n\n/**\n * Русский JSON от Vision\n */\nconst vision = JSON.parse(($json.content || '').replace(/```/g, '').trim());\nconst candidates = vision.candidates || [];\nconst first      = candidates[0] || { dish:'блюдо', grams:0 };\n\n/**\n * Draft‑объект\n */\nreturn [{\n  json: {\n    chat_id       : chatId,\n    message_id    : msgId,\n    photo_file_id : photoId,\n\n    candidates,              // массив на русском\n    grams_pred : first.grams,\n    status     : 'await_dish',\n\n    text   : `Это *${first.dish}*?`,\n    cb_yes : `dish_yes_${msgId}`,\n    cb_no  : `dish_no_${msgId}`\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,200],"id":"87cef7f5-df58-44ef-b2a3-f6a5a72bea08","name":"Parse Vision"},{"parameters":{"assignments":{"assignments":[{"id":"bd8a8c20-939e-49b0-93d0-bb58b8719ebb","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"f89d0646-9f73-4067-bbf7-af9913b5f688","name":"message_id","value":"={{$json.message.message_id}}","type":"string"},{"id":"07282534-971f-4430-8d45-5f3e15d3c167","name":"photo_file_id","value":"={{$json.message.photo[$json.message.photo.length - 1].file_id}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,200],"id":"4c9ad23c-d860-4478-92be-23c59a74cfd5","name":"Get ready"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Да","additionalFields":{"callback_data":"={{$json.cb_yes}}"}},{"text":"Нет","additionalFields":{"callback_data":"={{$json.cb_no}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,300],"id":"89b2de3c-d69f-4a9f-9c78-a26f904cc190","name":"dish YES or NO","webhookId":"dc6a9f65-91bd-46e4-8c95-17b2ebe68d7c","credentials":{"telegramApi":{"id":"d4oMB05mw1gBx1pm","name":"Telegram account"}}},{"parameters":{"tableId":"meals_draft","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{ $json.chat_id }}"},{"fieldId":"message_id","fieldValue":"={{ $json.message_id }}"},{"fieldId":"photo_file_id","fieldValue":"={{ $json.photo_file_id }}"},{"fieldId":"candidates","fieldValue":"={{ $json.candidates }}"},{"fieldId":"grams_pred","fieldValue":"={{ $json.grams_pred }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"created_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1520,120],"id":"445b41e9-ed37-4bca-bc87-27265664bd63","name":"CREATE candidates","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"360c7be2-b049-4c62-bb83-5fafd0850722","name":"chat_id","value":"={{$json.chat_id}}","type":"string"},{"id":"584b9ab5-5ba9-42f9-a9d9-7bb9bb115361","name":"message_id","value":"={{$json.message_id}}","type":"string"},{"id":"8d7a3167-4cbb-4051-8c23-a0b88438c815","name":"photo_file_id","value":"={{$json.photo_file_id}}","type":"string"},{"id":"246a834e-e731-4239-aa92-60eb7c75d79f","name":"candidates","value":"={{$json.candidates}}","type":"string"},{"id":"69f21e55-55ef-4cf0-b73d-b3e39144e057","name":"grams_pred","value":"={{$json.grams_pred}}","type":"string"},{"id":"1b41e033-b7ce-47b0-8f57-0f8dc109ecab","name":"status","value":"={{$json.status}}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,120],"id":"e673f471-c590-4ebb-8bb7-0b2b7cce5ee6","name":"EDIT candidates"},{"parameters":{"content":"# ФОТО БЛЮДА = 1 ВАРИАНТ","height":392,"width":1698,"color":6},"id":"6b3dd2f6-fa58-4ecd-8455-5783be111475","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[80,80],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.telegram.org/botKEY/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,920],"id":"df81b863-ab26-450a-999e-f1ac13cea3a3","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"8a8cd85d-1f6d-4fdf-9a2e-cf75ede0891c","name":"Extract","type":"n8n-nodes-base.extractFromFile","position":[540,200],"typeVersion":1},{"parameters":{"workflowId":{"__rl":true,"value":"aItIcFz3MFAKL4XF","mode":"list","cachedResultName":"tg_text"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[180,2360],"id":"d25c45b6-db16-4742-9aeb-84af87b4f30e","name":"tg_text"},{"parameters":{"content":"# ТЕКСТ и /\n","height":312,"width":318,"color":7},"id":"e91d4448-df69-4ad1-a876-ae26fffe98ab","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[80,2260],"typeVersion":1},{"parameters":{"content":"# НЕ СОХРАНЯТЬ\n","height":312,"width":958,"color":7},"id":"5c57ca6b-9b0c-4c25-942b-c7a12982b547","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[80,1920],"typeVersion":1},{"parameters":{"jsCode":"// cancel_62\nconst mealId = Number($json.callback_query.data.split('_').pop());\n\nreturn [{\n  json:{\n    meal_id : mealId,\n    chat_id : $json.callback_query.from.id,\n    msg_id  : $json.callback_query.message.message_id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,2020],"id":"49052bab-25ea-40f9-90a4-4361eaa0705f","name":"Parse cancel"},{"parameters":{"operation":"update","tableId":"meals","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.meal_id }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{$json.chat_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"deleted","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,2020],"id":"c813cff4-352d-4397-ac3a-4c4067493b4b","name":"UPDATE meals","alwaysOutputData":true},{"parameters":{"operation":"get","tableId":"meals","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{ $json.chat_id }}"},{"keyName":"id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,2020],"id":"e80159fd-e84f-4597-998a-fe19fce0fcbf","name":"GET meals","alwaysOutputData":true},{"parameters":{"jsCode":"const row = $items('GET meals')[0].json;      // dish, grams, kcal …\nconst ctx = $items('Parse cancel')[0].json;   // chat_id, msg_id\n\nreturn [{\n  json: {\n    chat_id : ctx.chat_id,\n    msg_id  : ctx.msg_id,\n\n    // что пойдёт в текст\n    dish  : row.dish,\n    grams : row.grams,\n    kcal  : row.kcal,\n    prot  : row.prot,\n    fat   : row.fat,\n    carb  : row.carb\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,2020],"id":"65fdfea6-b671-4df8-b946-f1345cec34fe","name":"build cancel"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.msg_id }}","text":"=*{{ $json.dish }} – {{ $json.grams }} г*\n\n*Калорий:* {{ $json.kcal }}\n*Б:* {{ $json.prot }} *Ж:* {{ $json.fat }} *У:* {{ $json.carb }}\n\n🚫 _не сохранил_\n","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[820,2020],"id":"daefba32-aa48-4441-8280-1d0a26c3e5e1","name":"EDITED","webhookId":"d03fb55d-8c26-4782-92a9-d0c9c351a440"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"\nТы пищевой классификатор.\nВерни JSON ТОЛЬКО на русском, без ``` :\n\n{\n  \"candidates\": [\n    { \"dish\": \"строка\", \"grams\": число, \"confidence\": 0‑1 },\n    … максимум 3\n  ]\n}\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[940,200],"id":"7be164bc-f866-40f7-b3e4-87326b54046d","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=Ты нутри-калькулятор.  \nНа вход получаешь JSON  \n{ \"dish\":\"строка\", \"grams\":число }. \n\nОтвечай строго JSON одной строкой:\n\n{\n \"dish\":\"строка\",\n \"kcal\":число,\n \"prot\":число,\n \"fat\":число,\n \"carb\":число\n}\n\nБез пояснений, без ```.","role":"system"},{"content":"={{ $json.chosen_name }}, {{ $json.grams_pred }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[900,1600],"id":"843d3bf4-fe2a-468b-9569-315f9e91db4b","name":"NUTRION"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2360,1700],"id":"11bd38f7-a9c2-47b6-a9fb-521981dfb75f","name":"OpenRouter Chat Model","disabled":true},{"parameters":{"jsonSchemaExample":"{\n  \"dish\": \"овощной салат с сыром\",\n  \"kcal\": 122,\n  \"prot\": 3.8,\n  \"fat\": 8.2,\n  \"carb\": 9.2\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2500,1700],"id":"45f6948b-9a43-4df1-84f6-3f04f49a0417","name":"Structured Output Parser","disabled":true},{"parameters":{"jsCode":"/**\n * Parse macros  (универсально для:\n *  – старого jsonOutput: true\n *  – нового Structured Output Parser c массивом или без)\n */\n\n// 1. данные от Split weight (chat_id, grams, draft_id, …)\nconst sw = $items('Split weight')[0].json;\n\n// 2. что пришло от LLM / parser\n//    – если это массив → берём первый элемент\n//    – если внутри есть .output → берём его, иначе сам объект\nconst raw = Array.isArray($json) ? $json[0] : $json;\nconst gpt = raw.output ?? raw;       // { dish, kcal, prot, fat, carb }\n\n// 3. helper → строка даты-времени в МСК ISO +03:00\nconst toMsk = () => {\n  const msk = new Date(\n    new Date().toLocaleString('en-US', { timeZone: 'Europe/Moscow' })\n  );\n  const p = n => String(n).padStart(2, '0');\n  return `${msk.getFullYear()}-${p(msk.getMonth() + 1)}-${p(msk.getDate())}` +\n         `T${p(msk.getHours())}:${p(msk.getMinutes())}:00+03:00`;\n};\n\n// 4. собираем итоговый объект (плоский)\nreturn [{\n  json: {\n    ...sw,      // chat_id, grams, draft_id, …\n    ...gpt,     // dish, kcal, prot, fat, carb\n    eaten_at: toMsk()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,1560],"id":"48648cb1-9cde-4f94-b94e-16d0790b85f0","name":"Parse macros 2","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.chosen_name }}, {{ $json.grams_pred }}","hasOutputParser":true,"options":{"systemMessage":"Ты нутри-калькулятор.  \nНа вход получаешь JSON  \n{ \"dish\":\"строка\", \"grams\":число }. \n\nОтвечай строго JSON одной строкой:\n\n{\n \"dish\":\"строка\",\n \"kcal\":число,\n \"prot\":число,\n \"fat\":число,\n \"carb\":число\n}\n\nБез пояснений, без ```."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2340,1560],"id":"004da45a-5c85-4fc6-aa80-3506addad355","name":"NUTRION OR","disabled":true},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"=await_dish"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[520,1680],"id":"75b01075-9443-4c94-ab45-27062904531e","name":"GET await_dish","alwaysOutputData":false},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"await_weight"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[520,1520],"id":"e98c7706-904d-4fb7-b98e-80321831bc9e","name":"GET await_weight","alwaysOutputData":false},{"parameters":{"content":"### другая LLM\n\n\n","height":392,"width":618,"color":5},"id":"1c57a909-ff9a-4f9d-865c-e4000816b68d","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2260,1480],"typeVersion":1}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"HTTP typing...","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Get ready","type":"main","index":0}],[{"node":"Parse dish_YES","type":"main","index":0}],[{"node":"Parse dish_NO","type":"main","index":0}],[{"node":"Parse alt","type":"main","index":0}],[{"node":"Split weight","type":"main","index":0}],[{"node":"Parse cancel","type":"main","index":0}],[{"node":"tg_text","type":"main","index":0}]]},"Parse alt":{"main":[[{"node":"GET 3","type":"main","index":0},{"node":"DEL await_alt","type":"main","index":0}]]},"GET 3":{"main":[[{"node":"WEIGHT 3","type":"main","index":0}]]},"GET 2":{"main":[[{"node":"MORE","type":"main","index":0}]]},"GET 1":{"main":[[{"node":"WEIGHT 1","type":"main","index":0}]]},"Split weight":{"main":[[{"node":"DEL await_weight","type":"main","index":0},{"node":"GET await_dish","type":"main","index":0},{"node":"GET await_weight","type":"main","index":0}]]},"WEIGHT 3":{"main":[[{"node":"UPDATE 3","type":"main","index":0},{"node":"await_weight 3","type":"main","index":0}]]},"WEIGHT 1":{"main":[[{"node":"await_weight 1","type":"main","index":0},{"node":"UPDATE 1","type":"main","index":0}]]},"MORE":{"main":[[{"node":"await_alt","type":"main","index":0},{"node":"UPDATE 2","type":"main","index":0}]]},"Parse dish_YES":{"main":[[{"node":"GET 1","type":"main","index":0},{"node":"DEL dish_yes","type":"main","index":0}]]},"Parse dish_NO":{"main":[[{"node":"GET 2","type":"main","index":0},{"node":"DEL dish_no","type":"main","index":0}]]},"Parse macros":{"main":[[{"node":"UPDATE  4","type":"main","index":0},{"node":"CREATE meals","type":"main","index":0}]]},"Merge":{"main":[[{"node":"NUTRION","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Extract","type":"main","index":0}]]},"Convert":{"main":[[{"node":"VISION","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"EDIT candidates","type":"main","index":0},{"node":"dish YES or NO","type":"main","index":0}]]},"Get ready":{"main":[[{"node":"Get Image","type":"main","index":0}]]},"EDIT candidates":{"main":[[{"node":"CREATE candidates","type":"main","index":0}]]},"Extract":{"main":[[{"node":"Convert","type":"main","index":0}]]},"Parse cancel":{"main":[[{"node":"UPDATE meals","type":"main","index":0}]]},"UPDATE meals":{"main":[[{"node":"GET meals","type":"main","index":0}]]},"GET meals":{"main":[[{"node":"build cancel","type":"main","index":0}]]},"build cancel":{"main":[[{"node":"EDITED","type":"main","index":0}]]},"CREATE meals":{"main":[[{"node":"DONE","type":"main","index":0}]]},"VISION":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"NUTRION":{"main":[[{"node":"Parse macros","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"NUTRION OR","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"NUTRION OR","type":"ai_outputParser","index":0}]]},"NUTRION OR":{"main":[[{"node":"Parse macros 2","type":"main","index":0}]]},"GET await_dish":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GET await_weight":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"92d28284-f187-4c12-8e26-63c247aab4d0","triggerCount":0,"tags":[{"createdAt":"2025-06-05T12:56:17.657Z","updatedAt":"2025-06-05T12:56:17.657Z","id":"44131z8z1lm9Bb8Q","name":"ИИздец"}]}