subscription-fb37qdR5lhRGoyfw.json
{"createdAt":"2025-06-22T12:49:38.188Z","updatedAt":"2025-07-03T17:45:01.753Z","id":"fb37qdR5lhRGoyfw","name":"subscription","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"d23d7b8e-278b-4454-8e8a-11885f7ee0a3"}],"combinator":"and"},"renameOutput":true,"outputKey":"💗 199₽ - 1 месяц"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"275baa5e-3e12-4150-a6e6-b2bdd9c8b9ee","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"💪 299₽ - 2 месяц"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b56d21f-6b5d-4701-97d3-f375d82cd049","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"👑 1599₽ - 1 год"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38bda5e6-467a-4953-9219-28e4614f72b5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🔚 Завершить диалог"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02a3b5bc-6b89-4120-9654-182d82300404","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"выход"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[440,-40],"id":"ba7a2acc-e033-42b6-9778-c38d2d0add85","name":"Switch1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","message_id":"={{ $json.callback_query.message.message_id }}","user_name":"={{ $json.callback_query.from.username }}","end_subscription":"={{ $now.plus({ days: 31 }).toFormat('dd/LL/yyyy') }}\n"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[760,-240],"id":"b4aebcac-ead3-4c59-8e99-d9069f697136","name":"Новый подписчик /1 мес","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","message_id":"=","user_name":"=","end_subscription":"{{ $now.plus({ days: 62 }).toFormat('dd/LL/yyyy') }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[760,-40],"id":"cc7e0cfb-e242-4408-b99b-265fa770c471","name":"Новый подписчик /2 мес","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","message_id":"=","user_name":"=","end_subscription":"{{ $now.plus({ days: 365 }).toFormat('dd/LL/yyyy') }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[760,160],"id":"a050a0b0-bfd3-4767-bc23-e584a1896cdb","name":"Новый подписчик /1 год","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-240],"id":"a6170e8e-27e1-4d74-9caa-0e74fd5fdc8f","name":"Ю касса 199","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"299.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"299.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-40],"id":"361ced3a-00c5-410e-acd4-9706e950680c","name":"Ю касса 299","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"1599.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"1599.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,160],"id":"78627d73-e600-4258-9a29-f71748a025df","name":"Ю касса год","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"path":"66506406-16c9-4944-86cd-21492668510d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[120,-860],"id":"43d538e6-8efc-48d6-80dd-3ad5a41e8c56","name":"Webhook1","webhookId":"66506406-16c9-4944-86cd-21492668510d","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"b54785d0-127e-4da5-acda-5bcb89f11f78"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[360,-860],"id":"de97b66b-d80e-41e3-aeef-28a34da85f7f","name":"Switch","disabled":true},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,-860],"id":"66350f2e-10a7-44f8-ab05-869f2291719b","name":"Send a text message","webhookId":"c364a25d-ed37-4ea5-835b-8d339bf694c4","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"Оплата не прошла, попробуйте еще раз!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[580,-620],"id":"f6979e72-4aa4-4804-b2e9-107b0ec65510","name":"ошибка оплаты","webhookId":"c364a25d-ed37-4ea5-835b-8d339bf694c4","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","end_subscription":"={{ $json.body.object.metadata.work_until.toDateTime(\"dd/MM/yyyy\").plus(30, \"days\").format(\"dd/MM/yyyy\") }}","recurent":"={{ $json.body.object.payment_method.id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[580,-860],"id":"da4e24a1-c71f-4d92-a812-37472bc7a7be","name":"обновление даты","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"content":"## статус оплаты","height":560,"width":1200},"type":"n8n-nodes-base.stickyNote","position":[20,-960],"typeVersion":1,"id":"198a6fe7-3fb2-496c-988c-49e3e16bb101","name":"Sticky Note"},{"parameters":{"content":"## ОПЛАТА ПОДПИСКИ ","height":740,"width":1400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[20,-320],"typeVersion":1,"id":"eb2fcfef-8102-4785-88aa-c36ab0ff32e0","name":"Sticky Note1"},{"parameters":{"content":"## ПРОДЛЕНИЕ ПОДПИСКИ","height":620,"width":1980},"type":"n8n-nodes-base.stickyNote","position":[20,1140],"typeVersion":1,"id":"c96c67be-789a-4199-96be-ff940184ef09","name":"Sticky Note2"},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[380,1340],"id":"b04a06a9-67f2-4a2a-9e80-087ee72d26c6","name":"ПОЛУЧАЕМ ДАННЫЕ","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5320f29b-7e2e-439c-8161-f9f6ba35645e","leftValue":"={{ $json[\"Окончание подписки\"].toDateTime(\"dd/MM/yyyy\") }}  ","rightValue":"","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[620,1340],"id":"9e455b86-810f-4533-bbb7-377fbb90109d","name":"Filter","disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,1340],"id":"83326ae6-d28d-4d7b-a99b-fed8ccac50b4","name":"Ю касса ","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"684cd32d-0d68-4491-bb20-cc28698c4d55","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,1340],"id":"a113884d-ef1a-447f-908f-59f4a872bebd","name":"If","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.callback_query.message.chat.id }}","end_subscription":"={{ $json.body.object.metadata.work_until.toDateTime(\"dd/MM/yyyy\").plus(30, \"days\").format(\"dd/MM/yyyy\") }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1340,1260],"id":"a53d2d19-bf95-421e-8551-90c08b3abbb2","name":"обновление даты1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"url":"https:/app","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"amount\": {\n    \"value\": \"199.00\",\n    \"currency\": \"RUB\"\n  },\n  \"capture\": true,\n  \"confirmation\": {\n    \"type\": \"redirect\",\n    \"return_url\": \"@Ai_Beauty_agent_bot\"\n  },\n  \"description\": \"Заказ №{{ $now.toMillis() }}\",\n  \"save_payment_method\": \"true\",\n  \"metadata\": {\n    \"order_id\": \"{{ $now.toMillis() }}\",\n    \"chat_id\": \"{{ $json['Telegram Trigger'].item.json.message.chat.id }}\",\n    \"user_name\": \"{{ $json['Telegram Trigger'].item.json.message.chat.username }}\",\n    \"work_until\": \"{{ $json['Окончание подписки'] }}\"\n  },\n  \"receipt\": {\n    \"customer\": {\n      \"email\": \"user@example.com\"\n    },\n    \"items\": [\n      {\n        \"description\": \"Месячная подписка\",\n        \"quantity\": 1,\n        \"amount\": {\n          \"value\": \"199.00\",\n          \"currency\": \"RUB\"\n        },\n        \"vat_code\": 1\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,1500],"id":"1a376cb5-6b12-4a5e-9911-c9df1b085e67","name":"Ю касса 1","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"text":"✅ Подписка была продлена💖","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,1260],"id":"79f08b23-c42e-4fcf-9bb6-18d66aa38778","name":"Send a text message1","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"🛑Не удалось автоматически продлить подписку, чтобы пользоваться Ai-косметологом дальше оплати подписку⬆️","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💸Оплатить","additionalFields":{"callback_data":""}},{"text":"⛔ Не продлеваю","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,1500],"id":"add1ef7a-e406-4038-8dcf-d22ae07ab491","name":"Send a text message2","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai-косметолог готов начать подбирать тебе уход. Начнём?\n➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{"callback_data":""}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1180,-240],"id":"bc6bb609-36df-4d28-bcad-3a2c3db19737","name":"Send a text message3","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"content":"## ОТПИСКА","height":600,"width":980},"type":"n8n-nodes-base.stickyNote","position":[20,460],"typeVersion":1,"id":"ea21c4f1-790e-4f2b-8471-7695f7d17de8","name":"Sticky Note3"},{"parameters":{"content":"## СЛУЖБА ПОДДЕРЖКИ","height":680,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[20,1820],"typeVersion":1,"id":"38f144e4-f5ac-40fd-85cb-bf874a2edb73","name":"Sticky Note4","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":564964140,"mode":"list","cachedResultName":"Оплата","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=564964140"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"=","recurent":"0"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end_subscription","displayName":"end_subscription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recurent","displayName":"recurent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[460,720],"id":"8a331730-5471-4586-97cc-fffbd26b7348","name":"рекурент","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}},"disabled":true},{"parameters":{"text":" 🥲Мне очень жаль с тобой расстоваться!  Подписка была отменена. Надеюсь увидеть тебя снова💖","replyMarkup":"inlineKeyboard","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,720],"id":"70d266ff-85d6-4ebd-bb86-75f658c27d87","name":"Send a text message4","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/support","operator":{"type":"string","operation":"startsWith"},"id":"8870ad50-56b4-4197-8970-4f05f77e810a"}],"combinator":"and"},"renameOutput":true,"outputKey":"служба поддержки"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d8fea17-eb14-4725-b2ef-557a48a69e44","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[460,2080],"id":"9f4c8856-5fc5-4fbf-8d71-cd397f0cb478","name":"Switch2","disabled":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Привет, я Настя с службы поддержки💖 Чем  могу тебе помочь?","replyMarkup":"inlineKeyboard","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,1980],"id":"99e67371-9503-4d59-a5ac-1cd0cee36e97","name":"Send a text message5","webhookId":"43caf74e-b62e-4dbf-b0c3-7d3a72b64e2e","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"sendTo":"lannadesign123@gmail.com","subject":"Новое сообщение в поддержку Ai K.Loo Beauty","emailType":"text","message":"={{ $json.message.text }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[720,2200],"id":"6d3662e5-115d-4dc7-961a-f224ac22f851","name":"Send a message","webhookId":"98f35e5b-0077-49a4-91d1-15b3a11ab274","credentials":{"gmailOAuth2":{"id":"hypi6KFjaHgyXCUX","name":"Gmail account"}},"disabled":true},{"parameters":{"text":"⛔Диалог завершён. Если захочешь начать снова — просто напиши /start 🤍","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1660,700],"id":"1c399132-3496-49a5-a9ea-21febd5ea606","name":"Send a text message6","webhookId":"a52730f2-49f0-4000-98f1-568a37ba2de2","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"{\n  \"chat_id\": {{$json.callback_query.from.id}},\n  \"text\": \"Диалог завершён. Если захочешь начать снова — просто напиши /start 🤍\",\n  \"reply_markup\": {\n    \"remove_keyboard\": true\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,700],"id":"26b81a74-593d-4574-9ff1-34bd15901a5c","name":"Code"},{"parameters":{"content":"## Завершение диалога","height":600,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[1120,460],"typeVersion":1,"id":"82bd2a66-18e1-4689-b7c9-c295d99769ef","name":"Sticky Note5"},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[160,0],"id":"e1e89ada-7e4f-43cc-afeb-80b99d78fbc7","name":"Оплата","webhookId":"d6b8fa84-f726-42ff-ac2f-90efdf836785","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[180,2080],"id":"fbddaa8b-174d-4c28-ba29-469f19a5527e","name":"служба поддержки","webhookId":"d6b8fa84-f726-42ff-ac2f-90efdf836785","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[160,1340],"id":"4cadacce-86c0-4e75-b61e-b74bb3261900","name":"продление подписки","disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai косметолог готов начать подбирать тебе уход. Начнём? ➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1180,-40],"id":"4e3ad4e5-24a5-47f8-8bd1-88e0871f1c35","name":"Send a text message7","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"text":"✅ Спасибо за подписку! Ai косметолог готов начать подбирать тебе уход. Начнём? ➡️ Переходи по ссылке @Ai_K_Loo_cosmetologist_bot и магия начнётся✨","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🦢 Жду не дождусь....","additionalFields":{}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1180,160],"id":"02f24e4c-5d0d-43c8-b488-7670d1d49f87","name":"Send a text message8","webhookId":"9002ae65-608c-4014-819f-21aedd63dd91","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true}],"connections":{"Switch1":{"main":[[{"node":"Новый подписчик /1 мес","type":"main","index":0}],[{"node":"Новый подписчик /2 мес","type":"main","index":0}],[{"node":"Новый подписчик /1 год","type":"main","index":0}],[{"node":"Code","type":"main","index":0}],[{"node":"рекурент","type":"main","index":0}]]},"Новый подписчик /1 мес":{"main":[[{"node":"Ю касса 199","type":"main","index":0}]]},"Новый подписчик /2 мес":{"main":[[{"node":"Ю касса 299","type":"main","index":0}]]},"Новый подписчик /1 год":{"main":[[{"node":"Ю касса год","type":"main","index":0}]]},"Ю касса 199":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"обновление даты","type":"main","index":0},{"node":"ошибка оплаты","type":"main","index":0}]]},"обновление даты":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"ПОЛУЧАЕМ ДАННЫЕ":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Ю касса ","type":"main","index":0}]]},"Ю касса 299":{"main":[[{"node":"Send a text message7","type":"main","index":0}]]},"Ю касса год":{"main":[[{"node":"Send a text message8","type":"main","index":0}]]},"Ю касса ":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"обновление даты1","type":"main","index":0}],[{"node":"Ю касса 1","type":"main","index":0}]]},"обновление даты1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Ю касса 1":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"рекурент":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Send a text message5","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Send a text message5":{"main":[[]]},"Code":{"main":[[{"node":"Send a text message6","type":"main","index":0}]]},"Оплата":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"служба поддержки":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"продление подписки":{"main":[[{"node":"ПОЛУЧАЕМ ДАННЫЕ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d1e52508-10ef-4af4-b3f2-6220f85376c0","triggerCount":0,"tags":[]}