бюджет-pgyxRm2MVW5jtwvU.json
{"createdAt":"2025-07-05T15:09:43.205Z","updatedAt":"2025-07-05T18:52:40.392Z","id":"pgyxRm2MVW5jtwvU","name":"БЮДЖЕТ","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f05ea045-9937-47a4-b27f-d281de7243e3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,120],"id":"43e683d8-bfeb-4666-9fdd-3982429cf4c3","name":"Webhook","webhookId":"f05ea045-9937-47a4-b27f-d281de7243e3"},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets\nconst sheetData = $items(\"тип кожи\")[0].json;\n\n// Тип кожи (англ.)\nconst skinType = sheetData[\"skin_type\"]?.trim().toLowerCase() || \"unknown\";\n\n// Словарь переводов типов кожи\nconst skinTypeMap = {\n  \"dry\": \"сухая\",\n  \"oily\": \"жирная\",\n  \"normal\": \"нормальная\",\n  \"combination\": \"комбинированная\",\n  \"sensitive\": \"чувствительная\",\n  \"unknown\": \"неизвестная\"\n};\n\n// Русский перевод\nconst skinTypeRu = skinTypeMap[skinType] || skinType;\n\n// Получаем chat_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Возвращаем JSON с кнопками\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinTypeRu}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,120],"id":"3fd14818-0c00-4cd6-b82b-04bd20b1a5fb","name":"Бюджет"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"=до 2000","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[160,120],"id":"583321c4-3463-49c4-9245-a6a0af5b4e44","name":"Кнопки выбор бюджета","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"# БЮДЖЕТ","height":360,"width":1940,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-900,-20],"typeVersion":1,"id":"f249e820-8bfd-47ee-ba5d-686c5543a618","name":"Sticky Note","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"2b00aa4c-983b-4d1a-9ccd-f84f12f42a78","name":"chat_id","value":"={{ $json.body.parameters.bodyParameters.chat_id }}","type":"string"},{"id":"a6bb12fb-e99e-4139-9bc8-778c1544d98f","name":"messge_id","value":"={{ $json.body.parameters.bodyParameters.message_id }}","type":"string"},{"id":"6eadb479-b58d-48cb-8393-7776a4b37166","name":"skin_type","value":"={{ $json.body.parameters.bodyParameters.skin_type }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-520,120],"id":"40f9628f-6760-4263-bcef-11b940ce511e","name":"Edit Fields"},{"parameters":{"functionCode":"const callback = $json.callback_query?.data || '';\n\nlet budget = '';\nif (callback.startsWith('budget_')) {\n  budget = callback.replace('budget_', '') + '₽';\n} else if (callback === 'budget_unlimited') {\n  budget = 'Без ограничений';\n} else {\n  budget = 'не указан';\n}\n\nconst chatId = $json.callback_query?.from?.id;\nconst messageId = $json.callback_query?.message?.message_id;\n\n// Поиск типа кожи по chat_id из таблицы \"тип кожи\"\nconst skinData = $items(\"тип кожи\").find(item => item.json.chat_id == chatId);\nconst skinType = skinData?.json?.skin_type || 'неизвестен';\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,\n      message_id: messageId,\n      skin_type: skinType,\n      budget\n    }\n  }\n];\n"},"id":"7d69008b-9d36-4dfe-8467-6bf68dacdc7f","name":"фильтр данных1","type":"n8n-nodes-base.function","typeVersion":1,"position":[480,120]},{"parameters":{"method":"POST","url":"https://primary-production-e7406.up.railway.app/webhook-test/b35a7c89-5000-46be-9051-591dcd3427a4","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"Send To Webhook\",\n  \"type\": \"n8n-nodes-base.httpRequest\",\n  \"typeVersion\": 4,\n  \"position\": [680, 400],\n  \"parameters\": {\n    \"url\": \"https://primary-production-e7406.up.railway.app/webhook-test/f05ea045-9937-47a4-b27f-d281de7243e3\",\n    \"method\": \"POST\",\n    \"responseFormat\": \"json\",\n    \"jsonParameters\": true,\n    \"options\": {},\n    \"bodyParameters\": {\n      \"chat_id\": \"{{ $json.chat_id }}\",\n      \"message_id\": \"{{ $json.message_id }}\",\n      \"skin_type\": \"{{ $json.skin_type }}\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,120],"id":"fe7a6bfd-a77e-40b6-9f5e-2cb413a29e51","name":"передача в вебхук2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"skin_type":"={{ $json.body.parameters.bodyParameters.skin_type }}","chat_id":"={{ $json.body.parameters.bodyParameters.chat_id }}","message_id":"={{ $json.body.parameters.bodyParameters.message_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-340,120],"id":"aadaff43-3346-4efd-b61d-3382a4c229c9","name":"тип кожи","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Бюджет":{"main":[[{"node":"Кнопки выбор бюджета","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"тип кожи","type":"main","index":0}]]},"фильтр данных1":{"main":[[{"node":"передача в вебхук2","type":"main","index":0}]]},"Кнопки выбор бюджета":{"main":[[{"node":"фильтр данных1","type":"main","index":0}]]},"тип кожи":{"main":[[{"node":"Бюджет","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"pgyxRm2MVW5jtwvU"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1d0f3ff9-600b-4175-a420-d57a61f9fbad","triggerCount":2,"tags":[]}