нутрициолог-по-фото-MBHInrMK8fBYdm2w.json
{"createdAt":"2025-06-05T16:05:14.821Z","updatedAt":"2025-06-07T17:08:23.188Z","id":"MBHInrMK8fBYdm2w","name":"НУТРИЦИОЛОГ ПО ФОТО","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# нажал ДА = ВЫБЕРИ ВЕС","height":292,"width":1178,"color":4},"id":"36c144f1-9ed3-439c-86f9-2d9a8964b5e3","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[100,660],"typeVersion":1},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-520,1360],"id":"6f116d01-82f6-43c2-b06c-1e3991b3769e","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52493568-0b68-46b8-b18a-894cf77bcac1","leftValue":"={{$json.callback_query.data}}","rightValue":"manual_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"manual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f1495ad-2eb2-4729-af5a-23c949adce8c","leftValue":"={{$json.callback_query.data}}","rightValue":"dish_yes_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"dish_yes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json.callback_query.data}}","rightValue":"dish_no_","operator":{"type":"string","operation":"startsWith"},"id":"c9ead52e-1b81-453a-bd9b-1d18dcbd82bb"}],"combinator":"and"},"renameOutput":true,"outputKey":"dish_no"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"646db5d3-3518-4edf-9374-cef371fa7ba9","leftValue":"={{$json.callback_query.data}}","rightValue":"alt_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"alt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bcf1e75-3e73-465b-8bbb-2665b845e7e9","leftValue":"={{$json.callback_query.data}}","rightValue":"weight_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"weight"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90573faf-164a-418f-a4a8-b69d3e7aaf3d","leftValue":"={{$json.callback_query.data}}","rightValue":"cancel_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6166763a-38e9-494a-aea0-20bdc9626314","leftValue":"={{ $json.message.text }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text_cmd"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,1260],"id":"eb69459e-009b-4b95-85a8-0605d215ce71","name":"Switch"},{"parameters":{"jsCode":"// alt_0_7  →  parts = ['alt','0','7']\nconst [, idx, id] = $json.callback_query.data.split('_');\n\nreturn [{\n  json: {\n    chat_id    : $json.callback_query.message.chat.id,   // ID чата, где лежит сообщение-клавиатура\n    draft_id   : Number(id),                             // 7\n    alt_idx    : Number(idx),                            // 0 / 1 / 2\n    del_msg_id : $json.callback_query.message.message_id // ID сообщения, которое надо удалить\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,1380],"id":"e20f8aa2-50d3-45c9-af6d-dd0ae4c69e2a","name":"Parse alt"},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"await_alt"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[540,1380],"id":"800a45a1-e63f-432b-bc52-f32ca0027c70","name":"GET 3"},{"parameters":{"operation":"update","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"},{"keyName":"message_id","condition":"eq","keyValue":"={{$json.draft_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"chosen_name","fieldValue":"={{$json.dish_ru}}"},{"fieldId":"grams_pred","fieldValue":"={{$json.grams_est}}"},{"fieldId":"status","fieldValue":"await_weight"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[860,1400],"id":"3c12255d-9962-494b-a3f1-3d2b516a4452","name":"UPDATE 3"},{"parameters":{"content":"# нажал НЕТ + ЕЩЕ 2 варианта","height":292,"width":1178,"color":3},"id":"cbc6db32-a2b5-4c39-93da-50cb24f8f0c4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[100,980],"typeVersion":1},{"parameters":{"content":"# нажал на 1/2 = ВЫБЕРИ ВЕС","height":292,"width":1178,"color":3},"id":"22e5916d-9b21-4ec6-99cc-3ecdbd8e623b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[100,1300],"typeVersion":1},{"parameters":{"content":"# РЕЗУЛЬТАТ\n\n","height":392,"width":1758,"color":4},"id":"ca46a90e-b44e-4649-972a-04c9330e18cb","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[100,1620],"typeVersion":1},{"parameters":{"operation":"update","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"},{"keyName":"message_id","condition":"eq","keyValue":"={{$json.draft_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"grams_pred","fieldValue":"={{$json.grams}}"},{"fieldId":"status","fieldValue":"done"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1480,1840],"id":"2b01af4c-31e1-4ebb-b163-d84ed523d24f","name":"UPDATE  4"},{"parameters":{"chatId":"={{$json.chat_id}}","text":"=*{{ $json.dish }} – {{ $json.grams }} г*\n\n*Калорий:* {{ $json.kcal }}\n*Б:* {{ $json.prot }} *Ж:* {{ $json.fat }} *У:* {{ $json.carb }}\n\n✔️ _сохранил в память_","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🚫 не сохранять","additionalFields":{"callback_data":"=cancel_{{ $json.id }}"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1660,1660],"id":"0cd4ca72-3da0-4562-bd45-8785ad5e4a68","name":"DONE","webhookId":"54ba5fcc-0866-4f93-aa38-bad03e1710e6"},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"await_dish"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[540,1060],"id":"ecd3d966-4565-48b0-a336-283cf9852500","name":"GET 2"},{"parameters":{"operation":"update","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"},{"keyName":"message_id","condition":"eq","keyValue":"={{$json.draft_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"await_alt"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[860,1080],"id":"4bfc789b-fa0d-4589-b7a3-abe15539f5f6","name":"UPDATE 2"},{"parameters":{"operation":"update","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $json.chat_id }}"},{"keyName":"message_id","condition":"eq","keyValue":"={{$json.draft_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"chosen_name","fieldValue":"={{$json.dish_ru}}"},{"fieldId":"status","fieldValue":"await_weight"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[860,760],"id":"1fa2b097-ee0d-42b8-af75-be7a68c6d17a","name":"UPDATE 1"},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"await_dish"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[540,740],"id":"63c34eb3-3db5-481f-9937-bf3dce1670a6","name":"GET 1"},{"parameters":{"chatId":"={{$json.chat_id}}","text":"Выбери массу порции:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{$json.buttons[0].text}}","additionalFields":{"callback_data":"={{$json.buttons[0].data}}"}},{"text":"={{$json.buttons[1].text}}","additionalFields":{"callback_data":"={{$json.buttons[1].data}}"}},{"text":"={{$json.buttons[2].text}}","additionalFields":{"callback_data":"={{$json.buttons[2].data}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,1380],"id":"30e6f9f8-393f-4d31-8b04-b9d5d4c1cbca","name":"await_weight 3","webhookId":"d3d32e66-ff1c-42d9-9bfe-cf7f223f745b"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"Выбери массу порции:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.buttons[0].text }}","additionalFields":{"callback_data":"={{ $json.buttons[0].data }}"}},{"text":"={{ $json.buttons[1].text }}","additionalFields":{"callback_data":"={{ $json.buttons[1].data }}"}},{"text":"={{ $json.buttons[2].text }}","additionalFields":{"callback_data":"={{ $json.buttons[2].data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,740],"id":"dcf0f3f9-04d6-49d5-878b-52e7653ae9ee","name":"await_weight 1","webhookId":"d3d32e66-ff1c-42d9-9bfe-cf7f223f745b"},{"parameters":{"chatId":"={{$json.chat_id}}","text":"=*Выберите альтернативу:*\n\n{{ $json.alt_lines.join('\\n') }}\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{$json.buttons[0].text}}","additionalFields":{"callback_data":"={{$json.buttons[0].data}}"}},{"text":"={{$json.buttons[1].text}}","additionalFields":{"callback_data":"={{$json.buttons[1].data}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,1060],"id":"f1a53730-866f-4922-83db-aba621361578","name":"await_alt","webhookId":"d3d32e66-ff1c-42d9-9bfe-cf7f223f745b"},{"parameters":{"jsCode":"// weight_200_7  →  parts = ['weight','200','7']\nconst [, grams, id] = $json.callback_query.data.split('_');\n\nreturn [{\n  json: {\n    chat_id    : $json.callback_query.message.chat.id,   // тот же chat_id\n    draft_id   : Number(id),                             // 7\n    grams      : Number(grams),                          // 200\n    del_msg_id : $json.callback_query.message.message_id // ID клавиатуры веса\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,1720],"id":"6eacaebb-6057-42bb-8770-da3065671eb8","name":"Split weight"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.del_msg_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[360,1840],"id":"bda536bf-8163-4dbd-aa3d-fe124a9ad5aa","name":"DEL await_weight","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.del_msg_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[340,1400],"id":"1b16595e-62ea-4283-bd2b-6e2c50c6a1c0","name":"DEL await_alt","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.del_msg_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[340,1080],"id":"ffd90132-56bb-425c-aff6-e9e89aa76de0","name":"DEL dish_no","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.del_msg_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[340,760],"id":"86040f57-7e5d-450d-9ad8-ae415865d1ac","name":"DEL dish_yes","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98"},{"parameters":{"jsCode":"/**\n * INPUT ожидает:\n *   • items[0].json  — строка-row из Supabase (`draft`)\n *   • $json.alt_idx  — 0 / 1 / 2  (пришло из «alt_0_<id>»)\n *\n * Правка: alt_idx указывает на элемент candidates[1…3],\n * поэтому делаем сдвиг +1.\n */\n\n// 0. Достаём draft: бывает либо объектом, либо массивом с одним элементом\nconst draft = Array.isArray(items[0].json)\n  ? items[0].json[0]\n  : items[0].json;\n\n// 1. candidates: если это строка — парсим\nconst candidates = typeof draft.candidates === 'string'\n  ? JSON.parse(draft.candidates)\n  : draft.candidates || [];\n\n// 2. выбираем нужную альтернативу (alt_idx + 1)\nconst offs = ($json.alt_idx ?? 0) + 1;\nconst cand = candidates[offs] || {\n  dish  : '(не найдено)',\n  grams : draft.grams_pred || 200,\n};\n\n// 3. считаем три варианта массы\nconst g    = Number(cand.grams) || 200;\nconst step = g < 120 ? 20 : 50;\nconst btns = [g - step, g, g + step].filter(x => x > 0);\n\nreturn [{\n  json: {\n    chat_id   : draft.chat_id,\n    draft_id  : draft.message_id,           // пригодится для UPDATE\n    dish_ru   : cand.dish,\n    grams_est : g,\n    buttons   : btns.map(x => ({\n      text : `${x} г`,\n      data : `weight_${x}_${draft.message_id}`,\n    })),\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,1380],"id":"3052afe5-b641-410b-aca6-48e90b443d23","name":"WEIGHT 3"},{"parameters":{"jsCode":"/** INPUT ожидает:\n *  • items[0].json  ← строка из Supabase (`draft`)\n *  • $json.alt_idx  ← 0 / 1 / 2  (пришло из «alt_0_id»)\n */\n\n/* 0. draft может лежать либо прямо в .json, либо в .json[0]\n      (зависит от Always Output Data) */\nconst draft = Array.isArray(items[0].json)\n  ? items[0].json[0]\n  : items[0].json;\n\n/* 1. candidates: если строка → JSON.parse */\nconst candidates = typeof draft.candidates === 'string'\n  ? JSON.parse(draft.candidates)\n  : draft.candidates || [];\n\n/* 2. индекс альтернативы */\nconst idx = $json.alt_idx ?? 0;\nconst cand = candidates[idx] || { dish:'(не найдено)', grams: draft.grams_pred || 200 };\n\n/* 3. считаем кнопки веса */\nconst g    = cand.grams;\nconst step = g < 120 ? 20 : 50;\nconst btns = [g-step, g, g+step].filter(x=>x>0);\n\nreturn [{\n  json:{\n    chat_id   : draft.chat_id,\n    draft_id  : draft.message_id,        // пригодится для UPDATE\n    dish_ru   : cand.dish,\n    grams_est : g,\n    buttons   : btns.map(x=>({\n                  text : `${x} г`,\n                  data : `weight_${x}_${draft.message_id}`\n               }))\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,740],"id":"f037bcf1-a6c5-433c-b03a-05a1255a83bc","name":"WEIGHT 1","alwaysOutputData":true},{"parameters":{"jsCode":"/**\n *  Упрощаем: код лишь формирует данные,\n *  а финальный текст собираем прямо в Telegram-узле.\n */\n\n// 0. Достаём draft (учёт Always-Output Data)\nconst raw = items[0].json[0] ?? items[0].json;\n\n// 1. Парсим candidates, если пришла строкой\nconst candidates = typeof raw.candidates === 'string'\n  ? JSON.parse(raw.candidates)\n  : raw.candidates || [];\n\n// 2. Берём альтернативы (макс. 3) — без первого\nconst alts = candidates.slice(1, 4);\n\n// 3. Подготовим «красивые» строки для списка\nconst altLines = alts.map((c, i) => `${i + 1}. ${c.dish}`);\n\n// 4. Кнопки 1-2-3\nconst buttons = alts.map((_, i) => ({\n  text : String(i + 1),\n  data : `alt_${i}_${raw.message_id}`,\n}));\n\nreturn [{\n  json: {\n    chat_id   : raw.chat_id,\n    draft_id  : raw.message_id,\n\n    // для Telegram-узла\n    alt_lines : altLines,   // массив ['1. …', '2. …', …]\n    buttons,                // inline-кнопки\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,1060],"id":"aa4d2b96-76ac-48d2-8a80-de9189eb7696","name":"MORE","alwaysOutputData":true},{"parameters":{"tableId":"meals","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{$json.chat_id}}"},{"fieldId":"dish","fieldValue":"={{ $json.dish }}"},{"fieldId":"grams","fieldValue":"={{ $json.grams }}"},{"fieldId":"eaten_at","fieldValue":"={{ $json.eaten_at }}"},{"fieldId":"kcal","fieldValue":"={{ $json.kcal }}"},{"fieldId":"fat","fieldValue":"={{ $json.fat }}"},{"fieldId":"carb","fieldValue":"={{ $json.carb }}"},{"fieldId":"prot","fieldValue":"={{ $json.prot }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1480,1660],"id":"4281f71e-c70b-4d70-a78e-26dd78ac1f6d","name":"CREATE meals"},{"parameters":{"jsCode":"// Пример callback_data:  dish_yes_7\nconst parts   = $json.callback_query.data.split('_');\nconst draftId = parts.pop();                        // '7'\n\n// ID сообщения с кнопками «Да / Нет»,\n// которое нужно удалить после обработки\nconst delMsgId = $json.callback_query.message.message_id;\n\nreturn [{\n  json: {\n    draft_id   : Number(draftId),                 // 7\n    chat_id    : $json.callback_query.from.id,    // 7758…\n    del_msg_id : delMsgId                         // для Delete-узла\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,740],"id":"d5c991e9-58f7-4ff9-91a4-96a72170135d","name":"Parse dish_YES"},{"parameters":{"jsCode":"// Пример callback_data:  dish_yes_7\nconst parts   = $json.callback_query.data.split('_');\nconst draftId = parts.pop();                        // '7'\n\n// ID сообщения с кнопками «Да / Нет»,\n// которое нужно удалить после обработки\nconst delMsgId = $json.callback_query.message.message_id;\n\nreturn [{\n  json: {\n    draft_id   : Number(draftId),                 // 7\n    chat_id    : $json.callback_query.from.id,    // 7758…\n    del_msg_id : delMsgId                         // для Delete-узла\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,1060],"id":"7e11bf64-6b27-48ca-893d-2619f1400a69","name":"Parse dish_NO"},{"parameters":{"jsCode":"// Parse macros  (замена текущего кода)\nconst sw = $items('Split weight')[0].json;   // chat_id, grams, draft_id …\n\n// assistant.content уже объект: dish, kcal, prot, …\nconst gpt = $json.message?.content ?? $json; // на случай, если jsonOutput=false\n\nconst toMsk = () => {\n  const msk = new Date(new Date().toLocaleString('en-US',{timeZone:'Europe/Moscow'}));\n  const p = n => String(n).padStart(2,'0');\n  return `${msk.getFullYear()}-${p(msk.getMonth()+1)}-${p(msk.getDate())}` +\n         `T${p(msk.getHours())}:${p(msk.getMinutes())}:00+03:00`;\n};\n\nreturn [{\n  json: {\n    ...sw,          // chat_id, grams …\n    ...gpt,         // dish, kcal, prot …\n    eaten_at: toMsk()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,1740],"id":"50ff4e67-d24f-4ed1-8435-d5ba57646ccd","name":"Parse macros"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[760,1740],"id":"f0682f18-c2f1-4752-809c-84c96286048f","name":"Merge"},{"parameters":{"resource":"file","fileId":"={{ $json.photo_file_id }}"},"id":"87054d78-9278-41ab-afaa-f331e0bad01b","name":"Get Image","type":"n8n-nodes-base.telegram","position":[320,340],"typeVersion":1.2,"webhookId":"8b210039-e135-420d-a5f1-53fc3ca1e836","retryOnFail":false,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $json.result.file_path }}"}},"id":"0d6080cf-9864-46c9-9d40-fdd3cc5540a0","name":"Convert","type":"n8n-nodes-base.convertToFile","position":[720,340],"typeVersion":1.1},{"parameters":{"jsCode":"/**\n * Берём исходный update из триггера\n */\nconst upd = $items(\"Telegram Trigger\")[0].json.message;\nconst chatId  = upd.chat.id;\nconst msgId   = upd.message_id;\nconst photoId = upd.photo[upd.photo.length - 1].file_id;\n\n/**\n * Русский JSON от Vision\n */\nconst vision = JSON.parse(($json.content || '').replace(/```/g, '').trim());\nconst candidates = vision.candidates || [];\nconst first      = candidates[0] || { dish:'блюдо', grams:0 };\n\n/**\n * Draft‑объект\n */\nreturn [{\n  json: {\n    chat_id       : chatId,\n    message_id    : msgId,\n    photo_file_id : photoId,\n\n    candidates,              // массив на русском\n    grams_pred : first.grams,\n    status     : 'await_dish',\n\n    text   : `Это *${first.dish}*?`,\n    cb_yes : `dish_yes_${msgId}`,\n    cb_no  : `dish_no_${msgId}`\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,340],"id":"d67d415f-51ea-474d-98f1-472ac27146f4","name":"Parse Vision"},{"parameters":{"assignments":{"assignments":[{"id":"bd8a8c20-939e-49b0-93d0-bb58b8719ebb","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"f89d0646-9f73-4067-bbf7-af9913b5f688","name":"message_id","value":"={{$json.message.message_id}}","type":"string"},{"id":"07282534-971f-4430-8d45-5f3e15d3c167","name":"photo_file_id","value":"={{$json.message.photo[$json.message.photo.length - 1].file_id}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,340],"id":"918e905e-e000-4ec7-bc05-fcd1b5fd6432","name":"Get ready"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Да","additionalFields":{"callback_data":"={{$json.cb_yes}}"}},{"text":"Нет","additionalFields":{"callback_data":"={{$json.cb_no}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1540,440],"id":"a07382f7-a82d-4ae9-8596-144afcdc524f","name":"dish YES or NO","webhookId":"dc6a9f65-91bd-46e4-8c95-17b2ebe68d7c"},{"parameters":{"tableId":"meals_draft","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{ $json.chat_id }}"},{"fieldId":"message_id","fieldValue":"={{ $json.message_id }}"},{"fieldId":"photo_file_id","fieldValue":"={{ $json.photo_file_id }}"},{"fieldId":"candidates","fieldValue":"={{ $json.candidates }}"},{"fieldId":"grams_pred","fieldValue":"={{ $json.grams_pred }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"created_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1540,260],"id":"0b640756-6655-43c1-87dc-ef866cb371e5","name":"CREATE candidates"},{"parameters":{"assignments":{"assignments":[{"id":"360c7be2-b049-4c62-bb83-5fafd0850722","name":"chat_id","value":"={{$json.chat_id}}","type":"string"},{"id":"584b9ab5-5ba9-42f9-a9d9-7bb9bb115361","name":"message_id","value":"={{$json.message_id}}","type":"string"},{"id":"8d7a3167-4cbb-4051-8c23-a0b88438c815","name":"photo_file_id","value":"={{$json.photo_file_id}}","type":"string"},{"id":"246a834e-e731-4239-aa92-60eb7c75d79f","name":"candidates","value":"={{$json.candidates}}","type":"string"},{"id":"69f21e55-55ef-4cf0-b73d-b3e39144e057","name":"grams_pred","value":"={{$json.grams_pred}}","type":"string"},{"id":"1b41e033-b7ce-47b0-8f57-0f8dc109ecab","name":"status","value":"={{$json.status}}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,260],"id":"90a68078-8aaf-4791-b759-3b1167e51356","name":"EDIT candidates"},{"parameters":{"content":"# ФОТО БЛЮДА = 1 ВАРИАНТ","height":392,"width":1698,"color":6},"id":"b1cc4a54-bc93-4e2c-a9cf-cda8c9a8e294","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[100,220],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.telegram.org/botKEY/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,1060],"id":"2fa11825-169e-461f-a4f7-fbdd106c8848","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"be98f2cd-d084-4adf-9dbb-b1f77e0aad42","name":"Extract","type":"n8n-nodes-base.extractFromFile","position":[560,340],"typeVersion":1},{"parameters":{"workflowId":{"__rl":true,"value":"aItIcFz3MFAKL4XF","mode":"list","cachedResultName":"tg_text"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[200,2500],"id":"e8734078-77d8-47ab-9f99-b59d6eca62cc","name":"tg_text"},{"parameters":{"content":"# ТЕКСТ и /\n","height":312,"width":318,"color":7},"id":"b6fe917f-c527-4b5a-8b78-850036e1a668","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[100,2400],"typeVersion":1},{"parameters":{"content":"# НЕ СОХРАНЯТЬ\n","height":312,"width":958,"color":7},"id":"f42a4423-01fd-4f6e-be4e-4fa4d18682c7","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[100,2060],"typeVersion":1},{"parameters":{"jsCode":"// cancel_62\nconst mealId = Number($json.callback_query.data.split('_').pop());\n\nreturn [{\n  json:{\n    meal_id : mealId,\n    chat_id : $json.callback_query.from.id,\n    msg_id  : $json.callback_query.message.message_id\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,2160],"id":"6ef28331-c28b-42e6-a937-1f6e242ba6d9","name":"Parse cancel"},{"parameters":{"operation":"update","tableId":"meals","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.meal_id }}"},{"keyName":"chat_id","condition":"eq","keyValue":"={{$json.chat_id}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"deleted","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[340,2160],"id":"512f6517-d457-44ad-b95c-f63cecdc3135","name":"UPDATE meals","alwaysOutputData":true},{"parameters":{"operation":"get","tableId":"meals","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{ $json.chat_id }}"},{"keyName":"id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[500,2160],"id":"b13e04fd-e849-4552-afdf-32fdb6a47176","name":"GET meals","alwaysOutputData":true},{"parameters":{"jsCode":"const row = $items('GET meals')[0].json;      // dish, grams, kcal …\nconst ctx = $items('Parse cancel')[0].json;   // chat_id, msg_id\n\nreturn [{\n  json: {\n    chat_id : ctx.chat_id,\n    msg_id  : ctx.msg_id,\n\n    // что пойдёт в текст\n    dish  : row.dish,\n    grams : row.grams,\n    kcal  : row.kcal,\n    prot  : row.prot,\n    fat   : row.fat,\n    carb  : row.carb\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,2160],"id":"315f5a1f-e959-455a-aa8f-3bd9ffe56635","name":"build cancel"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.msg_id }}","text":"=*{{ $json.dish }} – {{ $json.grams }} г*\n\n*Калорий:* {{ $json.kcal }}\n*Б:* {{ $json.prot }} *Ж:* {{ $json.fat }} *У:* {{ $json.carb }}\n\n🚫 _не сохранил_\n","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[840,2160],"id":"369de5b4-14b5-4e7d-ada2-1f3645ebf7dc","name":"EDITED","webhookId":"d03fb55d-8c26-4782-92a9-d0c9c351a440"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"\nТы пищевой классификатор.\nВерни JSON ТОЛЬКО на русском, без ``` :\n\n{\n  \"candidates\": [\n    { \"dish\": \"строка\", \"grams\": число, \"confidence\": 0‑1 },\n    … максимум 3\n  ]\n}\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[960,340],"id":"3dcbc92e-3f65-416f-bc1f-be8e47592472","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=Ты нутри-калькулятор.  \nНа вход получаешь JSON  \n{ \"dish\":\"строка\", \"grams\":число }. \n\nОтвечай строго JSON одной строкой:\n\n{\n \"dish\":\"строка\",\n \"kcal\":число,\n \"prot\":число,\n \"fat\":число,\n \"carb\":число\n}\n\nБез пояснений, без ```.","role":"system"},{"content":"={{ $json.chosen_name }}, {{ $json.grams_pred }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[920,1740],"id":"b0696c10-6b90-44c1-a8ec-c93efb65819f","name":"NUTRION"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2380,1840],"id":"7bb9393f-6016-405a-bfd9-f9674d6aaf15","name":"OpenRouter Chat Model","disabled":true},{"parameters":{"jsonSchemaExample":"{\n  \"dish\": \"овощной салат с сыром\",\n  \"kcal\": 122,\n  \"prot\": 3.8,\n  \"fat\": 8.2,\n  \"carb\": 9.2\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2520,1840],"id":"c9abf892-d74a-42dc-b0cb-5791fcfa59e0","name":"Structured Output Parser","disabled":true},{"parameters":{"jsCode":"/**\n * Parse macros  (универсально для:\n *  – старого jsonOutput: true\n *  – нового Structured Output Parser c массивом или без)\n */\n\n// 1. данные от Split weight (chat_id, grams, draft_id, …)\nconst sw = $items('Split weight')[0].json;\n\n// 2. что пришло от LLM / parser\n//    – если это массив → берём первый элемент\n//    – если внутри есть .output → берём его, иначе сам объект\nconst raw = Array.isArray($json) ? $json[0] : $json;\nconst gpt = raw.output ?? raw;       // { dish, kcal, prot, fat, carb }\n\n// 3. helper → строка даты-времени в МСК ISO +03:00\nconst toMsk = () => {\n  const msk = new Date(\n    new Date().toLocaleString('en-US', { timeZone: 'Europe/Moscow' })\n  );\n  const p = n => String(n).padStart(2, '0');\n  return `${msk.getFullYear()}-${p(msk.getMonth() + 1)}-${p(msk.getDate())}` +\n         `T${p(msk.getHours())}:${p(msk.getMinutes())}:00+03:00`;\n};\n\n// 4. собираем итоговый объект (плоский)\nreturn [{\n  json: {\n    ...sw,      // chat_id, grams, draft_id, …\n    ...gpt,     // dish, kcal, prot, fat, carb\n    eaten_at: toMsk()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,1700],"id":"fa098daf-090c-45c5-ba93-72f84c300301","name":"Parse macros 2","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.chosen_name }}, {{ $json.grams_pred }}","hasOutputParser":true,"options":{"systemMessage":"Ты нутри-калькулятор.  \nНа вход получаешь JSON  \n{ \"dish\":\"строка\", \"grams\":число }. \n\nОтвечай строго JSON одной строкой:\n\n{\n \"dish\":\"строка\",\n \"kcal\":число,\n \"prot\":число,\n \"fat\":число,\n \"carb\":число\n}\n\nБез пояснений, без ```."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2360,1700],"id":"f0197a4b-6c66-4afb-9d71-0412ae9521bd","name":"NUTRION OR","disabled":true},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"=await_dish"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[540,1820],"id":"6dd5207e-5a51-407e-8ef6-52955b30793e","name":"GET await_dish","alwaysOutputData":false},{"parameters":{"operation":"get","tableId":"meals_draft","filters":{"conditions":[{"keyName":"chat_id","keyValue":"={{$json.chat_id}}"},{"keyName":"message_id","keyValue":"={{$json.draft_id}}"},{"keyName":"status","keyValue":"await_weight"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[540,1660],"id":"ac58f6c7-73db-422f-bc41-6faaf5019f6c","name":"GET await_weight","alwaysOutputData":false},{"parameters":{"content":"### другая LLM\n\n\n","height":392,"width":618,"color":5},"id":"0750109b-016e-4c9c-a20b-9b2f49880128","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2280,1620],"typeVersion":1}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"HTTP typing...","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Get ready","type":"main","index":0}],[{"node":"Parse dish_YES","type":"main","index":0}],[{"node":"Parse dish_NO","type":"main","index":0}],[{"node":"Parse alt","type":"main","index":0}],[{"node":"Split weight","type":"main","index":0}],[{"node":"Parse cancel","type":"main","index":0}],[{"node":"tg_text","type":"main","index":0}]]},"Parse alt":{"main":[[{"node":"GET 3","type":"main","index":0},{"node":"DEL await_alt","type":"main","index":0}]]},"GET 3":{"main":[[{"node":"WEIGHT 3","type":"main","index":0}]]},"GET 2":{"main":[[{"node":"MORE","type":"main","index":0}]]},"GET 1":{"main":[[{"node":"WEIGHT 1","type":"main","index":0}]]},"Split weight":{"main":[[{"node":"DEL await_weight","type":"main","index":0},{"node":"GET await_dish","type":"main","index":0},{"node":"GET await_weight","type":"main","index":0}]]},"WEIGHT 3":{"main":[[{"node":"UPDATE 3","type":"main","index":0},{"node":"await_weight 3","type":"main","index":0}]]},"WEIGHT 1":{"main":[[{"node":"await_weight 1","type":"main","index":0},{"node":"UPDATE 1","type":"main","index":0}]]},"MORE":{"main":[[{"node":"await_alt","type":"main","index":0},{"node":"UPDATE 2","type":"main","index":0}]]},"Parse dish_YES":{"main":[[{"node":"GET 1","type":"main","index":0},{"node":"DEL dish_yes","type":"main","index":0}]]},"Parse dish_NO":{"main":[[{"node":"GET 2","type":"main","index":0},{"node":"DEL dish_no","type":"main","index":0}]]},"Parse macros":{"main":[[{"node":"UPDATE  4","type":"main","index":0},{"node":"CREATE meals","type":"main","index":0}]]},"Merge":{"main":[[{"node":"NUTRION","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Extract","type":"main","index":0}]]},"Convert":{"main":[[{"node":"VISION","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"EDIT candidates","type":"main","index":0},{"node":"dish YES or NO","type":"main","index":0}]]},"Get ready":{"main":[[{"node":"Get Image","type":"main","index":0}]]},"EDIT candidates":{"main":[[{"node":"CREATE candidates","type":"main","index":0}]]},"Extract":{"main":[[{"node":"Convert","type":"main","index":0}]]},"Parse cancel":{"main":[[{"node":"UPDATE meals","type":"main","index":0}]]},"UPDATE meals":{"main":[[{"node":"GET meals","type":"main","index":0}]]},"GET meals":{"main":[[{"node":"build cancel","type":"main","index":0}]]},"build cancel":{"main":[[{"node":"EDITED","type":"main","index":0}]]},"CREATE meals":{"main":[[{"node":"DONE","type":"main","index":0}]]},"VISION":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"NUTRION":{"main":[[{"node":"Parse macros","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"NUTRION OR","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"NUTRION OR","type":"ai_outputParser","index":0}]]},"NUTRION OR":{"main":[[{"node":"Parse macros 2","type":"main","index":0}]]},"GET await_dish":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GET await_weight":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fa762307-5304-4664-8f4e-a19446698fee","triggerCount":0,"tags":[]}