оплата-mXi4BCNJ6Po9A4xP.json
{"createdAt":"2025-06-19T12:31:05.982Z","updatedAt":"2025-06-22T12:48:35.992Z","id":"mXi4BCNJ6Po9A4xP","name":"Оплата","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"13d70093-81c6-43cb-9b68-34930bba279f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,60],"id":"a42c642f-9a6e-4d98-922a-4322fd580333","name":"Webhook","webhookId":"13d70093-81c6-43cb-9b68-34930bba279f"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"9c454f97-a25e-4956-ad33-72841a1e043a"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-160,60],"id":"5a61ef63-8447-40bc-b78f-ac64dce235dd","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[40,260],"id":"7749ee5a-43db-436e-b1e3-ea5a3263519c","name":"нет пользователя","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"operation":"get"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[40,0],"id":"5d793d77-fa0d-4354-9a37-bdc53414ea39","name":"есть пользователь","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"mode":"raw","jsonOutput":"{{ (() => {\n  const data = $json.callback_query;\n  const planRaw = data?.data || \"subscribe_month\";\n  const chatId = data?.from?.id || 0;\n  const messageId = data?.message?.message_id || 0;\n\n  const isYear = planRaw === \"subscribe_year\";\n  const plan = isYear ? \"year\" : \"month\";\n\n  const now = new Date();\n  now.setMonth(now.getMonth() + (isYear ? 12 : 1));\n  const subscriptionEnds = now.toISOString();\n\n  return {\n    chat_id: chatId,\n    message_id: messageId,\n    plan,\n    subscription_expires_at: subscriptionEnds\n  };\n})() }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-580,60],"id":"dbef583e-d72c-44b9-b449-9fe43c655fab","name":"проверка подписки"},{"parameters":{},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-380,60],"id":"681aa564-8262-4ecc-b340-2cc372629270","name":"сохранение типа подписки","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"подписка","operator":{"type":"string","operation":"equals"},"id":"a52eaeac-4aac-46e2-9b63-5f35bc2bbeaa"}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14d1610a-42a8-410c-8de0-1a759a65e9a9","leftValue":"","rightValue":"отписка","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"отписка"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc7a4dcb-34a4-4549-bc8d-e5b348da8a84","leftValue":"","rightValue":"есть подписка","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"есть подписка"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[340,0],"id":"ccfb7aee-25fe-4789-a485-f38fb10a5ab2","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"621071de-1ef1-4aac-a633-1c4892192e27","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,280],"id":"cc34c04b-520b-47a3-b519-1cf06b9454d3","name":"If"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[960,260],"id":"9a748eeb-52c2-4530-a29a-e1c615ffb483","name":"AI Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,-120],"id":"62bf4caf-b092-4a8a-93df-452a08ead5dc","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"проверка подписки","type":"main","index":0}]]},"Switch":{"main":[[{"node":"есть пользователь","type":"main","index":0},{"node":"нет пользователя","type":"main","index":0}]]},"нет пользователя":{"main":[[{"node":"Switch","type":"main","index":0}]]},"проверка подписки":{"main":[[{"node":"сохранение типа подписки","type":"main","index":0}]]},"сохранение типа подписки":{"main":[[{"node":"Switch","type":"main","index":0}]]},"есть пользователь":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ab1349e-b383-48a0-83b8-f6a11ef77215","triggerCount":0,"tags":[]}