платная-подписка-uxRJlDCea4hXWmF4.json
{"createdAt":"2025-06-19T10:53:11.083Z","updatedAt":"2025-06-19T10:54:33.958Z","id":"uxRJlDCea4hXWmF4","name":"Платная подписка","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-120,-100],"id":"5bf7c6e2-ae22-4710-b84b-0f86c228cce8","name":"платная подписка"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅Отлично","additionalFields":{"callback_data":"={{ $('Code').item.json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"🔁 Изменить товар","additionalFields":{"callback_data":"={{ $('Code').item.json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Send Products to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1060,-100],"id":"08fa3b82-d28c-4ac4-9539-df17fa52e413","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","credentials":{"telegramApi":{"id":"6WZbRqNGvR0VEngG","name":"Telegram account"}}},{"parameters":{"jsCode":"const chatId = $json.chat_id || 1147618121;\nconst messageId = $json.message_id || 0;\nconst typeSkin = $json.type_skin || \"жирная\";\nconst budget = $('Edit Fields3').first().json.budget || \"не указан\";\n\nlet raw = $json.output || \"\";\n\n// Формируем вступительный текст\nlet text = `✨ Вот подборка с бюджетом *${budget}*:\\n\\n`;\ntext += `Лучшие средства для ухода за кожей лица, подходящие под ваш тип кожи и бюджет:\\n\\n`;\ntext += `⬇️ Вот рекомендуемые товары в соответствии с вашим бюджетом и типом кожи:\\n\\n`;\n\n// Добавляем текст от Firecrawl напрямую\ntext += raw.trim();\n\n// Добавляем финальный вопрос с кнопками\ntext += `\\n\\n_Вас всё устраивает?_`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    budget,\n    type_skin: typeSkin,\n    text,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"✅ Отлично\", callback_data: \"products_yes\" },\n          { text: \"🔁 Заменить товар\", callback_data: \"products_change\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[760,-100],"id":"c8babc10-499c-49ed-90f1-5779eb86410f","name":"Code"},{"parameters":{"promptType":"define","text":"=\n","options":{"systemMessage":"=You are a **DERMATOLOGIST AND COSMETOLOGIST**, an expert in skincare and cosmetic formulations.\nYour task is to recommend skincare products based on the user's skin type and their budget.\n\nBudget: **{{ $json.budget }}**\nSkin Type: **{{ $json.type_skin }}**\n\n✅ Use the online store https://aravia.ru/ to help identify suitable products.\n\n⚠️ **Always respond in Russian language**.  \n⚠️ **Format your response for Telegram in Markdown**.\n\nYour response should:\n\n🔹 Select up to 7 products that match the skin type and fit within the specified budget. Use real product links from the internet (preferably from https://aravia.ru/). Search for products for face only.\n\n🔹 Distribute them into the following categories, in this order, if applicable:\n1. 🌟Тонер  \n2. 💧Сыворотка  \n3. 🌞Крем дневной  \n4. 🌙Крем ночной  \n5. 👁️Крем для глаз  \n6. ☀️SPF  \n7. ✨Пилинг / скраб\n\nне формировать вступительный текст:\n{{ $json.markdown }}\n\nEach product must include:\n- Название (Name)\n- Короткое описание (Short description)\n- Цена (Price)\n- Реальная ссылка на товар (Real product link)\n\nСalculate the total cost of goods  \nExample:  \nОбщий бюджет: примерно 4,580 ₽, что подходит под ваш лимит 5000 ₽.\n\nReturn the final result as a beautifully formatted Markdown list in Russian.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[360,-100],"id":"79fd7280-96db-4d61-a83a-4c3fe96576f7","name":"Search Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[220,140],"id":"b2af3ac2-256a-4875-9e7a-6e086bbe11af","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Use this tool to search the https://aravia.ru/","method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-4a429c6f884e4b9a9eae1e7c8fdeaaac"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://aravia.ru/\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[760,240],"id":"c9010b16-8b05-4230-891f-42f3c32a7f10","name":"Firecrawl Search","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}}}],"connections":{"Code":{"main":[[{"node":"Send Products to Telegram","type":"main","index":0}]]},"Search Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Search Agent","type":"ai_languageModel","index":0}]]},"Firecrawl Search":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"платная подписка":{"main":[[{"node":"Search Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4e7538e4-96db-4942-82ea-fcb263c87583","triggerCount":0,"tags":[]}