подбор-1-продукта-X1q156RhU21UpPwt.json
{"createdAt":"2025-07-05T17:18:16.203Z","updatedAt":"2025-07-10T14:44:38.938Z","id":"X1q156RhU21UpPwt","name":"ПОДБОР 1 ПРОДУКТА","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.budget }} {{ $json.skin_type }}","hasOutputParser":true,"options":{"systemMessage":"=You are a beauty consultant with artificial intelligence, an expert in cosmetology and dermatology. Communicate with users in a friendly tone — like with a friend who understands skin care.\n\nYour task:\nChoose ** one ** facial toner that matches the user's skin type \"{{$json.skin_type }}\" and ** matches a realistic price range** — from **75% to 100%** of the budget determined by the user `_BOS_{ $json.budget}}` (in Russian rubles).\n\nExample: If the user's budget is 2000 rubles, find an item priced from **1,500 to 2,000 rubles**. Do not offer products cheaper than 75% of the budget.\n\n, Use the services of the online store only https://goldapple.ru/  \nFind the ** real product** and provide a valid ** link to the product page** from the website.\n\n🧴 You should only offer ** toners**.  \nDO NOT offer other skin care products (for example, other cleansers, creams, masks, SPF products, etc.).\n\nYour response must include the following:\n- Only **1 product**\n\n- In the following format:\nHere is a selection of the best face care products suitable for your skin type and budget.:\n\n✨Вот чт о я тебе подобрала из лучших средств по уходу за лицом, подходящих для вашего типа кожи и бюджета:\n\n🌟 *Product Name*  \n, _The brief description_  \n💸 *Price*  \n🔗 Product link (real)\n\nDo not add additional recommendations or alternative options. Strictly adhere to the assignment.  \n* ** Always answer in Russian — this is mandatory.**  \nAlways add ** emojis ** to make the message clear and easy to read."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[780,20],"id":"858b17e3-ef13-41c0-a128-02808bd5ef1f","name":"Search Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,300],"id":"f489961f-6f0d-4df9-aeee-6f6cafba7b32","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"content":"## РЕЗУЛЬТАТ","height":660,"width":2460},"type":"n8n-nodes-base.stickyNote","position":[-280,-160],"typeVersion":1,"id":"78105bb0-a789-4a49-b301-c1c9ca16749c","name":"Sticky Note1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const sheetData = $json || {};\n\nconst chatId = sheetData.chat_id || 0;\nconst messageId = sheetData.message_id || 0;\nconst typeSkin = sheetData.skin_type || \"жирная\";\nconst budget = sheetData.budget || \"не указан\";\nconst raw = sheetData.Recomendation || \"\";\n\n// Ищем первую markdown-ссылку\nconst linkMatch = raw.match(/\\[.*?\\]\\((.*?)\\)/);\nconst link = linkMatch ? linkMatch[1] : \"\";\n\n// Удаляем markdown, но оставляем текст\nlet cleanText = raw.replace(/\\[([^\\]]+)\\]\\((.*?)\\)/g, '$1').trim();\n\n// Делаем первую строку жирной (до первого переноса строки)\ncleanText = cleanText.replace(/^(.+?)\\n/, '**$1**\\n');\n\n// Формируем сообщение\nlet text = cleanText.substring(0, 500);\n\nif (link) {\n  text += `\\n\\n🔗 [Перейти к товару](${link})`;\n}\n\ntext += `\\n\\n💬 Хочешь весь список и индивидуальные советы?`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text.substring(0, 4000),\n    parse_mode: \"Markdown\", // добавили Markdown для форматирования\n    disable_web_page_preview: false,\n    reply_markup: {     inline_keyboard: [       [{ text: \"💖 Получить весь список\", callback_data: \"pay_sub\" }],       [{ text: \"🔁 Хочу позже\", callback_data: \"later\" }]     ]   }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,20],"id":"bd41914c-daa3-433d-a168-bd0c07eebbe4","name":"Code3"},{"parameters":{"toolDescription":"Use this tool to search the https://goldapple.ru/ ","method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-4a429c6f884e4b9a9eae1e7c8fdeaaac"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://goldapple.ru/\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[980,300],"id":"430fea8d-4af5-4dff-a9b2-e23dba1bc570","name":"Firecrawl Search","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.callback_query.message.message_id }}","chat_id":"={{ $json.callback_query.message.chat.id }}","user_name":"={{ $json.callback_query.message.chat.username }}","budget":"={{ $json.callback_query.data }}"},"matchingColumns":["user_name"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[300,20],"id":"e3ff932e-859e-4e8d-8441-6d3dc0dd282c","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"chat_id","lookupValue":"={{ $json.chat_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[500,20],"id":"58038522-1c7e-4dc7-80f6-6ca4c942e7a9","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Recomendation":"={{ $json.output }}","chat_id":"={{ $('Get row(s) in sheet').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1260,20],"id":"830ba9a9-352a-4f3a-836d-8dbb813e878b","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💖 Получить весь список","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🔁 Хочу позже","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Результат поиска","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1820,20],"id":"df95f446-aee8-4dcb-95a1-8f0e0b2341c7","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.callback_query.data.startsWith('budget_') }}"}]}},"id":"1b16153a-945b-4b9d-b4a5-38d6b703e8ed","name":"Is Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[60,40]},{"parameters":{"httpMethod":"POST","path":"b35a7c89-5000-46be-9051-591dcd3427a4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-220,40],"id":"ecba06ad-f077-48e5-9a58-a888431ec370","name":"Webhook","webhookId":"b35a7c89-5000-46be-9051-591dcd3427a4"}],"connections":{"Search Agent":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Search Agent","type":"ai_languageModel","index":0}]]},"Code3":{"main":[[{"node":"Результат поиска","type":"main","index":0}]]},"Firecrawl Search":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"Append or update row in sheet1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Search Agent","type":"main","index":0}]]},"Append or update row in sheet2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Is Message":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Is Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6e8ea0c2-f249-4acf-82c1-03e883383912","triggerCount":1,"tags":[]}