приветствие-бьюти-агент-KPT4JpK2vz0plYKa.json
{"createdAt":"2025-06-08T08:51:55.890Z","updatedAt":"2025-06-20T13:44:59.563Z","id":"KPT4JpK2vz0plYKa","name":"Приветствие бьюти агент","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/v","operator":{"type":"string","operation":"startsWith"},"id":"c83a3bbf-a07a-4547-aa5f-24d1641dc2fe"}],"combinator":"and"},"renameOutput":true,"outputKey":"main"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa47404d-c110-4d4a-8310-126eb004bd75","leftValue":"={{ $json.message.text }}","rightValue":"/","operator":{"type":"string","operation":"notStartsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"budget"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5060,1020],"id":"6326654d-3872-4330-82cb-9d2c97013d4c","name":"Switch"},{"parameters":{"jsCode":"const chatId = $items('extract')[0].json.chat_id;\nconst src    = JSON.parse($json.message.content);          // {\"dish\":..,\"grams\":..[, \"time\":\"HH:MM\"]}\n\n// ── московская «сегодня»\nconst now = new Date(new Date().toLocaleString('en-US',{ timeZone:'Europe/Moscow' }));\n\n// берём HH:MM из src.time или текущее\nlet [hh, mm] =\n  src.time?.match(/^(\\d{2}):(\\d{2})$/)?.slice(1) ||\n  [now.getHours(), now.getMinutes()].map(n => String(n).padStart(2,'0'));\n\n// собираем ISO-строку в МСК (+03:00) — без перевода в UTC\nconst pad = n => String(n).padStart(2,'0');\nconst eatenAt = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}` +\n                `T${hh}:${mm}:00+03:00`;\n\nreturn [{\n  json: {\n    chat_id : chatId,\n    dish    : src.dish,\n    grams   : src.grams,\n    eaten_at: eatenAt\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,640],"id":"70c2ce46-9090-443e-b453-1057211adcd5","name":"parseJSON","disabled":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-5360,1020],"id":"d7682312-2176-4619-a7c0-e1544896e360","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const text = $json.message.text.replace(/^\\/v\\s+/i, '');\nreturn [{ json: { chat_id: $json.message.chat.id, raw: text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,580],"id":"5ec0a84b-1004-411d-a4b3-ea0b6126e6bb","name":"extract","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Ты нутри-калькулятор.\nНа вход одна строка «dish, grams».\nВерни ТОЛЬКО одну строку JSON:\n{\"dish\":\"…\",\"kcal\":число,\"prot\":число,\"fat\":число,\"carb\":число}\nБез ``` и без пояснений.","role":"system"},{"content":"={{ $json.dish }}, {{ $json.grams }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-440,640],"id":"5c9ee521-5f96-40f5-bcf7-b73e99d46028","name":"nutrion","credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Ты бьюти консультант, косметолог, врач-дерматолог-парсер.\n\nПолучаешь информацию о типе кожи, которую пользователь ввел в ручну.\n\n- Если можешь разумно оценить порцию и массу (число граммов) — даже по словам типа «1 шт», «половина», «два куска» — верни ОДНУ строку JSON:\n\n{\"dish\":\"…\",\"grams\":число[, \"time\":\"HH:MM\"]}\n\n- time указывай, только если нашёл в тексте, без даты.\n\n- Если оценить порцию или время нельзя — верни ТЕКСТ-подсказку:\n*Не распознал* 🤔\n\n*Формат:* /v блюдо граммы [HH:MM]\n*Пример:* /v яблоко 100г 18:00","role":"system"},{"content":"={{ $json.raw }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,900],"id":"5205e292-0231-4796-84af-5c0092fb753e","name":"parser","credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}},"disabled":true},{"parameters":{"content":"# /v РУЧНОЙ ВВОД\n\n\n\n\n","height":432,"width":1858,"color":4},"id":"f3ba0794-3917-4e7c-b67a-5709891393bc","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-4800,460],"typeVersion":1},{"parameters":{"content":"# ОБЩЕНИЕ С НУТРИЦИОЛОГОМ\n\n\n\n","height":472,"width":1858,"color":6},"id":"b425a97a-bcf3-4e0a-bf62-e434fe9f3a68","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1580,1640],"typeVersion":1,"disabled":true},{"parameters":{"content":"# /start  И СОЗДАНИЕ ПРОФИЛЯ\n\n\n\n","height":312,"width":858,"color":7},"id":"a9bd66f7-0531-4b18-a1c8-beab804e2e41","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-4800,120],"typeVersion":1},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-5640,2160],"id":"bf1e8d6b-b785-4c30-8c1f-242aab7a3b0d","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"6WZbRqNGvR0VEngG","name":"Telegram account"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52493568-0b68-46b8-b18a-894cf77bcac1","leftValue":"={{$json.callback_query.data}}","rightValue":"manual_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"manual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f1495ad-2eb2-4729-af5a-23c949adce8c","leftValue":"={{$json.callback_query.data}}","rightValue":"dish_yes_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"dish_yes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json.callback_query.data}}","rightValue":"dish_no_","operator":{"type":"string","operation":"startsWith"},"id":"c9ead52e-1b81-453a-bd9b-1d18dcbd82bb"}],"combinator":"and"},"renameOutput":true,"outputKey":"dish_no"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"646db5d3-3518-4edf-9374-cef371fa7ba9","leftValue":"={{$json.callback_query.data}}","rightValue":"alt_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"alt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bcf1e75-3e73-465b-8bbb-2665b845e7e9","leftValue":"={{$json.callback_query.data}}","rightValue":"weight_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"weight"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6166763a-38e9-494a-aea0-20bdc9626314","leftValue":"={{ $json.message.text }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text_cmd"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5420,2080],"id":"11e664b3-0d52-47af-9fcb-87512842f800","name":"Switch1","disabled":true},{"parameters":{"tableId":"profiles","fieldsUi":{"fieldValues":[{"fieldId":"telegram_id","fieldValue":"={{ $('Switch').item.json.message.from.id }}"},{"fieldId":"first_name","fieldValue":"={{ $('Switch').item.json.message.from.first_name }}"},{"fieldId":"username","fieldValue":"={{ $('Switch').item.json.message.from.username }}"},{"fieldId":"locale","fieldValue":"={{ $('Switch').item.json.message.from.language_code }}"},{"fieldId":"created_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4340,200],"id":"1fb3e15f-dc14-479c-8402-0164be6b4ca4","name":"CREATE profile","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"tableId":"meals","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{ $('parseJSON').item.json.chat_id }}"},{"fieldId":"dish","fieldValue":"={{ $json.message.content.dish }}"},{"fieldId":"grams","fieldValue":"={{ $('parseJSON').item.json.grams }}"},{"fieldId":"kcal","fieldValue":"={{ $json.message.content.kcal }}"},{"fieldId":"prot","fieldValue":"={{ $json.message.content.prot }}"},{"fieldId":"fat","fieldValue":"={{ $json.message.content.fat }}"},{"fieldId":"carb","fieldValue":"={{ $json.message.content.carb }}"},{"fieldId":"eaten_at","fieldValue":"={{ $('parseJSON').item.json.eaten_at }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-20,620],"id":"42536100-2116-41ae-8a6a-93051bc658fb","name":"CREATE meals","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11bc0d87-40a0-4a39-b576-9fbb5f7535e8","leftValue":"={{ $json.message.content }}","rightValue":"{","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,840],"id":"c2aa6cf5-c774-4d8f-a0d0-fbec690180ec","name":"IF 2","disabled":true},{"parameters":{"chatId":"={{ $('Switch').item.json.message.from.id }}","text":"=Привет, {{ $json.message.from.first_name }}!\n\nПривет! 👋 Рада тебя видеть 🤗\nМеня зовут Карина, я твой бьюти консультатн.\nЯ помогу тебе подобрать идеальный уход для кожи — по твоему типу, бюджету и потребностям.\n\n🧾 Как начать:\n📸 Просто отправь фото своей кожи — я распознаю её тип и подберу тебе лучшие косметические средства.  \n🧠 Каждая подборка сохраняется в твоём профиле — можно вернуться, пересмотреть и задать вопросы.  \n📬 Каждый вечер я присылаю тебе интереснкю информацию и новинки из бьюти сферы  и даю рекомендации на уход.\n\n📝 Если те не хочешь выслать фото можно тип кожи вводить вручную:  \nПример: /v жирная с акне\n\n⚖️ Если НЕ знаешь свой тип кожи — опиши своими словами, что ты чувствуйешь на коже или что тебе мешает,  если есть  у тебя аллергии или чувствительность к каким-то ингредиентам, высыпания, сухость или покраснения на коже?\n\nНачнём? Тогда  — просто пришли фото!","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4080,240],"id":"c7547041-9255-43de-9313-cc43d73c51ca","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","credentials":{"telegramApi":{"id":"6WZbRqNGvR0VEngG","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('extract').item.json.chat_id }}","text":"={{ $json.message.content }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,1200],"id":"d650fc19-6d1f-4b60-8ca6-476465fe9807","name":"ERROR","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","credentials":{"telegramApi":{"id":"6WZbRqNGvR0VEngG","name":"Telegram account"}},"disabled":true},{"parameters":{"chatId":"={{ $('parseJSON').item.json.chat_id }}","text":"=*{{ $json.dish }} – {{ $json.grams }} г*\n\n*Калорий:* {{ $json.kcal }}\n*Б:* {{ $json.prot }} *Ж:* {{ $json.fat }} *У:* {{ $json.carb }}\n\n✔️ _сохранил в память_","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🚫 не сохранять","additionalFields":{"callback_data":"=cancel_{{ $json.id }}"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[340,640],"id":"58d63989-93a5-4f76-8ba9-9f525c4da690","name":"OK","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","credentials":{"telegramApi":{"id":"6WZbRqNGvR0VEngG","name":"Telegram account"}},"disabled":true},{"parameters":{"content":"## [включать только для настройки]\n\n","height":432,"width":598,"color":5},"id":"4e118363-d4ac-479f-9c58-102c282820a8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-5720,2000],"typeVersion":1},{"parameters":{"operation":"getAll","tableId":"skin_analysis","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4720,220],"id":"5381e00b-7da3-4a82-a4a7-8b2876f9f1d6","name":"GET profile","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"dbd664b4-20b3-4d51-8000-20892b93782d","leftValue":"={{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4540,220],"id":"b8d6faf7-640e-4a14-99fd-aa0ac95463f0","name":"IF NO"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-760,1860],"id":"f6b0b8c1-c425-47e8-ace3-bde821283f9a","name":"OpenAI","credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}},"disabled":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.content }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-100,1720],"id":"cf9fd6c5-c315-46ff-947e-8976b8a9477c","name":"Telegram","webhookId":"ce8565f7-fca8-4e4e-b9ba-109e833298a3","credentials":{"telegramApi":{"id":"6WZbRqNGvR0VEngG","name":"Telegram account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"336d64ed-3993-434e-9bbd-abb9f3c777f3","leftValue":"={{ $json.summary_md }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1200,1900],"id":"955b703a-51c5-4c2b-b9e8-bd452a62a125","name":"If","disabled":true},{"parameters":{"method":"POST","url":"https://lsdfsdfsdffdssdfgdsmuxv.supabase.co/rest/v1/rpc/get_current_summary","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"KEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"_chat_id","value":"={{ $json.chat_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1380,1900],"id":"5f615874-807b-4209-8169-993d1c1e2986","name":"SUPA digest","executeOnce":false,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"64fb8515-cda5-462c-afcf-2c9865a3631d","name":"hasDigest","value":false,"type":"boolean"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,1880],"id":"a09dca41-c0ac-4040-aaac-00a05d4b6018","name":"NO DIGEST","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"08b17997-5514-4157-9518-365744b2a556","name":"hasDigest","value":true,"type":"boolean"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,1720],"id":"f3be545b-9c69-416a-8253-c6b3281dc410","name":"YES DIGEST","disabled":true},{"parameters":{"operation":"getAll","tableId":"meals","matchType":"allFilters","filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('Switch').item.json.message.from.id }}"},{"keyName":"eaten_at","condition":"gte","keyValue":"={{ (() => {\n     // «сейчас» в Москве\n     const now = new Date(new Date()\n                 .toLocaleString('en-US', { timeZone: 'Europe/Moscow' }));\n\n     // минус 7 суток\n     now.setDate(now.getDate() - 7);\n\n     // ставим начало дня и возвращаем ISO +03:00\n     now.setHours(0,0,0,0);\n     return now.toISOString().replace('Z','+03:00');\n})() }}\n"},{"keyName":"eaten_at","condition":"lte","keyValue":"={{ (() => {\n     const now = new Date(new Date()\n                 .toLocaleString('en-US', { timeZone: 'Europe/Moscow' }));\n     return now.toISOString().replace('Z','+03:00');\n})() }}\n"},{"keyName":"deleted","condition":"is","keyValue":"false"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-600,1860],"id":"d4c26593-8ae6-4990-9a7e-3f7cfc0ae3bd","name":"get_week_meals","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}},"disabled":true},{"parameters":{"content":"## [основной триггер]\n\n","height":272,"width":298},"id":"0df0498e-15dd-4692-b3ca-223f1df7d99d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-5460,920],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const escapeMdV2 = s =>\n  s.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\n\nif (item.json.output) {\n  item.json.output = escapeMdV2(item.json.output);\n}\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,1720],"id":"d4243793-1008-4d42-b106-56f7c2e1c62d","name":"Escape","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"442870a4-1075-4f7c-bdce-f6011d4c93da","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"d38f3a89-b513-46c0-b960-ba64a754bd58","name":"session_id","value":"={{ 'user_' + $json.message.chat.id }}","type":"string"},{"id":"8d169f91-297e-494d-8260-224ef6f88cba","name":"role","value":"user","type":"string"},{"id":"011e9af4-a978-4985-bf28-dbafcb4fa2e9","name":"content","value":"={{ $json.message.text }}","type":"string"},{"id":"3ad625a1-0bdd-48cf-901b-d1306d890628","name":"username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"c4c0ac19-2cdd-451b-b0f0-7829e06bd7b6","name":"first_name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"c270f762-1398-45d2-a58c-883b5f512bd3","name":"metadata","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1560,1800],"id":"0670d1a3-942e-488f-bf85-b1699a13c9e4","name":"User Log","disabled":true},{"parameters":{"tableId":"skin_analysis","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{ $json.chat_id }}"},{"fieldId":"session_id","fieldValue":"={{ $json.session_id }}"},{"fieldId":"role","fieldValue":"={{ $json.role }}"},{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"username","fieldValue":"={{ $json.username }}"},{"fieldId":"first_name","fieldValue":"={{ $json.first_name }}"},{"fieldId":"metadata","fieldValue":"={{ $json.metadata }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1380,1720],"id":"5867fdec-8d44-4523-877e-5b51e3435259","name":"Save User Msg","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}},"disabled":true},{"parameters":{"tableId":"chat_logs","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{ $('Bot Log').item.json.chat_id }}"},{"fieldId":"session_id","fieldValue":"={{ $('Bot Log').item.json.session_id }}"},{"fieldId":"role","fieldValue":"={{ $('Bot Log').item.json.role }}"},{"fieldId":"content","fieldValue":"={{ $('Bot Log').item.json.content }}"},{"fieldId":"metadata","fieldValue":"={{ $('Bot Log').item.json.metadata }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[60,1720],"id":"73b63cb2-e443-4687-bbf4-981d479ce02a","name":"Save Bot Msg","credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"03bc3c9d-7d1b-4f70-999d-115edccd98dd","name":"chat_id","value":"={{ $('User Log').item.json.chat_id }}","type":"string"},{"id":"9093739a-9c1b-4b54-8487-9a79272b6892","name":"session_id","value":"={{ $('User Log').item.json.session_id }}","type":"string"},{"id":"4bc4cf2d-63c7-49f3-bae8-7d08160305ca","name":"role","value":"assistant","type":"string"},{"id":"494392e4-828d-4fd6-a70b-af2c9e050558","name":"content","value":"={{ $json.output }}","type":"string"},{"id":"581ad272-fd98-4fa1-8bb1-b985f816079d","name":"metadata","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,1720],"id":"f4511b74-b922-44d5-8136-7edf00b0f330","name":"Bot Log","disabled":true},{"parameters":{"promptType":"define","text":"={{ $('Switch').item.json.message.text }}","options":{"systemMessage":"=Ты дипломированный нутрициолог. Твоя задача отвечать на вопросы пользователя и консультировать его. Веди себя как профессионал, но старайся общаться достаточно естественно, так как беседа ведется в мессенджере.\n\nНа вход получаешь:\n1. Отчет по питанию для клиента за прошедший день: {{ $json.summary_md }}\n2. kcal за день: {{ $json.kcal }}\n3. fat: {{ $json.fat }}\n4. carb: {{ $json.carb }}\n5. prot: {{ $json.prot }}\n6. hasDigest: {{ $json.hasDigest }}\n\n• Если отчет за день есть, а hasDigest = true → используй этот отчет в качестве основного источника данных при осставлении рекомендаций для человека и ответа на его вопросы. \n• Если инфы нет, а hasDigest = false → значит просто не учитывай эту информацию (не обязательно уведомлять человека) и общайся, стараясь быть ценным для собеседника\n• У тебя есть доступ к инструменту \"get_today_meals\" который дает доступ к полному рациону питания человека за последние две недели, используй его при необходимости.\n\n- Формат сообщения должен быть Markdown для телеграм, для жирного шрифта используй одну * в начале и в конце, а для курсива _ вместо ** (ПРИМЕР: *жирный*, _курсив_).\n- Разрешается использовать тематические эмоджи где уместно.\n- Используй жирный *только для целых слов или фраз*, курсив — тоже для целых слов.\n- Не вставляй * внутри markdown-заголовков и списков.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-760,1720],"id":"3d1bc530-d052-4ff7-a30f-9a56a2f54dc8","name":"nutrion 2","disabled":true},{"parameters":{"content":"ютуб канал ИИздец передает тебе привет и желает успехов :3","height":80,"width":478,"color":7},"id":"9bcf6cfc-905d-494a-9072-f67ca7f66670","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[40,80],"typeVersion":1},{"parameters":{"jsCode":"// Получаем первую запись из Merge (данные из Supabase)\nconst supabase = $items(\"Merge\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = supabase[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем message_id и chat_id\nconst msgId = supabase[\"message_id\"];\nconst chatId = supabase[\"chat_id\"];\n\n// Формируем сообщение с переменной типа кожи\nreturn {\n  json: {\n    step: \"ask_budget\",\n    message_id: msgId,\n    chat_id: chatId,\n    type_skin: skinType, // сохраняем как переменную\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" },\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"до 5000₽\", callback_data: \"budget_5000\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4700,640],"id":"f9db9974-b50e-4024-a972-c30a88284fdc","name":"Бюджет"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 3000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":" до 5000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}},{"text":"до 7000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][2].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4480,640],"id":"55c46112-d809-4307-bd7a-ff13014f49b2","name":"Кнопки выбор бюджета","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"6WZbRqNGvR0VEngG","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💰  Хочу за 199₽/мес","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"🔁 Может быть позже","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Send Products to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-3200,1040],"id":"55d49411-6410-4baa-ae4c-051564873b57","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","credentials":{"telegramApi":{"id":"6WZbRqNGvR0VEngG","name":"Telegram account"}}},{"parameters":{"tableId":"skin_analysis","fieldsUi":{"fieldValues":[{"fieldId":"chat_id","fieldValue":"={{ $json.callback_query.message.chat.id }}"},{"fieldId":"message_id","fieldValue":"={{ $json.callback_query.message.message_id }}"},{"fieldId":"budget","fieldValue":"={{ $json.callback_query.data }}"},{"fieldId":"created_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"skin_type","fieldValue":"сухая"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4740,1040],"id":"53c1c21b-642d-43a6-aa8f-9983a48f209d","name":"Save budget1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"budget\": \"{{ $json.budget }}\",\n  \"chat_id\": \"{{ $json.chat_id }}\",\n  \"type_skin\": \"{{ $json.skin_type }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4300,1040],"id":"fd0337b8-6ad4-4ed9-9cf1-95b709da2a17","name":"Edit Fields3"},{"parameters":{"jsCode":"const chatId = $json.chat_id || 1147618121;\nconst messageId = $json.message_id || 0;\nconst typeSkin = $json.type_skin || \"жирная\";\nconst budget = $('Edit Fields3').first().json.budget || \"не указан\";\n\nlet raw = $json.output || \"\";\n\n// Формируем текст сообщения\nlet text = `✨ Вот подборка с бюджетом *${budget}*:\\n\\n`;\ntext += `Лучшие средства для ухода за кожей лица, подходящие под твой тип кожи *${typeSkin}*:\\n\\n`;\ntext += `⬇️ Вот рекомендованный тонер:\\n\\n`;\ntext += raw.trim(); // Убедись, что Firecrawl вставляет Markdown с [ссылкой](...) внутри\n\n// Добавляем финальный оффер\ntext += `\\n\\n🎁 Хочешь получить *полный персональный уход*?\\n\\n`; \ntext += `💄 6–8 продуктов под твой бюджет\\n`;\ntext += `🛍️ Ссылки на товары\\n`; \ntext += `🔥 Актуальные акции\\n`;\ntext += `🆕 Новинки и тренды\\n`;\ntext += `🤖 Чат с AI-косметологом\\n`;\ntext += `🧖‍♀️ Рекомендации ухода по этапам\\n`;\ntext += `🔒 Доступ в закрытый телеграм-канал 🎉 Там я регулярно раздаю подарки!\\n\\n`;\ntext += `✨ *И это ещё не всё... Я приготовила для тебя ещё больше бонусов! 😍 Присоединяйся к сообществу продвинутых*⬇️\\n\\n`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    budget,\n    type_skin: typeSkin,\n    text,\n    disable_web_page_preview: true, // 🧼 Убираем предпросмотр ссылки в Telegram\n    reply_markup: {\n      inline_keyboard: [\n        [\n          {\n            text: \"💰 Хочу за 199₽/мес\",\n            callback_data: \"pay_subscription\"\n          }\n        ],\n        [\n          {\n            text: \"🔁 Может быть позже\",\n            callback_data: \"maybe_later\"\n          }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3480,1040],"id":"4d898bc6-4212-4e0d-940f-9a0830515967","name":"Code"},{"parameters":{"promptType":"define","text":"=Рекомендация тонера\n\n","options":{"systemMessage":"=You are a **DERMATOLOGIST AND COSMETOLOGIST**, an expert in skincare and cosmetic formulations.\n\nYour task is to recommend **only one facial toner** that matches the user's skin type and fits within their budget.\n\nBudget: **{{ $json.budget || \"3000\" }}**  \nSkin Type: **{{ $json.type_skin || \"жирная\" }}**\n\n✅ Use only the online store https://aravia.ru/ to find the product.\n\n⚠️ Always respond in **Russian language**.  \n⚠️ Format your response for **Telegram** in **Markdown**.  \n⚠️ Do **not** generate any introduction or explanation — only the product block in Markdown.\n\nYour response must include:\n\n- 🌟 Название (Name)  \n- 📋 Короткое описание (Short description)  \n- 💸 Цена (Price)  \n- 🔗 Ссылка на товар (Real product link)\n\n🎯 Output must be limited strictly to **1 продукт** — *тонер для лица*.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-3900,1040],"id":"3281fe32-71c4-41db-83ac-f35c1a69aed5","name":"Search Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4040,1260],"id":"f99f73a4-b0a0-4c85-a7fc-72aea0c16564","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"toolDescription":"Use this tool to search the https://aravia.ru/","method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-4a429c6f884e4b9a9eae1e7c8fdeaaac"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://aravia.ru/\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-3600,1300],"id":"dd0b4b5e-992a-4006-8fe9-342a866455f0","name":"Firecrawl Search","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}}},{"parameters":{"operation":"get","tableId":"skin_analysis"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4500,1040],"id":"0ec8ad55-710b-44d7-82f4-1b0a6b10b335","name":"Save budget","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"sgY0tFgUrMvTIz2b","name":"Supabase account"}}},{"parameters":{"content":"# БЮДЖЕТ","height":340,"width":620,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4800,960],"typeVersion":1,"id":"4b94032d-bf20-428f-ab22-86962c35cd4f","name":"Sticky Note6","disabled":true},{"parameters":{"content":"## РЕЗКЛЬТАТ","height":540,"width":1420},"type":"n8n-nodes-base.stickyNote","position":[-4140,920],"typeVersion":1,"id":"8b5e8193-1e34-4d0d-b8de-044da74d85c9","name":"Sticky Note7"}],"connections":{"Switch":{"main":[[{"node":"GET profile","type":"main","index":0}],[{"node":"Бюджет","type":"main","index":0}],[{"node":"Save budget1","type":"main","index":0}]]},"parseJSON":{"main":[[{"node":"nutrion","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"extract":{"main":[[{"node":"parser","type":"main","index":0}]]},"nutrion":{"main":[[{"node":"CREATE meals","type":"main","index":0}]]},"parser":{"main":[[{"node":"IF 2","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[],[],[],[],[],[],[]]},"CREATE profile":{"main":[[{"node":"start","type":"main","index":0}]]},"IF 2":{"main":[[{"node":"parseJSON","type":"main","index":0}],[{"node":"ERROR","type":"main","index":0}]]},"CREATE meals":{"main":[[{"node":"OK","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"IF NO","type":"main","index":0}]]},"IF NO":{"main":[[{"node":"CREATE profile","type":"main","index":0}],[{"node":"start","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"nutrion 2","type":"ai_languageModel","index":0}]]},"SUPA digest":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"YES DIGEST","type":"main","index":0}],[{"node":"NO DIGEST","type":"main","index":0}]]},"YES DIGEST":{"main":[[{"node":"nutrion 2","type":"main","index":0}]]},"NO DIGEST":{"main":[[{"node":"nutrion 2","type":"main","index":0}]]},"get_week_meals":{"ai_tool":[[{"node":"nutrion 2","type":"ai_tool","index":0}]]},"Escape":{"main":[[{"node":"Bot Log","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Save Bot Msg","type":"main","index":0}]]},"User Log":{"main":[[{"node":"Save User Msg","type":"main","index":0},{"node":"SUPA digest","type":"main","index":0}]]},"Bot Log":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"nutrion 2":{"main":[[{"node":"Escape","type":"main","index":0}]]},"Бюджет":{"main":[[{"node":"Кнопки выбор бюджета","type":"main","index":0}]]},"Save budget1":{"main":[[{"node":"Save budget","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Search Agent","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send Products to Telegram","type":"main","index":0}]]},"Search Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Search Agent","type":"ai_languageModel","index":0}]]},"Firecrawl Search":{"ai_tool":[[{"node":"Search Agent","type":"ai_tool","index":0}]]},"Save budget":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"08c76594-e715-4060-8c2f-4f51a1363aaa","triggerCount":0,"tags":[]}