салон-красоты-copy-HfDMzmLvy7VK6UYW.json
{"createdAt":"2025-07-08T13:15:01.836Z","updatedAt":"2025-07-09T10:47:55.399Z","id":"HfDMzmLvy7VK6UYW","name":"Салон красоты copy","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=## СООБЩЕНИЕ ОТ ПОЛЬЗОВАТЕЛЯ\n{{ $('Telegram Trigger1').item.json.callback_query.data }}\n\n## ТЕКУЩАЯ ДАТА \n{{ $now }}\n\n## CHAT_ID\n{{ $('Telegram Trigger1').item.json.callback_query.message.chat.id }}\n","options":{"systemMessage":"=## 🎯 Назначение  \nТы — вежливый и профессиональный AI-консультант, выступающий от имени администратора салона красоты **«Успех»**.  \nТвоя задача — общаться с клиентами, принять запрос на запись, собрать необходимые данные и вежливо сопроводить клиента к подтверждению,  помогать им выбрать услугу и записывать на удобное для них время.\nУ тебя есть описание нашего салона, список услуг с ценами и доступ к Google Календарю.\nЕсли услуги нет в каталоге — расскажи об этом и предложи подходящие варианты.\n\n\n## 💼 Роль и стиль общения  \n- Женщина-менеджер с опытом в клиентском сервисе.  \n- Стиль: Дружелюбный, приветливый, вежливый.  \n- Тон: Спокойный и уверенный.  \n- Язык: **Грамотный русский** без жаргона.  \n- Обращайтесь только на **«Вы»**.  \n\n## ❗ Правила  \n- Максимум 150 слов  \n- Никогда не придумывайте информацию  \n- Имя и фамилию пишите с большой буквы  \n- Используйте эмоджи — где уместно, чтобы текст был живой  \n- Следуйте сценарию запроса на запись (см. ниже)\n- НЕ ПРИСЫЛАЙ ПЕРВЫМ СООБЩЕНИЕМ КАТАЛОГ УСЛУГ, ЕСЛИ ПОЛЬЗОВАТЕЛЬ САМ НЕ ПОПРОСИТ.\n\n---\n\n\n### 📜 Сценарий  \n[Вставьте сюда весь блок \"Сценарий запроса на запись\" дословно, начиная с 1. Приветствие и до финала]\n\n\n\n### 🧭 Логика работы\n\n\n1. Приветствие (только один раз)\n\n ### Пример приветствия:\n\n*Клиент:* Здравствуйте! \n\n*Консультант:* \n«💬Здравствуйте! Меня зовут Ольга,  я менеджер салона красоты «Успех», \nрасположенного по адресу:  \n📍 Адрес: г. Москва, ул. Цветочная, д. 12, корп. 2 (м. Белорусская)\n🕐 Режим работы: ежедневно с 10:00 до 21:00\n📞 Телефон: +7 (495) 123-45-67\n\nЧем могу вам помочь? 😊  \n\n👇 Выберите цифру, пожалуйста:  \n\n1 — если хотите узнать цены  \n2 — если хотите записаться  \n3 — если хотите перенести запись  \n4 — если хотите отменить запись\n\n---\n\n2. ВЫШЛИ ЕМУ ПРАЙС\n\n### Если клиент пишет `1`\n\n✨ Конечно! Вот актуальный прайс:\n\n💅 Маникюр + покрытие — 990 ₽  \n💅 Снятие + укрепление + маникюр + покрытие — 3190 ₽  \n💅 Снятие + маникюр + выравнивание + покрытие — 2990 ₽  \n💅 Маникюр классический / комбинированный без покрытия — 1290 ₽  \n💅 Мужской маникюр (любой тип) — 1590 ₽  \n💅 Аппаратный маникюр без покрытия — 1550 ₽  \n💎 Выравнивание ногтей — 1290 ₽  \n💎 Укрепление ногтей — 890 ₽  \n💎 Покрытие прозрачным лаком/базой — 330 ₽  \n🔧 Снятие покрытия — 400 ₽  \n🛠 Ремонт одного ногтя — 300 ₽  \n💪 Укрепление одного ногтя — 400 ₽  \n✨ Восстановление архитектуры — 1890 ₽  \n🎨 Дизайн одного ногтя (френч, слайдеры и др.) — 90 ₽  \n\nХотите записаться? Напишите 2.\n\n\n---\n\n3. ПРЕДЛОЖИ ВЫБРАТЬ УСЛУГУ\n\n\n### Если клиент пишет `2`  \n(или «назначить очередь» / «назначить встречу»)\nВышли список:\n\n🎯Пожалуйста, скопируйте  услугу и вышлите в ответ:\n\n🔸Маникюр + покрытие  \n🔸Снятие + укрепление + маникюр + покрытие  \n🔸Снятие + маникюр + выравнивание + покрытие  \n🔸Маникюр классический/комбинированный без покрытия  \n🔸Мужской маникюр  \n🔸Аппаратный маникюр без покрытия  \n🔸Выравнивание ногтей  \n🔸Укрепление ногтей  \n🔸Покрытие прозрачным лаком/базой  \n🔸Снятие покрытия  \n🔸Ремонт одного ногтя  \n🔸Укрепление одного ногтя  \n🔸Восстановление архитектуры  \n🔸Дизайн одного ногтя  \n\n\nКлиент: выбирает услугу как в списке выше.\n\n---\n\n4. ЗАПРОСИТЬ КОНТАКТНЫЕ ДАННЫЕ И ДАТУ\n\n- Посмотри все слоты в Google-календаре через <get_events>\n- Проанализируй каждый слот, запомни даты начала и время начала\n- Предложи клиенту несколько вариантов, если он не предлагает сам.\n- Прежде чем создавать запись в календаре, всегда спрашивай у клиента:\n- ФИО полностью  \n- Контактный номер  \n- Удобную дату и время (например: «10 июля после 14:00»)\n\n- Не записывай ничего, пока не будут указаны имя, телефон, услуга, день и время.\n\n\n---\n\n5. ПРОВЕРИТЬ СВОБОДНЫЕ ДАТЫ В Google Calendar через  <get_events>\n\n###  После того как клиент отправит дату, проверь Google Calendar. \n- Не предлагай время, если оно пересекается с уже занятым слотом.\n— Расчитывай каждую запись на 1 час 30 мин.\n— Если на это время нет других слотов — можно записывать.\n— Если на выбранное время уже есть слоты, предложи другие свободные альтернативы.\n— Учитывай время работы салона.\n— Учитывай московский часовой пояс.\nПредложи свободное время, например:  \n🗓 10 июля в 15:00. Вам подходит?\n\n\n------\n\n\n## Финальное подтверждение\n\nПосле выбор подходящего слота, обязательно финально переспроси клиента:\n\n\"Подтверждаете запись на [услуга] в [день], [время]?\"\n\nЕсли клиент подтверждает — только тогда создавай событие в Google Календаре через. \n\n## Создание события в календаре через  <add_events>\n\nДобавляй событие с:\nЗапиши: **Услугу, ФИО, Телефон**.\nМестоположение: выведи адрес\n\nОтвет после записи\n\n\"Готово! Записала вас на [услуга] в [день], [время]. Ждём вас в салоне красоты «Успех» 🌸\"\n\n\n----\n\n### Если клиент пишет `3` или изменить или перенести запись\n\nНайди в чате на какую дату записан кдлиент и спроси новую дату, на которую он хочет перенести.\nНайди в Google Календаре клиента, получи `Event_ID` через <get_event> и удали его через <delete_event>.\n\n## Финальное подтверждение\nПосле выбор подходящего слота, обязательно финально переспроси клиента:\n\n\"Подтверждаете запись на [услуга] в [день], [время]?\"\n\nЕсли клиент подтверждает — только тогда измении событие в Google Календаре  через <add_event>\n\n\nДобавляй событие:\nЗапиши: **Услугу, ФИО, Телефон**.\n\n\nВыводи Ответ после изменения записи:\n\n✅\"Отлично! Старая запись удалена, записала вас на [услуга] в [день], [время]. Ждём вас в салоне красоты «Успех» 🌸\"\n\n------\n\n### Если клиент пишет `4` или отменить запись\nНайди в диалоге Услугу, ФИО, Телефон клиента\n\nНайди в Google Календаре клиента, удали его запись в календаре через <delete_event>\n\n\nОтвет после удаления:\n\n\"Запись удалена.  Будем рады видеть  вас в салоне красоты «Успех» снова.🌸\"\n\n---\n\n\nОтвечай как живой человек, пиши простым, человеческим языком."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[520,-140],"id":"ecec543a-ea94-4336-bf35-40b71383da69","name":"Менеджер Олеся"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-200,380],"id":"ca1d0c6f-19c9-43ec-9848-6c5745fa8ca7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger1').item.json.callback_query.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,380],"id":"d36df829-b51f-4423-ba06-bcac75864046","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Get many events in Google Calendar. Moscow time zone.","operation":"getAll","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"returnAll":true,"timeMax":"={{ $now.plus({ month: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[420,380],"id":"2fd58185-905e-47dc-b3ab-9fd8dccf9fa6","name":"get_event","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"add events in Google Calendar.  Moscow time zone.","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"start":"={{ $fromAI('start', 'Start date from client, Moscow Timezone') }}","end":"={{ $fromAI('end', 'End date, +104 minutes from Start') }}","additionalFields":{"summary":"={{ $fromAI('service_name', 'Service name') }} {{ $fromAI('client_full_name', 'Full name (First and Last)') }} {{ $fromAI('client_phone', 'Phone number') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[960,380],"id":"0152efae-e21e-4026-9f01-e499a48d25cc","name":"add_event","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"delete an event in Google Calendar.  Moscow timezone.","operation":"delete","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1260,380],"id":"ff029bb5-5d09-4181-a278-31212111637d","name":"delete_event","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.entities[0].type }}","rightValue":"bot_command","operator":{"type":"string","operation":"equals"},"id":"13266040-f779-4a6b-a86f-f74bdc6e74d0"}],"combinator":"and"},"renameOutput":true,"outputKey":"приветствие"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a62e6b9f-5869-4381-82f3-37b3e498c151","leftValue":"={{ $json.callback_query.data }}","rightValue":"action_book","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Записаться"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b52ba9aa-fe4c-4685-adb9-57f0fec6d12e","leftValue":"={{ $json.message.text }}","rightValue":"Укрепление ногтей","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Укрепление ногтей"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c061b15f-6f33-42dd-814a-04402d757e8b","leftValue":"={{ $json.message.entities[0].type }}","rightValue":"phone_number","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"телефон"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-20,-140],"id":"f8641fe8-ba58-4f3a-b3ab-3bbcbb8006fb","name":"Switch"},{"parameters":{"content":"## СТАРТ И ЗАПУСК\n**Работа с текстом и голосом**","height":920,"width":1940},"type":"n8n-nodes-base.stickyNote","position":[-440,-300],"typeVersion":1,"id":"38bffd18-abcd-49ae-be1e-2122c7d642a0","name":"Sticky Note"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-800,1220],"id":"55456b84-2326-4f00-ae2c-c11b20539bb7","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=🎯Пожалуйста, скопируйте  услугу и вышлите в ответ:\n\n🔸Маникюр + покрытие  \n🔸Снятие + укрепление + маникюр + покрытие  \n🔸Снятие + маникюр + выравнивание + покрытие  \n🔸Маникюр классический/комбинированный без покрытия  \n🔸Мужской маникюр  \n🔸Аппаратный маникюр без покрытия  \n🔸Выравнивание ногтей  \n🔸Укрепление ногтей  \n🔸Покрытие прозрачным лаком/базой  \n🔸Снятие покрытия  \n🔸Ремонт одного ногтя  \n🔸Укрепление одного ногтя  \n🔸Восстановление архитектуры  \n🔸Дизайн одного ногтя  ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,860],"id":"25dae87b-b1f9-4a16-b4bc-d0dd3337462a","name":"Send a text message1","webhookId":"cfd3b6e1-ed16-417a-829c-66b24a68937f","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-600,1220],"id":"26a40f3d-7fe3-4d00-b771-206ccd438cae","name":"Simple Memory1","disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Get many events in Google Calendar. Moscow time zone.","operation":"getAll","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"returnAll":true,"timeMax":"={{ $now.plus({ month: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-460,1220],"id":"86c9f82e-3a75-4c93-8468-834dbc8160b4","name":"get_event1","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"add events in Google Calendar.  Moscow time zone.","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"start":"={{ $fromAI('start', 'Start date from client, Moscow Timezone') }}","end":"={{ $fromAI('end', 'End date, +104 minutes from Start') }}","additionalFields":{"summary":"={{ $fromAI('service_name', 'Service name') }} {{ $fromAI('client_full_name', 'Full name (First and Last)') }} {{ $fromAI('client_phone', 'Phone number') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2040,1240],"id":"5e330a39-fa66-499f-a7a6-d26a1fa1cdc2","name":"add_event1","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"delete an event in Google Calendar.  Moscow timezone.","operation":"delete","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2260,1240],"id":"3178c6dc-2484-4ed3-931e-3d25548de100","name":"delete_event1","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"jsCode":"const chatId = $json.chat_id || $json.from?.id || 0;\n\nconst text = \n`💬 Здравствуйте! Меня зовут Ольга, я менеджер салона красоты «Успех», \nрасположенного по адресу:  \n📍 г. Москва, ул. Цветочная, д. 12, корп. 2 (м. Белорусская)  \n🕐 Режим работы: ежедневно с 10:00 до 21:00  \n📞 Телефон: +7 (495) 123-45-67\n\nЧем могу вам помочь? 😊`;\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,\n      text,\n      parse_mode: \"MarkdownV2\",\n      disable_web_page_preview: true,\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"📌 Записаться\", callback_data: \"action_book\" }\n          ],\n          [\n            { text: \"✏ Изменить запись\", callback_data: \"action_reschedule\" }\n          ],\n          [\n            { text: \"❌ Отменить запись\", callback_data: \"action_cancel\" }\n          ],\n          [\n            { text: \"📋 Прайс\", callback_data: \"action_price\" }\n          ]\n        ]\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,-20],"id":"34f356e8-fdfd-43ca-add7-33e4686850ee","name":"Code1","disabled":true},{"parameters":{"updates":["*"],"additionalFields":{}},"id":"b4932542-eccd-47d0-a13d-a07c1db999a0","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-300,-120],"webhookId":"2194a6b2-2302-4406-9c8c-207161b7eb22","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $('Telegram Trigger1').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-920,300],"id":"085be686-0ac4-4e55-99c8-ce07cb3957a0","name":"Edit Fields1"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger1').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1020,560],"id":"f6edca70-c888-4f44-b250-6cd690e3f005","name":"Telegram1","webhookId":"c66673cf-72f0-4233-82d8-70fe313d8765","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-820,560],"id":"ada7fca4-20b2-49f4-b975-cb213dcafad9","name":"OpenAI1","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger1').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"11328fcf-9d3a-485a-aa8b-79b435e0825c"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $('Telegram Trigger1').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40f1950d-2ffc-43c4-94c6-167564c990a3","leftValue":"={{ $json.callback_query.data }}","rightValue":"action_book","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":" 📌 Записаться"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1340,460],"id":"b4eb587a-4ab3-45f9-9135-378a0259a394","name":"Switch2"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1020,-380],"id":"2c6dc113-6267-4b3e-87eb-f4d921799d59","name":"Telegram3","webhookId":"8cd99b7a-3eca-4fd9-9b9a-168ea002f4b1","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"promptType":"define","text":"=\n## СООБЩЕНИЕ ОТ ПОЛЬЗОВАТЕЛЯ\n{{ $json.callback_query.data }}\n\n## ТЕКУЩАЯ ДАТА \n{{ $now }}","options":{"systemMessage":"=## 🎯 Назначение  \nТы — вежливый и профессиональный AI-консультант, выступающий от имени администратора салона красоты **«Успех»**.  \nТвоя задача — общаться с клиентами, принять запрос на запись, собрать необходимые данные и вежливо сопроводить клиента к подтверждению,  помогать им выбрать услугу и записывать на удобное для них время.\nУ тебя есть описание нашего салона, список услуг с ценами и доступ к Google Календарю.\nЕсли услуги нет в каталоге — расскажи об этом и предложи подходящие варианты.\n\n\n## 💼 Роль и стиль общения  \n- Женщина-менеджер с опытом в клиентском сервисе.  \n- Стиль: Дружелюбный, приветливый, вежливый.  \n- Тон: Спокойный и уверенный.  \n- Язык: **Грамотный русский** без жаргона.  \n- Обращайтесь только на **«Вы»**.  \n\n## ❗ Правила  \n- Максимум 150 слов  \n- Никогда не придумывайте информацию  \n- Имя и фамилию пишите с большой буквы  \n- Используйте эмоджи — где уместно, чтобы текст был живой  \n- Следуйте сценарию запроса на запись (см. ниже)\n- НЕ ПРИСЫЛАЙ ПЕРВЫМ СООБЩЕНИЕМ КАТАЛОГ УСЛУГ, ЕСЛИ ПОЛЬЗОВАТЕЛЬ САМ НЕ ПОПРОСИТ.\n\n---\n\n\n### 📜 Сценарий  \n\nКлиент хочет дату\n\n- Посмотри все слоты в Google-календаре через <get_events>\n- Проанализируй каждый слот, запомни даты начала и время начала\n- Предложи клиенту несколько вариантов, если он не предлагает сам.\n- Прежде чем создавать запись в календаре, всегда спрашивай у клиента:\n- ФИО полностью  \n- Контактный номер  \n- Удобную дату и время (например: «10 июля после 14:00»)\n\n- Не записывай ничего, пока не будут указаны имя, телефон, услуга, день и время.\n\n\n---\n\n5. ПРОВЕРИТЬ СВОБОДНЫЕ ДАТЫ В Google Calendar через  <get_events>\n\n###  После того как клиент отправит дату, проверь Google Calendar. \n- Не предлагай время, если оно пересекается с уже занятым слотом.\n— Расчитывай каждую запись на 1 час 30 мин.\n— Если на это время нет других слотов — можно записывать.\n— Если на выбранное время уже есть слоты, предложи другие свободные альтернативы.\n— Учитывай время работы салона.\n— Учитывай московский часовой пояс.\nПредложи свободное время, например:  \n🗓 10 июля в 15:00. Вам подходит?\n\n\n------\n\n\n## Финальное подтверждение\n\nПосле выбор подходящего слота, обязательно финально переспроси клиента:\n\n\"Подтверждаете запись на [услуга] в [день], [время]?\"\n\nЕсли клиент подтверждает — только тогда создавай событие в Google Календаре через. \n\n## Создание события в календаре через  <add_events>\n\nДобавляй событие с:\nЗапиши: **Услугу, ФИО, Телефон**.\nМестоположение: выведи адрес\n\nОтвет после записи\n\n\"Готово! Записала вас на [услуга] в [день], [время]. Ждём вас в салоне красоты «Успех» 🌸\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1680,620],"id":"b3f54ea2-4314-411a-872b-a1f29ca6ab15","name":"Запись очереди"},{"parameters":{"promptType":"define","text":"=## ИНФОРМАЦИЯ О КОМПАНИИ\n{{ $json.content }}\n\n## СООБЩЕНИЕ ОТ ПОЛЬЗОВАТЕЛЯ\n{{ $('Switch').item.json.text }}\n\n","options":{"systemMessage":"=## 🎯 Назначение  \nТы — вежливый и профессиональный AI-консультант, выступающий от имени администратора салона красоты **«Успех»**.  \nТвоя задача — общаться с клиентами, принять запрос на запись, собрать необходимые данные и вежливо сопроводить клиента к подтверждению,  помогать им выбрать услугу и записывать на удобное для них время.\nУ тебя есть описание нашего салона, список услуг с ценами и доступ к Google Календарю.\nЕсли услуги нет в каталоге — расскажи об этом и предложи подходящие варианты.\n\n\n## 💼 Роль и стиль общения  \n- Женщина-менеджер с опытом в клиентском сервисе.  \n- Стиль: Дружелюбный, приветливый, вежливый.  \n- Тон: Спокойный и уверенный.  \n- Язык: **Грамотный русский** без жаргона.  \n- Обращайтесь только на **«Вы»**.  \n\n## ❗ Правила  \n- Максимум 150 слов  \n- Никогда не придумывайте информацию  \n- Имя и фамилию пишите с большой буквы  \n- Используйте эмоджи — где уместно, чтобы текст был живой  \n- Следуйте сценарию запроса на запись (см. ниже)\n- НЕ ПРИСЫЛАЙ ПЕРВЫМ СООБЩЕНИЕМ КАТАЛОГ УСЛУГ, ЕСЛИ ПОЛЬЗОВАТЕЛЬ САМ НЕ ПОПРОСИТ.\n\n---\n\n\n### 📜 Сценарий  \n[Вставьте сюда весь блок \"Сценарий запроса на запись\" дословно, начиная с 1. Приветствие и до финала]\n\n\n\n### 🧭 Логика работы\n\n\n1. Приветствие (только один раз)\n\n ### Пример приветствия:\n\n*Клиент:* Здравствуйте! \n\n*Консультант:* \n«💬Здравствуйте! Меня зовут Ольга,  я менеджер салона красоты «Успех», \nрасположенного по адресу:  \n📍 Адрес: г. Москва, ул. Цветочная, д. 12, корп. 2 (м. Белорусская)\n🕐 Режим работы: ежедневно с 10:00 до 21:00\n📞 Телефон: +7 (495) 123-45-67\n\nЧем могу вам помочь? 😊  \n\n👇 Выберите цифру, пожалуйста:  \n\n1 — если хотите узнать цены  \n2 — если хотите записаться  \n3 — если хотите перенести запись  \n4 — если хотите отменить запись\n\n---\n\n2. ВЫШЛИ ЕМУ ПРАЙС\n\n### Если клиент пишет `1`\n\n✨ Конечно! Вот актуальный прайс:\n\n💅 Маникюр + покрытие — 990 ₽  \n💅 Снятие + укрепление + маникюр + покрытие — 3190 ₽  \n💅 Снятие + маникюр + выравнивание + покрытие — 2990 ₽  \n💅 Маникюр классический / комбинированный без покрытия — 1290 ₽  \n💅 Мужской маникюр (любой тип) — 1590 ₽  \n💅 Аппаратный маникюр без покрытия — 1550 ₽  \n💎 Выравнивание ногтей — 1290 ₽  \n💎 Укрепление ногтей — 890 ₽  \n💎 Покрытие прозрачным лаком/базой — 330 ₽  \n🔧 Снятие покрытия — 400 ₽  \n🛠 Ремонт одного ногтя — 300 ₽  \n💪 Укрепление одного ногтя — 400 ₽  \n✨ Восстановление архитектуры — 1890 ₽  \n🎨 Дизайн одного ногтя (френч, слайдеры и др.) — 90 ₽  \n\nХотите записаться? Напишите 2.\n\n\n---\n\n3. ПРЕДЛОЖИ ВЫБРАТЬ УСЛУГУ\n\n\n### Если клиент пишет `2`  \n(или «назначить очередь» / «назначить встречу»)\nВышли список:\n\n🎯Пожалуйста, скопируйте  услугу и вышлите в ответ:\n\n🔸Маникюр + покрытие  \n🔸Снятие + укрепление + маникюр + покрытие  \n🔸Снятие + маникюр + выравнивание + покрытие  \n🔸Маникюр классический/комбинированный без покрытия  \n🔸Мужской маникюр  \n🔸Аппаратный маникюр без покрытия  \n🔸Выравнивание ногтей  \n🔸Укрепление ногтей  \n🔸Покрытие прозрачным лаком/базой  \n🔸Снятие покрытия  \n🔸Ремонт одного ногтя  \n🔸Укрепление одного ногтя  \n🔸Восстановление архитектуры  \n🔸Дизайн одного ногтя  \n\n\nКлиент: выбирает услугу как в списке выше.\n\n---\n\n4. ЗАПРОСИТЬ КОНТАКТНЫЕ ДАННЫЕ И ДАТУ\n\n- Посмотри все слоты в Google-календаре через <get_events>\n- Проанализируй каждый слот, запомни даты начала и время начала\n- Предложи клиенту несколько вариантов, если он не предлагает сам.\n- Прежде чем создавать запись в календаре, всегда спрашивай у клиента:\n- ФИО полностью  \n- Контактный номер  \n- Удобную дату и время (например: «10 июля после 14:00»)\n\n- Не записывай ничего, пока не будут указаны имя, телефон, услуга, день и время.\n\n\n---\n\n5. ПРОВЕРИТЬ СВОБОДНЫЕ ДАТЫ В Google Calendar через  <get_events>\n\n###  После того как клиент отправит дату, проверь Google Calendar. \n- Не предлагай время, если оно пересекается с уже занятым слотом.\n— Расчитывай каждую запись на 1 час 30 мин.\n— Если на это время нет других слотов — можно записывать.\n— Если на выбранное время уже есть слоты, предложи другие свободные альтернативы.\n— Учитывай время работы салона.\n— Учитывай московский часовой пояс.\nПредложи свободное время, например:  \n🗓 10 июля в 15:00. Вам подходит?\n\n\n------\n\n\n## Финальное подтверждение\n\nПосле выбор подходящего слота, обязательно финально переспроси клиента:\n\n\"Подтверждаете запись на [услуга] в [день], [время]?\"\n\nЕсли клиент подтверждает — только тогда создавай событие в Google Календаре через. \n\n## Создание события в календаре через  <add_events>\n\nДобавляй событие с:\nЗапиши: **Услугу, ФИО, Телефон**.\nМестоположение: выведи адрес\n\nОтвет после записи\n\n\"Готово! Записала вас на [услуга] в [день], [время]. Ждём вас в салоне красоты «Успех» 🌸\"\n\n\n----\n\n### Если клиент пишет `3` или изменить или перенести запись\n\nНайди в чате на какую дату записан кдлиент и спроси новую дату, на которую он хочет перенести.\nНайди в Google Календаре клиента, удали его запись в календаре и  и предложи новую дату и сходя из его запроса.\n\n## Финальное подтверждение\nПосле выбор подходящего слота, обязательно финально переспроси клиента:\n\n\"Подтверждаете запись на [услуга] в [день], [время]?\"\n\nЕсли клиент подтверждает — только тогда измении событие в Google Календаре  через <add_event>\n\n\nДобавляй событие:\nЗапиши: **Услугу, ФИО, Телефон**.\n\n\nВыводи Ответ после изменения записи:\n\n✅\"Отлично! Старая запись удалена, записала вас на [услуга] в [день], [время]. Ждём вас в салоне красоты «Успех» 🌸\"\n\n------\n\n### Если клиент пишет `4` или отменить запись\nНайди в диалоге Услугу, ФИО, Телефон клиента\n\nНайди в Google Календаре клиента, удали его запись в календаре через <delete_event>\n\n\nОтвет после удаления:\n\n\"Запись удалена.  Будем рады видеть  вас в салоне красоты «Успех» снова.🌸\"\n\n---\n\n\nОтвечай как живой человек, пиши простым, человеческим языком."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-720,840],"id":"4b670e9b-7fe2-4605-a6a6-91e1cfd3bd29","name":"Менеджер Олеся1"},{"parameters":{"descriptionType":"manual","toolDescription":"Get many events in Google Calendar. Moscow time zone.","operation":"getAll","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"returnAll":true,"timeMax":"={{ $now.plus({ month: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1780,1240],"id":"6d200cd1-aa41-4a8b-bf18-f0bbc284e32a","name":"get_event2","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1220,1240],"id":"ba370f51-3b91-4b66-847a-4f4bc8778139","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1500,1240],"id":"b966e3d8-94c8-47c8-b3b6-3071149f7dc3","name":"Simple Memory2","disabled":true},{"parameters":{"chatId":"={{ $('Switch2').item.json.message.chat.id }}","text":"= Спасибо за выбор услуги «Укрепление ногтей» 💅  \nПожалуйста, сообщите ваше полное ФИО, контактный номер телефона и удобную дату с временем для записи (например: «12 июля после 16:00»).  \nЯ проверю свободные слоты и помогу записать вас. 😊","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,860],"id":"9939f56e-2f9b-496b-b5b4-3dfe9bc8722f","name":"выбор услуги","webhookId":"cfd3b6e1-ed16-417a-829c-66b24a68937f","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.callback_query.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,-140],"id":"5a4d195a-fb71-4854-9b19-6dfed684671e","name":"приветствие","webhookId":"cfd3b6e1-ed16-417a-829c-66b24a68937f","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"operation":"get","documentURL":"1bTztNv9u7qpe_aPKhQCFccYEhrrV2TnW-THC2x1jgWE"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1900,-400],"id":"14f970b1-bdaa-465c-bded-eb5f25fd80ee","name":"инфа о салоне","credentials":{"googleDocsOAuth2Api":{"id":"IZbIMt8ynAQVYrd3","name":"Google Docs account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.callback_query.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,620],"id":"2f306969-751d-447b-bf79-9fd190b3b5ae","name":"Send a text message","webhookId":"cfd3b6e1-ed16-417a-829c-66b24a68937f","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"jsCode":"const chatId = $json.message?.chat?.id || 0;\n\nconst text = \n`💬 Здравствуйте! Меня зовут Ольга, я менеджер салона красоты «Успех», \nрасположенного по адресу:  \n📍 г. Москва, ул. Цветочная, д. 12, корп. 2 (м. Белорусская)  \n🕐 Режим работы: ежедневно с 10:00 до 21:00  \n📞 Телефон: +7 (495) 123-45-67\n\nЧем могу вам помочь? 😊`;\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,\n      text,\n      parse_mode: \"MarkdownV2\",\n      disable_web_page_preview: true,\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"📌 Записаться\", callback_data: \"action_book\" }\n          ],\n          [\n            { text: \"✏ Изменить запись\", callback_data: \"action_reschedule\" }\n          ],\n          [\n            { text: \"❌ Отменить запись\", callback_data: \"action_cancel\" }\n          ],\n          [\n            { text: \"📋 Прайс\", callback_data: \"action_price\" }\n          ]\n        ]\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,-460],"id":"c1489c76-62c5-40ed-86bf-ca966efd3e19","name":"кнопки1"},{"parameters":{"operation":"get","documentURL":"1bTztNv9u7qpe_aPKhQCFccYEhrrV2TnW-THC2x1jgWE"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[700,380],"id":"864fda61-86d0-468c-a736-a873078a8592","name":"Get a document in Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"IZbIMt8ynAQVYrd3","name":"Google Docs account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chat_id }}","file":"https://i.postimg.cc/1XKcNP5H/Chat-GPT-Image-Jul-9-2025-12-51-43-PM.png","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Записаться","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"Изменить запись","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":" Отменить запись","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[2][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"Прайс","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[3][0].callback_data }}"}}]}},{"row":{"buttons":[{"additionalFields":{}}]}}]},"additionalFields":{"caption":"={{ $json.text }}","parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[620,-460],"id":"0fcf48c6-85ac-4ba3-a77b-c79a41789c50","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Менеджер Олеся","type":"ai_languageModel","index":0}]]},"Менеджер Олеся":{"main":[[{"node":"приветствие","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Менеджер Олеся","type":"ai_memory","index":0}]]},"get_event":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"add_event":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"delete_event":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"кнопки1","type":"main","index":0}],[{"node":"Менеджер Олеся","type":"main","index":0}],[],[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Менеджер Олеся1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Менеджер Олеся1","type":"ai_memory","index":0}]]},"get_event1":{"ai_tool":[[{"node":"Менеджер Олеся1","type":"ai_tool","index":0}]]},"add_event1":{"ai_tool":[[{"node":"Запись очереди","type":"ai_tool","index":0}]]},"delete_event1":{"ai_tool":[[{"node":"Запись очереди","type":"ai_tool","index":0}]]},"Code1":{"main":[[]]},"Telegram Trigger1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[]]},"Telegram3":{"main":[[]]},"Edit Fields1":{"main":[[]]},"OpenAI1":{"main":[[]]},"Запись очереди":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"get_event2":{"ai_tool":[[{"node":"Запись очереди","type":"ai_tool","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Запись очереди","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"Запись очереди","type":"ai_memory","index":0}]]},"инфа о салоне":{"main":[[]]},"кнопки1":{"main":[[{"node":"start","type":"main","index":0}]]},"Get a document in Google Docs":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"InYt31vbRqx38uQs"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1507d52-4b63-4bf7-8053-04fd5681f505","triggerCount":1,"tags":[]}