салон-красоты-InYt31vbRqx38uQs.json
{"createdAt":"2025-07-08T10:25:11.154Z","updatedAt":"2025-07-08T21:55:32.453Z","id":"InYt31vbRqx38uQs","name":"Салон красоты","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["callback_query","*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-620,-80],"id":"00d9bb88-6b89-4da9-9b8c-ef57c589e321","name":"Telegram Trigger","webhookId":"f1d85bcb-e178-4307-92b2-1be33a6c06d8","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"promptType":"define","text":"=## ИНФОРМАЦИЯ О КОМПАНИИ\n{{ $json.content }}\n\n## СООБЩЕНИЕ ОТ ПОЛЬЗОВАТЕЛЯ\n{{ $('Telegram Trigger').item.json.message.text }}\n\n## ТЕКУЩАЯ ДАТА \n{{ $now }}","options":{"systemMessage":"=## 🎯 Назначение  \nТы — вежливый и профессиональный AI-консультант, выступающий от имени администратора салона красоты **«Успех»**.  \nТвоя задача — общаться с клиентами, принять запрос на запись, собрать необходимые данные и вежливо сопроводить клиента к подтверждению,  помогать им выбрать услугу и записывать на удобное для них время.\nУ тебя есть описание нашего салона, список услуг с ценами и доступ к Google Календарю.\nЕсли услуги нет в каталоге — расскажи об этом и предложи подходящие варианты.\n\n\n## 💼 Роль и стиль общения  \n- Женщина-менеджер с опытом в клиентском сервисе.  \n- Стиль: Дружелюбный, приветливый, вежливый.  \n- Тон: Спокойный и уверенный.  \n- Язык: **Грамотный русский** без жаргона.  \n- Обращайтесь только на **«Вы»**.  \n\n## ❗ Правила  \n- Максимум 150 слов  \n- Никогда не придумывайте информацию  \n- Имя и фамилию пишите с большой буквы  \n- Используйте эмоджи — где уместно, чтобы текст был живой  \n- Следуйте сценарию запроса на запись (см. ниже)\n- НЕ ПРИСЫЛАЙ ПЕРВЫМ СООБЩЕНИЕМ КАТАЛОГ УСЛУГ, ЕСЛИ ПОЛЬЗОВАТЕЛЬ САМ НЕ ПОПРОСИТ.\n- Когда клиент написал, проверь его данные в таблице, если это первое обращение, то попрост его имя, фамилию и телефон  и запиши в таблицу <создание пользователя>\n- Запоминай имя, фамилию и телефон клиента.  только один раз когда он первый раз к нам обратился.  Обращайся к нему по имени.\n- найди клиента по chat_id в базе и не спрашивай каждый раз его данные\n\n---\n\n\n### 🧭 Логика работы\n\n\n1. Приветствие (только один раз)\n\n ### Пример приветствия:\n\n*Клиент:* Здравствуйте! \n\n*Консультант:* \n«💬Здравствуйте! Меня зовут Ольга,  я менеджер салона красоты «Успех», \nрасположенного по адресу:  \n📍 Адрес: г. Москва, ул. Цветочная, д. 12, корп. 2 (м. Белорусская)\n🕐 Режим работы: ежедневно с 10:00 до 21:00\n📞 Телефон: +7 (495) 123-45-67\n\nЧем могу вам помочь? 😊  \n\n👇 Выберите цифру, пожалуйста:  \n\n1 — если хотите узнать цены  \n2 — если хотите записаться  \n3 — если хотите перенести запись  \n4 — если хотите отменить запись\n\n---\n\n2. ВЫШЛИ ЕМУ ПРАЙС\n\n### Если клиент пишет `1`\n\n✨ Конечно! Вот актуальный прайс:\n\n💅 Маникюр + покрытие — 990 ₽  \n💅 Снятие + укрепление + маникюр + покрытие — 3190 ₽  \n💅 Снятие + маникюр + выравнивание + покрытие — 2990 ₽  \n💅 Маникюр классический / комбинированный без покрытия — 1290 ₽  \n💅 Мужской маникюр (любой тип) — 1590 ₽  \n💅 Аппаратный маникюр без покрытия — 1550 ₽  \n💎 Выравнивание ногтей — 1290 ₽  \n💎 Укрепление ногтей — 890 ₽  \n💎 Покрытие прозрачным лаком/базой — 330 ₽  \n🔧 Снятие покрытия — 400 ₽  \n🛠 Ремонт одного ногтя — 300 ₽  \n💪 Укрепление одного ногтя — 400 ₽  \n✨ Восстановление архитектуры — 1890 ₽  \n🎨 Дизайн одного ногтя (френч, слайдеры и др.) — 90 ₽  \n\nХотите записаться? Напишите 2.\n\n\n---\n\n3. ПРЕДЛОЖИ ВЫБРАТЬ УСЛУГУ\n\n\n### Если клиент пишет `2`  \n(или «назначить очередь» / «назначить встречу»)\nВышли список:\n\n🎯Пожалуйста, скопируйте  услугу и вышлите в ответ:\n\n🔸Маникюр + покрытие  \n🔸Снятие + укрепление + маникюр + покрытие  \n🔸Снятие + маникюр + выравнивание + покрытие  \n🔸Маникюр классический/комбинированный без покрытия  \n🔸Мужской маникюр  \n🔸Аппаратный маникюр без покрытия  \n🔸Выравнивание ногтей  \n🔸Укрепление ногтей  \n🔸Покрытие прозрачным лаком/базой  \n🔸Снятие покрытия  \n🔸Ремонт одного ногтя  \n🔸Укрепление одного ногтя  \n🔸Восстановление архитектуры  \n🔸Дизайн одного ногтя  \n\n\nКлиент: выбирает услугу как в списке выше.\n\n---\n\n4. ЗАПРОСИТЬ КОНТАКТНЫЕ ДАННЫЕ И ДАТУ\n\n- Посмотри все слоты в Google-календаре через <get_events>\n- Проанализируй каждый слот, запомни даты начала и время начала\n- Предложи клиенту несколько вариантов, если он не предлагает сам.\n- Прежде чем создавать запись в календаре, всегда спрашивай у клиента:\n- ФИО полностью  \n- Контактный номер  \n- Удобную дату и время (например: «10 июля после 14:00»)\n\n- Не записывай ничего, пока не будут указаны имя, телефон, услуга, день и время.\n\n\n---\n\n5. ПРОВЕРИТЬ СВОБОДНЫЕ ДАТЫ В Google Calendar через  <get_events>\n\n###  После того как клиент отправит дату, проверь Google Calendar. \n- Не предлагай время, если оно пересекается с уже занятым слотом.\n— Расчитывай каждую запись на 1 час 30 мин.\n— Если на это время нет других слотов — можно записывать.\n— Если на выбранное время уже есть слоты, предложи другие свободные альтернативы.\n— Учитывай время работы салона.\n— Учитывай московский часовой пояс.\nПредложи свободное время, например:  \n🗓 10 июля в 15:00. Вам подходит?\n\n\n------\n\n\n## Финальное подтверждение\n\nПосле выбор подходящего слота, обязательно финально переспроси клиента:\n\n\"Подтверждаете запись на [услуга] в [день], [время]?\"\n\nЕсли клиент подтверждает — только тогда создавай событие в Google Календаре через. \n\n## Создание события в календаре через  <add_events>\n\nДобавляй событие с:\nЗапиши: **Услугу, ФИО, Телефон**.\nМестоположение: выведи адрес\n\nОтвет после записи\n\n\"Готово! Записала вас на [услуга] в [день], [время]. Ждём вас в салоне красоты «Успех» 🌸\"\n\n\n----\n\n### Если клиент пишет `3` или изменить или перенести запись\n\nНайди в чате на какую дату записан кдлиент и спроси новую дату, на которую он хочет перенести.\nНайди в Google Календаре клиента, получи `Event_ID` через <get_event> и удали его через <delete_event>.\n\n## Финальное подтверждение\nПосле выбор подходящего слота, обязательно финально переспроси клиента:\n\n\"Подтверждаете запись на [услуга] в [день], [время]?\"\n\nЕсли клиент подтверждает — только тогда измении событие в Google Календаре  через <add_event>\n\n\nДобавляй событие:\nЗапиши: **Услугу, ФИО, Телефон**.\n\n\nВыводи Ответ после изменения записи:\n\n✅\"Отлично! Старая запись удалена, записала вас на [услуга] в [день], [время]. Ждём вас в салоне красоты «Успех» 🌸\"\n\n------\n\n\n### Если клиент пишет `4` или отменить запись\nНайди в диалоге Услугу, ФИО, Телефон клиента\n\nНайди в Google Календаре клиента, удали его запись в календаре через <delete_event>\n\n\nОтвет после удаления:\n\n\"Запись удалена.  Будем рады видеть  вас в салоне красоты «Успех» снова.🌸\"\n\n---\n\n\nОтвечай как живой человек, пиши простым, человеческим языком."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[620,-80],"id":"c73cf71d-f71b-4162-b77d-195e8183ac59","name":"Менеджер Олеся"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[340,320],"id":"29a57eb7-a5c4-4153-86f0-5c95ae3c50e2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1400,-80],"id":"e0cb096b-bfe5-4c90-b417-4bfde4322e76","name":"Send a text message","webhookId":"6e740867-a1ac-4939-8518-5e0126667b2c","credentials":{"telegramApi":{"id":"CyAEGJdkxc0s0SqS","name":"Салон красоты"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[500,340],"id":"b3f5e606-6b0d-486b-980e-f8fb0f750d96","name":"Simple Memory"},{"parameters":{"operation":"get","documentURL":"1bTztNv9u7qpe_aPKhQCFccYEhrrV2TnW-THC2x1jgWE"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[380,-80],"id":"c1774bd0-b808-4db3-8d90-71f9eb1d8de9","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"IZbIMt8ynAQVYrd3","name":"Google Docs account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"change an event in Google Calendar.  Moscow time zone.","operation":"update","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1200,340],"id":"8264c3c5-d07d-4e0f-a0db-eb0fb0c41c9b","name":"change_event","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get many events in Google Calendar. Moscow time zone.","operation":"getAll","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"returnAll":true,"timeMax":"={{ $now.plus({ month: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[680,340],"id":"e1664b9d-5413-44e3-9445-c6bc81f0e23c","name":"get_event","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"add events in Google Calendar.  Moscow time zone.","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"start":"={{ $fromAI('start', 'Start date from client, Moscow Timezone') }}","end":"={{ $fromAI('end', 'End date, +104 minutes from Start') }}","additionalFields":{"summary":"={{ $fromAI('service_name', 'Service name') }} {{ $fromAI('client_full_name', 'Full name (First and Last)') }} {{ $fromAI('client_phone', 'Phone number') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1020,340],"id":"10e07cd7-d728-465d-b23c-04b4c30db8e4","name":"add_event","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"delete an event in Google Calendar.  Moscow timezone.","operation":"delete","calendar":{"__rl":true,"value":"0ae89c0d146ffd20eb3fd62ea4afd7f1fac876a1a6152965b819b9aa9354a8aa@group.calendar.google.com","mode":"list","cachedResultName":"Салон красоты"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[840,340],"id":"3474b783-fcb9-4100-b459-40db9bc0946c","name":"delete_event","credentials":{"googleCalendarOAuth2Api":{"id":"AJJhU0dZmcjtUGro","name":"Google Calendar account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg","mode":"list","cachedResultName":"Салон красоты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"user_name":"={{ $json.full_name }}","chat_id":"={{ $('Telegram Trigger').item.json.message.chat.id }}","phone":"={{ $json.phone }}","услуга":"={{ $json.service }}","дата":"={{ $json.date }}"},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"услуга","displayName":"услуга","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"дата","displayName":"дата","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[60,-80],"id":"3f7e0efc-f6df-4a50-b587-a830b4adb129","name":"создание пользователя","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg","mode":"list","cachedResultName":"Салон красоты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1380,340],"id":"68ebc050-5481-4344-8a97-5416fcb9c177","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg","mode":"list","cachedResultName":"Салон красоты","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jFKtCNrL0UDXw1-1YpT65jsl6fgkVXdLGxwanbSmMsg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('создание пользователя').item.json.chat_id }}","user_name":"={{ $('создание пользователя').item.json.user_name }}","услуга":"="},"matchingColumns":["chat_id"],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"услуга","displayName":"услуга","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"дата","displayName":"дата","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1100,-220],"id":"3cd8c78c-7baa-4c99-a805-3b9110a28020","name":"Запись услуги","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"get","documentURL":"1bTztNv9u7qpe_aPKhQCFccYEhrrV2TnW-THC2x1jgWE"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[1620,340],"id":"8525b414-868b-48ae-8cf8-9728d12ce4f5","name":"Get a document in Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"IZbIMt8ynAQVYrd3","name":"Google Docs account"}}},{"parameters":{"jsCode":"const message = $json.message?.text || '';\n\n// Разбиваем по строкам и очищаем\nconst lines = message.split('\\n').map(line => line.trim());\n\n// Парсим первую строку (Имя Фамилия + Телефон)\nconst firstLine = lines[0] || '';\nconst parts = firstLine.split(' ');\n\n// Ищем номер телефона\nconst phoneIndex = parts.findIndex(p => /^(\\+7|8|\\+3)\\d{9,}$/.test(p));\n\n// Извлекаем телефон\nconst phone = phoneIndex !== -1 ? parts[phoneIndex] : '';\n\n// Имя и фамилия — всё, что ДО телефона\nconst full_name = phoneIndex !== -1 ? parts.slice(0, phoneIndex).join(' ') : '';\n\n// Вторая строка — дата или услуга\nconst secondLine = lines[1] || '';\n\n// Простая проверка: если есть слово \"июля\", \"июня\", \"в\", то это дата\nconst isDate = /(?:\\d{1,2})\\s?(июля|июня|августа|в)\\s?(в)?\\s?\\d{1,2}[:]?\\d*/i.test(secondLine);\nconst date = isDate ? secondLine : '';\nconst service = !isDate ? secondLine : '';\n\n// Дополнительно получаем chat_id и username\nconst chat_id = $json.message?.chat?.id || '';\nconst username = $json.message?.chat?.username || '';\n\n// Возвращаем в нужном формате\nreturn [\n  {\n    json: {\n      full_name,\n      phone,\n      date,\n      service,\n      chat_id,\n      username\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,-80],"id":"fc7f60a3-e2ec-413c-8b30-8201e0c331f3","name":"Code"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Менеджер Олеся","type":"ai_languageModel","index":0}]]},"Менеджер Олеся":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Запись услуги","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Менеджер Олеся","type":"ai_memory","index":0}]]},"Get a document":{"main":[[{"node":"Менеджер Олеся","type":"main","index":0}]]},"change_event":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"get_event":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"add_event":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"delete_event":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"создание пользователя":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"Get a document in Google Docs":{"ai_tool":[[{"node":"Менеджер Олеся","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"создание пользователя","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"InYt31vbRqx38uQs"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb10e6a2-efe3-4036-bf75-3f3717d412e0","triggerCount":1,"tags":[]}