черновик-u92CvxWajfTUPmRh.json
{"createdAt":"2025-07-04T04:28:05.561Z","updatedAt":"2025-07-04T13:51:55.554Z","id":"u92CvxWajfTUPmRh","name":"черновик","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=You are a certified dermatologist.\n\nInput: A photo of a client’s face.\n\nYour task:\n\nAnalyze the skin in the image.\n\nDetermine the likely skin type: жирная / сухая / комбинированная / нормальная.\n\nIndicate your confidence level as a percentage between 0 and 100.\n\nIf the face is not visible or analysis is not possible — return an empty list.\n\nRespond strictly in JSON format. No explanations, no comments, no text outside the JSON.\n\n\nExample:\n{\n  \"candidates\": [\n    { \"Type skin\": \"жирная\", }\n  ]\n}\n","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2140,540],"id":"a0dd67ed-834c-4c1c-b4db-77745a9f5a49","name":"VISION","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"functionCode":"const visionRaw = $json?.skin_type || \"\";\nlet visionParsed = {};\nlet detectedSkinType = null;\nlet confidence = null;\n\nconst msgId = $json?.message_id || \"000\";\nconst chatId = $json?.chat_id?.toString() || null;\n\ntry {\n  const cleaned = visionRaw.trim().replace(/^```json/, '').replace(/```$/, '').trim();\n  visionParsed = JSON.parse(cleaned);\n\n  const candidate = visionParsed?.candidates?.[0] || {};\n  detectedSkinType = (\n    candidate[\"Type skin\"] ||\n    candidate[\"type_skin\"] ||\n    candidate[\"Тип кожи\"]\n  )?.toLowerCase() || null;\n\n  confidence = candidate.Confidence || candidate.confidence || null;\n\n  console.log(\"✅ Определён тип кожи:\", detectedSkinType);\n} catch (error) {\n  console.log(\"❌ Ошибка при JSON.parse:\", error.message);\n}\n\nconst cbYes = `Type_skin_yes_${msgId}`;\nconst cbManual = `Type_skin_manual_${msgId}`;\nconst cbOily = `skin_select_oily_${msgId}`;\nconst cbDry = `skin_select_dry_${msgId}`;\nconst cbCombo = `skin_select_combo_${msgId}`;\nconst cbNormal = `skin_select_normal_${msgId}`;\n\n// Возвращаем значение skin_detected для использования в SWITCH\nif (detectedSkinType) {\n  return [{\n    json: {\n      skin_detected: true,\n      step: \"confirm_skin_type_from_photo\",\n      route: \"skin_type_confirmed\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: detectedSkinType,\n      confidence,\n      cb_yes: cbYes,\n      cb_no: cbManual,\n      text: `🌸👸 Я проанализировала фото и предполагаю, что у тебя *${detectedSkinType}* кожа. Это верно?`,\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"✅ Верно\", callback_data: cbYes },\n            { text: \"✏️ Изменить\", callback_data: cbManual }\n          ]\n        ]\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      skin_detected: false,\n      step: \"skin_manual_buttons\",\n      route: \"skin_type_not_detected\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: null,\n      text: \"🤔 Не удалось определить тип кожи по фото.\\n👇 Пожалуйста, выбери свой тип кожи:\",\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"Жирная\", callback_data: cbOily },\n            { text: \"Сухая\", callback_data: cbDry }\n          ],\n          [\n            { text: \"Комбинированная\", callback_data: cbCombo },\n            { text: \"Нормальная\", callback_data: cbNormal }\n          ]\n        ]\n      },\n      skin_options: {\n        oily: cbOily,\n        dry: cbDry,\n        combo: cbCombo,\n        normal: cbNormal\n      }\n    }\n  }];\n}\n"},"id":"8a16281c-702e-4fa1-9b0f-edf9960400d4","name":"Parse Vision","type":"n8n-nodes-base.function","typeVersion":1,"position":[2440,560]},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Верно","additionalFields":{"callback_data":"={{ $json.type_skin }}"}},{"text":"=✏️ Изменить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"id":"eb842193-9d84-4a51-966a-c7e236a066fe","name":"тип кожи определен","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2820,340],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"=💧Жирная","additionalFields":{"callback_data":"={{ $json.skin_options.oily }}"}},{"text":"🩸Сухая","additionalFields":{"callback_data":"={{ $json.skin_options.dry }}"}},{"text":"➕➖Комби","additionalFields":{"callback_data":"={{ $json.skin_options.combo }}"}},{"text":"✔️Норм","additionalFields":{"callback_data":"={{ $json.skin_options.normal }}"}}]}}]},"additionalFields":{}},"id":"e32c0444-ab1d-45ae-841c-cc24e6ba62bd","name":"Тип кожи НЕ отпределен","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2820,620],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}","operation":"startsWith","value2":"Type_skin_yes_"}]}},"id":"8ad99009-3911-4211-a6d8-a7953d9fa848","name":"Callback: Confirm Skin","type":"n8n-nodes-base.if","typeVersion":1,"position":[2060,840],"disabled":true},{"parameters":{"resource":"file","fileId":"={{ $json.photo_file_id }}"},"id":"e157932b-348d-45a2-b0ad-ecf5921ccaac","name":"Get Image1","type":"n8n-nodes-base.telegram","position":[-5260,-1380],"typeVersion":1.2,"webhookId":"8b210039-e135-420d-a5f1-53fc3ca1e836","retryOnFail":false,"maxTries":2,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Get ready1').item.json.photo_file_id }}"}},"id":"916cf5b1-57fd-4762-a88c-e49617e83622","name":"Convert1","type":"n8n-nodes-base.convertToFile","position":[-4860,-1380],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"07282534-971f-4430-8d45-5f3e15d3c167","name":"photo_file_id","value":"={{ $json.message.photo[0].file_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5440,-1380],"id":"c119033b-fd27-47ac-8e4d-b4e37f7882c8","name":"Get ready1"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"bc500f0d-2b22-4fb0-bf73-6c28e85442a5","name":"Extract1","type":"n8n-nodes-base.extractFromFile","position":[-5060,-1380],"typeVersion":1},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-6180,-1180],"id":"5e473ca4-18b4-4a5d-8cc4-b6a1b86f7706","name":"Telegram Trigger","webhookId":"e4d6b058-dc8c-4130-9abd-41243518e824","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eeb9b3f-d4ce-45f6-bb62-32244fd9a99a","leftValue":"={{ $json.message.photo[1] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3bf500e-57d1-4572-b54f-8f3fa95a34e4","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"pay_sub","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"получить полный список"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3fd2c52-f967-4920-b2ff-9fb2b19c21cb","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[1][0].callback_data }}","rightValue":"later","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":" Хочу позже"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b02cf08-4548-47c8-878a-3071c61ef96d","leftValue":"={{ $json.callback_query.data }}","rightValue":"ready_for_offer","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"выбор подписки"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0d8f7b2-e021-443a-bd62-ef744adae66d","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][1].callback_data }}","rightValue":"stop_conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Завершить"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0feea5a-3500-4a03-a5c0-e921e8c33886","leftValue":"={{ $json.message.text }}","rightValue":"/v","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"свой ответ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"589befe2-5c74-4532-a0ce-d0139422a1bd","leftValue":"={{ $json.message.text }}","rightValue":"=/support","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"support"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"53366f54-cccf-4f80-b790-da01506cfcf9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5860,-1360],"id":"08eecdea-d97b-4e98-8244-bd6f1d6b2bda","name":"Switch"},{"parameters":{"content":"## РЕЗУЛЬТАТ","height":540,"width":2120},"type":"n8n-nodes-base.stickyNote","position":[-5560,-460],"typeVersion":1,"id":"bee099a5-a7ce-4d46-8299-8d1450df9e5f","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type_skin }}\n","rightValue":"=","operator":{"type":"string","operation":"empty","singleValue":true},"id":"8b762386-e3e9-4395-a391-05e13b21e6b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Определен"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e67210d2-8ddc-4e22-bfdd-52a2753c970b","leftValue":"={{ $json.type_skin }}","rightValue":"skin_type_not_detected","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"не определен"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3960,-1380],"id":"bb284d74-5c82-40db-9f7b-5ad7e0917979","name":"Switch3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || 0;\n\nconst text = \n`✨ *ТЫ - НА ШАГ БЛИЖЕ К КОЖЕ МЕЧТЫ.*\n\nХватит тратить часы на обзоры, деньги на «вдруг подойдёт» и силы на догадки.  \nС _AI-косметологом_ ты экономишь и время, и бюджет - и точно подберёшь, что работает *именно для тебя* 💖\n\n🎁 *Что ты получаешь с подпиской:*\n\n💄 *6-8 уходовых средств* — подобранных под твой тип кожи и бюджету  \n🛍️ *Ссылки на проверенные товары* — бери и заказывай  \n🔥 *Актуальные скидки и акции*  \n🆕 *Только новинки и тренды*  \n🤖 *Поддержка AI-косметолога 24/7* — задавай любые вопросы  \n🧖‍♀️ *План ухода без путаницы и перегруза*  \n🎉 *Доступ в закрытый канал* — с розыгрышами, конкурсами и персональными акциями\n\n✨ *Присоединяйся к «Beauty Club K.Loo» — красота начинается с правильно подобранного ухода!*  \n\n👉 Готова попробовать? Просто нажми на кнопку — и всё остальное сделает AI косметолог.`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"MarkdownV2\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"✅ Готова\", callback_data: \"ready_for_offer\" }\n        ],\n        [\n          { text: \"🚫 Завершить разговор\", callback_data: \"stop_conversation\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5360,300],"id":"6489006f-4962-46ea-a05c-2f3501737210","name":"Code4"},{"parameters":{"content":"## РАСПОЗНАНИЕ ТИПА КОЖИ ПО ФОТО","height":580,"width":2420,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-5560,-1620],"typeVersion":1,"id":"ce3b6317-652a-432b-8cdc-fe756f16b245","name":"Sticky Note2"},{"parameters":{"content":"## ПРЕДЛОЖЕНИЕ НА ПОДПИСКУ","height":360,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-5560,200],"typeVersion":1,"id":"e2012bc0-e7dd-463d-b9f4-f43ba7a3edb5","name":"Sticky Note3"},{"parameters":{"content":"## ВВЕДЕНИЕ ТИПА КОЖИ В РУЧНУЮ","height":320,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-6620,-400],"typeVersion":1,"id":"a548a1ba-eb21-4ae1-9411-ff75b529d896","name":"Sticky Note4"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chatId = $json.callback_query?.from?.id || $json.message?.chat?.id || 0;\n\nconst text = \n`💫 *Выбери свою подписку и начни умный уход уже сегодня:*\n\n💗 *1. Старт — 1 месяц*  \nПодходит, если хочешь попробовать и оценить результат.  \n_Все функции доступны уже с первой минуты._\n\n💪 *2. Уверенный старт — 2 месяца по супер цене🎁*  \nИдеально, если готова инвестировать в стабильный уход.  \n_Получаешь больше, платишь меньше._\n\n👑 *3. Beauty PRO — 1 год*  \nДля тех, кто хочет взять уход под полный контроль и сэкономить.  \n_Самая выгодная подписка: платишь раз в год — заботишься каждый день._\n\n💬 *Выбирай формат, который тебе подходит* – и уже сегодня AI-косметолог подберёт для тебя полный уход 📜 с учётом бюджета💸 и целей.  \n\n🫶 *Чем раньше начнёшь – тем быстрее увидишь результат!* ⬇️`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    text,\n    parse_mode: \"Markdown\",\n    disable_web_page_preview: true,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"💗 199₽ — 1 месяц\", callback_data: \"sub_month\" },\n          { text: \"💪 299₽ — 2 месяца\", callback_data: \"sub_2months\" }\n        ],\n        [\n          { text: \"👑 1599₽ — Год\", callback_data: \"sub_year\" },\n          { text: \"❌ Завершить\", callback_data: \"sub_cancel\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5360,740],"id":"43ea140d-40ab-47aa-a1f8-183af9a182b3","name":"Code"},{"parameters":{"content":"## ВЫБОР ПОДПИСКИ ","height":360,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-5560,620],"typeVersion":1,"id":"db4d1808-ceed-4212-a555-846ecd15b4c3","name":"Sticky Note5"},{"parameters":{"jsCode":"const text = $json.message.text.replace(/^\\/v\\s+/i, '');\nreturn [{ json: { chat_id: $json.message.chat.id, raw: text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6560,-300],"id":"8dfe8f2e-f26b-49da-b823-8ef3cbe4fe6b","name":"extract","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5860,-300],"id":"1f9f5dc8-30b6-4b91-8e3a-7eabd52917be","name":"Кнопки выбор бюджета1","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet3\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6080,-300],"id":"60bb7e93-a271-4925-95bf-286709a80ee4","name":"Бюджет1"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/sendChatAction","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $json.message.from.id }}"},{"name":"action","value":"typing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6720,-940],"id":"c2f779ed-8d56-4240-a3d5-871151fd075c","name":"HTTP typing...","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💧 Сухая","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🛢️ Жирная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🔀 Комбинированная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[2][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"😊 Нормальная","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[3][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-6480,-1520],"id":"263a9f85-50a6-48d2-bd83-38507be76c1e","name":"Send a text message2","webhookId":"ee5b5aad-7ff6-4dcd-a826-5988f8f2b427","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.callback_query.message.chat.id }}\",\n  \"text\": \"✍️ Выбери свой тип кожи, чтобы я могла подобрать тебе идеальный уход\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [{ \"text\": \"💧 Сухая\", \"callback_data\": \"skin_dry\" }],\n      [{ \"text\": \"🛢️ Жирная\", \"callback_data\": \"skin_oily\" }],\n      [{ \"text\": \"🔀 Комбинированная\", \"callback_data\": \"skin_combo\" }],\n      [{ \"text\": \"😊 Нормальная\", \"callback_data\": \"skin_normal\" }]\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6700,-1520],"id":"1c469cc7-1b13-4c83-b1ab-eed403be233f","name":"Edit Fields"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-6120,-1920],"id":"d45b05b7-2467-4e46-856a-defd87a03db5","name":"Кнопки выбор бюджета2","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6360,-1920],"id":"42da9492-9693-4c42-b4e6-091003b86705","name":"Бюджет2","disabled":true},{"parameters":{"content":"#ИЗМЕНИТЬ ТИП КОЖИ","height":320,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-7020,-1600],"typeVersion":1,"id":"aef47df0-6a30-4835-94f0-bac7903c0508","name":"Sticky Note7"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chat_id }}","file":"https://i.postimg.cc/RFprRLhq/image.jpg","additionalFields":{"caption":"=*Привет {{ $json.user_name }}!* 👋  \n\n🫶 Я *Карина* — твой бьюти-блогер и проводник в мир идеального ухода.  \n\n🤖 С помощью _AI-косметолога_ помогу тебе подобрать уход по фото 📷 — точно, умно и без рекламы. Только твой тип кожи и бюджет 💸.  \n\n🧠 Подбор сохраняется в профиле — можешь вернуться в любой момент и задать вопросы _AI-косметологу_.  \n\n_Что тебе надо сделать:_  \n✅ Подпишись на мой канал @beauty_s_karinoy - это *обязательное* условие, чтоб продолжить дальше.  \n\n📸 Отправь фото без макияжа (в сжатом виде), и _AI-косметолог_ определит тип кожи и подберёт лучшие косметические средства.  \n\n📝 Не хочешь отправлять фото?  \nТогда напиши вручную:  \nПример: /v жирная с акне  \n\n*Ну что, начнём?* 👇\n"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4720,-2640],"id":"e1bbf87e-69ee-448d-9e5a-422605b0a975","name":"start","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd664b4-20b3-4d51-8000-20892b93782d","leftValue":"={{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5220,-2680],"id":"d5b3a07d-cf1d-4409-b619-d5d5ba252078","name":"IF NO"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.message.chat.id }}","user_name":"={{ $json.message.chat.username }}","message_id":"={{ $json.message.message_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5420,-2680],"id":"6edd9989-fb41-45de-842b-7fb29d07e391","name":"GET profile","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"{{ Object.keys($items(\"GET profile\")[0].json || {}).length }}","user_name":"{{ $json.message.chat.username }}","message_id":"{{ $json.message.message_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5020,-2740],"id":"ee8c4522-0521-4ccc-85a5-d4a09fcfbb9e","name":"запись нового пользователя","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19602ee4-5a4a-4cc9-bd0e-b144c2b29d6b","leftValue":"={{ $json.result.status }}","rightValue":"member","operator":{"type":"string","operation":"equals"}},{"id":"1cfe0888-44e6-40a4-917e-fa2d3ac02443","leftValue":"={{ $json.result.status }}","rightValue":"administrator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"16a6c0b3-f658-426f-99e6-facda42cc643","leftValue":"={{ $json.result.status }}","rightValue":"creator","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5160,-2060],"id":"1836ab6f-f940-4ed0-9eb5-5e5f61422fca","name":"Подписался ли человек?"},{"parameters":{"chatId":"={{ $('IF NO').item.json.chat_id }}","text":"✨Если ты еще не в клубе K.Loo, то сейчас самре время присоединиться!  \n1.Перейди по ссылке @beauty_s_karinoy \n2.Нажми «Подписаться» И вернись за подборкой! Жду тебя💖","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4940,-1960],"id":"b38504b8-98a7-4a20-96db-1041ad7ef7e6","name":"Просим подписаться, так как это не было сделано","webhookId":"69e420ef-2eb2-45c9-a990-5b0748adeeeb","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"url":"https://api.telegram.org/bot7723075408:AAGmjJPE8EyK7bCN2hriXicMwa4NxpuhiDs/getChatMember","sendQuery":true,"queryParameters":{"parameters":[{"name":"chat_id","value":"@beauty_s_karinoy"},{"name":"user_id","value":"={{ $json.callback_query.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5380,-2060],"id":"88de127e-f618-4bff-9cf3-427572ee1057","name":"Проверяем подписался ли человек"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03064e87-87f6-4278-aec2-8a55e2e0407e","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4700,-1960],"id":"354434d1-9203-42bf-b61c-357d792c641c","name":"Нажатие кнопки1"},{"parameters":{"chatId":"={{ $json.result.user.id }}","text":"💟Супер! Жду твоё фото📷","replyMarkup":"forceReply","forceReply":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4940,-2180],"id":"90a7b752-f0f8-4968-8c37-5b5877954359","name":"Продолжаем","webhookId":"1881e3aa-997a-4bd3-8c67-4a331f81a917","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3900,-2640],"id":"e3fcd3e8-5684-41fc-b975-e3390a154a83","name":"start1","webhookId":"da4a8d3c-0d67-480c-a25d-4844309807d2","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"method":"POST","url":"https://primary-production-e7406.up.railway.app/webhook-test/6b9d00ff-1a08-4e5d-a9b8-80d8ab40cd5c","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3240,-2240],"id":"59c36a38-91ee-41de-9760-edfc4014d246","name":"HTTP Request","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a73cab2-d78a-4354-a626-2fa054d2426a","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ffe4700-9916-46a7-9c5d-416f7f56210c","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"подписка"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5700,-2660],"id":"5ee2da7f-bef6-4a14-9857-70d14875a921","name":"Switch1"},{"parameters":{"content":"# /start  И СОЗДАНИЕ ПРОФИЛЯ\n\n\n\n","height":372,"width":858,"color":7},"id":"6b01da67-6099-4e25-a57d-eb48d87b7990","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-5500,-2820],"typeVersion":1},{"parameters":{"content":"## подписка","height":620,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[-5560,-2280],"typeVersion":1,"id":"ad5fb27b-79aa-42e5-a647-6ef81aa20c67","name":"Sticky Note8"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"chat_id\": \"{{ $json.result.chat.id }}\",\n  \"text\": \"✅ Подпишись! Всё готово для начала. После подписки высылай фото📷, чтобы продолжить 👇\",\n  \"parse_mode\": \"Markdown\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4120,-2640],"id":"adae41ab-d7e4-4e99-95c7-5f1af0e8dd84","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","skin_type":"={{ $json.raw }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-6320,-300],"id":"fe9990e3-87b0-48e7-bc0c-b8727a134d81","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4LNK4LOUFN5Wiz9hsTA54kzQ_dw36tSio17aOE8jNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}","user_name":"={{ $('Telegram Trigger').item.json.message.chat.username }}","skin_type":"={{ $json.choices[0].message.content }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-4420,-1380],"id":"4cd80bb6-05bd-4309-b63d-494685d30110","name":"Append or update row in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"attributes":{"attributes":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-8080,-1560],"id":"b3ff6375-a009-44c2-b1ee-a99130654060","name":"Information Extractor","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-8140,-960],"id":"38b3fe82-9595-444d-939e-0108df02c224","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=👋 Привет {{ $json.message.chat.username }}!  \n\n👩‍🦳Я личный помощник Карины, меня зовут Настя, как я могу тебе помочь! 💖 ","replyMarkup":"replyKeyboard","replyKeyboardOptions":{},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7480,-780],"id":"28c598ed-03e5-4ae9-b61b-cfe2270ea884","name":"Настя помощник","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Готова","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"🚫 Завершить разговор","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5120,300],"id":"643c84d5-cf7d-44fd-925f-058657eee92a","name":"Предлоджение на подписку","webhookId":"7b6e7ef6-f7ee-4106-955f-6aadae8e0781","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💗 199₽ - 1 месяц","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[0][1].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][1].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5080,740],"id":"f7a04075-26bf-4cd2-a8a4-4fe89934364c","name":"Выбор подписки","webhookId":"7b6e7ef6-f7ee-4106-955f-6aadae8e0781","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2800,-2240],"id":"658a38f2-b260-4551-835f-6a1cd481ee65","name":"Оплата","webhookId":"d6b8fa84-f726-42ff-ac2f-90efdf836785","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}},"disabled":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.callback_query.data.startsWith('budget_') }}"}]}},"id":"aa1e4579-b1e8-4fe3-83da-db099c3b84f3","name":"Is Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[-5520,-300]},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4400,-2640],"id":"eeb60e83-982b-4331-a067-565cd06e1417","name":"Wait","webhookId":"01a3f518-2aa1-4cfc-a7f9-94733e33799a"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data }}","operation":"isEmpty"}]}},"id":"1a8e1c4f-0601-4aac-9a2a-8cb21a3fcf5d","name":"Message: Budget1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-3840,-740],"disabled":true},{"parameters":{"content":"##support","height":440,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-7660,-920],"typeVersion":1,"id":"1698d00e-84a7-41b6-8d46-1fb591641478","name":"Sticky Note15"},{"parameters":{"workflowId":{"__rl":true,"value":"u92CvxWajfTUPmRh","mode":"list","cachedResultName":"My workflow 3"},"workflowInputs":{"mappingMode":"defineBelow","value":{"type_skin":"={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}"},"matchingColumns":["type_skin"],"schema":[{"id":"type_skin","displayName":"type_skin","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3140,-1540],"id":"c29c5f0d-e200-428d-94e9-2a64c1e7b459","name":"Execute Workflow","disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=You are a certified dermatologist.\n\nInput: A photo of a client’s face.\n\nYour task:\n\nAnalyze the skin in the image.\n\nDetermine the likely skin type: жирная / сухая / комбинированная / нормальная.\n\nIndicate your confidence level as a percentage between 0 and 100.\n\nIf the face is not visible or analysis is not possible — return an empty list.\n\nRespond strictly in JSON format. No explanations, no comments, no text outside the JSON.\n\n\nExample:\n{\n  \"candidates\": [\n    { \"Type skin\": \"жирная\", }\n  ]\n}\n","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4620,-1380],"id":"863014fd-a9e2-4ca3-af92-cd1973cc1b36","name":"VISION1","retryOnFail":true,"notesInFlow":false,"executeOnce":false,"credentials":{"openAiApi":{"id":"N0DXVxFFyshgrkn2","name":"OpenAi account"}}},{"parameters":{"functionCode":"const visionRaw = $json?.skin_type || \"\";\nlet visionParsed = {};\nlet detectedSkinType = null;\nlet confidence = null;\n\nconst msgId = $json?.message_id || \"000\";\nconst chatId = $json?.chat_id?.toString() || null;\n\ntry {\n  const cleaned = visionRaw.trim().replace(/^```json/, '').replace(/```$/, '').trim();\n  visionParsed = JSON.parse(cleaned);\n\n  const candidate = visionParsed?.candidates?.[0] || {};\n  detectedSkinType = (\n    candidate[\"Type skin\"] ||\n    candidate[\"type_skin\"] ||\n    candidate[\"Тип кожи\"]\n  )?.toLowerCase() || null;\n\n  confidence = candidate.Confidence || candidate.confidence || null;\n\n  console.log(\"✅ Определён тип кожи:\", detectedSkinType);\n} catch (error) {\n  console.log(\"❌ Ошибка при JSON.parse:\", error.message);\n}\n\nconst cbYes = `Type_skin_yes_${msgId}`;\nconst cbManual = `Type_skin_manual_${msgId}`;\nconst cbOily = `skin_select_oily_${msgId}`;\nconst cbDry = `skin_select_dry_${msgId}`;\nconst cbCombo = `skin_select_combo_${msgId}`;\nconst cbNormal = `skin_select_normal_${msgId}`;\n\n// Возвращаем значение skin_detected для использования в SWITCH\nif (detectedSkinType) {\n  return [{\n    json: {\n      skin_detected: true,\n      step: \"confirm_skin_type_from_photo\",\n      route: \"skin_type_confirmed\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: detectedSkinType,\n      confidence,\n      cb_yes: cbYes,\n      cb_no: cbManual,\n      text: `🌸👸 Я проанализировала фото и предполагаю, что у тебя *${detectedSkinType}* кожа. Это верно?`,\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"✅ Верно\", callback_data: cbYes },\n            { text: \"✏️ Изменить\", callback_data: cbManual }\n          ]\n        ]\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      skin_detected: false,\n      step: \"skin_manual_buttons\",\n      route: \"skin_type_not_detected\",\n      message_id: msgId,\n      chat_id: chatId,\n      type_skin: null,\n      text: \"🤔 Не удалось определить тип кожи по фото.\\n👇 Пожалуйста, выбери свой тип кожи:\",\n      reply_markup: {\n        inline_keyboard: [\n          [\n            { text: \"Жирная\", callback_data: cbOily },\n            { text: \"Сухая\", callback_data: cbDry }\n          ],\n          [\n            { text: \"Комбинированная\", callback_data: cbCombo },\n            { text: \"Нормальная\", callback_data: cbNormal }\n          ]\n        ]\n      },\n      skin_options: {\n        oily: cbOily,\n        dry: cbDry,\n        combo: cbCombo,\n        normal: cbNormal\n      }\n    }\n  }];\n}\n"},"id":"8776423d-63c0-41a4-a302-753fc8f76e3e","name":"Parse Vision1","type":"n8n-nodes-base.function","typeVersion":1,"position":[-4200,-1380]},{"parameters":{"jsCode":"// Получаем первую запись из Google Sheets1\nconst sheetData = $items(\"Append or update row in sheet7\")[0].json;\n\n// Извлекаем тип кожи, если есть, иначе ставим \"неизвестный\"\nconst skinType = sheetData[\"skin_type\"]?.trim() || \"неизвестный\";\n\n// Получаем chat_id и message_id\nconst chatId = sheetData[\"chat_id\"];\n\n// Формируем сообщение с кнопками выбора бюджета\nreturn {\n  json: {\n    step: \"ask_budget\",\n    chat_id: chatId,\n    type_skin: skinType,\n    text: `💰Какой у тебя бюджет на уходовый товар для типа кожи *${skinType}*?`,\n    reply_markup: {\n      inline_keyboard: [\n        [\n          { text: \"до 800₽\", callback_data: \"budget_800\" },\n          { text: \"до 1000₽\", callback_data: \"budget_1000\" }\n        ],\n        [\n          { text: \"до 2000₽\", callback_data: \"budget_2000\" },\n          { text: \"Без ограничений\", callback_data: \"budget_unlimited\" }\n        ]\n      ]\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5040,-780],"id":"ef41e115-639e-40d9-9b96-504e2f82db82","name":"Бюджет3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"до 800₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}},{"text":"до 1000₽","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.reply_markup.inline_keyboard[1][0].text }}","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}},{"text":"=🤑Без ограничений","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][1].callback_data }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4860,-780],"id":"42b12158-392b-4d84-8c32-4565adc588ef","name":"Кнопки выбор бюджета3","webhookId":"182771d4-324c-4a5e-9b6b-cb35d00a0a98","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"content":"# БЮДЖЕТ","height":360,"width":960,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-5540,-900],"typeVersion":1,"id":"539e3fc3-3a9a-40a8-9ad5-677ff7c9745d","name":"Sticky Note16","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.budget }} {{ $json.skin_type }}","hasOutputParser":true,"options":{"systemMessage":"=You are a beauty consultant with artificial intelligence, an expert in cosmetology and dermatology. Communicate with users in a friendly tone — like with a friend who understands skin care.\n\nYour task:\nChoose ** one ** facial toner that matches the user's skin type \"{{$json.skin_type }}\" and ** matches a realistic price range** — from **75% to 100%** of the budget determined by the user `_BOS_{ $json.budget}}` (in Russian rubles).\n\nExample: If the user's budget is 2000 rubles, find an item priced from **1,500 to 2,000 rubles**. Do not offer products cheaper than 75% of the budget.\n\n, Use the services of the online store only https://goldapple.ru/  \nFind the ** real product** and provide a valid ** link to the product page** from the website.\n\n🧴 You should only offer ** toners**.  \nDO NOT offer other skin care products (for example, other cleansers, creams, masks, SPF products, etc.).\n\nYour response must include the following:\n- Only **1 product**\n\n- In the following format:\nHere is a selection of the best face care products suitable for your skin type and budget.:\n\n✨Вот чт о я тебе подобрала из лучших средств по уходу за лицом, подходящих для вашего типа кожи и бюджета:\n\n🌟 *Product Name*  \n, _The brief description_  \n💸 *Price*  \n🔗 Product link (real)\n\nDo not add additional recommendations or alternative options. Strictly adhere to the assignment.  \n* ** Always answer in Russian — this is mandatory.**  \nAlways add ** emojis ** to make the message clear and easy to read."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-4800,-300],"id":"3d840941-1364-4e48-9e2b-9db52e504575","name":"Search Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4940,-40],"id":"0d061e24-0503-434a-9bae-f10a43a8b4e2","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"pEYK630XicQCaEr8","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Верно","additionalFields":{"callback_data":"={{ $json.type_skin }}"}},{"text":"=✏️ Изменить","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][1].callback_data }}"}}]}}]},"additionalFields":{}},"id":"f3dd7238-9aba-4893-b731-bdb9b72ba2e5","name":"тип кожи определен1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-3440,-1540],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"=💧Жирная","additionalFields":{"callback_data":"={{ $json.skin_options.oily }}"}},{"text":"🩸Сухая","additionalFields":{"callback_data":"={{ $json.skin_options.dry }}"}},{"text":"➕➖Комби","additionalFields":{"callback_data":"={{ $json.skin_options.combo }}"}},{"text":"✔️Норм","additionalFields":{"callback_data":"={{ $json.skin_options.normal }}"}}]}}]},"additionalFields":{}},"id":"3d2bb516-1f8b-4027-94c2-172795bfa633","name":"Тип кожи НЕ отпределен1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-3420,-1200],"webhookId":"ac7ba976-75da-4a02-abbc-7bddb7115573","credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const sheetData = $json || {};\n\nconst chatId = sheetData.chat_id || 0;\nconst messageId = sheetData.message_id || 0;\nconst typeSkin = sheetData.skin_type || \"жирная\";\nconst budget = sheetData.budget || \"не указан\";\nconst raw = sheetData.Recomendation || \"\";\n\n// Ищем первую markdown-ссылку\nconst linkMatch = raw.match(/\\[.*?\\]\\((.*?)\\)/);\nconst link = linkMatch ? linkMatch[1] : \"\";\n\n// Удаляем markdown, но оставляем текст\nlet cleanText = raw.replace(/\\[([^\\]]+)\\]\\((.*?)\\)/g, '$1').trim();\n\n// Делаем первую строку жирной (до первого переноса строки)\ncleanText = cleanText.replace(/^(.+?)\\n/, '**$1**\\n');\n\n// Формируем сообщение\nlet text = cleanText.substring(0, 500);\n\nif (link) {\n  text += `\\n\\n🔗 [Перейти к товару](${link})`;\n}\n\ntext += `\\n\\n💬 Хочешь весь список и индивидуальные советы?`;\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    type_skin: typeSkin,\n    text: text.substring(0, 4000),\n    parse_mode: \"Markdown\", // добавили Markdown для форматирования\n    disable_web_page_preview: false,\n    reply_markup: {     inline_keyboard: [       [{ text: \"💖 Получить весь список\", callback_data: \"pay_sub\" }],       [{ text: \"🔁 Хочу позже\", callback_data: \"later\" }]     ]   }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4040,-300],"id":"2d199627-5ff7-443a-aa85-43fe7d324f83","name":"Code5"},{"parameters":{"toolDescription":"Use this tool to search the https://goldapple.ru/ ","method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-4a429c6f884e4b9a9eae1e7c8fdeaaac"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://goldapple.ru/\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-4620,-40],"id":"36567501-9517-4db7-9683-61e474089dcf","name":"Firecrawl Search1","credentials":{"httpHeaderAuth":{"id":"qviB60gv9EbG3cfx","name":"Header Auth account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.callback_query.message.message_id }}","chat_id":"={{ $json.callback_query.message.chat.id }}","user_name":"={{ $json.callback_query.message.chat.username }}","budget":"={{ $json.callback_query.data }}"},"matchingColumns":["user_name"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5280,-300],"id":"893ae8a4-e2bb-4ce4-befb-d6ac2d103307","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"chat_id","lookupValue":"={{ $json.chat_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5080,-300],"id":"b4d040f7-2bf3-48eb-a70a-2eb0791a0341","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Recomendation":"={{ $json.output }}","chat_id":"={{ $('Get row(s) in sheet1').item.json.chat_id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-4320,-300],"id":"2be2d006-7c49-4cf5-8037-bb5753271967","name":"Append or update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04","mode":"list","cachedResultName":"Ai K.Loo Beauty2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ai K.Loo Beauty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zeaY92vztlwUPhv1-omWhA9y3vq6hTpXRBHL93_i_04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"skin_type":"={{ $json.callback_query.data }}","chat_id":"={{ $json.callback_query.message.chat.id }}"},"matchingColumns":["chat_id"],"schema":[{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skin_type","displayName":"skin_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recomendation","displayName":"Recomendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5240,-780],"id":"4c207450-0585-4394-8d08-e55644407566","name":"Append or update row in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"6vdQC6SPbqTKJEsT","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💖 Получить весь список","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"}}]}},{"row":{"buttons":[{"text":"🔁 Хочу позже","additionalFields":{"callback_data":"={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"}}]}}]},"additionalFields":{}},"name":"Результат поиска1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-3760,-300],"id":"4f4a80fd-c42d-4bfd-82d4-4d6576037e42","webhookId":"1aa4a16e-2b28-417a-be38-5b785433341e","executeOnce":true,"credentials":{"telegramApi":{"id":"iZNX6D8v0FBJG5wC","name":"/Ai_Beauty_agent_bot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.callback_query.data.startsWith('Type_skin_yes_') }}"}]},"combineOperation":"any"},"id":"e6201d8f-da11-4368-81db-be29ff2fe1d9","name":"Is Callback Query1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-5480,-780]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data.startsWith('Type_skin_manual_') }}","operation":"notEqual","value2":"manual_skin_"}]},"combineOperation":"any"},"id":"9cb1b087-b0f4-4e6c-8a56-5a7495e67cd8","name":"Callback: Manual Skin2","type":"n8n-nodes-base.if","typeVersion":1,"position":[-6820,-280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}","operation":"startsWith","value2":"Type_skin_yes_"}]}},"id":"99db29d8-b3cc-495c-b27e-7525e6c72af9","name":"Callback: Confirm Skin1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-4320,-760],"disabled":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data.startsWith('manual_skin_') }}","operation":"notEqual"}]}},"id":"683e55a3-e6c0-46d7-874f-f98abb5d7777","name":"Callback: Manual Skin3","type":"n8n-nodes-base.if","typeVersion":1,"position":[-6940,-1500]}],"connections":{"VISION":{"main":[[{"node":"Parse Vision","type":"main","index":0}]]},"Parse Vision":{"main":[[{"node":"тип кожи определен","type":"main","index":0},{"node":"Тип кожи НЕ отпределен","type":"main","index":0}]]},"Get Image1":{"main":[[{"node":"Extract1","type":"main","index":0}]]},"Convert1":{"main":[[{"node":"VISION1","type":"main","index":0}]]},"Get ready1":{"main":[[{"node":"Get Image1","type":"main","index":0}]]},"Extract1":{"main":[[{"node":"Convert1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"HTTP typing...","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"тип кожи определен1","type":"main","index":0}],[{"node":"Тип кожи НЕ отпределен1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get ready1","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}],[],[{"node":"Code","type":"main","index":0}],[],[],[{"node":"Настя помощник","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Предлоджение на подписку","type":"main","index":0}]]},"Code":{"main":[[{"node":"Выбор подписки","type":"main","index":0}]]},"extract":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"Бюджет1":{"main":[[{"node":"Кнопки выбор бюджета1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Бюджет2":{"main":[[{"node":"Кнопки выбор бюджета2","type":"main","index":0}]]},"start":{"main":[[{"node":"Wait","type":"main","index":0}]]},"IF NO":{"main":[[{"node":"запись нового пользователя","type":"main","index":0}],[{"node":"start","type":"main","index":0}]]},"GET profile":{"main":[[{"node":"IF NO","type":"main","index":0}]]},"запись нового пользователя":{"main":[[{"node":"start","type":"main","index":0}]]},"Подписался ли человек?":{"main":[[{"node":"Продолжаем","type":"main","index":0}],[{"node":"Просим подписаться, так как это не было сделано","type":"main","index":0}]]},"Просим подписаться, так как это не было сделано":{"main":[[{"node":"Нажатие кнопки1","type":"main","index":0}]]},"Проверяем подписался ли человек":{"main":[[{"node":"Подписался ли человек?","type":"main","index":0}]]},"Нажатие кнопки1":{"main":[[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"GET profile","type":"main","index":0}],[{"node":"Проверяем подписался ли человек","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"start1","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Бюджет1","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[{"node":"Parse Vision1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Is Message":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"VISION1":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]},"Parse Vision1":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Бюджет3":{"main":[[{"node":"Кнопки выбор бюджета3","type":"main","index":0}]]},"Search Agent1":{"main":[[{"node":"Append or update row in sheet4","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Search Agent1","type":"ai_languageModel","index":0}]]},"тип кожи определен1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Результат поиска1","type":"main","index":0}]]},"Firecrawl Search1":{"ai_tool":[[{"node":"Search Agent1","type":"ai_tool","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Search Agent1","type":"main","index":0}]]},"Append or update row in sheet4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Append or update row in sheet7":{"main":[[{"node":"Бюджет3","type":"main","index":0}]]},"Is Callback Query1":{"main":[[{"node":"Append or update row in sheet7","type":"main","index":0}]]},"Callback: Manual Skin2":{"main":[[{"node":"extract","type":"main","index":0}]]},"Callback: Manual Skin3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2dde8497-e648-46f6-8c96-5bfd7e42fb04","triggerCount":0,"tags":[]}