шаблоны-lWpX7xPYVuM9pTJe.json
{"createdAt":"2025-07-04T06:52:26.613Z","updatedAt":"2025-07-04T06:52:26.613Z","id":"lWpX7xPYVuM9pTJe","name":"шаблоны","active":false,"isArchived":false,"nodes":[{"parameters":{"object":"activity","event":"update","options":{}},"id":"6dc0839f-5bc6-46f3-99da-28de91020806","name":"Strava Trigger","type":"n8n-nodes-base.stravaTrigger","position":[360,360],"webhookId":"c656f7eb-6176-48b1-a68f-7e169699cecb","typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"fe9682c5-b86d-4257-a6e7-4084e116d5da","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[980,540],"typeVersion":1},{"parameters":{"sendTo":"amjid@amjidali.com","subject":"=","message":"={{ $json.html }}","options":{"appendAttribution":false}},"id":"a01f4386-a1b5-4968-b62e-1f766845dfc3","name":"Gmail","type":"n8n-nodes-base.gmail","position":[1840,160],"webhookId":"70ab1218-b5a1-47e7-9e9e-89c5c4f84c15","typeVersion":2.1},{"parameters":{"jsCode":"// Recursive function to flatten JSON into a single string\nfunction flattenJson(obj, prefix = '') {\n let str = '';\n for (const key in obj) {\n if (typeof obj[key] === 'object' && obj[key] !== null) {\n str += flattenJson(obj[key], `${prefix}${key}.`);\n } else {\n str += `${prefix}${key}: ${obj[key]}\\n`;\n }\n }\n return str;\n}\n\n// Get input data\nconst data = $input.all();\n\n// Initialize a variable to store the final output\nlet output = '';\n\n// Process each item\ndata.forEach(item => {\n output += flattenJson(item.json);\n output += '\\n---\\n'; // Separator between records\n});\n\n// Return the merged string as output\nreturn [{ json: { data: output } }];\n"},"id":"a4833eb8-eab0-45da-a179-2db08fd62354","name":"Combine Everything","type":"n8n-nodes-base.code","position":[700,360],"typeVersion":2},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=You are an Triathlon Coach specializing in guiding the athlete on running, swimming, and cycling. Your role is to analyze Strava data and provide personalized coaching to help users improve their performance. Your responses must be motivational, data-driven, and tailored to the user's fitness level, goals, and recent activity trends.\n\n#### Key Abilities:\n1. **Analyze Activity Data**:\n - Evaluate performance metrics such as distance, pace, heart rate, power, elevation, cadence, and swim strokes.\n - Identify trends, strengths, and areas for improvement.\n\n2. **Provide Feedback**:\n - Break down the user's activities and explain their performance in detail (e.g., pacing consistency, effort levels, technique).\n - Highlight achievements and areas that need focus.\n\n3. **Create Improvement Plans**:\n - Suggest actionable steps to improve fitness, endurance, speed, or technique based on the user's goals and performance data.\n - Recommend specific workouts, recovery plans, or cross-training exercises tailored to the user's needs.\n\n4. **Set Goals and Challenges**:\n - Help the user set realistic short-term and long-term goals (e.g., achieving a new personal best, improving endurance, or preparing for a triathlon).\n - Suggest weekly or monthly challenges to stay motivated.\n\n5. **Motivational Coaching**:\n - Provide positive reinforcement and encouragement.\n - Help the user maintain consistency and avoid burnout.\n\n6. ** Data Analysis **\n - Do some data formatting also when doing activities ensure to analyze the duration, time, pace etc, too many seonds will not make differnece, try to see the duration which is easy to understand, moreoover, the time of the day when i did activity and so on.\n\n***Capabilities as a Triathlong Coach:***\n** Data Categorization and Context:**\n\nIdentify whether the activity is swimming, cycling, or running.\n-For swimming, distinguish between pool swimming (laps, strokes) and open water swimming (long-distance, sighting).\nAdapt recommendations based on activity type, terrain, weather, or other environmental factors.\n**Activity-Specific Metrics:**\n\n -- Swim: Focus on distance, pace, SWOLF, stroke count, and stroke efficiency.\n -- Bike: Analyze distance, average speed, cadence, power zones, heart rate, and elevation gain.\n -- Run: Examine distance, pace, cadence, stride length, heart rate zones, and elevation changes.\nPerformance Analysis and Recommendations:\n\n** Tailor feedback and advice based on the unique demands of each sport:\n - Swimming: Emphasize technique (catch, pull, body position), pacing, and breathing drills.\n - Cycling: Focus on power output, cadence optimization, endurance rides, and interval training.\n - Running: Analyze pace consistency, cadence, stride efficiency, and running economy.\nEnvironment-Specific Adjustments:\n\n - For swimming, account for differences in pool vs. open water conditions (e.g., sighting, drafting, and waves).\nFor cycling, consider terrain (flat, hilly, or rolling) and wind resistance.\n- For running, factor in surface type (road, trail, or track) and weather conditions.\nIntegrated Triathlon Insights:\n- \nProvide guidance on how each discipline complements the others.\nSuggest \"brick workouts\" (e.g., bike-to-run) for race-specific adaptations.\nRecommend recovery strategies that address multi-sport training fatigue.\nBehavior:\nBe precise, detailed, and motivational.\nTailor insights and recommendations to the specific activity type and the athlete’s experience level (beginner, intermediate, advanced).\nUse clear, actionable language and explain the reasoning behind suggestions.\nInputs You Will Receive:\nStrava activity data in JSON or tabular format.\nAthlete’s profile information, including goals, upcoming events, and experience level.\nMetrics such as distance, pace, speed, cadence, heart rate zones, power, SWOLF, stroke count, and elevation.\nOutput Requirements (Activity-Specific):\nSwim (Pool):\n\nAnalyze stroke efficiency, pace consistency, SWOLF, and technique.\nSuggest drills for stroke improvement (e.g., catch-up, fingertip drag).\nRecommend pacing intervals (e.g., 10x100m at target pace with rest).\nSwim (Open Water):\n\nEvaluate long-distance pacing and sighting frequency.\nProvide tips on drafting, breathing bilaterally, and adapting to waves or currents.\nSuggest open water-specific workouts (e.g., race-pace simulations with buoy turns).\nBike:\n\nAnalyze power distribution across zones, cadence, and heart rate trends.\nHighlight inefficiencies (e.g., low cadence on climbs or inconsistent power).\nRecommend specific workouts (e.g., 3x12-minute FTP intervals with 5-minute rest).\nSuggest gear and bike fit optimizations if needed.\nRun:\n\nEvaluate pacing strategy, cadence, and heart rate zones.\nIdentify inefficiencies in stride length or cadence.\nRecommend workouts like tempo runs, intervals, or long runs with negative splits.\nProvide race-day pacing strategies or tips for improving running economy.\nCross-Discipline Integration:\n\nSuggest brick workouts to improve transitions (e.g., 30-minute bike + 10-minute run at race pace).\nRecommend recovery sessions (e.g., easy swim or bike after a hard run).\nAdvise on balancing training load across disciplines.\n\n#### Expectations:\n- **Personalized Responses**: Always consider the user's activity history, goals, and fitness level when offering insights or advice.\n- **Practical Guidance**: Provide clear, actionable recommendations.\n- **Encouragement**: Keep the tone positive and motivational, celebrating progress while constructively addressing areas for improvement.\n\n#### Context Awareness:\nYou have access to the user's Strava data, including:\n- Activity type (e.g., run, swim, bike)\n- Distance, pace, and time\n- Heart rate and effort levels\n- Elevation gain and route details\n- Historical performance trends\n\n#### Example Prompts You Will Receive:\n- \"Here are my recent running activities. How can I improve my pace?\"\n- \"This is my swimming data from this week. What should I focus on to improve my technique?\"\n- \"Analyze my cycling activity and tell me how I can climb better next time.\"\n\n\n#### Goal:\nHelp the user achieve their athletic potential by providing precise, actionable feedback and a customized plan to enhance their performance and enjoyment of their activities.\n\nHere is the Activity Data : \n{{ $json.data }}","options":{}},"id":"8237fde5-aba4-4b68-906b-69e7f2ae2c97","name":"Fitness Coach","type":"@n8n/n8n-nodes-langchain.agent","position":[960,440],"typeVersion":1.7},{"parameters":{"jsCode":"// Input JSON from the previous node\nconst input = $json.output;\n\n// Split the input into sections based on double newlines\nconst sections = input.split('\\n\\n');\n\n// Initialize the result array\nconst result = [];\n\n// Process each section\nsections.forEach((section) => {\n const trimmedSection = section.trim();\n\n // Handle headings marked with ** (bold)\n if (/^\\*\\*(.*?)\\*\\*$/.test(trimmedSection)) {\n result.push({ type: 'heading', content: trimmedSection.replace(/\\*\\*(.*?)\\*\\*/, '<b>$1</b>') });\n }\n // Handle bullet lists marked with *\n else if (trimmedSection.startsWith('*')) {\n const listItems = trimmedSection.split('\\n').map((item) => item.trim().replace(/^\\*\\s/, ''));\n result.push({ type: 'list', items: listItems });\n }\n // Handle numbered lists\n else if (/^\\d+\\.\\s/.test(trimmedSection)) {\n const numberedItems = trimmedSection.split('\\n').map((item) => item.trim().replace(/^\\d+\\.\\s/, ''));\n result.push({ type: 'numbered-list', items: numberedItems });\n }\n // Handle paragraphs\n else {\n result.push({ type: 'paragraph', content: trimmedSection });\n }\n});\n\n// Return the result array\nreturn result.map(item => ({ json: item }));\n"},"id":"34b59ed3-8712-4d9b-9530-e03ab2d71479","name":"Structure Output","type":"n8n-nodes-base.code","position":[1440,220],"typeVersion":2},{"parameters":{"jsCode":"// Get input data from n8n\nconst inputData = $input.all(); // Fetch all input data items\n\n// Function to convert JSON data into a single HTML string\nfunction convertToHTML(data) {\n let html = '';\n\n data.forEach((item) => {\n switch (item.json.type) {\n case 'paragraph':\n html += `<p>${item.json.content}</p>`;\n break;\n case 'heading':\n html += `<h2>${item.json.content}</h2>`;\n break;\n case 'list':\n html += '<ul>';\n item.json.items.forEach((listItem) => {\n html += `<li>${listItem}</li>`;\n });\n html += '</ul>';\n break;\n case 'numbered-list':\n html += '<ol>';\n item.json.items.forEach((listItem) => {\n html += `<li>${listItem}</li>`;\n });\n html += '</ol>';\n break;\n default:\n break;\n }\n });\n\n return html;\n}\n\n// Convert inputData to a single HTML string\nconst singleHTML = convertToHTML(inputData);\n\n// Return as a single item\nreturn [{ json: { html: singleHTML } }];\n"},"id":"215118be-bcc1-44e9-801c-5b40936cbcf4","name":"Conver to HTML","type":"n8n-nodes-base.code","position":[1480,420],"typeVersion":2},{"parameters":{"fromEmail":"Fitness Coach <email@example.com>","toEmail":"email@gmail.com","subject":"=New Activity on Strava","html":"={{ $json.html }}","options":{"appendAttribution":false}},"id":"847bab38-4f99-4817-b920-46bd9d34e488","name":"Send Email","type":"n8n-nodes-base.emailSend","position":[1840,360],"typeVersion":2.1,"webhookId":"17668cbf-d014-4324-8e7f-1336952927fb"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"035e32ea-a152-48b4-bdb0-db1fb16d4cce","name":"Code","type":"n8n-nodes-base.code","position":[540,360],"typeVersion":2},{"parameters":{"content":"### Customer Experience Agent (AI)\nThe AI Triathlon Coach is an intelligent, data-driven virtual assistant designed to help triathletes optimize their training and performance across swimming, cycling, and running. Using advanced algorithms, it analyzes activity data from platforms like Strava and provides actionable insights tailored to the athlete’s goals, experience level, and specific disciplines.\nThis is connected to Gemini 2.0 Flash\n\n","height":649,"width":444,"color":7},"id":"5111ec04-80d8-410b-a35a-a17ebbea2cd3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[880,60],"typeVersion":1},{"parameters":{"content":"### Convert to HTML\nNow the data will be structured and covnerted to HTML","height":655,"width":329,"color":5},"id":"f685a5ea-e860-40cc-9b18-6dc48a4b60e3","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1360,60],"typeVersion":1},{"parameters":{"content":"### Get Strava Trigger\nIf you are using Strava, you can create API Key by logging in to : https://developers.strava.com/\n\nOnce data is capture you can then structure it, i am commbining all the activity data and sending to next node","height":651,"width":503,"color":6},"id":"deb92d07-d846-40e4-a6ff-b8a753c5aed1","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[340,40],"typeVersion":1},{"parameters":{"content":"## Developed by Amjid Ali\n\nThank you for using this workflow template. It has taken me countless hours of hard work, research, and dedication to develop, and I sincerely hope it adds value to your work.\n\nIf you find this template helpful, I kindly ask you to consider supporting my efforts. Your support will help me continue improving and creating more valuable resources.\n\nYou can contribute via PayPal here:\n\nhttp://paypal.me/pmptraining\n\nFor Full Course about ERPNext or Automation using AI follow below link\n\nhttp://lms.syncbricks.com\n\nAdditionally, when sharing this template, I would greatly appreciate it if you include my original information to ensure proper credit is given.\n\nThank you for your generosity and support!\nEmail : amjid@amjidali.com\nhttps://linkedin.com/in/amjidali\nhttps://syncbricks.com\nhttps://youtube.com/@syncbricks","height":636.1483291619771,"width":475.27306699862953,"color":4},"id":"b4a34ca3-4548-41f7-a746-b844deccf618","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-160,40],"typeVersion":1},{"parameters":{"content":"### Send Personalized Response\nActivity is analized you can either get the response by Whatsapp , emal, a blog or anything","height":655,"width":609,"color":4},"id":"0b9c6568-2360-453f-8389-3d4e0ab62903","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[1720,60],"typeVersion":1},{"parameters":{"operation":"send","additionalFields":{}},"id":"492cf2c1-dc37-48a4-8156-92d3eed3fc43","name":"WhatsApp Business Cloud","type":"n8n-nodes-base.whatsApp","position":[1840,560],"typeVersion":1,"webhookId":"c1c5767e-792f-46e0-ab76-b7ef4691f0ed"},{"parameters":{"options":{}},"id":"10ae3e47-b980-4d20-93cc-922bd9d0157d","name":"Embeddings Mistral Cloud","type":"@n8n/n8n-nodes-langchain.embeddingsMistralCloud","position":[7760,5500],"typeVersion":1},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.content }}","options":{"metadata":{"metadataValues":[{"name":"chapter","value":"={{ $('For Each Section...').item.json.chapter }}"},{"name":"section","value":"={{ $('For Each Section...').item.json.label }}"},{"name":"=title","value":"={{ $('For Each Section...').item.json.title }}"},{"name":"content_order","value":"={{ $itemIndex }}"}]}}},"id":"392af5c2-5fc5-4a3d-a19f-4eb60508142b","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[7900,5500],"typeVersion":1},{"parameters":{"chunkSize":2000,"options":{}},"id":"9ea0b484-ec20-49ee-bbff-78b2b14dc54e","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[7920,5620],"typeVersion":1},{"parameters":{"url":"https://statutes.capitol.texas.gov/Docs/Zips/TX.pdf.zip","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"4d02f859-555c-41e9-9907-6d2d553df9f5","name":"Get Tax Code Zip File","type":"n8n-nodes-base.httpRequest","position":[5920,5360],"typeVersion":4.2},{"parameters":{},"id":"34eea905-247d-4e49-8e8f-1b03ca376509","name":"Extract Zip Files","type":"n8n-nodes-base.compression","position":[6120,5360],"typeVersion":1.1},{"parameters":{"fieldToSplitOut":"$binary","include":"allOtherFields","options":{}},"id":"e0d2d559-f1b3-4d6b-af99-d4e8f025ad71","name":"Files as Items","type":"n8n-nodes-base.splitOut","position":[6300,5360],"typeVersion":1},{"parameters":{"operation":"pdf","binaryPropertyName":"=file_{{ $itemIndex }}","options":{}},"id":"4428580a-17be-47b0-9467-748f782b32ba","name":"Extract PDF Contents","type":"n8n-nodes-base.extractFromFile","position":[6560,5320],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"d791928a-d775-48cc-9004-a92cbe2403d3","name":"contents","type":"array","value":"={{\n $json.text\n .substring($json.text.search(/\\nSec\\.\\nA[0-9]{1,4}\\.[0-9]{1,5}\\.AA/), $json.text.length)\n .split(/\\nSec\\.\\nA[0-9]{1,2}\\.[0-9]{1,2}\\.AA/g)\n .filter(text => !text.isEmpty())\n .map(text => {\n const output = text.replaceAll('AA', ' ').replaceAll('\\nA', ' ');\n const title = output.substring(0, output.indexOf('.'));\n const content = output.substring(output.indexOf('.')+1, output.length).replaceAll('\\n', ' ').trim();\n return { title, content };\n })\n}}"},{"id":"bc06641f-0b75-4a35-8752-78803231d5d6","name":"labels","type":"array","value":"={{\n $json.text\n .match(/\\nSec\\.\\nA[0-9]{1,4}\\.[0-9]{1,5}\\.AA/g)\n .map(text => ({\n label: text.replaceAll('AA', ' ')\n .replaceAll('\\nA', ' ')\n .replaceAll('\\n', '')\n .trim()\n }))\n}}"}]},"options":{}},"id":"ae9ac3c0-b29f-49e7-8795-8be1b829c9ad","name":"Extract From Chapter","type":"n8n-nodes-base.set","position":[6740,5320],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"60109e60-d760-45bb-be09-7cb2b5eb85bc","name":"section","type":"array","value":"={{\n $json.labels.map((label, idx) => ({\n label: label.label.match(/\\d.+/)[0].replace(/\\.$/, ''),\n title: $json.contents[idx].title,\n content: $json.contents[idx].content,\n chapter: $('Extract PDF Contents').first().json.info.Title,\n }))\n}}"}]},"options":{}},"id":"b20f6f6a-1424-4390-9e00-56f71bdfe841","name":"Map To Sections","type":"n8n-nodes-base.set","position":[6760,5520],"typeVersion":3.3},{"parameters":{},"id":"b9af0667-8793-4f6b-b295-8758cf301f52","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[7320,6140],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"mistral-embed"},{"name":"encoding_format","value":"float"},{"name":"input","value":"={{ $json.query }}"}]},"options":{}},"id":"6021dbd0-c1d6-4077-85bd-a306162b9f4d","name":"Get Mistral Embeddings","type":"n8n-nodes-base.httpRequest","position":[7660,6000],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"7753a4f4-3ec2-4c05-81df-3d5e8979a478","name":"=content","type":"array","value":"={{ new Array(Math.round($json.content.length / Math.min($json.content.length, 30000))).fill('').map((_,idx) => $json.content.substring(idx * 30000, idx * 50000 + 30000)) }}"}]},"options":{}},"id":"fc332777-3b23-4542-90a2-e9ff91112acf","name":"Content Chunking @ 50k Chars","type":"n8n-nodes-base.set","position":[7580,5280],"typeVersion":3.3},{"parameters":{"fieldToSplitOut":"content","options":{}},"id":"2eca799c-aaa3-40f4-bb90-c8d421ab4f89","name":"Split Out Chunks","type":"n8n-nodes-base.splitOut","position":[7580,5520],"typeVersion":1},{"parameters":{"batchSize":5,"options":{}},"id":"6456cc32-25b1-4478-88a4-169b6f490dd3","name":"For Each Section...","type":"n8n-nodes-base.splitInBatches","position":[7400,5220],"typeVersion":3},{"parameters":{"fieldToSplitOut":"section","options":{}},"id":"f4547afd-e3e7-4c24-a48c-ac337769616f","name":"Sections To List","type":"n8n-nodes-base.splitOut","position":[6940,5320],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"121e8f86-2ead-47e0-8e17-52d7c6ba8265","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""}]},"options":{}},"id":"a147440b-77cd-40d8-93cc-b01efb6a0357","name":"Only Valid Sections","type":"n8n-nodes-base.filter","position":[7100,5320],"typeVersion":2},{"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/texas_tax_codes/points/search","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"limit","value":"={{ 4 }}"},{"name":"vector","value":"={{ $json.data[0].embedding }}"},{"name":"with_payload","value":"={{ true }}"}]},"options":{}},"id":"68538728-0268-4098-a089-8687b44178b1","name":"Use Qdrant Search API1","type":"n8n-nodes-base.httpRequest","position":[7860,6000],"typeVersion":4.2},{"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/texas_tax_codes/points/scroll","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"limit","value":"={{ 100 }}"},{"name":"with_payload","value":"={{ true }}"},{"name":"filter","value":"={{\n{\n \"must\": [\n ($json.query.section\n ? { \"key\": \"metadata.section\", \"match\": { \"value\": $json.query.section } }\n : { \"key\": \"metadata.chapter\", \"match\": { \"value\": $json.query.chapter } }\n )\n ]\n}\n}}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"type":"body","name":"next_page_offset","value":"={{ $response.body.result.next_page_offset }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.result.next_page_offset === null }}"}}}},"id":"4ed93e39-fa01-469c-bcfc-4f7708c19cb4","name":"Use Qdrant Scroll API","type":"n8n-nodes-base.httpRequest","position":[7660,6260],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"08ad2d6e-4ed1-409e-b89c-1f0c7fdf1b64","name":"response","type":"string","value":"=---\nchapter: {{ $json.result.points.first().payload.metadata.chapter }}\nsection: {{ $json.result.points.first().payload.metadata.section }}\ntitle: {{ $json.result.points.first().payload.metadata.title }}\n---\n{{ $json.result.points\n .toSorted((a,b) => (a.payload.metadata.content_order || 0) - (b.payload.metadata.content_order || 0))\n .map(point => point.payload.content).join('\\n') }}"}]},"options":{}},"id":"58ddcf97-1c30-49a5-b7a7-26ebe3fdfc68","name":"Get Search Response","type":"n8n-nodes-base.set","position":[7860,6260],"typeVersion":3.3},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"list","value":"texas_tax_codes","cachedResultName":"texas_tax_codes"},"options":{}},"id":"abc48545-43d0-49d0-ade1-7a003490f696","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[7760,5340],"typeVersion":1},{"parameters":{"public":true,"initialMessages":"","options":{"loadPreviousSession":"memory"}},"id":"f3bf81ab-af4a-4c7a-9f51-723fc204c002","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[6420,6080],"webhookId":"db2b118d-942e-4be9-b154-7df887232f97","typeVersion":1},{"parameters":{},"id":"db13c9e0-aa0a-4b88-9be1-934ffc2748df","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[6420,6200],"typeVersion":1.2},{"parameters":{"options":{}},"id":"7d960fee-095b-4d5e-8986-2af504803288","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[6700,6160],"typeVersion":1},{"parameters":{"amount":1},"id":"35cecaee-e389-4cd1-8056-584842061102","name":"1sec","type":"n8n-nodes-base.wait","position":[8160,5600],"webhookId":"852317f0-aadf-4658-ae44-d05e5de29302","executeOnce":false,"typeVersion":1.1},{"parameters":{"name":"query_tax_code_knowledgebase","description":"Call this tool to query the tax code database for information. Structure your query in the form of a question for best results.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"route","stringValue":"ask_tool"}]}},"id":"1a048f02-53fd-4617-ab4d-2c39401d4271","name":"Ask Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[6960,6160],"typeVersion":1.1},{"parameters":{"name":"get_tax_code_section","description":"Call this tool to search for specific sections of the tax code document. Pass in either a known section number/id to get the section's text or a known chapter name to return all sections for the chapter.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"route","stringValue":"search_tool"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"chapter\": \"some_value\",\n \"section\": \"Sec 1.01\"\n}"},"id":"552b70a7-3a6b-46c8-b922-2a58716d0632","name":"Search Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[7060,6160],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.route }}","rightValue":"ask_tool"}]},"renameOutput":true,"outputKey":"ask_tool"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"909362ed-eb97-405c-9f2f-f404a3bfeaf3","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.route }}","rightValue":"search_tool"}]},"renameOutput":true,"outputKey":"search_tool"}]},"options":{}},"id":"ce7e7859-fb98-4bda-a682-74ce3070814d","name":"Switch","type":"n8n-nodes-base.switch","position":[7480,6140],"typeVersion":3},{"parameters":{"assignments":{"assignments":[{"id":"eb5f2b3c-bb88-4cae-a960-164016c9a9e4","name":"response","type":"string","value":"=|chapter|section|title|content|\n|-|-|-|-|\n{{\n $json.result.map(row => [\n '',\n row.payload.metadata.chapter,\n row.payload.metadata.section,\n row.payload.metadata.title,\n row.payload.content,\n ''\n ].join('|')).join('\\n')\n}}"}]},"options":{}},"id":"ee788168-4a72-4972-afb9-d72dd7335add","name":"Get Ask Response","type":"n8n-nodes-base.set","position":[8060,6000],"typeVersion":3.3},{"parameters":{"content":"## Step 1. Download the Tax Code PDF\n[Read more about handling Zip Files](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.compression/)\n\nLet's begin by pulling a zip file containing all the tax codes as separate PDF files. We can unzip on the fly with n8n's compression node.","height":352.65642339230595,"width":571.4359274276384,"color":7},"id":"9e2a7345-dfca-42fa-adc9-65b08c0a36a5","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[5900,5120],"typeVersion":1},{"parameters":{"content":"## Step 2. Extract and Partition Into Chapters & Sections\n[Learn more about reading PDF Files](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.extractfromfile)\n\nRather than ingest the raw text of the PDF, we'll be a little more strategic and extract the tax code sections separately instead. Not only will this provide cleaner results, we'll also be able to fetch sections in isolation if required.","height":503.3459981018574,"width":777.897719182587,"color":7},"id":"f8d6c021-a0de-40ee-a151-f0c83b79d31d","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[6500,5140],"typeVersion":1},{"parameters":{"content":"## Step 3. Save into Qdrant VectorStore\n[Read more about using the Qdrant Vectorstore](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreqdrant)\n\nWe'll save our data into a Qdrant collection being mindful to use metadata to take full advantage of Qdrant's filtering capabilities later.\nThough not always required, since the tax code documents can be quite large we'll implement a loop here to throttle the number of tokens being processed as to not trip the Mistral.ai rate limits for embeddings.","height":771.1260499456115,"width":1045.1698686248747,"color":7},"id":"82a21e3d-b508-4e23-a13c-df94b940a2d3","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[7300,5060],"typeVersion":1},{"parameters":{"content":"## Step 4. Build a Tax Code Assistant ChatBot\n[Learn more about using AI Agents in n8n](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nFor our chatbot, we'll use an AI agent node because we want to achieve more than one functionality. The first will be querying to relevant texts to answer a user's question and secondly, a direct search feature to pull full section text when requested.","height":513.2269439624808,"width":858.1415560000298,"color":7},"id":"48c95fe0-9305-4378-9c8f-2f7c5c15cc34","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[6360,5840],"typeVersion":1},{"parameters":{"content":"## Step 5. Use Qdrant API as Tools\n[Learn more about using AI Agents in n8n](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nOur Ask Tool will generate embeddings using Mistral.ai and query our Qdrant collection using the Qdrant Search API.\nOur Search Tool will use filter our Qdrant collection using the Qdrant Scroll API, matching on each doc's section metadata key.","height":577.7854680142904,"width":1030.0926850706744,"color":7},"id":"46a261de-02bf-4068-8989-fe8d8e2c8c6d","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[7240,5840],"typeVersion":1},{"parameters":{"options":{"systemMessage":"You are a helpful assistant answering user questions on the tax code legistration for the state of Texas, united states of america.\n\nAlong with your response also note in which chapter and section number the information was found. "}},"id":"8d127415-40cc-4ff7-be8d-b2b29c64ac93","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[6700,6000],"typeVersion":1.6},{"parameters":{},"id":"d7aff432-ff5e-4660-b60a-6d3f7b2688a0","name":"Window Buffer Memory2","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[6820,6160],"typeVersion":1.2},{"parameters":{"content":"## Try Me Out!\n### This workflow builds an AI powered Legal assistant who answers questions about tax codes.\n* Download publically available tax code PDFs from the relevant government website.\n* Strategically exact tax code sections and store these in our Qdrant Vectorstore using Mistral.ai embeddings.\n* Use an AI Agent to answer user's tax questions by attaching tools which query our Qdrant vectorstore.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":563.604204119637,"width":383.14868794462586},"id":"2374ebbb-dca6-43c0-ab1e-aac9e1ae2b36","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","position":[5480,4860],"typeVersion":1},{"parameters":{"content":"### 🙋‍♀️What's the difference?\nWith raw PDF data, we may blur the boundaries between chapters and sections making later results hard to find, incoherent or misleading.\nDepending on your use-case, store your data in a way you intend to retrieve it!","height":131.61363932813174,"width":489.3944544742706,"color":5},"id":"54a1a2a5-c7dc-4477-a262-03a726cd609c","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","position":[6800,5660],"typeVersion":1}],"connections":{"Code":{"main":[[{"node":"Combine Everything","type":"main","index":0}]]},"Fitness Coach":{"main":[[{"node":"Structure Output","type":"main","index":0}]]},"Conver to HTML":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Strava Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Structure Output":{"main":[[{"node":"Conver to HTML","type":"main","index":0}]]},"Combine Everything":{"main":[[{"node":"Fitness Coach","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Fitness Coach","type":"ai_languageModel","index":0}]]},"1sec":{"main":[[{"node":"For Each Section...","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Mistral Embeddings","type":"main","index":0}],[{"node":"Use Qdrant Scroll API","type":"main","index":0}]]},"Ask Tool":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Search Tool":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Files as Items":{"main":[[{"node":"Extract PDF Contents","type":"main","index":0}]]},"Map To Sections":{"main":[[{"node":"Sections To List","type":"main","index":0}]]},"Sections To List":{"main":[[{"node":"Only Valid Sections","type":"main","index":0}]]},"Split Out Chunks":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Extract Zip Files":{"main":[[{"node":"Files as Items","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"For Each Section...":{"main":[[],[{"node":"Content Chunking @ 50k Chars","type":"main","index":0}]]},"Only Valid Sections":{"main":[[{"node":"For Each Section...","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"1sec","type":"main","index":0}]]},"Extract From Chapter":{"main":[[{"node":"Map To Sections","type":"main","index":0}]]},"Extract PDF Contents":{"main":[[{"node":"Extract From Chapter","type":"main","index":0}]]},"Get Tax Code Zip File":{"main":[[{"node":"Extract Zip Files","type":"main","index":0}]]},"Use Qdrant Scroll API":{"main":[[{"node":"Get Search Response","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"When chat message received","type":"ai_memory","index":0}]]},"Get Mistral Embeddings":{"main":[[{"node":"Use Qdrant Search API1","type":"main","index":0}]]},"Use Qdrant Search API1":{"main":[[{"node":"Get Ask Response","type":"main","index":0}]]},"Embeddings Mistral Cloud":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Content Chunking @ 50k Chars":{"main":[[{"node":"Split Out Chunks","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d20ac10c-7cde-442c-99df-ff614c982a96","triggerCount":0,"tags":[]}